{% extends "admin/change_form.html" %}
{% load i18n admin_urls access admin_static %}
{% block submit_buttons_bottom %}
    <!-- <div class="submit-row"> -->
        {% url opts|admin_urlname:'changelist' as back_url %}
        <a onclick="location.href='{% add_preserved_filters back_url %}'" class="btn btn-primary btn-ef btn-ef-3 btn-ef-3a"><i class="fa fa-arrow-circle-left" name="_back"></i>Kembali</a>
        
        <!-- <input type="button" onclick="location.href='{% add_preserved_filters back_url %}'" value="{% trans 'Kembali' %}" class="btn btn-primary btn-ef btn-ef-3 btn-ef-3a" name="_back" />
 -->        
        {% if user.is_superuser %}
            <!-- <a class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" type="submit">Send data <i class="fa fa-arrow-right" name="_save"></i></a> -->
            <input type="submit" value="{% trans 'Save' %}" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10" name="_save" />
        {% endif %}
        {% if not is_popup and has_delete_permission and change %}
            {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
            <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Delete" %}</a></p>
        {% endif %}
    <!-- </div> -->
{% endblock %}