{% load i18n admin_static %}

<form method="POST" name="step4" role="form" class="form-horizontal" action="{% url 'informasi_kekayaan_daerah_upload_berkas_pendukung' %}">
  {% csrf_token %}
  <h3>UPLOAD DOKUMEN PERSYARATAN</h3>
  <hr class="style14">
</form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" id="form-upload_gambar_ktp" action="{% url 'informasi_kekayaan_daerah_upload_berkas_pendukung' %}" data-parsley-validate novalidate>
    {% csrf_token %}
    <input type="hidden" name="aksi" value="1">
      <div class="form-group">
        <label class="col-sm-3 control-label"><strong>File KTP/Paspor (Dirut / Pemilik / Pengurus / Penanggung Jawab)</strong> </label>
        <span id="field-upload_gambar_ktp">
          <div class="col-sm-5">
            <input name="berkas" type="file" class="filestyle id_berkas" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
            <span id="berkas_1"></span>
                                     
          </div>
          <div class="col-sm-4">
            <button href="#" id="btn-upload_gambar_ktp" onclick="form_upload_dokumen_informasi_kekayaan($(this)); return false;" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</button>
            <a id="percent-upload_gambar_ktp" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
          </div>
        </span>
        <span class="col-sm-6" id="load-upload_gambar_ktp"></span>
      </div>
    </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" id="form-upload_gambar_surat_lunas_retribusi" action="{% url 'informasi_kekayaan_daerah_upload_berkas_pendukung' %}" data-parsley-validate novalidate>
    {% csrf_token %}
    <input type="hidden" name="aksi" value="2">
      <div class="form-group">
        <label class="col-sm-3 control-label"><strong>Surat Tanda Lunas Retribusi</strong></label>
        <span id="field-upload_gambar_surat_lunas_retribusi">
            <div class="col-sm-5">
              <input name="berkas" type="file" class="filestyle id_berkas" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
              <span id="berkas_2"></span>
                                       
            </div>
            <div class="col-sm-4">
              <button href="#" id="btn-upload_gambar_surat_lunas_retribusi" onclick="form_upload_dokumen_informasi_kekayaan($(this)); return false;" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</button>
              <a id="percent-upload_gambar_surat_lunas_retribusi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
            </div>
          </span>
          <span class="col-sm-6" id="load-upload_gambar_surat_lunas_retribusi"></span>
        </div>
      </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" id="form-upload_gambar_rekomendasi_dinas_terkait" action="{% url 'informasi_kekayaan_daerah_upload_berkas_pendukung' %}" data-parsley-validate novalidate>
    {% csrf_token %}
    <input type="hidden" name="aksi" value="3">
      <div class="form-group">
        <label class="col-sm-3 control-label"><strong>Rekomendasi dari Dinas terkait (DISPENDA, BPKAD, Dinas Perhubungan/Dinas/Bagian.........)</strong></label>
        <span id="field-upload_gambar_rekomendasi_dinas_terkait">
            <div class="col-sm-5">
              <input name="berkas" type="file" class="filestyle id_berkas" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
              <span id="berkas_3"></span>
                                       
            </div>
            <div class="col-sm-4">
              <button href="#" id="btn-upload_gambar_rekomendasi_dinas_terkait" onclick="form_upload_dokumen_informasi_kekayaan($(this)); return false;" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</button>
              <a id="percent-upload_gambar_rekomendasi_dinas_terkait" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
            </div>
          </span>
          <span class="col-sm-6" id="load-upload_gambar_rekomendasi_dinas_terkait"></span>
        </div>
      </form>