<form method="POST" name="step4" role="form" class="form-horizontal form-kendaraan" action="{% url 'iua_save_detil_iua' %}" data-parsley-validate novalidate>
  {% csrf_token %}   
    <div class="row">
      <div class="col-md-12">
        <h3>DATA KENDARAAN</h3>
        <hr class="style14">
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label"><strong>Nilai Investasi</strong></label>
      <div class="col-sm-4">
        <div class="input-group">
          <span class="input-group-addon">
            <span>Rp</span>
          </span>
          <input type="text" id="id_nilai_investasi" name="nilai_investasi" class="form-control sum-modal" required="" data-parsley-trigger="change">
        </div>
        <p style="font-size:13px;">(tidak termasuk tanah dan bangunan)</p>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label"><strong>Jenis/Kategori Kendaraan</strong></label>
       <div class="col-sm-5">
        <select id="id_jenis_kategori_kendaraan" name="kategori_kendaraan" required="" data-parsley-trigger="change" class="form-control chosen-select mb-10">
          <option value>-- Jenis/Kategori Kendaraan --</option>
          {% if kategori_kendaraan %}
            {% for kategori in kategori_kendaraan %}
              <option value="{{kategori.id}}">{{kategori.nama_kategori}}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

    <br>
    <br>
    
    <table class="table table-striped" id="table_daftar_kendaraan">
      <thead>
          <tr>
            <th>No.</th>
            <th>Tanda Nomor Kendaraan</th>
            <th>Nomor Uji Berkala</th>
            <th>Merk / Type</th>
            <th>Nomor Rangka</th>
            <th>Nomor Mesin</th>
            <th>Tahun Pembuatan </th>
            <th>Keterangan</th>
            <th>Aksi</th>
          </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <br>
    <div class="form-group">
      <div class="row">
        <div class="col-md-10"></div>
        <button onclick="tambah_kendaraan()" type="button" class="btn btn-warning btn-ef btn-ef-3 btn-ef-3a mb-10"><i class="icon-plus"></i> Tambah Kendaraan </button>
      </div>
    </div>
    <br>
</form>