<form method="POST" name="step5" role="form" action="{% url 'siup_done' %}">
  {% csrf_token %}
  <h3>KONFIRMASI DATA</h3>
  <hr class="style14">
  <table width="100%" border="0">
    <tr>
      <td width="25%">Jenis Pengajuan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='jenis_permohonan_konfirmasi'></span></td>
    </tr>
  </table>
  <br>
  <h4><u>#1. IDENTITAS PEMOHON</u></h4>
  <table width="100%" border="0" id="table_pemohon_konfirmasi">
    <tr>
      <td width="25%">Jenis Pemohon</td>
      <td width="5%">:</td>
      <td width="70%"><span id='jenis_pemohon_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Nomor KTP/Paspor</td>
      <td width="5%">:</td>
      <td width="70%"><span id='nomor_ktp_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Nama</td>
      <td width="5%">:</td>
      <td width="70%"><span id='nama_lengkap_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Alamat tempat tinggal</td>
      <td width="5%">:</td>
      <td width="70%"><span id='alamat_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">No.Telp</td>
      <td width="5%">:</td>
      <td width="70%"><span id='telephone_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">No.HP</td>
      <td width="5%">:</td>
      <td width="70%"><span id='hp_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">E-mail</td>
      <td width="5%">:</td>
      <td width="70%"><span id='email_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Kewarganegaraan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='kewarganegaraan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Pekerjaan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='pekerjaan_konfirmasi'></span></td>
    </tr>
  </table>
  <br>
  <table id="table_kuasa_konfirmasi" width="100%" border="0">
    
  </table>
  <br>
  <h4><u>#2. IZIN PARKIR</u></h4>
  <table width="100%" border="0">
    <tr>
      <td width="25%">Jenis Penitipan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='jenis_penitipan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Ukuran Penitipan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='ukuran_penitipan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Alamat Penitipan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='alamat_penitipan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Lama Penitipan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='lama_penitipan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Jumlah Anggota</td>
      <td width="5%">:</td>
      <td width="70%"><span id='jumlah_anggota_penitipan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="100%" colspan="3">Batas-batas</td>
    </tr>
    <tr>
      <td width="25%" style="padding-left: 5%;">Sebelah Utara</td>
      <td width="5%">:</td>
      <td width="70%"><span id='sebelah_utara_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%" style="padding-left: 5%;">Sebelah Timur</td>
      <td width="5%">:</td>
      <td width="70%"><span id='sebelah_timur_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%" style="padding-left: 5%;">Sebelah Selatan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='sebelah_selatan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%" style="padding-left: 5%;">Sebelah Barat</td>
      <td width="5%">:</td>
      <td width="70%"><span id='sebelah_barat_konfirmasi'></span></td>
    </tr>
  </table>
  <br>
  
  <h4>#3. Data Anggota</h4>
  <table class="table table-bordered" width="100%" id="table_data_anggota_konfirmasi">
    <thead>
      <tr>
        <td>No.</td>
        <td>No. KTP</td>
        <td>Nama</td>
        <td>Tanggal Lahir</td>
        <td>Alamat</td>
        <td>No. HP/Telp</td>
        <td>Keterangan</td>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
  <br>
  <table class="table table-bordered">
      <thead>
        <tr >
          <th>Dokumen Persyaratan</th>
          <th>Telah Terupload</th>
        </tr>
      </thead>
      <tbody>
        <tr align="center">
          <td>
            KTP
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-ktp"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            Sketsa Lokasi Tempat Parkir/Gambar Lokasi Tempar Parkir
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-sketsa_lokasi"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            Surat Pernyataan
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-surat_pernyataan"><i></i>
            </label>
          </td>
        </tr>
      </tbody>
  </table>
  <section class="tile bg-greensea">
    <div class="tile-body">
      <label class="checkbox checkbox-custom-alt">
        <input type="checkbox" id="checkbox_tdp_done"><i></i> Setuju, Saya telah mengisi formulir pengajuan izin ini dengan benar.
      </label>
    </div>
  </section>
</form>