<form method="POST" name="step4" role="form" class="form-horizontal" action="{% url 'siup_upload_dokumen' %}">
  {% csrf_token %}
  <h3>UPLOAD DOKUMEN PERSYARATAN</h3>
  <hr class="style14">
</form>

	<!-- Surat Permohonan -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'tdup_upload_berkas' %}" id="form-surat_keputusan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat Permohonan</strong></label>
      <span id="field-surat_keputusan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Permohonan">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-surat_keputusan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_keputusan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_keputusan"></span>
    </div>
  </form>