<form method="POST" name="step6" role="form" action="{% url 'siup_done' %}">
  {% csrf_token %}
  <h3>KONFIRMASI DATA</h3>
  <hr class="style14">
  <div class="row">
    <div class="col-md-3">
      <span>Jenis Pengajuan</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Baru</span>
    </div>
  </div>
  <br>
  <h4><u>#1. IDENTITAS PEMOHON</u></h4>
  <div class="row">
    <div class="col-md-3">
      <span>Jenis Pemohon</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Pemilik</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Nomor KTP/Pastor</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>3500028892893</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Nama</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Hartanto</span>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-3">
      <span>Jenis Kelamin</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Laki-laki</span>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-3">
      <span>Tempat/tanggal lahir</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Kediri,01/01/1960</span>
    </div>
  </div> -->
  <div class="row">
    <div class="col-md-3">
      <span>Alamat tempat tinggal</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Jl.Erlangga no 02, Kel. Sukorejo, Kec. Ngasem, Kab.Kediri, Jawa Timur</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>No.Telp</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>No.HP</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>08123456789</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>E-mail</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Kewarganegaraan</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Indonesia</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Pekerjaan</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Swasta</span>
    </div>
  </div>
  <br>

  <h4><u>#2. IDENTITAS PERUSAHAAN</u></h4>
  <div class="row">
    <div class="col-md-3">
      <span>NPWP</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>12345678974</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Nama Perusahaan</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>UD. Maju Mundur</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Bentuk Kegiatan Usaha</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Mikro</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Alamat Perusahaan</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Jl.Erlangga no 02, Kel. Sukorejo, Kec. Ngasem, Kab.Kediri, Jawa Timur</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Kode Pos</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>No.Telp</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>082123981923</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>No.Fax</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>E-mail</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <br>

  <h4><u>#3. DATA UMUM PERUSAHAAN</u></h4>
  <div class="row">
    <div class="col-md-3">
      <span>Jenis Badan Usaha</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Status Perusahaan</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Jomblo</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Jumlah bank dimana perusahaan ini menjadi nasabah</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>3</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Nasabah Utaman Bank 1.</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>BRI</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Nasabah Utaman Bank 2.</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>BCA</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Status Penanaman Modal</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Lain lain</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Tanggal Pendirian</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>17/05/1998</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Tanggal mulai kegiatan</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>17/05/1998</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Jangka waktu berdirinya perusahaan</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>7 tahun</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Bentuk kerjasama tidak ada</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Tidak ada</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Merk Dagang (jika ada)</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>No. Merk Dagang</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Pemegang Hak Cipta (jika ada)</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>No. Hak cipta</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Pemegang hak paten (jika ada)</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>No. hak paten</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <br>

  <h4><u>#4. DATA KEGIATAN PERUSAHAAN</u></h4>
    <ul type="A">
      <li>JENIS KEGIATAN USAHA
        <ul>
        <li>
        <div class="row">
          <div class="col-md-16">
            <span>Kegiatan Usaha Pokok</span> 
          </div>
          <div class="col-md-1">
            <span class="pull-right">:</span>
          </div>
          <div class="col-md-8">
            <span>a</span>
          </div>
        </div>
        </li>
        <li>Komoditi/Produk Pokok</li>
        <li>Komoditi/Produk Lain</li>
        <li>Komoditi/Produk Lain</li> 

        </ul>         
      </li>
      <li>Milk</li>
    </ul>

  <div class="row">
    <div class="col-md-3">
      <u>A.</u><span>JENIS KEGIATAN USAHA</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3">
      &nbsp; &nbsp;<span>Kegiatan Usaha Pokok</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Kegiatan Usaha lain</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>a</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Kegiatan Usaha lain</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>b</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Komoditi/Produk Pokok</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>3</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Komoditi/Produk Lain</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">cv
      <span>a</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Komoditi/Produk Lain</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>b</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <u>B.</u><span>Omset Perusahaan Per Tahun (setelah perusahaan beroperasi)</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>RP</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <u>C.</u><span>Modal Dan Saham</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>cv
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>1. Modal Dasar Rp</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>2. Modal Ditempatkan Rp</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>3. Modal Disetor Rp</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>4. Banyaknya Saham (lembar)</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>5. Nilai Nominal Per Saham Rp</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <u>D.</u><span>Total Asset (setelah perusahaan beroperasi)</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <u>E.</u><span>Jumlah Karyawan</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>WNI</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>WNA</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Total</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <u>F.</u><span>Kedudukan Dalam Mata Rantai Kegiatan Usaha</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Jika Produsen, untuk perusahaan yang menggunakan mesin</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <ol type="a">
        <span><li>Kapasitas Terpasang</li></span>
        <span><li>Kapasitas produksi per tahun</li></span>
        <span><li>Kandungan komponen produk lokal</li></span>
        <span><li>Kandungan komponen produk impor</li></span>
      </ol>
      <span>Jika pengecer, jenis usaha</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>asoy</span>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <span>No. Merk Dagang</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Pemegang Hak Cipta (jika ada)</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>No. Hak cipta</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Pemegang hak paten (jika ada)</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>No. hak paten</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-3">
      <span>Bentuk Kerjasama</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Mandiri</span>
    </div>
  </div> -->
  <br>
  <h4><u>#4. LEGALITAS PERUSAHAAN</u></h4>
  <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Jenis Akta dan Pengesahan</th>
            <th>Nama Notaris</th>
            <th>Alamat Notaris</th>
            <th>Telp. Notaris</th>
            <th>No. Akta</th>
            <th>Tgl Akta</th>
            <th>No. Pengesahan</th>
            <th>Tgl Pengesahan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Akta Pendirian</td>
            <td>Hasannuddin, SH</td>
            <td>Jl. Mekar no 2</td>
            <td>035478888</td>
            <td>9</td>
            <td>10/09/2009</td>
            <td>123/ABC/2009</td>
            <td>16/09/2009</td>
          </tr>
        </tbody>
    </table>
  </div>
  <br>
  <h4><u>#4. KEKAYAAN BERSIH DAN SAHAM</u></h4>
  <div class="row">
    <div class="col-md-3">
      <span>Kekayaan Bersih Perusahaan<br>(tidak termasuk tanah dan bangunan tempat usaha)</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>Rp.1000.000.000</span>
    </div>
  </div>
  <span>Saham (Khusus Untuk Penanaman Modal Asing):</span>
  <div class="row">
    <div class="col-md-3">
      <span>a. Total Nilai Saham</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>b. Komposisi Kepemilikan Saham</span>
    </div>
    
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Dalam Negeri</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <span>Asing</span>
    </div>
    <div class="col-md-1">
      <span class="pull-right">:</span>
    </div>
    <div class="col-md-8">
      <span>-</span>
    </div>
  </div>
  <br>
  <h4><u>#5. UPLOAD DOKUMEN PERSYARATAN</u></h4>
  <table class="table table-bordered">
      <thead>
        <tr >
          <th>Dokumen Persyaratan</th>
          <th>Telah Terupload</th>
        </tr>
      </thead>
      <tbody>
        <tr align="center">
          <td>
            File Foto
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" checked="" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            File KTP/Paspor
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" checked="" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            File NPWP Pribadi
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" checked="" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            File NPWP Perusahaan
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" checked="" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            File Akta Pendirian
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" checked="" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            File Akta Pembaruan (jika ada)
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled><i></i>
            </label>
          </td>
        </tr>
      </tbody>
  </table>
  <br>
  <section class="tile bg-greensea">
    <div class="tile-body">
      <label class="checkbox checkbox-custom-alt">
        <input type="checkbox" ><i></i> Setuju, Saya telah mengisi formulir pengajuan izin ini dengan benar.
      </label>
    </div>
  </section>