{% load i18n admin_static staticfiles widgets access %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<style type="text/css">
</style>
<body>
<div style="width: 50%;background: white;display: block;margin: 0 auto;margin-bottom: 0px;margin-bottom: 0.5cm;border:3px solid black;padding: 60px;border-radius: 6px;">
  <center>
       <table style="margin-bottom: 10px;">
          <tr>
            <td><img src="http://simpatik.kedirikab.go.id/static/images/SIMPATIK.png" width="50px"> </td>
            <td style="font-family: Arial, Helvetica, sans-serif; font-weight: 700; font-size: 30px">SIMPATIK</td>
          </tr>
        </table>
    </center>

         <table style="margin: 0px auto;">
            <tr>
              <td width=""> No Pengajuan </td></td>
              <td width=""> : </td></td>
              <td width="">1231231312312</td>
            </tr>
            <tr>
              <td width=""> Nama Pemohon </td></td>
              <td width=""> : </td></td>
              <td width="">Ryan Rizki</td>
            </tr>
            <tr>
              <td width=""> Pengajuan izin </td></td>
              <td width=""> : </td></td>
              <td width="">IOP - Izin Optikal</td>
            </tr>
          </table>

        <!-- <br> -->
    <div>
        <p align="center">Surat rekomendasi telah ditanda tangani dengan nomor rekomendasi sebagai berikut :</p>
        <!-- <br> -->
         <div style="background: gray; color: white; padding: 10px; border-radius: 10px; margin: auto;
        width: 40%;text-align: center; font-family: Arial, Helvetica, sans-serif;">
            <p>
              <span style="font-size: 20px"><strong>RK1293182AKJSDK</strong></span><br>
            </p>
        </div>
    </div>
    <br>
    <br>
    <div style="font-size: 10px">
      Copyright &copy; 2017 Cv Adisatya IT Consultant <br>
      Dinas Penanaman Modal dan Pelayanan Terpadu Satu Pintu Kabupaten Kediri <br>
      Jalan Soekarno - Hatta Nomor 14 Telp. 681227 & 681741 Fax. 0354 - 681227<br>Website : <u>www.kedirikab.go.id</u> Email : <u>dpmptsp@kedirikab.go.id</u>
    </div>
    <hr>
    <p align="center" style="font-size: 10px">
      Anda memperoleh email ini karena pengajuan izin anda harus melakukan pembayaran. <br>
      Harap jangan membalas email ini, Karena email ini dikirim secara otomatis
    </p>
</div>
    

</body>
</html>

