        <!-- ============================================
        ==================== Footer =====================
        ============================================= -->

        <footer id="footer">

            <div class="footer-main">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4">

                            <div class="widget widget-about">
                                <h2>minovate</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>

                            <div class="widget widget-photo-stream mb-0">

                                <h4>Photostream</h4>

                                <div id="flickr-feed"></div>

                            </div>

                        </div>

                        <div class="col-md-4">

                            <div class="widget widget-contact mt-20-md">
                                <h4><strong>Contact</strong> Us</h4>
                                <address>
                                    <strong>Headquarters</strong><br>
                                    Vajnorska 127, Lorem Tower<br>
                                    Bratislava, SK<br/><br/>
                                    <strong>Phone:</strong> +421 948 964 956<br>
                                    <strong>Fax:</strong> +421 02 66 21 54<br>
                                    <strong>Email:</strong> <a href="mailto:minoral@tattek.com">minoral@tattek.com</a><br>
                                    <strong>Skype:</strong> <a href="#">tattek</a>
                                </address>
                            </div>

                            <div class="widget widget-newsletter mb-0">

                                <h4><strong>Newsletter</strong></h4>
                                <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>

                                <form role="form">
                                    <div class="input-group input-group-3d">
                                        <input type="email" class="form-control input-3d" placeholder="Enter your Email" required>
                                        <span class="input-group-btn">
                                            <button class="myBtn myBtn-rounded" type="submit">Subscribe Now</button>
                                        </span>
                                    </div>
                                </form>

                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="widget widget-tweets mb-0 mt-20-md">
                                <h4><strong>Latest</strong> Tweets</h4>

                                <a class="twitter-timeline" href="https://twitter.com/envato" data-widget-id="471668556904419328" data-tweet-limit="3" data-theme="dark" data-link-color="#19b698" data-chrome="noheader nofooter noscrollbar noborders transparent">Tweets by @envato</a>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4 copyright">
                            <p class="mb-0">&copy; Copyright 2015 by <a href="#">Minovate</a>. All Rights Reserved.</p>
                            <p><a href="#">Terms of use</a> / <a href="#">Privacy Policy</a></p>
                        </div>

                        <div class="col-md-8 text-right text-center-md">

                            <a class="social-icon social-facebook" href="#">
                                 <div class="front">
                                    <i class="fa fa-facebook"></i>
                                 </div>
                                 <div class="back">
                                    <i class="fa fa-facebook"></i>
                                 </div>
                            </a>

                            <a class="social-icon social-twitter" href="#">
                                 <div class="front">
                                    <i class="fa fa-twitter"></i>
                                 </div>
                                 <div class="back">
                                    <i class="fa fa-twitter"></i>
                                 </div>
                            </a>

                            <a class="social-icon social-googleplus" href="#">
                                 <div class="front">
                                    <i class="fa fa-google-plus"></i>
                                 </div>
                                 <div class="back">
                                    <i class="fa fa-google-plus"></i>
                                 </div>
                            </a>

                            <a class="social-icon social-pinterest" href="#">
                                 <div class="front">
                                    <i class="fa fa-pinterest"></i>
                                 </div>
                                 <div class="back">
                                    <i class="fa fa-pinterest"></i>
                                 </div>
                            </a>

                            <a class="social-icon social-flickr" href="#">
                                 <div class="front">
                                    <i class="fa fa-flickr"></i>
                                 </div>
                                 <div class="back">
                                    <i class="fa fa-flickr"></i>
                                 </div>
                            </a>

                            <a class="social-icon social-linkedin" href="#">
                                 <div class="front">
                                    <i class="fa fa-linkedin"></i>
                                 </div>
                                 <div class="back">
                                    <i class="fa fa-linkedin"></i>
                                 </div>
                            </a>

                            <a class="social-icon social-dribbble" href="#">
                                 <div class="front">
                                    <i class="fa fa-dribbble"></i>
                                 </div>
                                 <div class="back">
                                    <i class="fa fa-dribbble"></i>
                                 </div>
                            </a>

                        </div>

                    </div>
                </div>
            </div>

        </footer><!-- #footer end -->

    </div><!-- #wrapper end -->











    <!-- ============================================
    =================== Go to Top ===================
    ============================================= -->


<!-- page footer wrap -->
<!-- <div class="page-footer-wrap bg-dark-gray"> -->
    <!-- page footer holder -->

<!-- ./page footer wrap

<!-- page footer wrap -->
<!-- <div class="page-footer-wrap bg-darken-gray"> -->
    <!-- page footer holder -->
    <!-- <div class="page-footer-holder"> -->
        
        <!-- copyright -->
     <!--    <div class="copyright">
            <p align="center"><br>
                &copy; 2016 - SIMPDU<br />
                Sistem Informasi Pelayanan Perijinan Terpadu<br />
                Badan Penanaman Modal dan Pelayanan Perijinan Terpadu Satu Pintu - Kab. Kediri<br />
                Untuk Informasi Lebih lanjut silahkan kirim Email ke: bpmp2tsp@kedirikab.go.id <br />
                Untuk tampilan lebih maksimal Gunakan Google Chrome <br />
                Developed By <a href="http://aitc.co.id">AITC.co.id</a>
            </p>                           
        </div>
      -->   <!-- ./copyright -->
        
        <!-- social links -->
        <!-- <div class="social-links">
            <a href="#"><span class="fa fa-facebook"></span></a>
            <a href="#"><span class="fa fa-twitter"></span></a>
            <a href="#"><span class="fa fa-google-plus"></span></a>
            <a href="#"><span class="fa fa-linkedin"></span></a>
            <a href="#"><span class="fa fa-vimeo-square"></span></a>
            <a href="#"><span class="fa fa-dribbble"></span></a>
        </div>  -->                       
        <!-- ./social links -->
        
    <!-- </div> -->
    <!-- ./page footer holder -->
<!-- </div> -->
 