<p class="text-center" style="background-color: #131e25; margin-top: 0px;margin-bottom: 0;
    color: white; padding-top: 10px;padding-bottom: 10px;"
    a{color:white;}>
    &copy; 2017 - SIMPATIK<br />
    Sistem Informasi Manajemen Pelayanan Perijinan Terpadu Satu Pintu Kabupaten Kediri<br />
    Badan Penanaman Modal dan Pelayanan Perijinan Terpadu Satu Pintu - Kab. Kediri<br />
    Untuk Informasi Lebih lanjut silahkan kirim Email ke: bpmp2tsp@kedirikab.go.id <br />
    Untuk tampilan lebih maksimal Gunakan Google Chrome <br />
    Developed By <a style="color:#ff4a43;" href="http://aitc.co.id">AITC.co.id</a>
</p>