{% load i18n admin_static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META SECTION -->
        <title>Sistem Informasi Pelayanan Perijinan Terpadu - Kab. Kediri</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="Sistem Informasi Pelayanan Perijinan Terpadu - Kab. Kediri | SIMPDU">
        <meta name="author" content="Samsul Hadi | aitc.co.id">
        <link rel="icon" type="image/ico" href="{% static "front-end/images/favicon.ico" %}" />
        <!-- END META SECTION -->
        
        <!-- <link rel="stylesheet" type="text/css" href="{% static "front-end/css/revolution-slider/extralayers.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "front-end/css/revolution-slider/settings.css" %}" /> -->
        {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static "front-end/css/styles.css" %}"/>
    <!-- <script type="text/javascript" src="{% static "js/init.home.js" %}"></script> --> 
<!-- <script src="http://maps.googleapis.com/maps/api/js"></script> -->
            <!-- ============================================
        ================= Stylesheets ===================
        ============================================= -->
        <!-- vendor css files -->
        <link rel="stylesheet" type="text/css" href="{% static "front-end/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "front-end/css/animate.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "front-end/css/font-awesome.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "front-end/js/vendor/flexslider/flexslider.css"%}">
        <link rel="stylesheet" type="text/css" href="{% static "front-end/js/vendor/magnific/magnific-popup.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "front-end/js/vendor/owl/owl.carousel.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "front-end/js/vendor/owl/owl.theme.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "front-end/js/vendor/morrisjs/morris.css" %}">
        <link media="screen"   type="text/css" href="{% static "front-end/js/vendor/rs-plugin/css/settings.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "front-end/js/vendor/animsition/css/animsition.min.css" %}">
        <!--/ stylesheets -->



        <!-- ==========================================
        ================= Modernizr ===================
        =========================================== -->
        <!--/ modernizr -->       
        {% endblock %}

    </head>
    {% csrf_token %}
<body id="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">
                    <div class="logo">
                        <a href="{% url 'frontindex' %}">Simpdu Kab. Kediri</a>
                    </div>
             <div id="wrap" class="animsition">
                    <!-- page logo -->

                    <!-- ./page logo -->
                    <!-- navigation -->
                    {% block navigation %}

                    {% endblock %}
                    <!-- ./navigation -->                        
                </div>
                <!-- ./page header holder -->
            </div>
            <!-- ./page header -->
            <!-- page content -->
            <div class="page-content">
                {% block page-content %}
                {% endblock %}
            </div>
            <!-- ./page content -->
            
            <!-- page footer -->
            
            <div class="page-footer">
                {% block footer %}
                    {% include "front-end/footer.html" %}
                {% endblock %}                
            </div>
            <!-- ./page footer -->
                <div id="gotoTop" class="fa fa-angle-up hidden-md"></div>
        </div>        
        <!-- ./page container -->
        

<!-- 
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>  -->
        {% block extrajs %}

        <script type="text/javascript" src="{% static "front-end/js/vendor/jquery-1.11.2.min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/bootstrap.min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/superfish/js/superfish.min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/jRespond/jRespond.min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/smoothscroll/SmoothScroll.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/appear/jquery.appear.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/stellar/jquery.stellar.min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/flexslider/jquery.flexslider-min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/magnific/jquery.magnific-popup.min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/owl/owl.carousel.min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/jflickrfeed/jflickrfeed.min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/tweet-js/jquery.tweet.min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/countTo/jquery.countTo.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/morrisjs/raphael-min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/morrisjs/morris.min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/rs-plugin/js/jquery.themepunch.tools.min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/vendor/animsition/js/jquery.animsition.min.js" %}"></script>
        <script type="text/javascript" src="{% static "front-end/js/global.js" %}"></script>




            <script type="text/javascript">
                lokasi = document.createElement("a");
                lokasi.href = location.href;
                window.__base_url__ = lokasi.protocol+"//"+lokasi.host;
            </script>
        {% endblock %}
        <!-- ./page scripts -->
    </body>
</html>