
$('#id_ktp').val('{{ ktp.nomor }}')
$('#id_paspor').val('{{ paspor.nomor }}')
$('#id_jenis_pengajuan').val('{{ pengajuan_.jenis_permohonan.id }}').prop('selected',true).trigger("chosen:updated");
$('#id_jenis_pemohon').val('{{ pengajuan_.jenis_permohonan.id }}').prop('selected',true).trigger("chosen:updated");

if (parseInt($.cookie('id_pemohon')) > 0){
	load_pemohon('{{ ktp.nomor }}')
}

if ('{{pengajuan_.nama_kuasa}}' !== 'None'){
	$('#switch_pemohon_disabled').prop( "checked", true );
	setTimeout(function(){
		$('.kuasa_disable').prop('disabled', false);
		$('#id_nama_kuasa').val('{{pengajuan_.nama_kuasa}}');
		$('#id_no_identitas_kuasa').val('{{pengajuan_.no_identitas_kuasa}}');
		$('#id_telephone_kuasa').val('{{pengajuan_.telephone_kuasa}}');
	}, 1000);
}
if (parseInt($.cookie('id_perusahaan')) > 0){
	$('#id_npwp_perusahaan').val('{{perusahaan_konfirmasi.npwp}}')
	setTimeout(function(){
		load_perusahaan_a('{{perusahaan_konfirmasi.npwp}}')
	}, 3000);
}
<!-- alert('{{perusahaan_konfirmasi.npwp}}') -->
