{% extends "front-end/base.html" %}
{% load i18n admin_static staticfiles widgets %}
{% block extrastyle %}
{{ block.super }}
<style type="text/css">
  hr.style14 { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }
</style>
<link rel="stylesheet" href="{% static 'scripts/js/vendor/toastr/toastr.min.css' %}">
{% endblock %}

{% block section %}
<div class="pageheader">
  <h2>Pengaduan Izin
    <span>Berikut adalah info Cari Pengajuan Izin SIMPATIK Kabupaten Kediri.</span>
  </h2>
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <a href="{% url 'frontindex' %}"><i class="fa fa-home"></i> Beranda</a>
      </li>
      <li>
        <a href="#"> Pengaduan Izin</a>
      </li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <section class="tile">
      <div class="tile-body">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-darkgray">
              <div class="panel-header">
                <div class="row">
                  <div class="col-sm-12">
                    <h2 class="text-center">Pengaduan Izin</h2>
                    <hr class="style14">
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <form method="POST" class="frm_pengaduan">
                {% csrf_token %}
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label for="input01" class="col-sm-4 control-label">Nomor KTP</label>
                      <div class="col-sm-8">
                        <input type="text" required="" class="form-control" name="no_ktp">
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label for="input01" class="col-sm-4 control-label">Nama Lengkap</label>
                      <div class="col-sm-8">
                        <input type="text" required class="form-control" name="nama_lengkap">
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label for="input01" class="col-sm-4 control-label">Email</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="email">
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label for="input01" class="col-sm-4 control-label">Nomor Telphone</label>
                      <div class="col-sm-8">
                        <input type="text"  class="form-control" name="nomor_telphone">
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label for="input01" class="col-sm-4 control-label">Kategori Pengajuan</label>
                      <div class="col-sm-8">
                         <select class="form-control" required="" name="kategori_pengaduan">
                            <option value>Pilih Kelompok Jenis Izin</option>
                           {% if kelompokjenisizin %}
                            {% for k in kelompokjenisizin %}
                              <option value="{{k.id}}">{{k.jenis_izin}}</option>
                            {% endfor %}
                           {% endif %}
                         </select>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <label for="input01" class="col-sm-4 control-label">Isi Pengaduan</label>
                      <div class="col-sm-8">
                        <textarea class="form-control" required="" name="isi_pengaduan"></textarea>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <div class="col-sm-12" align="center">
                        <hr class="style14">
                        <button onclick="save_pengaduan();" type="button" class="btn btn-success"><i class="fa fa-eye"></i> <span>Pengaduan</span></button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="panel-footer">
                <p align="center"><strong>Untuk Melihat Lebih Lanjut Pengaduan Anda</strong><span id="id_sp_no_ktp"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <section class="tile">
      <div class="tile-body">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-darkgray">
              <div class="panel-header">
                <div class="row">
                  <div class="col-sm-12">
                    <h2 class="text-center">Cek Pengadauan Anda</h2>
                    <hr class="style14">
                  </div>
                </div>
              </div>
              <div class="panel-body">
              {% csrf_token %}
                <div class="form-group col-md-12" align="center">
                  <input type="text" align="center" class="form-group" id="cek_nomor_ktp" name="cek_nomor_ktp" placeholder="Nomor KTP">
                </div>
                <div class="form-group col-md-12">
                  <div class="col-sm-12" align="center">
                    <button type="button" id="button_cek_pengaduan" class="btn btn-success"><i class="fa fa-eye"></i><span>Cek Pengaduan</span></button>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="modal fade" id="pengaduan_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form method="POST" class="form-horizontal">
        <div class="modal-header">
          <h3 class="modal-title costom-font">Pengaduan</h3>
        </div>
        <div class="row">
          <div class="col-md-12">
            <section class="tile">
              <div class="tile-body">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-darkgray">
                      <div class="panel-header">
                        <div class="row">
                          <div class="col-sm-12">
                            <h2 class="text-center">Pengaduan Izin</h2>
                            <hr class="style14">
                          </div>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <h3 align="center">Pengaduan</h3>
                          <p class="cek_isi_pengaduan"></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            </div>
        </div>
        
      </form>
    </div>
  </div>
</div>  -->           
{% endblock %}

{% block extratools %}
  {{ block.super }}
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script type="text/javascript" src="{% static 'scripts/js/vendor/toastr/toastr.min.js' %}"></script>
  <script type="text/javascript">
  function save_pengaduan(request){
    // response = $('#g-recaptcha-response').val();
    // recaptcha_challenge_field = $('input[name=recaptcha_challenge_field]').val()
    // recaptcha_response_field = $('input[name=recaptcha_response_field]').val()
    // $.ajax({
    //   type: 'POST',
    //   url: '{% url 'ajax_save_pengaduan' %}',
    //   data: { csrfmiddlewaretoken: csrf_token, no_ktp_: no_ktp_, nama_lengkap_: nama_lengkap_, email_: email_, no_telp_: no_telp_, kategori_pengaduan_:kategori_pengaduan_, isi_pengaduan_:isi_pengaduan_ },
    //     success: function (data) {
    //       respon = $.parseJSON(data)
    //         if(respon.success){
    //           toastr["success"](respon.pesan)
    //           setTimeout(function(){ 
    //             // alert("Hello");
    //             window.location.reload()

    //           }, 3000);
    //         }
    //         else{
    //           toastr["warning"](respon.pesan)
    //           // alert("error")
    //           // window.location.replace(respon.url)
    //         }
    //     }
    //     // error: function(data) {                
    //     //   toastr["error"]("Terjadi kesalahan server.")
    //     // }
    // })
    frm = $('.frm_pengaduan')
    frm.parsley().validate();
    if (frm.parsley().isValid()){
        frm.ajaxSubmit({
            method: 'POST',
            data: frm.serialize(),
            url: '{% url 'ajax_save_pengaduan' %}',
            beforeSend: function() {
              frm.mLoading();
            },
            success: function(response){
                frm.mLoading('hide');
                respon = JSON.parse(response)
                if (respon.success == true){
                  toastr["success"](respon.pesan)
                  nomor_ktp = $("input[name=no_ktp]").val()
                  $("#id_sp_no_ktp").text(nomor_ktp)
                  $("input[name=no_ktp]").val('')
                  $("input[name=nama_lengkap]").val('')
                  $("input[name=email]").val('')
                  $("input[name=no_telp]").val('')
                  $("input[name=nomor_telphone]").val('')
                  $("textarea[name=isi_pengaduan]").val('')
                }
                else{
                  toastr["warning"](respon.pesan)
                }
            },
            error: function(){
              frm.mLoading('hide');
              toastr["error"]("Terjadi Kesalahan Server.")
            }
        });
    }
  }

  get_option_kelompokjenisizin()
  function get_option_kelompokjenisizin(){
      $.ajax({
          url : __base_url__+'/admin/izin/kelompokjenisizin/option/',
          type: "GET",
          success: function(response){
              $('.option-kelompokjenisizin').html(response)
              $('.option-kelompokjenisizin').append('<option value selected>Pilih Jenis Izin</option>')

          }
      })
  }


  // $('#button_cek_pengaduan').click(function(){
  //   $.ajax({
  //     url: __base_url__+'/ajax-cek-pengaduan/'+$("#cek_nomor_ktp"),
  //     type: 'GET',
  //     // data: { csrfmiddlewaretoken: csrf_token, cek_no_ktp: cek_no_ktp },
  //     success: function(respon){
  //       respon = JSON.parse(respon)
  //       console.log(respon)
  //       if (respon.success == true){
  //         if (respon.data){
  //           $('cek_isi_pengaduan').text(respon.data.isi_pengaduan)
  //         }
  //         $('#pengaduan_modal').modal('show');
  //       }
  //     }
        
  //   })
  // })



    
  </script>
{% endblock %}