{% extends "front-end/base.html" %}
{% load i18n admin_static staticfiles widgets %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'front-end/css/bootstrap.vertical-tabs.css' %}">
{% endblock %}

{% block section %}
<div class="pageheader">
    <h2>Tentang BPM
		<span>Berikut adalah info Tentang BPM SIMPATIK Kabupaten Kediri.</span>
	</h2>
	<div class="page-bar">
		<ul class="page-breadcrumb">
		  <li>
		    <a href="#"><i class="fa fa-home"></i> Home</a>
		  </li>
		  <li>
		    <a href="#"> Daya Tampung SMP</a>
		  </li>
		</ul>
	</div>
</div>
<div class="row">
	<div  class="col-md-12">
	  <section class="tile">
	    <div class="tile-header dvd dvd-btm">
	      <h1 class="custom-font"><strong>Normal</strong> Headings</h1>
	      <ul class="controls">
	        <li class="dropdown">
	          <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
	            <i class="fa fa-cog"></i>
	            <i class="fa fa-spinner fa-spin"></i>
	          </a>
	          <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
	            <li>
	              <a role="button" tabindex="0" class="tile-toggle">
	                <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
	                <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
	              </a>
	            </li>
	            <li>
	              <a role="button" tabindex="0" class="tile-refresh">
	                <i class="fa fa-refresh"></i> Refresh
	              </a>
	            </li>
	            <li>
	              <a role="button" tabindex="0" class="tile-fullscreen">
	                <i class="fa fa-expand"></i> Fullscreen
	              </a>
	            </li>
	          </ul>
	        </li>
	        <li class="remove"><a role="button" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a></li>
	      </ul>
	    </div>
	    <div class="tile-body">
			<div class="col-md-3">
			  <ul class="nav nav-tabs tabs-left">
			    <li class="active"><a href="#tentang" data-toggle="tab">Tentang BPM-P2TSP</a></li>
			    <li><a href="#visimisi" data-toggle="tab">Visi & Misi</a></li>
			    <li><a href="#motto" data-toggle="tab">Motto</a></li>
			    <li><a href="#kontak" data-toggle="tab">Kontak Kami</a></li>
			  </ul>
			</div>
			<div class="col-md-9">
			  <div class="tab-content">
			    <div class="tab-pane active" id="tentang">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in metus nec mauris egestas laoreet. Integer vehicula velit non massa suscipit at porta sem commodo. Donec nibh lectus, vulputate a aliquet quis, sollicitudin eget metus. Nullam quis tellus nibh. Praesent fermentum risus sit amet turpis eleifend dapibus. Duis tellus leo, tempor sit amet ultricies viverra, mollis at quam. Suspendisse hendrerit sagittis risus nec faucibus. Nam urna magna, porta vitae tincidunt sit amet, blandit eget diam. Vivamus a ornare augue. Vivamus sapien sem, facilisis vitae molestie eget, tempus ut augue. Sed suscipit facilisis mi, eu laoreet est gravida eu. Nulla et arcu quam, pellentesque adipiscing felis. Nam pretium augue sed sapien malesuada tempor. Nulla facilisi. Donec eu tempor mi. Sed congue dolor risus, et ornare massa.

Nulla sodales aliquet iaculis. Quisque ullamcorper posuere magna non imperdiet. Fusce egestas arcu sit amet orci volutpat venenatis. Proin laoreet leo quis nulla iaculis id tincidunt arcu laoreet. Cras non ante felis, at pulvinar arcu. Vivamus porta sollicitudin massa congue elementum. Proin fringilla massa vel mi ultricies et molestie justo dapibus. Mauris elit orci, euismod non sodales ac, gravida eget mauris.

Pellentesque accumsan ipsum ut elit tempus ut egestas diam molestie. Quisque in justo vitae metus volutpat consequat. Phasellus ac quam eu diam sodales congue vel at dolor. Nam scelerisque pellentesque pharetra. Curabitur nibh nisl, porta sed tristique id, convallis vitae ante. Nam volutpat nisl vitae lectus mattis tempus. Integer imperdiet bibendum ornare. In ultricies, tellus eget fermentum dapibus, massa eros adipiscing sapien, ac eleifend mi quam quis leo. Integer porttitor gravida condimentum. Nunc massa purus, iaculis sed scelerisque a, rhoncus nec mi. Nulla sollicitudin, turpis a aliquet porttitor, mauris justo pharetra lacus, sit amet tristique dolor arcu in eros. Proin nibh ligula, condimentum eu feugiat ut, sagittis condimentum orci. Etiam non ipsum ac metus fermentum laoreet.

Vivamus sed lectus ut tortor vulputate adipiscing vitae quis justo. Quisque ac pulvinar libero. Donec dui sem, venenatis laoreet eleifend quis, vestibulum in diam. In vitae eros vel risus iaculis pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis dictum nisl bibendum imperdiet. Maecenas in enim a felis pharetra faucibus vel eget leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis dapibus imperdiet diam, a lobortis tellus sodales euismod. In viverra commodo aliquet. In tempor ipsum porta magna euismod non ultrices ligula facilisis. Aliquam fermentum nulla non purus aliquet adipiscing. Vestibulum et odio id augue imperdiet tristique. Morbi felis neque, iaculis sit amet vestibulum et, ultrices at orci.

Praesent pretium, lectus eget euismod ullamcorper, lectus odio ultrices ante, in hendrerit nisi orci nec massa. Sed quis posuere est. Suspendisse potenti. Vestibulum dignissim sollicitudin odio at semper. Vestibulum vitae euismod justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus bibendum ultrices fermentum. Vestibulum lobortis pellentesque sapien, a lobortis metus blandit non. Vivamus ut placerat magna. Maecenas tincidunt turpis sit amet massa posuere faucibus.

Pellentesque malesuada libero eu nunc ornare imperdiet. Nam purus quam, fringilla quis mollis ac, malesuada quis erat. Nullam dapibus feugiat mauris, id lobortis sem cursus at. Ut sed tellus ac lacus hendrerit iaculis. Pellentesque lectus arcu, congue sit amet vehicula at, volutpat ac augue. Duis sit amet turpis eget eros accumsan venenatis vel in turpis. Quisque consequat iaculis auctor. Donec sagittis est ut lorem viverra eget tristique felis malesuada. Sed mattis tincidunt venenatis. Quisque in tellus non lectus mattis imperdiet.

Quisque est massa, placerat quis vestibulum tincidunt, fringilla sed felis. Nullam mattis nisl eu libero tristique posuere. Aliquam erat volutpat. Praesent eu velit dolor, vitae tincidunt nulla. Duis vel enim mauris, nec ullamcorper leo. Nulla et dapibus nunc. Curabitur consectetur sapien vitae libero tristique viverra. Morbi massa urna, vulputate at viverra vitae, facilisis eget eros. Duis vehicula accumsan diam sit amet elementum. Vivamus ullamcorper, leo sit amet viverra blandit, elit lacus interdum augue, nec semper dui erat sed dui. Pellentesque dignissim pretium felis eu cursus. In commodo, velit non pharetra molestie, neque tellus rutrum sapien, quis consequat velit tortor ut orci. Proin sed tortor leo, at gravida felis. Integer scelerisque dolor nec quam pretium lacinia. Aliquam commodo rutrum urna, sed consectetur justo iaculis in. Quisque in nisl at nisl tincidunt ultricies.

Mauris sit amet nibh non nisi varius accumsan ut sit amet dolor. Nunc eu quam et est viverra vehicula in id dui. Nulla sit amet metus est. Donec bibendum, tellus iaculis iaculis tincidunt, diam dui convallis orci, laoreet gravida lorem elit id erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce a nisl sem. Fusce scelerisque odio mattis eros elementum dapibus. Cras ultricies eleifend scelerisque. Vestibulum vitae posuere nisi. Nunc dictum aliquam urna, ut aliquet dui ultricies vitae. Nunc hendrerit dignissim ligula a bibendum. Quisque in nibh enim. Vestibulum laoreet pellentesque orci vel mollis. Maecenas vehicula bibendum quam. Nullam ac arcu justo, id pellentesque dolor. Maecenas quis ante felis, at porta neque.

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in metus nec mauris egestas laoreet. Integer vehicula velit non massa suscipit at porta sem commodo. Donec nibh lectus, vulputate a aliquet quis, sollicitudin eget metus. Nullam quis tellus nibh. Praesent fermentum risus sit amet turpis eleifend dapibus. Duis tellus leo, tempor sit amet ultricies viverra, mollis at quam. Suspendisse hendrerit sagittis risus nec faucibus. Nam urna magna, porta vitae tincidunt sit amet, blandit eget diam. Vivamus a ornare augue. Vivamus sapien sem, facilisis vitae molestie eget, tempus ut augue. Sed suscipit facilisis mi, eu laoreet est gravida eu. Nulla et arcu quam, pellentesque adipiscing felis. Nam pretium augue sed sapien malesuada tempor. Nulla facilisi. Donec eu tempor mi. Sed congue dolor risus, et ornare massa.

Nulla sodales aliquet iaculis. Quisque ullamcorper posuere magna non imperdiet. Fusce egestas arcu sit amet orci volutpat venenatis. Proin laoreet leo quis nulla iaculis id tincidunt arcu laoreet. Cras non ante felis, at pulvinar arcu. Vivamus porta sollicitudin massa congue elementum. Proin fringilla massa vel mi ultricies et molestie justo dapibus. Mauris elit orci, euismod non sodales ac, gravida eget mauris.

Pellentesque accumsan ipsum ut elit tempus ut egestas diam molestie. Quisque in justo vitae metus volutpat consequat. Phasellus ac quam eu diam sodales congue vel at dolor. Nam scelerisque pellentesque pharetra. Curabitur nibh nisl, porta sed tristique id, convallis vitae ante. Nam volutpat nisl vitae lectus mattis tempus. Integer imperdiet bibendum ornare. In ultricies, tellus eget fermentum dapibus, massa eros adipiscing sapien, ac eleifend mi quam quis leo. Integer porttitor gravida condimentum. Nunc massa purus, iaculis sed scelerisque a, rhoncus nec mi. Nulla sollicitudin, turpis a aliquet porttitor, mauris justo pharetra lacus, sit amet tristique dolor arcu in eros. Proin nibh ligula, condimentum eu feugiat ut, sagittis condimentum orci. Etiam non ipsum ac metus fermentum laoreet.

Vivamus sed lectus ut tortor vulputate adipiscing vitae quis justo. Quisque ac pulvinar libero. Donec dui sem, venenatis laoreet eleifend quis, vestibulum in diam. In vitae eros vel risus iaculis pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis dictum nisl bibendum imperdiet. Maecenas in enim a felis pharetra faucibus vel eget leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis dapibus imperdiet diam, a lobortis tellus sodales euismod. In viverra commodo aliquet. In tempor ipsum porta magna euismod non ultrices ligula facilisis. Aliquam fermentum nulla non purus aliquet adipiscing. Vestibulum et odio id augue imperdiet tristique. Morbi felis neque, iaculis sit amet vestibulum et, ultrices at orci.

Praesent pretium, lectus eget euismod ullamcorper, lectus odio ultrices ante, in hendrerit nisi orci nec massa. Sed quis posuere est. Suspendisse potenti. Vestibulum dignissim sollicitudin odio at semper. Vestibulum vitae euismod justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus bibendum ultrices fermentum. Vestibulum lobortis pellentesque sapien, a lobortis metus blandit non. Vivamus ut placerat magna. Maecenas tincidunt turpis sit amet massa posuere faucibus.

Pellentesque malesuada libero eu nunc ornare imperdiet. Nam purus quam, fringilla quis mollis ac, malesuada quis erat. Nullam dapibus feugiat mauris, id lobortis sem cursus at. Ut sed tellus ac lacus hendrerit iaculis. Pellentesque lectus arcu, congue sit amet vehicula at, volutpat ac augue. Duis sit amet turpis eget eros accumsan venenatis vel in turpis. Quisque consequat iaculis auctor. Donec sagittis est ut lorem viverra eget tristique felis malesuada. Sed mattis tincidunt venenatis. Quisque in tellus non lectus mattis imperdiet.</div>
			    <div class="tab-pane" id="visimisi">Profile Tab.</div>
			    <div class="tab-pane" id="motto">Messages Tab.</div>
			    <div class="tab-pane" id="kontak">Settings Tab.</div>
			  </div>
			</div>
			<div class="clearfix"></div>
	    </div>
	  </section>
	</div>
</div>

{% endblock %}

{% block extratools %}
{{ block.super }}
{% endblock %}