{% extends "admin/change_list.html" %}
{% load i18n admin_urls access admin_static %}
	
	{% block extrastyle %}
		{{ block.super }}
		 <link rel="stylesheet" href="{% static 'scripts/js/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css'  %}">
	{% endblock %}

	{% block extrajs_site %}
		{{ block.super }}
		<script src="{% static 'scripts/js/vendor/daterangepicker/moment.js' %}"></script>
		<script src="{% static 'scripts/js/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
	{% endblock %}
	
	{% block extra-tools %}
	<div class="row">
		<div class="col-lg-12">
			<section class="tile">
                <div class="tile-body">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="Cari..." class="form-control">
	                        <span class="input-group-btn">
	                            <button class="btn btn-success" type="submit">
	                            	<i class="fa fa-search"></i>
	                            </button>
	                        </span>
                        </div>
                    </div>
                	<form class="form-horizontal">
		  				<div class="form-group">
					      <label class="col-sm-1 control-label text-left" style="margin-left: 20px;margin-right: -39px;">Izin</label>
					      <div class="col-sm-5">
					        <select class="form-control chosen-select mb-10">
					          <option value>Semua</option>
					        </select>
					      </div>
					    </div>
					    <div class="form-group">
					    	<label class="col-sm-2 control-label text-left" style="margin-left: 20px;margin-right: -39px;">Tanggal Diterbitkan</label>
					    	<div class="col-sm-3">
						        <div class="input-group datepicker" data-format="L">
						          <input type="text" class="form-control">
						          <span class="input-group-addon">
						            <span class="fa fa-calendar"></span>
						          </span>
						        </div>
						    </div>
						    <label class="col-sm-1 control-label text-left" style="width:4%;">s/d</label>
						    <div class="col-sm-3">
						        <div class="input-group datepicker" data-format="L">
						          <input type="text" class="form-control">
						          <span class="input-group-addon">
						            <span class="fa fa-calendar"></span>
						          </span>
						        </div>
						    </div>
					    </div>
					    <div class="form-group">
					    	<div class="col-md-12" align="right">
					    		<button type="button" class="btn btn-greensea mb-10">Filter <i class="fa fa-filter"></i></button>
					    	</div>
					    </div>
		  			</form>
                </div>
            </section>
		</div>
	</div>
	{% endblock %}

	{% block object-tools-items %}
	{% if has_add_permission %}
    	<li class="add" title="Tambah">
    		<a class="tile-add" tabindex="0" role="button" href="{% url 'admin:add_wizard_izin' %}"><i class="fa fa-plus-circle"></i></a>
    	</li>
	{% endif %}
	{% endblock %}