*.pyc
*.fuse*
files/
venv/
.idea/
.gitignore
simpdu/settings.py

accounts/migrations/
master/migrations/
kepegawaian/migrations/
izin/migrations/
perusahaan/migrations/
pembangunan/migrations/
mobile/migrations/
izin_dinkes/
.cache
.vscode