<form method="POST" name="step2" role="form" class="form-horizontal" action="{% url 'siup_identitas_perusahan_save' %}">
  {% csrf_token %}   
    <div class="row">
      <div class="col-md-12">
        <h3>Data IMB KONSTRUSI LAIN</h3>
        <hr class="style14">
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Jeis Papan Reklame</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="input01">
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Ukuran</label>
      <div class="form-group">
        <label for="input01" class="col-sm-2 control-label">Lebar</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="input01">
          </div>
        <label for="input01" class="col-sm-2 control-label">Tinggi</label>
          <div class="col-sm-2">
            <input type="text" class="form-control" id="input01">
          </div>
      </div>
    </div>
    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Lokasi Pemasangan</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" name="alamat" placeholder="Isi alamat lengkap rumah anda"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Kota/Kabupaten</label>
      <div class="col-sm-3">
        <select class="form-control chosen-select mb-10">
          <option value>-- Pilih Kota/Kabupaten --</option>
          {% if kabupaten %}
          {% for k in kabupaten %}
          <option value="{{ k.id }}">{{ k.nama_kabupaten }}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Kecamatan</label>
      <div class="col-sm-3">
        <select class="form-control chosen-select mb-10">
          <option value>-- Pilih Kecamatan --</option>
          {% if kecamatan %}
          {% for k in kecamatan %}
          <option value="{{ k.id }}">{{ k.nama_kecamatan }}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Kelurahan/Desa</label>
      <div class="col-sm-3">
        <select class="form-control chosen-select mb-10">
          <option value>-- Pilih Kelurahan/Desa --</option>
          {% if desa %}
          {% for d in desa %}
          <option value="{{ d.id }}">{{ d.nama_desa }}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label"><u><b>Batas-batas</b></u></label>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Sebelah Utara</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="input01">
      </div>
    </div>
    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Sebelah Timur</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="input01">
      </div>
    </div>
    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Sebelah Selatan</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="input01">
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Sebelah Barat</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="input01">
      </div>
    </div>
</form>