@charset "UTF-8";

.required label, label.required {
    font-weight: 600 !important;
}

.page-breadcrumb .link-effect.link-effect-21 {
    font-weight: 400;
}
.page-breadcrumb .link-effect {
    font-family: "Dosis","Arial",sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 0;
    outline: medium none;
    position: relative;
    text-decoration: none;
    text-transform: inherit;
    vertical-align: middle;
}