{% load i18n admin_static staticfiles widgets access %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<style type="text/css">
  body {
    /*background: rgb(204,204,204);*/
    background-color: #FAFAFA; 
  }
  * {
      font-family: Arial;
    }
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    padding: 60px;
    border-radius: 6px;
  }
  page[size="F4"] {  
    width: 8.27in;
    height: 12.98in; /* kalau disamakan dengan @media print @page akan masuk page baru */ 
  }
  .row::after {
    content: "";
    clear: both;
    display: block;
    /*padding-block-start: 20px;*/
    /*padding: 20px;*/
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
    /*border: 1px solid red;*/
  }
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  .skizin{
    font-size: 14px;
    padding: 5px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  th, td {
    padding: 7px;
  }
  .tdnone{
    border-left: none;
    border-right: none;
  }

  #qrcodeTable canvas{
    padding: 2px;
    border-radius: 3px;
    border: 3px solid #000;
    /*box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    width: 90px;
    height: 90px;
  }
</style>
</head>
<body>

	<page size="F4">
  	<div id="kop_surat_id" class="printhide">
  		<table>
  			<tr>
  				<td width="10%">
  					<img id="logo" src="http://{{request.META.HTTP_HOST}}{% static 'images/kabkediri.png' %}" width="120px"><p id="logo_"></p>
  				</td>
  				<td width="90%">
  					<p style="text-align: center; margin-bottom: 0; margin-top: 0;">
  						<b style="font-size: 19px;">PEMERINTAHAN KABUPATEN KEDIRI</b><br>
  						<b style="font-size: 20px;">DINAS PENANAMAN MODAL DAN PELAYANAN<br>TERPADU SATU PINTU</b>
  						<br/>
  						<span style="font-size: 14px;"><b>Jalan Soekarno - Hatta Nomor 14 Telp. 681227 & 681741 Fax. 0354 - 681227<br>Website : <u>www.kedirikab.go.id</u> Email : <u>dpmptsp@kedirikab.go.id</u></b></span><br>
  						<span style="font-size: 19px; padding-left: 220px;"><b>KEDIRI</b></span>
  						<span style="font-size: 15px; padding-left: 105px;">Kode Pos : 64182</span>
  					</p>
  				</td>
  			</tr>
  		</table>
  		<hr style="border-top: 4px double #8c8b8b;border-width: 3px;">
  	</div>
  	<div style="display: none; width: 100%;" class="printpadding">
  	</div>
  	<br>
  	<table>
  		<tr>
  			<td width="20%"></td>
  			<td width="60%">
           <center>
             <center>
                <font style="font-size: 15px;letter-spacing:  0.01cm;"><b>KEPUTUSAN KEPALA DINAS PENANAMAN MODAL DAN <br>PELAYANAN TERPADU SATU PINTU KABUPATEN KEDIRI</b></font><br><br>
                <font style="font-size: 15px;font-family: Arial;">NOMOR : </font><font style="font-size: 15.4px;font-family: Arial;">{{ pengajuan.no_izin|default_if_none:"-" }}</font><br>
              </center>
              <center>
                <font style="font-size: 15px;font-family: Arial;letter-spacing:  0.01cm;">TENTANG<br>PEMBERIAN IZIN LOKASI
                </font><br><br>
                <font style="font-size: 15px;letter-spacing:  0.01cm;">
                  KEPALA DINAS PENANAMAN MODAL DAN<br>
                  PELAYANAN TERPADU SATU PINTU,
                </font>
              </center>	
            <br>
  			</td>
  			<td width="20%">
  				<div class="qrcode" style="padding-left: 0px">
  					<div id="qrcodeTable">
  					</div>
  				</div>
  			</td>
  		</tr>
  	</table>
  	<br>
    <table width="100%" border="0" class="skizin">
      <tr>
        <td style="vertical-align: top;padding-top: 1px;width: 105px;">Menimbang</td>
        <td style="vertical-align: top;padding-top: 1px;">:</td>
        {% if sk_.sk_menimbang_a %}
        <td style="vertical-align: top;padding-top: 1px;">a.</td>
        <td>{{sk_.sk_menimbang_a}}</td>
        {% else %}
        <td></td>
        <td></td>
        {% endif %}
      </tr>
      {% if sk_.sk_menimbang_b %}
      <tr>
        <td style="vertical-align: top;padding-top: 1px;"></td>
        <td style="vertical-align: top;padding-top: 1px;"></td>
        <td style="vertical-align: top;padding-top: 1px;">b.</td>
        <td>{{sk_.sk_menimbang_b}}</td>
      </tr>
      {% endif %}
      {% if sk_.sk_menimbang_c %}
      <tr>
        <td></td>
        <td style="vertical-align: top;padding-top: 1px;"></td>
        <td style="vertical-align: top;padding-top: 1px;">c.</td>
        <td>{{sk_.sk_menimbang_c}}
        </td>
      </tr>
      {% endif %}
      {% if sk_.sk_menimbang_d %}
      <tr>
        <td></td>
        <td style="vertical-align: top;padding-top: 1px;"></td>
        <td style="vertical-align: top;padding-top: 1px;">d.</td>
        <td>{{sk_.sk_menimbang_d}}
        </td>
      </tr>
      {% endif %}
    </table>
    <br>
    <table width="100%" border="0" class="skizin">
      <tr>
        <td style="vertical-align: top;padding-top: 1px;width: 105px;">Mengingat</td>
        <td style="vertical-align: top;padding-top: 1px;">:</td>
        <td style="vertical-align: top;padding-top: 1px;">1.</td>
        <td>Undang-Undang Nomor 5 Tahun 1960 tentang Peraturan Dasar Pokok-Pokok Agraria;</td>
      </tr>
      <tr>
        <td></td>
        <td style="vertical-align: top;padding-top: 1px;"></td>
        <td style="vertical-align: top;padding-top: 1px;">2.</td>
        <td>Undang-Undang Nomor 25 Tahun 2007 tentang Penanaman Modal;</td>
      </tr>
      <tr>
        <td></td>
        <td style="vertical-align: top;padding-top: 1px;"></td>
        <td style="vertical-align: top;padding-top: 1px;">3.</td>
        <td>Undang-Undang Nomor 27 Tahun 2007 tentang Penataan Ruang;</td>
      </tr>
      <tr>
        <td></td>
        <td style="vertical-align: top;padding-top: 1px;"></td>
        <td style="vertical-align: top;padding-top: 1px;">4. </td>
        <td>Undang-Undang Nomor 12 Tahun 2011 tentang Pembentukan Peraturan Perundang-undangan;</td>
      </tr>
      <tr>
        <td></td>
        <td style="vertical-align: top;padding-top: 1px;"></td>
        <td style="vertical-align: top;padding-top: 1px;">5.</td>
        <td>Undang-Undang Nomor 23 Tahun 2014 tentang Pemerintahan Daerah;</td>
      </tr>
      <tr>
        <td></td>
        <td style="vertical-align: top;padding-top: 1px;"></td>
        <td style="vertical-align: top;padding-top: 1px;">6. </td>
        <td>Peraturan Menteri Agaria da Tata Ruang/Kepala Badan Pertahanan Nasional Nomor 5 Tahun 2015 tentang Izin Lokasi;</td>
      </tr>
      <tr>
        <td></td>
        <td style="vertical-align: top;padding-top: 1px;"></td>
        <td style="vertical-align: top;padding-top: 1px;">7.</td>
        <td>Peraturan Kepala Badan Pertahanan Nasional Nomor 2 Tahun 2011 tentang Pedoman Pertimbangan Teknis Pertahanan dalam Penerbitan Izin Lokasi, Penetapan Izin Lokasi dan Izin Perubahan Penggunaan Tanah;</td>
      </tr>
      <tr>
        <td></td>
        <td style="vertical-align: top;padding-top: 1px;"></td>
        <td style="vertical-align: top;padding-top: 1px;">8.</td>
        <td>Peraturan Daerah Kabupaten Kediri Nomor 14 Tahun 2011 tentang Tata Ruang Wilayah Kabupaten Kediri;</td>
      </tr>
      <tr>
        <td></td>
        <td style="vertical-align: top;padding-top: 1px;"></td>
        <td style="vertical-align: top;padding-top: 1px;">9.</td>
        <td>Peraturan Daerah Kabupaten Kediri Nomor 3 Tahun 2015 tentang Organisasi dan Tata Kerja Badan Penanaman Modal dan Pelayanan Perizinan Terpadu Satu Pintu (DPMPTSP);</td>
      </tr>
      <tr>
        <td></td>
        <td style="vertical-align: top;padding-top: 1px;width: 105px;"></td>
        <td style="vertical-align: top;padding-top: 1px;">10.</td>
        <td>Peraturan Bupati Kediri Nomor 1 Tahun 2017 tentang Penyelenggaraan Pelayanan Terpadu Satu Pintu pada Dinas Penanaman Modal dan Pelayanan Terpadu Satu Pintu Kabupaten Kediri;</td>
      </tr>
    </table>
    <br>
    <br>

     <center>
      <font><b>MEMUTUSKAN :</b>
      </font>
    </center>
    <table width="100%" border="0" class="skizin">
      <tr>
        <td style="vertical-align: top;padding-top: 1px;width: 105px;">Menetapkan</td>
        <td style="vertical-align: top;padding-top: 1px;">:</td>
        <td colspan="3">PEMBERIAN IZIN LOKASI UNTUK {{pengajuan.rencana_penggunaan|upper}} ATAS NAMA {% if pengajuan.perusahaan %}{{pengajuan.perusahaan|upper}}{% else %}{{pengajuan.pemohon|upper}}{% endif %} LOKASI DESA {{pengajuan.desa}} KECAMATAN {{pengajuan.desa.kecamatan}} {{pengajuan.desa.kecamatan.kabupaten}}</td>
      </tr>
      <tr>
        <td style="vertical-align: top;padding-top: 1px;width: 105px;">KESATU</td>
        <td style="vertical-align: top;padding-top: 1px;">:</td>
        <td colspan="3">Memberikan Izin Lokasi kepada {{pengajuan.pemohon}} beralamat di {{pengajuan.pemohon.desa.kecamatan.kabupaten|title}} untuk tanah seluas {{pengajuan.luas}} M&sup2; Desa {{pengajuan.desa|title}} Kecamatan {{pengajuan.desa.kecamatan|title}} {{pengajuan.desa.kecamatan.kabupaten|title}}</td>
      </tr>
      <tr>
        <td style="vertical-align: top;padding-top: 1px;width: 105px;">KEDUA</td>
        <td style="vertical-align: top;padding-top: 1px;">:</td>
        <td colspan="3">Semua persyaratan dan ketentuan serta tahapan perizinan harus dipatuhi sesuai peraturan perundangan yang berlaku</td>
      </tr>
      <tr>
        <td style="vertical-align: top;padding-top: 1px;width: 105px;">KETIGA</td>
        <td style="vertical-align: top;padding-top: 1px;">:</td>
        <td colspan="3">Hak dan Kewajiban Pemegang Izin :</td>
      </tr>
    </table>
    
  </page>

  <page size="F4">
    <table width="100%" border="0" class="skizin">
      <tr>
        <td></td>
        <td></td>
        <td style="vertical-align: top;padding-top: 1px;" align="right">1.</td>
        <td colspan="2">Perolehan tanah harus dilakukan secara langsung antara pihak-pihak yang berkepentingan melalui jual beli atau secara pelepasan hak yang dilaksanakan dengan pembuatan akta jual beli dihadapan PPAT atau akta pelepasan hak dihadapan Kepala Kantor Pertanahan Kabupaten Kediri atau notaries dan/atau camat setempat dengan pemberian ganti kerugian yang bentuk dan besarnya secara musyawarah;</td>
      </tr>
      <tr>
        <td ></td>
        <td ></td>
        <td width="10" style="vertical-align: top;padding-top: 1px;">2.</td>
        <td colspan="3">Perolehan tanah harus diselesaikan dalam jangka waktu 3 (tiga) tahun dan dapat diperpanjang 1 (satu) kali, 1 (satu) tahun serta dilaporkan perkembanganya secara periodik setiap 3 (tiga) bulan sekali oleh penerima Izin Lokasi kepada Kepada Kantor Pertanahan Kabupaten Kediri dengan tembusan Kepala Kantor Wilayah Badan Pertanahan Nasional Provinsi Jawa Timur;</td>
      </tr>
      <tr>
        <td ></td>
        <td ></td>
        <td width="10" style="vertical-align: top;padding-top: 1px;">3.</td>
        <td colspan="3">Sebelum tanah yang bersangkutan dibebaskan oleh Pemegang Izin Lokasi, maka semua hak atau kepentingan pihak lain yang sudah ada atas tanah yang bersangkutan tidak berkurang atau tetap diakui haknya, termasuk kewenangan yang menurut hukum dipunyai oleh pemegang hak atas tanah untuk memperoleh tanda bukti hak (sertipikat) dan kewenangan untuk menggunakan dan memanfaatkan tanahnya bagi keperluan pribadi atau usahanya sesuai Rencana Tata Ruang yang berlaku serta kewenangan untuk mengalihkannya kepada pihak lain;</td>
      </tr>
      <tr>
        <td ></td>
        <td ></td>
        <td width="10" style="vertical-align: top;padding-top: 1px;">4.</td>
        <td colspan="3">Untuk tanah yang sudah diperoleh,penerimaan Izin Lokasi diwajibkan mengajukan permohonan hak atas tanah untuk diterbitkan sertifikat tanah sesuai dengan peruntukan dan seterusnya;</td>
      </tr>
      <tr>
        <td ></td>
        <td ></td>
        <td width="10" style="vertical-align: top;padding-top: 1px;">5.</td>
        <td colspan="3">Pemegang Izin Lokasi wajib menghormati kepentingan pihak-pihak lain atas tanah yang belum dibebaskan, tidak menutup atau mengurangi aksesbilitas yang dimiliki oleh masyarakat di sekitar lokasi dan menjaga serta melindungi kepentingan umum ;</td>
      </tr>
      <tr>
        <td ></td>
        <td ></td>
        <td width="10" style="vertical-align: top;padding-top: 1px;">6.</td>
        <td colspan="3">Pemegang Izin Lokasi hanya dapat memperoleh tanah sesuai dengan peta Izin Lokasi ;</td>
      </tr>
      <tr>
        <td ></td>
        <td ></td>
        <td width="10" style="vertical-align: top;padding-top: 1px;">7.</td>
        <td colspan="3">Pemegang Izin Lokasi yang memperoleh tanah diluar lokasi yang ditetapkan dalam Izin Lokasi, maka perolehan hak atas tanahnya tidak dapat diproses ;</td>
      </tr>
      <tr>
        <td ></td>
        <td ></td>
        <td width="10" style="vertical-align: top;padding-top: 1px;">8.</td>
        <td colspan="3">Bahwa apabila ada perubahan penggunaan tanah selain untuk usaha Perumahan maka harus mendapat persetujuan dari Bupati Kediri.</td>
      </tr>
      <tr>
        <td width="10" style="vertical-align: top;padding-top: 2px;width: 105px;">KEEMPAT</td>
        <td style="vertical-align: top;padding-top: 1px;">:</td>
        <!-- <td style="vertical-align: top;padding-top: 2px;width: 20px;"></td> -->
        <td  colspan="3" width="2000">Izin Lokasi ini bukan merupakan pemberian hak atas tanah dan diberikan untuk mengurus perizinan selanjutnya pada instansi yang berwenang ;</td>
      </tr>
      <tr>
        <td width="10" style="vertical-align: top;padding-top: 2px;width: 105px;">KELIMA</td>
        <td style="vertical-align: top;padding-top: 1px;">:</td>
        <!-- <td style="vertical-align: top;padding-top: 2px;width: 20px;"></td> -->
        <td  colspan="3" width="2000">Apabila dikemudian hari ada penetapan/keputusan yang bersifat tetap dan mengikat terhadap penggunaan tanah lainnya yang berada di dalam areal Izin Lokasi {% if pengajuan.perusahaan %}{{pengajuan.perusahaan|title}}{% else %}{{pengajuan.pemohon|title}}{% endif %} maka keputusan pemberian Izin Lokasi ini akan ditinjau kembali ;</td>
      </tr>
      <tr>
        <td width="10" style="vertical-align: top;padding-top: 2px;width: 105px;">KELIMA</td>
        <td style="vertical-align: top;padding-top: 1px;">:</td>
        <!-- <td style="vertical-align: top;padding-top: 2px;width: 20px;"></td> -->
        <td  colspan="3" width="2000">Keputusan ini berlaku selama 3 (tiga) tahun sejak tanggal ditetapkan dengan ketentuan apabila dikemudian hari terdapat kekeliruan dalam penetapannya, akan dirubah dan diperbaiki sebagaimana mestinya. </td>
      </tr>
    </table>
    <br>
    <br>
    {% if salinan == 'True' %}
      <table width="100%" border="0" class="font">
        <tr>
          <td colspan="3" style="width: 900px;">
            <table border="0" align="left">
            <tr>
              <td>
              <br><br>
                <div id="qrcodeTable" style="float: left; padding-left: : 7mm;"></div>
              </td>
            </tr>
          </table>
          </td>
          <td width="30%" rowspan="2" style="vertical-align: top;padding-top: 50px;">
            <p style="font-size:14px; padding-left: 10%;">
                    <font size="3pt">Ditetapkan di Kediri <br> 
            pada tanggal</font><br></p>
                    <p style="font-size:15px;" align="center">KEPALA DPMPTSP <br>ttd.</p>
                    <p align="center" style="font-size:15px;margin-top: -17px;">{{ nama_kepala_dinas }}
                    </p>
            </td>
        </tr>
        <tr>
          <td><br><br><br><br>
            <table border="0" align="left" style="font-size:15px;">
              <tr>
                <td colspan="3">Salinan keputusan ini disampaikan kepada :</td><br>
              </tr>
              <tr>
                <td style="vertical-align: top;padding-top: 1px;">Yth. </td>
                <td style="vertical-align: top;padding-top: 1px;">1.</td>
                <td width="100%">Sdr. Kepala Dinas PUPR Kabupaten Kediri ;</td>
              </tr>   
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;">2.</td>
                <td>Sdr. Kepala Dinas Perumahan dan Kaw. Permukiman Kabupaten Kediri;</td>
              </tr>   
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;">3.</td>
                <td>Sdr. Ka. Kantor Pertanahan Kabupaten Kediri;</td>
              </tr>    
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;">4.</td>
                <td>Sdr. Dir. {% if pengajuan.perusahaan %} {{ pengajuan.perusahaan }} {% else %} {{ pengajuan.pemohon }} {% endif %}
                  <!-- {{pengajuan.pemohon.alamat}} Desa, {{ pengajuan.pemohon.desa|title }} Kec. {{ pengajuan.pemohon.desa.kecamatan|title }} {{ pengajuan.pemohon.desa.kecamatan.kabupaten|title }} -->
                </td>
              </tr>   
            </table>      
          </td>
        </tr>
      </table>
      <hr>
      <table align="center">
        <tr>
          <td style="width:400px;">
            <p style="font-size:14px; padding-left: 10%;" align="center"><font size="3pt">Disalin sesuai dengan aslinya <br> yang mengambil salinan<br>KEPALA DPMPTSP</font><br></p>
            <p align="center" style="font-size:15px;margin-top: 50px;"><b><u> {{gelar_depan}} {{ nama_kepala_dinas }}</u></b><br><font size="3pt">Pembina Tk.l<br>
                    NIP: {{nip_kepala_dinas}}</font></p>
          </td>
        </tr>               
      </table>
    {% else %}
      <table width="100%" border="0" class="font">
        <tr>
          <td colspan="3" style="width: 1000px;">
            <table border="0" align="left">
              <tr>
                <td>
                <br><br>
                  <div id="qrcodeTable" style="float: left; padding-left: : 7mm;"></div>
                </td>
              </tr>
            </table>
          </td>
          <td width="45%" rowspan="2" style="vertical-align: top;padding-top: 50px;">
            <p style="font-size:14px; padding-left: 20%;">
              <font size="3pt">Ditetapkan di Kab. Kediri<br> pada tanggal</font><br></p>
                <p style="font-size:15px;" align="center"> <font size="2pt">KEPALA DPMPTSP </font></p><br>
                <br>
                <br>
                <br>
                <br>
                <p align="center" style="font-size:15px;">{{ nama_kepala_dinas }}
                <!-- Pembina Tk.l<br>
                NIP: {{nip_kepala_dinas}} -->
                </p>
            </td>
        </tr>
        <tr>
          <td><br><br><br><br>
            <table border="0" align="left" style="font-size:15px;">
              <tr>
                <td colspan="3">Salinan keputusan ini disampaikan kepada :</td><br>
              </tr>
              <tr>
                <td style="vertical-align: top;padding-top: 1px;">Yth. </td>
                <td style="vertical-align: top;padding-top: 1px;">1.</td>
                <td width="100%">Sdr. Kepala Dinas PUPR Kabupaten Kediri ;</td>
              </tr>   
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;">2.</td>
                <td>Sdr. Kepala Dinas Perumahan dan Kaw. Permukiman Kabupaten Kediri;</td>
              </tr>   
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;">3.</td>
                <td>Sdr. Ka. Kantor Pertanahan Kabupaten Kediri;</td>
              </tr>    
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;">4.</td>
                <td>Sdr. Dir. {% if pengajuan.perusahaan %} {{ pengajuan.perusahaan }} {% else %} {{ pengajuan.pemohon }} {% endif %}
                  <!-- {{pengajuan.pemohon.alamat}} Desa, {{ pengajuan.pemohon.desa|title }} Kec. {{ pengajuan.pemohon.desa.kecamatan|title }} {{ pengajuan.pemohon.desa.kecamatan.kabupaten|title }} -->
                </td>
              </tr>   
            </table>         
          </td>
        </tr>
      </table>
      <hr>
    {% endif %}
  </page>
<script src="http://{{request.META.HTTP_HOST}}{% static 'scripts/js/vendor/jquery/jquery-1.11.2.min.js' %}"></script>
<script src="http://{{request.META.HTTP_HOST}}{% static 'scripts/js/QRCode/jquery-qrcode-0.14.0.js' %}"></script>
<script type="text/javascript">
	function Exit() {
	    var x=confirm('Are You sure want to exit:');
	    if(x) window.close();
    }
    $('#qrcodeTable').qrcode({
    	// render method: 'canvas', 'image' or 'div'
    	render: 'canvas',
		
		// qrsize: 1,
		// version range somewhere in 1 .. 40

		// width 	: 110,
		// height 	: 110,

	    minVersion: 1,
	    maxVersion: 40,;

	    // error correction level: 'L', 'M', 'Q' or 'H'
	    ecLevel: 'Q',
	    // offset in pixel if drawn onto existing canvas
	    left: 0,
	    top: 0,
	    // size in pixel
	    size: 500,

	    // code color or image element
	    fill: '#000',

	    // background color or image element, null for transparent background
		// background: '#707aec',
		// background : logo,
		// mSize: 0.4,

		text	: "http://simpatik.kedirikab.go.id/cek-izin-terdaftar/{{ pengajuan.no_izin }}",

		radius: 0.5,

		// quiet zone in modules
		quiet: 0,

		// modes
	    // 0: normal
	    // 1: label strip
	    // 2: label box
	    // 3: image strip
	    // 4: image box
	    mode: 0,

	    mSize: 0.2,
	    mPosX: 0.5,
	    mPosY: 0.5,

		label: 'no label',
		fontname: 'sans',
		fontcolor: '#000',

		// image: logo,
	});
</script>
</body>
</html>