{% load i18n admin_static staticfiles widgets %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    
    hr.style14 { 
      border: 0; 
      height: 1px; 
      background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
    }
    * {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
    body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      background-color: #FAFAFA;
      font: 12pt "Open Sans";
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
    * {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
    }
    .page {
      width: 21.5cm;
      min-height: 33cm;
      /*padding: 5mm;*/
      margin: 5mm auto;
      border: 1px #D3D3D3 solid;
      border-radius: 5px;
      background: white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .subpage {
      /*padding: 5px 24px 24px 84px;*/
      /*border: 5px red solid;*/
      padding-top: 1.4cm;
      padding-left: 2.6cm;
      padding-right: 1.9cm;
      height: 257mm;
      line-height: 0.55cm;
      font-family:"Arial";
      /*outline: 2cm #FFEAEA solid;*/
    }
    @-moz-document url-prefix() {
      .subpage {
        height:  340mm;
      }
    }   
    @page {
      size: F4;
      margin: 0;
    }
    @media print {
      html, body {
        width: 21.5cm;
        height: 33cm;  
        font-family:"Arial";      
      }
      .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
      }
    }

      /*.title, .tabel{
      border-bottom: 1px solid #7d7d7d;
      }
      .title h3{
        margin-top: 0px;
      }
      .tabel{
        padding-top: 0px;
        padding-bottom: 10px;
      }

      table {
          border-collapse: collapse;
        }*/

        .ceklist {
          border: 1px solid black;
        }
        .font {
          font-size: 11px;
          font-family: "Open Sans", Helvetica, Arial, sans-serif;
        }
        #print-modal {
          margin: 0 0 0 -393px;
        }
        .style2 {
          border-top: 3px double #8c8b8b;
        }
        .button {
          background-color: #4CAF50; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          border-radius: 8px;
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
        .button-close {
          background-color: #f32818; /* Green */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
          border-radius: 8px;
          box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
        .sk-justify {
          text-align: justify;
          text-justify: inter-word;
        }
        @media print {
          .hidden-print {
            display: none !important;
          }
        }
        #qrcodeTable canvas{
          padding: 2px;
          border-radius: 3px;
          border: 3px solid #000;
          /*box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
          width: 90px;
          height: 90px;
        }

/*    th, td {
        padding: 5px;
    }*/
  </style>
  {% if pengajuan.status == 1 or skizin_status == 2 or skizin_status == 1 %}
  <script type="text/javascript">
    
  </script>
  {% else %}
  <script>
    document.querySelector('style').textContent += "@media print { body { display: none !important; } }"
  </script>
  {% endif %}
</head>
  <body id="body">
  {% if pengajuan.status == 1 or skizin_status == 2 or skizin_status == 1 %}
    <div style="padding: 240px 0 0 30px; height: 140px; width: 150px;position:fixed;left:0;top:0">
      <a class="button hidden-print" onclick="window.print()" href="#" style="margin-bottom: 10px;">
        <img src="{% static 'images/icon-print.png' %}">
      </a>
      <br>
      <a class="button-close hidden-print" href="javascript:if(confirm('Close window?'))window.close()" onclick="setTimeout(function(){var ww = window.open(window.location, '_self'); ww.close(); }, 1000);">
        <img src="{% static 'images/icon-close.png' %}">
      </a>
    </div>
  {% endif %}
    <div class="book">
        <div class="page">
            <div class="subpage">
              <table width="100%" class="sk-justify" style="margin-top: -16px; margin-bottom: -18px;" border="0">
                <tr>
                  <td style="vertical-align: top;padding-top: 1px;"><img src="{% static 'images/kabkediri.png' %}" width="85px"></td>
                  <td>
                    <center>
                  <p style="text-align: center; margin-bottom: 10px; margin-top: 0;letter-spacing:  0.01cm;">
                    <b style="font-size: 19px;">PEMERINTAHAN KABUPATEN KEDIRI</b><br>
                    <b style="font-size: 20px;">DINAS PENANAMAN MODAL DAN PELAYANAN<br>TERPADU SATU PINTU</b>
                    <br/>
                    <span style="font-size: 14px;"><b>Jalan Soekarno - Hatta Nomor 14 Telp. 681227 & 681741 Fax. 0354 - 681227<br>Website : <u>www.kedirikab.go.id</u> Email : <u>dpmptsp@kedirikab.go.id</u></b></span><br>
                    <span style="font-size: 19px; padding-left: 220px;"><b>KEDIRI</b></span>
                    <span style="font-size: 15px; padding-left: 105px;">Kode Pos : 64182</span>
                  </p>
                    </center>
                  </td>
                </tr>
              </table>
              <hr class="style2">
              {% if salinan == 'True' %}
              <div align="right" style="margin-top: -7px;">
                <font style="font-size: 15px;letter-spacing:  0.01cm;"><b>SALINAN<br></b></font>
              </div>
              {% else %}
              {% endif %}
              <center>
                <font style="font-size: 15px;letter-spacing:  0.01cm;"><b>KEPUTUSAN KEPALA DINAS PENANAMAN MODAL DAN <br>
            PELAYANAN TERPADU SATU PINTU KABUPATEN KEDIRI</b></font><br><br>
                <font style="font-size: 15px;font-family: Arial;">NOMOR : </font><font style="font-size: 15.4px;font-family: Arial;">{{ pengajuan.no_izin|default_if_none:"-" }}</font><br>
              </center>
              <center>
                <font style="font-size: 15px;font-family: Arial;letter-spacing:  0.01cm;">TENTANG<br>
              PEMBERIAN IZIN LOKASI
                </font><br><br>
                <font style="font-size: 15px;letter-spacing:  0.01cm;">
                  KEPALA DINAS PENANAMAN MODAL DAN<br>
                  PELAYANAN TERPADU SATU PINTU,
                </font>
              </center><br>
              <table width="100%" border="0" class="sk-justify">
                <tr>
                  <td style="vertical-align: top;padding-top: 1px;width: 105px;">Menimbang</td>
                  <td style="vertical-align: top;padding-top: 1px;">:</td>
                  {% if sk_.sk_menimbang_a %}
                  <td style="vertical-align: top;padding-top: 1px;">a.</td>
                  <td>{{sk_.sk_menimbang_a}}</td>
                  {% else %}
                  <td></td>
                  <td></td>
                  {% endif %}
                </tr>
                {% if sk_.sk_menimbang_b %}
                <tr>
                  <td style="vertical-align: top;padding-top: 1px;"></td>
                  <td style="vertical-align: top;padding-top: 1px;"></td>
                  <td style="vertical-align: top;padding-top: 1px;">b.</td>
                  <td>{{sk_.sk_menimbang_b}}</td>
                </tr>
                {% endif %}
                <tr>
                  <td></td>
                  <td style="vertical-align: top;padding-top: 1px;"></td>
                  <td style="vertical-align: top;padding-top: 1px;">c.</td>
                  <td>bahwa risalah Pertimbangan Teknis Pertanahan Dalam Penerbitan Izin Perubahan Penggunaan Tanah Nomor : {{no_ptp_list}};
                  </td>
                </tr>
                {% if sk_.sk_menimbang_d %}
                <tr>
                  <td></td>
                  <td style="vertical-align: top;padding-top: 1px;"></td>
                  <td style="vertical-align: top;padding-top: 1px;">d.</td>
                  <td>{{sk_.sk_menimbang_d}}
                  </td>
                </tr>
                {% endif %}
              </table><br>
              <table width="100%" border="0" class="sk-justify">
              <tr>
                <td style="vertical-align: top;padding-top: 1px;width: 105px;">Mengingat</td>
                <td style="vertical-align: top;padding-top: 1px;">:</td>
                <td style="vertical-align: top;padding-top: 1px;">1.</td>
                <td>Undang-Undang Nomor 5 Tahun 1960 tentang Peraturan Dasar Pokok-Pokok Agraria;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">2.</td>
                <td>Undang-Undang nomor 4 Tahun 1992 tentang Perumahan dan Pemukiman;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">3.</td>
                <td>Undang-Undang Nomor 26 Tahun 2007 tentang Penataan Ruang;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">4. </td>
                <td>Undang-Undang Nomor 12 Tahun 2011 tentang Pembentukan Peraturan Perundang-undangan;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">5.</td>
                <td>Undang-Undang Nomor 23 Tahun 2014 tentang Pemerintahan Daerah;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">6. </td>
                <td>Peraturan Menteri Agaria da Tata Ruang/Kepala Badan Pertahanan Nasional Nomor 5 Tahun 2015 tentang Izin Lokasi;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">7.</td>
                <td>Peraturan Kepala Badan Pertahanan Nasional Nomor 2 Tahun 2011 tentang Pedoman Pertimbangan Teknis Pertahanan dalam Penerbitan Izin Lokasi, Penetapan Izin Lokasi dan Izin Perubahan Penggunaan Tanah;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">8.</td>
                <td>Peraturan Daerah Kabupaten Kediri Nomor 14 Tahun 2011 tentang Tata Ruang Wilayah Kabupaten Kediri;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">9.</td>
                <td>Peraturan Daerah Kabupaten Kediri Nomor 3 Tahun 2015 tentang Organisasi dan Tata Kerja Badan Penanaman Modal dan Pelayanan Perizinan Terpadu Satu Pintu (DPMPTSP);</td>
              </tr>
            </table>
            </div>
        </div>
      <div class="page">
        <div class="subpage">
              <table width="100%" border="0" class="sk-justify">
                    <tr>
                      <td></td>
                      <td style="vertical-align: top;padding-top: 1px;width: 105px;"></td>
                      <td style="vertical-align: top;padding-top: 1px;">10.</td>
                      <td>Peraturan Bupati Kediri Nomor 1 Tahun 2017 tentang Penyelenggaraan Pelayanan Terpadu Satu Pintu pada Dinas Penanaman Modal dan Pelayanan Terpadu Satu Pintu Kabupaten Kediri;</td>
                    </tr>
              </table><br>
              <center>
                <font><b>MEMUTUSKAN :</b>
                </font>
              </center>
              <table width="100%" border="0" class="sk-justify">
                <tr>
                  <td style="vertical-align: top;padding-top: 1px;width: 105px;">Menetapkan</td>
                  <td style="vertical-align: top;padding-top: 1px;">:</td>
                  <td colspan="3">PEMBERIAN IZIN LOKASI UNTUK {{pengajuan.rencana_penggunaan|upper}} ATAS NAMA {% if pengajuan.perusahaan %}{{pengajuan.perusahaan|upper}}{% else %}{{pengajuan.pemohon|upper}}{% endif %} LOKASI DESA {{pengajuan.desa}} KECAMATAN {{pengajuan.desa.kecamatan}} {{pengajuan.desa.kecamatan.kabupaten}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: top;padding-top: 1px;width: 105px;">KESATU</td>
                  <td style="vertical-align: top;padding-top: 1px;">:</td>
                  <td colspan="3">Memberikan Izin Lokasi kepada {{pengajuan.pemohon}} beralamat di {{pengajuan.pemohon.desa.kecamatan.kabupaten|title}} untuk tanah seluas {{pengajuan.luas}} M&sup2; Desa {{pengajuan.desa|title}} Kecamatan {{pengajuan.desa.kecamatan|title}} {{pengajuan.desa.kecamatan.kabupaten|title}}</td>
                </tr>
                <tr>
                  <td style="vertical-align: top;padding-top: 1px;width: 105px;">KEDUA</td>
                  <td style="vertical-align: top;padding-top: 1px;">:</td>
                  <td colspan="3">Semua persyaratan dan ketentuan serta tahapan perizinan harus dipatuhi sesuai peraturan perundangan yang berlaku</td>
                </tr>
                <tr>
                  <td style="vertical-align: top;padding-top: 1px;width: 105px;">KETIGA</td>
                  <td style="vertical-align: top;padding-top: 1px;">:</td>
                  <td colspan="3">Hak dan Kewajiban Pemegang Izin :</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td style="vertical-align: top;padding-top: 1px;" align="right">1.</td>
                  <td colspan="2">Perolehan tanah harus dilakukan secara langsung antara pihak-pihak yang berkepentingan melalui jual beli atau secara pelepasan hak yang dilaksanakan dengan pembuatan akta jual beli dihadapan PPAT atau akta pelepasan hak dihadapan Kepala Kantor Pertanahan Kabupaten Kediri atau notaries dan/atau camat setempat dengan pemberian ganti kerugian yang bentuk dan besarnya secara musyawarah;</td>
                </tr>
                <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">2.</td>
                  <td colspan="3">Perolehan tanah harus diselesaikan dalam jangka waktu 3 (tiga) tahun dan dapat diperpanjang 1 (satu) kali, 1 (satu) tahun serta dilaporkan perkembanganya secara periodik setiap 3 (tiga) bulan sekali oleh penerima Izin Lokasi kepada Kepada Kantor Pertanahan Kabupaten Kediri dengan tembusan Kepala Kantor Wilayah Badan Pertanahan Nasional Provinsi Jawa Timur;</td>
                </tr>
                <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">3.</td>
                  <td colspan="3">Sebelum tanah yang bersangkutan dibebaskan oleh Pemegang Izin Lokasi, maka semua hak atau kepentingan pihak lain yang sudah ada atas tanah yang bersangkutan tidak berkurang atau tetap diakui haknya, termasuk kewenangan yang menurut hukum dipunyai oleh pemegang hak atas tanah untuk memperoleh tanda bukti hak (sertipikat) dan kewenangan untuk menggunakan dan memanfaatkan tanahnya bagi keperluan pribadi atau usahanya sesuai Rencana Tata Ruang yang berlaku serta kewenangan untuk mengalihkannya kepada pihak lain;</td>
                </tr>
                <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">4.</td>
                  <td colspan="3">Untuk tanah yang sudah diperoleh,penerimaan Izin Lokasi diwajibkan mengajukan permohonan hak atas tanah untuk diterbitkan sertifikat tanah sesuai dengan peruntukan dan seterusnya;</td>
                </tr>
                <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">5.</td>
                  <td colspan="3">Pemegang Izin Lokasi wajib menghormati kepentingan pihak-pihak lain atas tanah yang belum dibebaskan, tidak menutup atau mengurangi aksesbilitas yang dimiliki oleh masyarakat di sekitar lokasi dan menjaga serta melindungi kepentingan umum ;</td>
                </tr>
                <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">6.</td>
                  <td colspan="3">Pemegang Izin Lokasi hanya dapat memperoleh tanah sesuai dengan peta Izin Lokasi ;</td>
                </tr>
                <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">7.</td>
                  <td colspan="3">Pemegang Izin Lokasi yang memperoleh tanah diluar lokasi yang ditetapkan dalam Izin Lokasi, maka perolehan hak atas tanahnya tidak dapat diproses ;</td>
                </tr>
                <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">8.</td>
                  <td colspan="3">Bahwa apabila ada perubahan penggunaan tanah selain untuk usaha Perumahan maka harus mendapat persetujuan dari Bupati Kediri.</td>
                </tr>
              </table>
            </div>
        </div>
      <div class="page">
        <div class="subpage">
            <table width="100%" border="0" class="sk-justify">
              <tr>
                <td width="10" style="vertical-align: top;padding-top: 2px;width: 105px;">KEEMPAT</td>
                <td style="vertical-align: top;padding-top: 1px;">:</td>
                <!-- <td style="vertical-align: top;padding-top: 2px;width: 20px;"></td> -->
                <td  colspan="3" width="2000">Izin Lokasi ini bukan merupakan pemberian hak atas tanah dan diberikan untuk mengurus perizinan selanjutnya pada instansi yang berwenang ;</td>
              </tr>
              <tr>
                <td width="10" style="vertical-align: top;padding-top: 2px;width: 105px;">KELIMA</td>
                <td style="vertical-align: top;padding-top: 1px;">:</td>
                <!-- <td style="vertical-align: top;padding-top: 2px;width: 20px;"></td> -->
                <td  colspan="3" width="2000">Apabila dikemudian hari ada penetapan/keputusan yang bersifat tetap dan mengikat terhadap penggunaan tanah lainnya yang berada di dalam areal Izin Lokasi {% if pengajuan.perusahaan %}{{pengajuan.perusahaan|title}}{% else %}{{pengajuan.pemohon|title}}{% endif %} maka keputusan pemberian Izin Lokasi ini akan ditinjau kembali ;</td>
              </tr>
              <tr>
                <td width="10" style="vertical-align: top;padding-top: 2px;width: 105px;">KELIMA</td>
                <td style="vertical-align: top;padding-top: 1px;">:</td>
                <!-- <td style="vertical-align: top;padding-top: 2px;width: 20px;"></td> -->
                <td  colspan="3" width="2000">Keputusan ini berlaku selama 3 (tiga) tahun sejak tanggal ditetapkan dengan ketentuan apabila dikemudian hari terdapat kekeliruan dalam penetapannya, akan dirubah dan diperbaiki sebagaimana mestinya. </td>
              </tr>
            </table>
            {% if salinan == 'True' %}
                <table width="100%" border="0" class="font">
                  <tr>
                    <td colspan="3" style="width: 900px;">
                      <table border="0" align="left">
                      <tr>
                        <td>
                        <br><br>
                          <div id="qrcodeTable" style="float: left; padding-left: : 7mm;"></div>
                        </td>
                      </tr>
                    </table>
                    </td>
                    <td width="30%" rowspan="2" style="vertical-align: top;padding-top: 50px;">
                      <p style="font-size:14px; padding-left: 10%;">
                              <font size="3pt">Ditetapkan di Kediri <br> 
                      pada tanggal</font><br></p>
                              <p style="font-size:15px;" align="center">KEPALA DPMPTSP <br>ttd.</p>
                              <p align="center" style="font-size:15px;margin-top: -17px;">{{ nama_kepala_dinas }}
                              </p>
                      </td>
                  </tr>
                  <tr>
                <td><br><br><br><br>
                    <table border="0" align="left" style="font-size:15px;">
                      <tr>
                        <td colspan="3">Salinan keputusan ini disampaikan kepada :</td><br>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;padding-top: 1px;">Yth. </td>
                        <td style="vertical-align: top;padding-top: 1px;">1.</td>
                        <td width="100%">Sdr. Kepala Dinas PUPR Kabupaten Kediri ;</td>
                      </tr>   
                      <tr>
                        <td></td>
                        <td style="vertical-align: top;padding-top: 1px;">2.</td>
                        <td>Sdr. Kepala Dinas Perumahan dan Kaw. Permukiman Kabupaten Kediri;</td>
                      </tr>   
                      <tr>
                        <td></td>
                        <td style="vertical-align: top;padding-top: 1px;">3.</td>
                        <td>Sdr. Ka. Kantor Pertanahan Kabupaten Kediri;</td>
                      </tr>    
                      <tr>
                        <td></td>
                        <td style="vertical-align: top;padding-top: 1px;">4.</td>
                        <td>Sdr. Dir. {% if pengajuan.perusahaan %} {{ pengajuan.perusahaan }} {% else %} {{ pengajuan.pemohon }} {% endif %}
                          <!-- {{pengajuan.pemohon.alamat}} Desa, {{ pengajuan.pemohon.desa|title }} Kec. {{ pengajuan.pemohon.desa.kecamatan|title }} {{ pengajuan.pemohon.desa.kecamatan.kabupaten|title }} -->
                        </td>
                      </tr>   
                    </table>          
                </td>
                  </tr>
                </table>
                <hr>
                <table align="center">
                  <tr>
                    <td style="width:400px;">
                      <p style="font-size:14px; padding-left: 9%;" align="center">
                            <font size="3pt">Disalin sesuai dengan aslinya <br> 
                    yang mengambil salinan<br>KEPALA DPMPTSP</font><br></p>
                            <p align="center" style="font-size:15px;margin-top: 50px;padding-left: 8%;"><b><u> {{gelar_depan}} {{ nama_kepala_dinas }}</u></b><br>
                    <font size="3pt">Pembina Tk.l<br>
                              NIP: {{nip_kepala_dinas}}</font>
                          </p>
                      </td>
                  </tr>               
                </table>
            {% else %}
              <table width="100%" border="0" class="font">
                <tr>
                  <td colspan="3" style="width: 1000px;">
                    <table border="0" align="left">
                      <tr>
                        <td>
                        <br><br>
                          <div id="qrcodeTable" style="float: left; padding-left: : 7mm;"></div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width="45%" rowspan="2" style="vertical-align: top;padding-top: 50px;">
                      <p style="font-size:14px; padding-left: 10%;">
                              <font size="3pt">Ditetapkan di Kediri <br> 
                      pada tanggal</font><br></p>
                              <p style="font-size:15px;" align="center">KEPALA DPMPTSP <br>KABUPATEN KEDIRI</p><br>
                              <br>
                              <p align="center" style="font-size:15px;">{{ nama_kepala_dinas }}<br>
                  <!--  Pembina Tk.l<br>
                              NIP: {{nip_kepala_dinas}} -->
                              </p>
                    </td>
                </tr>
                <tr>
                  <td><br><br><br><br>
                    <table border="0" align="left" style="font-size:15px;">
                      <tr>
                        <td colspan="3">Salinan keputusan ini disampaikan kepada :</td><br>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;padding-top: 1px;">Yth. </td>
                        <td style="vertical-align: top;padding-top: 1px;">1.</td>
                        <td width="100%">Sdr. Kepala Dinas PUPR Kabupaten Kediri ;</td>
                      </tr>   
                      <tr>
                        <td></td>
                        <td style="vertical-align: top;padding-top: 1px;">2.</td>
                        <td>Sdr. Kepala Dinas Perumahan dan Kaw. Permukiman Kabupaten Kediri;</td>
                      </tr>   
                      <tr>
                        <td></td>
                        <td style="vertical-align: top;padding-top: 1px;">3.</td>
                        <td>Sdr. Ka. Kantor Pertanahan Kabupaten Kediri;</td>
                      </tr>    
                      <tr>
                        <td></td>
                        <td style="vertical-align: top;padding-top: 1px;">4.</td>
                        <td>Sdr. Dir. {% if pengajuan.perusahaan %} {{ pengajuan.perusahaan }} {% else %} {{ pengajuan.pemohon }} {% endif %}
                          <!-- {{pengajuan.pemohon.alamat}} Desa, {{ pengajuan.pemohon.desa|title }} Kec. {{ pengajuan.pemohon.desa.kecamatan|title }} {{ pengajuan.pemohon.desa.kecamatan.kabupaten|title }} -->
                        </td>
                      </tr>   
                    </table>         
                  </td>
                </tr>
              </table>
              <hr>
            {% endif %}
            </div>
          </div>
        </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="{% static 'scripts/js/vendor/jquery/jquery-1.11.2.min.js' %}"><\/script>')</script>
    <script src="{% static 'scripts/js/QRCode/jquery.qrcode.js' %}"></script>
    <script src="{% static 'scripts/js/QRCode/qrcode.js' %}"></script>
    <script type="text/javascript">
      function Exit() {
          var x=confirm('Are You sure want to exit:');
          if(x) window.close();
        }
        jQuery('#qrcodeTable').qrcode({
        text  : "http://simpatik.kedirikab.go.id/cek-izin-terdaftar/{{ pengajuan.no_izin }}",
        size: 500,

      }); 
    </script>
  </body>
</html>