<form method="POST" name="step5" role="form">
  {% csrf_token %}
  <h3>KONFIRMASI DATA</h3>
  <hr class="style14">
  <table width="100%" border="0">
    <tr>
      <td width="25%">Jenis Pengajuan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='jenis_permohonan_konfirmasi'>{{ jenis_permohonan_konfirmasi }}</span></td>
    </tr>
  </table>
  <br>
  <h4><u>#1. IDENTITAS PEMOHON</u></h4>
  <table width="100%" border="0">
    <tr>
      <td width="25%">Jenis Pemohon</td>
      <td width="5%">:</td>
      <td width="70%"><span id='jenis_pemohon_konfirmasi'>{{ pemohon_konfirmasi.pemohon.jenis_pemohon }}</span></td>
    </tr>
    <tr>
      <td width="25%">Nomor KTP/Paspor</td>
      <td width="5%">:</td>
      <td width="70%"><span id='nomor_ktp_konfirmasi'>{{ ktp }}{% if paspor %} / {{ paspor }}{% endif %}</span></td>
    </tr>
    <tr>
      <td width="25%">Nama</td>
      <td width="5%">:</td>
      <td width="70%"><span id='nama_lengkap_konfirmasi'>{{ pemohon_konfirmasi.nama_lengkap }}</span></td>
    </tr>
    <tr>
      <td width="25%">Alamat tempat tinggal</td>
      <td width="5%">:</td>
      <td width="70%"><span id='alamat_konfirmasi'>{{ alamat_pemohon_konfirmasi }}</span></td>
    </tr>
    <tr>
      <td width="25%">No.Telp</td>
      <td width="5%">:</td>
      <td width="70%"><span id='telephone_konfirmasi'>{{ pemohon_konfirmasi.telephone }}</span></td>
    </tr>
    <tr>
      <td width="25%">No.HP</td>
      <td width="5%">:</td>
      <td width="70%"><span id='hp_konfirmasi'>{{ pemohon_konfirmasi.hp }}</span></td>
    </tr>
    <tr>
      <td width="25%">E-mail</td>
      <td width="5%">:</td>
      <td width="70%"><span id='email_konfirmasi'>{{ pemohon_konfirmasi.email }}</span></td>
    </tr>
    <tr>
      <td width="25%">Kewarganegaraan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='kewarganegaraan_konfirmasi'>{{ pemohon_konfirmasi.kewarganegaraan }}</span></td>
    </tr>
    <tr>
      <td width="25%">Pekerjaan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='pekerjaan_konfirmasi'>{{ pemohon_konfirmasi.pekerjaan }}</span></td>
    </tr>
  </table>
  <br>

  <h4><u>#2. IDENTITAS PERUSAHAAN</u></h4>
  <table width="100%" border="0">
    <tr>
      <td width="25%">NPWP</td>
      <td width="5%">:</td>
      <td width="70%"><span id='npwp_perusahaan_konfirmasi'>{{ perusahaan_konfirmasi.npwp }}</span></td>
    </tr>
    <tr>
      <td width="25%">Nama Perusahaan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='nama_perusahaan_konfirmasi'>{{ perusahaan_konfirmasi.nama_perusahaan }}</span></td>
    </tr>
    <tr>
      <td width="25%">Alamat Perusahaan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='alamat_perusahaan_konfirmasi'>{{ alamat_perusahaan_konfirmasi }}</span></td>
    </tr>
    <tr>
      <td width="25%">Kode Pos</td>
      <td width="5%">:</td>
      <td width="70%"><span id='kode_pos_perusahaan_konfirmasi'>{{ perusahaan_konfirmasi.kode_pos }}</span></td>
    </tr>
    <tr>
      <td width="25%">No.Telp</td>
      <td width="5%">:</td>
      <td width="70%"><span id='telepon_perusahaan_konfirmasi'>{{ perusahaan_konfirmasi.telepon }}</span></td>
    </tr>
    <tr>
      <td width="25%">No.Fax</td>
      <td width="5%">:</td>
      <td width="70%"><span id='fax_perusahaan_konfirmasi'>{{ perusahaan_konfirmasi.fax }}</span></td>
    </tr>
    <tr>
      <td width="25%">E-mail</td>
      <td width="5%">:</td>
      <td width="70%"><span id='email_perusahaan_konfirmasi'>{% if perusahaan_konfirmasi.email %}{{ perusahaan_konfirmasi.email }}{% endif %}</span></td>
    </tr>
  </table>

  <br>
  <h4><u>#3. INFORMASI TANAH</u></h4>
  <table width="100%" border="0">
    <tr>
      <td width="25%"><h5><u>Surat Kuasa</u></h5></td>
      <td width="5%"></td>
      <td width="70%"></td>
    </tr>
    <tr>
      <td width="25%">No.</td>
      <td width="5%">:</td>
      <td width="70%"><span id='no_surat_kuasa_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Tanggal</td>
      <td width="5%">:</td>
      <td width="70%"><span id='tanggal_surat_kuasa_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%"><h5><u>Lokasi</u></h5></td>
      <td width="5%"></td>
      <td width="70%"></td>
    </tr>
    <tr>
      <td width="25%">Alamat</td>
      <td width="5%">:</td>
      <td width="70%"><span id='alamat_informasi_tanah_konfirmasi'></span></span></td>
    </tr>
    <tr>
      <td width="25%">Desa / Kelurahan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='desa_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Kecamatan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='kecamatan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Kabupaten / Kota</td>
      <td width="5%">:</td>
      <td width="70%"><span id='kabupaten_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Luas Tanah</td>
      <td width="5%">:</td>
      <td width="70%"><span id='luas_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Status Tanah</td>
      <td width="5%">:</td>
      <td width="70%"><span id='status_tanah_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%"><h5><u>Sertifikan/Petok D</u></h5></td>
      <td width="5%"></td>
      <td width="70%"></td>
    </tr>
    </table>
        <table id="id_sertifikat_tanah_konfirmasi" class="table table-bordered" style="width: 762px;">
          <thead>
            <tr>
              <td>No Sertifikat</td>
              <td>Luas</td>
              <td>Atas Nama</td>
              <td>Tahun</td>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
    <table width="100%" border="0">
    <tr>
      <td width="25%"><h5><u>Persil</u></h5></td>
      <td width="5%"></td>
      <td width="70%"></td>
    </tr>
    <tr>
      <td width="25%">No.</td>
      <td width="5%">:</td>
      <td width="70%"><span id='no_persil_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Klas</td>
      <td width="5%">:</td>
      <td width="70%"><span id='klas_persil_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Atas Nama</td>
      <td width="5%">:</td>
      <td width="70%"><span id='atas_nama_persil_konfirmasi'></span></span></td>
    </tr>
    <tr>
      <td width="25%">Penggunaan Sekarang</td>
      <td width="5%">:</td>
      <td width="70%"><span id='penggunaan_sekarang_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Rencana Penggunaan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='rencana_penggunaan_konfirmasi'></span></td>
    </tr>
  </table>
  <br>

  <h4><u>#4. UPLOAD DOKUMEN PERSYARATAN</u></h4>
  <table class="table table-bordered">
      <thead>
        <tr >
          <th>Dokumen Persyaratan</th>
          <th>Telah Terupload</th>
        </tr>
      </thead>
      <tbody>
        <tr align="center">
          <td>
            Bukti Kepemilikan Tanah
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input id="checkbox-bukti_kepemilikan_tanah" type="checkbox" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            Sketsa Lokasi Tanah Yang Dimohonkan
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input id="checkbox-sketsa_lokasi_tanah" type="checkbox" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            Gambar/Denah Rencana Penggunaan Tanah
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input id="checkbox-gambar_rencana_penggunaan_tanah" type="checkbox" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            Sertifikat Tanah
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input id="checkbox-sertifikat_tanah" type="checkbox" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            Akta Jual Beli
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input id="checkbox-akta_jual_beli" type="checkbox" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            Rekomendasi Bupati/Izinizin lain yang diperoleh
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input id="checkbox-rekomendasi_bupati" type="checkbox" disabled><i></i>
            </label>
          </td>
        </tr>
      </tbody>
  </table>
  <br>
  <section class="tile bg-greensea">
    <div class="tile-body">
      <label class="checkbox checkbox-custom-alt checkbox-custom-lg" style="color: white;">
        <input id="checkbox_done" type="checkbox" ><i></i> Setuju, Saya telah mengisi formulir pengajuan izin ini dengan benar.
      </label>
    </div>
  </section>
</form>