{% load i18n widgets access %}
{% if request.user|has_group:'Kasir' or request.user.is_superuser %}
	<div class="row">
		<div class="col-lg-12">
			<section class="tile panel-pembayaran">
				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font" align="center"> Pembayaran Retribusi</h1>
					<ul class="controls">
						<li>
							<a role="button" tabindex="0" class="tile-toggle">
								<span class="minimize"><i class="fa fa-angle-down"></i></span>
								<span class="expand"><i class="fa fa-angle-up"></i></span>
							</a>
						</li>
					</ul>
				</div>
				<div id="minimize_3">
					<div class="tile-body">
						<div class="panel panel-darkgray" style="border: 0;border-radius: 6px;">
							{% if pengajuan.status == 5 and detil_pembayaran == None %}
							<div class="panel-body">
								<form method="POST" id="id_form_pembayaran" name="form_pembayaran" role="form" class="form-horizontal" action="{% url 'detil_pembayaran_save' %}" data-parsley-validate novalidate>
									{% csrf_token %}
									<input type="hidden" id="id_pengajuan_izin" name="pengajuan_izin" value="{{ pengajuan.id }}">

									<!-- <div class="form-group">
										<label for="input01" class="col-sm-2">Tanggal Dateline</label>
										<div class="col-sm-4">
											<div class="input-group datepicker tanggal-awal"> 
												<input type="text" class="form-control" required="" data-date-format="DD-MM-YYYY" id="id_tanggal_bayar" name="tanggal_bayar">
												<span class="input-group-addon">
													<span class="fa fa-calendar"></span>
												</span>
											</div>
										</div>
									</div> -->

									<div class="form-group">
										<label class="col-sm-2">Kode</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" value="{{kode}}" disabled="">
											<input type="hidden" name="kode" value="{{kode}}">
										</div>
									</div>

									<div class="form-group">
										<label for="input01" class="col-sm-2">Nomor SKRD </label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="id_nomor_kwitansi" name="nomor_kwitansi" value="{{nomor_kwitansi}}">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2">Peruntukan</label>
										<div class="col-sm-4">
											<textarea rows="5" class="form-control" name="peruntukan">{{peruntukan}}</textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2">Bank Pembayaran</label>
										<div class="col-sm-4">
											<select class="form-control chosen-select mb-10" name="bank_pembayaran">
												{% for b in bank_pembayaran %}
												<option {{b.id}}>{{b.nama_bank}}</option>
												{% endfor %}
											</select>
										</div>
									</div>

									<div class="form-group">
										<label for="input01" class="col-sm-2">Jumlah Dibayar </label>
										<div class="col-sm-5">
											<!-- <div class="input-group">
												<span class="input-group-addon">Rp.</span>
												<input type="text" class="form-control total-bayar input-sm" id="id_jumlah_pembayaran" name="jumlah_pembayaran" value="{{total_biaya}}">
												<input type="text" class="form-control input-sm">
											</div> -->
											<div class="input-group">
											  <span class="input-group-addon">Rp.</span>
											  <input type="text" class="form-control total-bayar" name="jumlah_pembayaran_depan" value="{{total_biaya}}" />
											  <span class="input-group-addon" style="border-left: 0; border-right: 0;">,</span>
											  <input style="width: 50%;" type="text" class="form-control" placeholder="00" name="jumlah_pembayaran_belakang" />
											</div>
										</div>
									</div>
								</form>
							</div>
							<section class="tile bg-greensea">
								<div class="tile-body">
									<label class="checkbox checkbox-custom-alt">
										<input id="centang_operator" type="checkbox" ><i></i> Anda telah memasukkan biaya sesuai dengan biaya yang sebenarnya.
									</label>
								</div>
							</section>
							<div class="tile-footer text-right bg-tr-black lter dvd dvd-top" style="padding-bottom: 0px;">
								<div class="row">
									<div class="col-md-12" align="right">
										<!-- <a type="button" class="btn btn-danger mb-10">Tidak Dibayar</a> -->
										<button onclick="pembayaran_add(this)" type="button" class="btn btn-success btn-ef btn-ef-3 btn-ef-3c mb-10 teruskan-pembayaran">Teruskan <i class="fa fa-arrow-right"></i></button>
									</div>
								</div>
							</div>
							{% endif %}
							{% if pengajuan.status == 2 %}
							<div class="panel panel-darkgray" style="background-color: #16a085 !important;color: white;border: 0;border-radius: 6px;">
								<div class="panel-body">
									<center>
										<h3>
											Pembayaran Telah Dibuat
										</h3>
									</center>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
{% endif %}