{% extends "admin/base_site.html" %}

{% load i18n admin_static widgets%}

{% block title %}
  {{ title }} | {{ site_title|default:_('Sistem Informasi Manajemen Pelayanan Perijinan Terpadu Satu Pintu Kabupaten Kediri') }}
{% endblock %}

{% block icotitle %}<i class="icon-book-open"></i>&nbsp;{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <section class="tile">
      <div class="tile-body">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-darkgray">
              <div class="panel-header">
                <div class="row">
                  <div class="col-sm-12">
                    <h2 class="text-center">No. Pengajuan Izin : {{ no_pengajuan }}</h2>
                    <hr class="style14">
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table border="0">
                  <tr>
                    <td style="width: 24%;">Jenis Izin</td>
                    <td style="width: 5%;">:</td>
                    <td>{{ kelompok_jenis_izin }}</td>
                  </tr>
                  <tr>
                    <td>Nama Pemohon</td>
                    <td>:</td>
                    <td>{{ pemohon }} ({{ jenis_pemohon }})</td>
                  </tr>
                  <tr>
                    <td>Alamat</td>
                    <td>:</td>
                    <td>{{ alamat_pemohon }}</td>
                  </tr>
                  <tr>
                    <td>Perusahaan</td>
                    <td>:</td>
                    <td>CV. Makmur Jaya</td>
                  </tr>
                  <tr>
                    <td>Alamat Perusahaan</td>
                    <td>:</td>
                    <td>Jln. Erlangga No.2 ,Kel. Sukorejo, Kec. Ngasem, Kab. Kediri, Jawa Timur</td>
                  </tr>
                  <tr>
                    <td>Dibuat tanggal</td>
                    <td>:</td>
                    <td>{{ created_at|date:"d F Y" }} {{ created_at|time:"H:i" }}</td>
                  </tr>
                </table>
                <br>
                <h4><font color="red">Masa berlaku pengajuan s/d {{ created_at|add_date:3|date:"d F Y" }}</font></h4>
                <div class="row">
                  <div class="col-md-6 col-md-offset-3" align="center">
                    <a href="{% url 'cetak_bukti_pendaftaran' %}" target="_blank" class="btn btn-primary btn-lg btn-rounded btn-ef btn-ef-5 btn-ef-5a mb-10"><i class="fa fa-print"></i> <span>Cetak Formulir Pengajuan</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}