{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block title %}
	{{ title }} | {{ site_title|default:_('Sistem Informasi Manajemen Pelayanan Perijinan Terpadu Satu Pintu Kabupaten Kediri') }}
{% endblock %}

{% block icotitle %}<i class="icon-book-open"></i>&nbsp;{% endblock %}

{% block content_title %}
	{{ title }}
{% endblock %}

{% block extrajs_site %}

	<script src="{% static "scripts/js/vendor/chosen/chosen.jquery.min.js" %}"></script>
	<script src="{% static "scripts/js/vendor/parsley/parsley.js" %}"></script>
	<script src="{% static "scripts/js/vendor/form-wizard/jquery.bootstrap.wizard.min.js" %}"></script>
	<script src="{% static "scripts/js/main.js" %}"></script>
	<script src="{% static "scripts/js/vendor/loadmask/jquery.loadmask.js" %}"></script>
	<script src="{% static "scripts/js/vendor/filestyle/bootstrap-filestyle.min.js" %}"></script>
	<script src="{% static "scripts/js/vendor/daterangepicker/moment.js" %}"></script>
	<script src="{% static "scripts/js/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js" %}"></script>
	<!--/ custom javascripts -->
	<script type="text/javascript">
		$(window).load(function(){

			$('#rootwizard').bootstrapWizard({
				onTabShow: function(tab, navigation, index) {
					var $total = navigation.find('li').length;
					var $current = index+1;
					if($current >= $total) {
						$('#rootwizard').find('.pager .next').hide();
						$('#rootwizard').find('.pager .finish').show();
						$('#rootwizard').find('.pager .finish').removeClass('disabled');
					} else {
						$('#rootwizard').find('.pager .next').show();
						$('#rootwizard').find('.pager .finish').hide();
					}

				},

				onNext: function(tab, navigation, index) {
					// var form = $('form[name="step'+ index +'"]');

					// form.parsley().validate();

					// if (!form.parsley().isValid()) {
					//     return true;
					// }
					return false;

				},

				onTabClick: function(tab, navigation, index) {

					var form = $('form[name="step'+ (index+1) +'"]');
					form.parsley().validate();

					if (!form.parsley().isValid()) {
						// return false;
						return true;
					}

				}

			});


			function make_disabled(elem_){
				elem_.prop( "disabled", "disabled");
				elem_.trigger("chosen:updated");
			}

			function make_enabled(elem_){
				elem_.removeAttr('disabled')
				elem_.trigger("chosen:updated");
			}

			function form_akta_perubahan_make_disabled(){
				make_disabled($('#akta_pengesahan'))
				make_disabled($('#nama_notaris_akta_perubahan'))
				make_disabled($('#alamat_notaris'))
				make_disabled($('#telp_notaris'))
				make_disabled($('#no_akta_notaris'))
				make_disabled($('#tanggal_akta_akta_perubahan'))
				make_disabled($('#no_pengesahan'))
				make_disabled($('#tanggal_pengesahan'))
			}

			form_akta_perubahan_make_disabled();

			function form_akta_perubahan_make_enabled(){
				make_enabled($('#akta_pengesahan'))
				make_enabled($('#nama_notaris_akta_perubahan'))
				make_enabled($('#alamat_notaris'))
				make_enabled($('#telp_notaris'))
				make_enabled($('#no_akta_notaris'))
				make_enabled($('#tanggal_akta_akta_perubahan'))
				make_enabled($('#no_pengesahan'))
				make_enabled($('#tanggal_pengesahan'))
			}
			

			$("#switch_akta_perubahan").change(function(){
				if($(this).is(':checked')){
					form_akta_perubahan_make_enabled();
				}else{
					form_akta_perubahan_make_disabled();
				}
			})

		});

		function make_disabled(elem_, dis_){
            if (dis_ == true){
                elem_.empty();
            }
	        elem_.prop( "disabled", dis_);
	        elem_.trigger("chosen:updated");
		}

        function load_provinsi(id_negara){
            csrf_token = $("input[name='csrfmiddlewaretoken']").val();
            $( "#id_provinsi_chosen" ).mask('loading')
            $( "#id_provinsi_chosen .loadmask-msg" ).css('top', '2px')
            $.ajax({ // create an AJAX call...
                data: { csrfmiddlewaretoken: csrf_token, negara: id_negara }, // get the form data
                type: 'POST', // GET or POST
                url: '{% url 'admin:option_provinsi' %}', // the file to call
                success: function(response) { // on success..
                    elem = $( "#id_provinsi" )
                    elem.html(response);
                    make_disabled(elem, false)
                    $( "#id_provinsi_chosen" ).unmask()
                    $( "#id_provinsi" ).change(function(){
                        $this = $(this)

                        id_provinsi = $(this).val()
                        if(id_provinsi.length > 0){
                            load_kabupaten(id_provinsi)
                        }else{
                            elem = $( "#id_kabupaten" )
                            make_disabled(elem, true)
                        }
                    })
                },
                error: function(data) {                
                    toast_server_error()
                }
            });
        }

        make_disabled($( "#id_provinsi" ), true)
        make_disabled($( "#id_kabupaten" ), true)
        make_disabled($( "#id_kecamatan" ), true)
        make_disabled($( "#id_desa" ), true)

		$( "#id_negara" ).change(function(){
            $this = $(this)

            id_negara = $(this).val()
            if(id_negara.length > 0){
                load_provinsi(id_negara)
            }else{
                elem = $( "#id_provinsi" )
                make_disabled(elem, true)
                make_disabled($( "#id_provinsi" ), true)
		        make_disabled($( "#id_kabupaten" ), true)
		        make_disabled($( "#id_kecamatan" ), true)
		        make_disabled($( "#id_desa" ), true)
            }
        })

        function load_kabupaten(id_provinsi){
            csrf_token = $("input[name='csrfmiddlewaretoken']").val();
            $( "#id_kabupaten_chosen" ).mask('loading')
            $( "#id_kabupaten_chosen .loadmask-msg" ).css('top', '2px')
            $.ajax({ // create an AJAX call...
                data: { csrfmiddlewaretoken: csrf_token, provinsi: id_provinsi }, // get the form data
                type: 'POST', // GET or POST
                url: '{% url 'admin:option_kabupaten' %}', // the file to call
                success: function(response) { // on success..
                    elem = $( "#id_kabupaten" )
                    elem.html(response);
                    make_disabled(elem, false)
                    $( "#id_kabupaten_chosen" ).unmask()
                    $( "#id_kabupaten" ).change(function(){
                        $this = $(this)

                        id_kabupaten = $(this).val()
                        if(id_kabupaten.length > 0){
                            load_kecamatan(id_kabupaten)
                        }else{
                            elem = $( "#id_kecamatan" )
                            make_disabled(elem, true)
                        }
                    })
                },
                error: function(data) {                
                    toast_server_error()
                }
            });
        }

        function load_kecamatan(id_kabupaten){
            csrf_token = $("input[name='csrfmiddlewaretoken']").val();
            $( "#id_kecamatan_chosen" ).mask('loading')
            $( "#id_kecamatan_chosen .loadmask-msg" ).css('top', '2px')
            $.ajax({ // create an AJAX call...
                data: { csrfmiddlewaretoken: csrf_token, kabupaten: id_kabupaten }, // get the form data
                type: 'POST', // GET or POST
                url: '{% url 'admin:option_kecamatan' %}', // the file to call
                success: function(response) { // on success..
                    elem = $( "#id_kecamatan" )
                    elem.html(response);
                    make_disabled(elem, false)
                    $( "#id_kecamatan_chosen" ).unmask()
                    $( "#id_kecamatan" ).change(function(){
                        $this = $(this)
                        
                        id_kecamatan = $(this).val()
                        if(id_kecamatan.length > 0){
                            load_desa(id_kecamatan)
                        }else{
                            elem = $( "#id_desa" )
                            make_disabled(elem, true)
                        }
                    })
                },
                error: function(data) {                
                    toast_server_error()
                }
            });
        }

        function load_desa(id_kecamatan){
            csrf_token = $("input[name='csrfmiddlewaretoken']").val();
            $( "#id_desa_chosen" ).mask('loading')
            $( "#id_desa_chosen .loadmask-msg" ).css('top', '2px')
            $.ajax({ // create an AJAX call...
                data: { csrfmiddlewaretoken: csrf_token, kecamatan: id_kecamatan }, // get the form data
                type: 'POST', // GET or POST
                url: '{% url 'admin:option_desa' %}', // the file to call
                success: function(response) { // on success..
                    elem = $( "#id_desa" )
                    elem.html(response);
                    make_disabled(elem, false)
                    $( "#id_desa_chosen" ).unmask()
                    $( "#id_desa" ).change(function(){
                        $this = $(this)
                    })
                },
                error: function(data) {                
                    toast_server_error()
                }
            });
        }


		// Function to capitalize for string
		String.prototype.capitalize = function() {
		    return this.replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
		};


		function next_tab(btn){
			var index = $('#rootwizard').bootstrapWizard('currentIndex')+1;
			var frm = $('form[name="step'+ index +'"]');
			frm.parsley().validate();
			if (frm.parsley().isValid()) {
				$( ".tab-content #tab"+index ).mask('loading')
				$(btn).attr('disabled', 'disabled')
				$.ajax({
					type: frm.attr('method'),
					url: frm.attr('action'),
					data: frm.serialize(),
					success: function (response){
						respon = $.parseJSON(response)
			            $(btn).removeAttr('disabled')
			            if(respon.success){
			            	toastr["success"](respon.pesan)
							$( ".tab-content #tab"+index ).unmask()
							tab_index = '#rootwizard a[href="#tab'+(index+1)+'"]'
							$(tab_index).tab('show')
			            }else{
			            	// console.log(respon);
			            	// console.log(typeof respon);
			            	var a = Object.keys(respon);
			            	// console.log(respon['nama_lengkap'][0]['message']);
			            	// console.log(a.length);
			            	for (var i = 0; i < a.length; i++){
			            		// console.log(a[i]);
			            		// console.log(respon[a[i]]);
			            		var field = a[i].replace("_", " ").capitalize();
			            		toastr["error"](field+", "+respon[a[i]][0]['message'])
			            		$("#"+a[i]+"").addClass("has-error");
			            		// console.log($("#"+a[i]+"").addClass("parsley-error"));
			            	}
			            	$( ".tab-content #tab"+index ).unmask()
			            }
					},
					error: function(response){
						$( ".tab-content #tab"+index ).unmask()
						$(btn).removeAttr('disabled')
						toastr["error"]("Terjadi kesalahan pada koneksi server.")
					}
				});
			}
		}

	</script>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'scripts/js/vendor/chosen/chosen.css' %}">
<link rel="stylesheet" href="{% static 'scripts/js/vendor/toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'scripts/js/vendor/loadmask/jquery.loadmask.css' %}">
<link rel="stylesheet" href="{% static 'scripts/js/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css'  %}">
{% endblock %}

{% block custom_style %}
	<style type="text/css">
		@media only screen and (max-width: 1280px){
			.hidden_title{
			   display: none !important;
			}
			.tab-wizard .nav-tabs > li.active > a, .tab-wizard .nav-tabs > li.active > a:hover {
			  padding-bottom: 24px
			}
			.tab-wizard .nav-tabs > li.active ~ li > a, .tab-wizard .nav-tabs > li.active ~ li > a:hover {
			  padding-bottom: 24px;
			}
			
		}
		@media only screen and (max-width: 844px){
		  .hidden_title{
			display: block !important;
		  }
		}

		.chosen-container{
			min-width: 400px;
		}
		.tab-wizard .nav-tabs > li > a:before {
				border-left: 19px solid #abacad;
		}
		.tab-wizard .nav-tabs > li > a,
		.tab-wizard .nav-tabs > li > a:hover,
		.tab-wizard .nav-tabs > li > a:focus {
		  background-color: #abacad;
		}

		.tab-wizard .nav-tabs > li.active > a:before {
		  border-left-color: #abacad;
		}

		.tab-wizard .nav-tabs > li.active > a,
		.tab-wizard .nav-tabs > li.active > a:hover {
		  background-color: #abacad;
		}

	</style>
{% endblock %}

{% block content %}
<div id="rootwizard" class="tab-container tab-wizard">
  <ul class="nav nav-tabs nav-justified">
	<li><a disabled href="#tab1" data-toggle="tab"><i class="hidden_title">Identitas Pemohon</i> <span class="badge badge-default pull-right wizard-step">1</span></a></li>
	<li><a disabled href="#tab2" data-toggle="tab"><i class="hidden_title">Identitas Perusahaan</i><span class="badge badge-default pull-right wizard-step">2</span></a></li>
	<li><a disabled href="#tab3" data-toggle="tab"><i class="hidden_title">Legalitas Perusahaan</i><span class="badge badge-default pull-right wizard-step">3</span></a></li>
	<li><a disabled href="#tab4" data-toggle="tab"><i class="hidden_title">Kekayaan </i><span class="badge badge-default pull-right wizard-step">4</span></a></li>
	<li><a disabled href="#tab5" data-toggle="tab"><i class="hidden_title">Upload Dokumen</i><span class="badge badge-default pull-right wizard-step">5</span></a></li>
	<li><a disabled href="#tab6" data-toggle="tab"><i class="hidden_title">Konfirmasi</i><span class="badge badge-default pull-right wizard-step">6</span></a></li>
  </ul>
  <div class="tab-content">
	<div class="tab-pane" id="tab1"> 
	  <!-- Identitas pemohon --> 
	  {% include 'front-end/include/pemohon/identitas_pemohon.html' %}
	</div>

	<div class="tab-pane" id="tab2">
	  <!-- Identitas perusahaan -->
	  {% include 'front-end/include/formulir_siup/identitas_perusahaan.html' %}
	</div>

	<div class="tab-pane" id="tab3">
	  <!-- Legalitas perusahaan -->
	  {% include 'front-end/include/formulir_siup/legalitas_perusahaan.html' %}
	</div>

	<div class="tab-pane" id="tab4">
	  <!-- Kekayaan -->
	  {% include 'front-end/include/formulir_siup/kekayaan.html' %}
	</div>

	<div class="tab-pane" id="tab5">
	  <!-- Dokumen upload -->
	  {% include 'front-end/include/formulir_siup/upload_dokumen.html' %}
	</div>

	<div class="tab-pane" id="tab6">
	  <!-- Konfirmasi -->
	  {% include 'front-end/include/formulir_siup/konfirmasi.html' %}
	</div>

	<ul class="pager wizard">
	  <li class="previous"><a class="btn btn-default">Kembali</a></li>
	  <li class="next"><a onclick="next_tab(this)" class="btn btn-default">Selanjutnya</a></li>
	  <li class="next finish" style="display:none;">
		<button onclick="next_tab(this)"  value="Submit" type="submit" class="btn btn-success pull-right">
		  <i class="fa fa-arrow-right"></i>
		  <span>Selesai</span>
		</button>
	  </li>
	  </form>
	</ul>
  </div>
  <br>
  <br>
  <br>
</div>
{% endblock %}