{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block title %}
	{{ title }} | {{ site_title|default:_('Sistem Informasi Manajemen Pelayanan Perijinan Terpadu Satu Pintu Kabupaten Kediri') }}
{% endblock %}

{% block icotitle %}<i class="icon-book-open"></i>&nbsp;{% endblock %}

{% block content_title %}
	{{ title }}
{% endblock %}

{% block extrajs_site %}
	<script src="{% static "scripts/js/vendor/chosen/chosen.jquery.min.js" %}"></script>
	<script src="{% static "scripts/js/vendor/parsley/parsley.js" %}"></script>
	<script src="{% static "scripts/js/vendor/form-wizard/jquery.bootstrap.wizard.min.js" %}"></script>
	<script src="{% static "scripts/js/main.js" %}"></script>
	<script src="{% static "scripts/js/vendor/loadmask/jquery.loadmask.js" %}"></script>
	<script src="{% static "scripts/js/vendor/filestyle/bootstrap-filestyle.min.js" %}"></script>
	<script src="{% static "scripts/js/vendor/daterangepicker/moment.js" %}"></script>
	<script src="{% static "scripts/js/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js" %}"></script>
	<script src="{% static "scripts/js/vendor/validation/jquery.maskedinput.js" %}"></script>
	<script src="{% static "scripts/js/vendor/alert/sweetalert-dev.js" %}"></script>
	<script src="{% static "scripts/js/mloading/jquery.mloading.js" %}"></script>
	<script src="{% static 'scripts/js/vendor/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
  	
	<!--/ custom javascripts -->
	<script type="text/javascript">
		$(window).load(function(){
			$(".percent1").mask("9?9%");
			$(".percent1").on("blur", function() {
		        var value = $(this).val().length == 1 ? $(this).val() + '%' : $(this).val();
		        $(this).val( value );
		    })
			$(".tanggal").mask("99-99-9999",{placeholder:"dd-mm-yyyy"});
			$(".npwp").mask("99.999.999.9-999.999");
			$(".kodepos").mask("99999");
			$('.no_ktp').on('keydown', function(e){-1!==$.inArray(e.keyCode,[46,8,9,27,13,110,190])||/65|67|86|88/.test(e.keyCode)&&(!0===e.ctrlKey||!0===e.metaKey)||35<=e.keyCode&&40>=e.keyCode||(e.shiftKey||48>e.keyCode||57<e.keyCode)&&(96>e.keyCode||105<e.keyCode)&&e.preventDefault()});

			$('#rootwizard').bootstrapWizard({
				onTabShow: function(tab, navigation, index) {
					var $total = navigation.find('li').length;
					var $current = index+1;
					if($current >= $total) {
						$('#rootwizard').find('.pager .next').hide();
						$('#rootwizard').find('.pager .finish').show();
						$('#rootwizard').find('.pager .finish').removeClass('disabled');
					} else {
						$('#rootwizard').find('.pager .next').show();
						$('#rootwizard').find('.pager .finish').hide();
					}
				},

				onNext: function(tab, navigation, index) {
					// var form = $('form[name="step'+ index +'"]');

					// form.parsley().validate();

					// if (!form.parsley().isValid()) {
					//     return true;
					// }
					// 

					return false;

				},

				onTabClick: function(tab, navigation, index) {

					// var form = $('form[name="step'+ (index+1) +'"]');
					// form.parsley().validate();

					// if (!form.parsley().isValid()) {
					// 	// return false;
					// }
					return true;
				}
			});
		});

		function make_disabled(elem_, dis_){
            if (dis_ == true){
                elem_.empty();
            }
	        elem_.prop( "disabled", dis_);
	        elem_.trigger("chosen:updated");
		}
		
        function load_provinsi(id_negara){
            csrf_token = $("input[name='csrfmiddlewaretoken']").val();
            $( "#id_provinsi_chosen" ).mask('loading')
            $( "#id_provinsi_chosen .loadmask-msg" ).css('top', '2px')
            $.ajax({ // create an AJAX call...
                data: { csrfmiddlewaretoken: csrf_token, negara: id_negara }, // get the form data
                type: 'POST', // GET or POST
                url: '{% url 'admin:option_provinsi' %}', // the file to call
                success: function(response) { // on success..
                    elem = $( "#id_provinsi" )
                    elem.html(response);
                    make_disabled(elem, false)
                    $( "#id_provinsi_chosen" ).unmask()
                    $( "#id_provinsi" ).change(function(){
                        $this = $(this)

                        id_provinsi = $(this).val()
                        if(id_provinsi.length > 0){
                            load_kabupaten(id_provinsi)
                        }else{
                            elem = $( "#id_kabupaten" )
                            make_disabled(elem, true)
                        }
                    })
                },
                error: function(data) {                
                    toast_server_error()
                }
            });
        }

        make_disabled($( "#id_provinsi" ), true)
        make_disabled($( "#id_kabupaten" ), true)
        make_disabled($( "#id_kecamatan" ), true)
        make_disabled($( "#id_desa" ), true)

		$( "#id_negara" ).change(function(){
            $this = $(this)

            id_negara = $(this).val()
            if(id_negara.length > 0){
                load_provinsi(id_negara)
            }else{
                elem = $( "#id_provinsi" )
                make_disabled(elem, true)
                make_disabled($( "#id_provinsi" ), true)
		        make_disabled($( "#id_kabupaten" ), true)
		        make_disabled($( "#id_kecamatan" ), true)
		        make_disabled($( "#id_desa" ), true)
            }
        })

        function load_kabupaten(id_provinsi){
            csrf_token = $("input[name='csrfmiddlewaretoken']").val();
            $( "#id_kabupaten_chosen" ).mask('loading')
            $( "#id_kabupaten_chosen .loadmask-msg" ).css('top', '2px')
            $.ajax({ // create an AJAX call...
                data: { csrfmiddlewaretoken: csrf_token, provinsi: id_provinsi }, // get the form data
                type: 'POST', // GET or POST
                url: '{% url 'admin:option_kabupaten' %}', // the file to call
                success: function(response) { // on success..
                    elem = $( "#id_kabupaten" )
                    elem.html(response);
                    make_disabled(elem, false)
                    $( "#id_kabupaten_chosen" ).unmask()
                    $( "#id_kabupaten" ).change(function(){
                        $this = $(this)

                        id_kabupaten = $(this).val()
                        if(id_kabupaten.length > 0){
                            load_kecamatan(id_kabupaten)
                        }else{
                            elem = $( "#id_kecamatan" )
                            make_disabled(elem, true)
                        }
                    })
                },
                error: function(data) {                
                    toast_server_error()
                }
            });
        }

        function load_kecamatan(id_kabupaten){
            csrf_token = $("input[name='csrfmiddlewaretoken']").val();
            $( "#id_kecamatan_chosen" ).mask('loading')
            $( "#id_kecamatan_chosen .loadmask-msg" ).css('top', '2px')
            $.ajax({ // create an AJAX call...
                data: { csrfmiddlewaretoken: csrf_token, kabupaten: id_kabupaten }, // get the form data
                type: 'POST', // GET or POST
                url: '{% url 'admin:option_kecamatan' %}', // the file to call
                success: function(response) { // on success..
                    elem = $( "#id_kecamatan" )
                    elem.html(response);
                    make_disabled(elem, false)
                    $( "#id_kecamatan_chosen" ).unmask()
                    $( "#id_kecamatan" ).change(function(){
                        $this = $(this)
                        
                        id_kecamatan = $(this).val()
                        if(id_kecamatan.length > 0){
                            load_desa(id_kecamatan)
                        }else{
                            elem = $( "#id_desa" )
                            make_disabled(elem, true)
                        }
                    })
                },
                error: function(data) {                
                    toast_server_error()
                }
            });
        }

        function load_desa(id_kecamatan){
            csrf_token = $("input[name='csrfmiddlewaretoken']").val();
            $( "#id_desa_chosen" ).mask('loading')
            $( "#id_desa_chosen .loadmask-msg" ).css('top', '2px')
            $.ajax({ // create an AJAX call...
                data: { csrfmiddlewaretoken: csrf_token, kecamatan: id_kecamatan }, // get the form data
                type: 'POST', // GET or POST
                url: '{% url 'admin:option_desa' %}', // the file to call
                success: function(response) { // on success..
                    elem = $( "#id_desa" )
                    elem.html(response);
                    make_disabled(elem, false)
                    $( "#id_desa_chosen" ).unmask()
                    $( "#id_desa" ).change(function(){
                        $this = $(this)
                    })
                },
                error: function(data) {                
                    toast_server_error()
                }
            });
        }

		// Function to capitalize for string
		String.prototype.capitalize = function() {
		    return this.replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
		};

		function next_tab(btn){
			var index = $('#rootwizard').bootstrapWizard('currentIndex')+1;
			var frm = $('form[name="step'+ index +'"]');
			frm.parsley().validate();
			if (frm.parsley().isValid()) {
				// $( ".tab-content #tab"+index ).mask('loading')
				$(".tab-content").mLoading();
				$(btn).attr('disabled', 'disabled')
				$.ajax({
					type: frm.attr('method'),
					url: frm.attr('action'),
					data: frm.serialize(),
					success: function (response){
						respon = $.parseJSON(response)
			            $(btn).removeAttr('disabled')

			            if(respon.success){
			            	toastr["success"](respon.pesan)
			            	// $.cookie("keys", "value"); set cookie
			            	for (var i = 0; i < respon.data.length; i++){
			            		var key = Object.keys(respon.data[i]); // Mencari key json
			            		// console.log(key[0]);

			            		var val = respon.data[i][key[0]]
			            		var id = "#"+key[0]+"_konfirmasi"
			            		$(id).text(val);

			            		if(key[0] === "jenis_legalitas_perubahan"){
			            			$('#konfirmasi_legalitas_perubahan').hide();
			            		}
			            		else{
			            			$('#konfirmasi_legalitas_perubahan').show();
			            		}
			            		// if (key[0]= "status_upload") {
			            		// 	$("#npwp_perusahaan").hide(1000)

			            		// }else{
				            	// 	var val = respon.data[i][key[0]] // mencari value json
				            	// 	// console.log(key[0]+"_konfirmasi");
				            	// 	var id = "#"+key[0]+"_konfirmasi" // membuat variabel id untuk sett ke id masing2 komfirmasi

				            	// 	$(id).text(val);
				            	// }
			            	}
			            	// alert(respon.data.produk_utama)
			            	// alert(respon.data)
							// $( ".tab-content #tab"+index ).unmask()
							$(".tab-content").mLoading('hide');
							tab_index = '#rootwizard a[href="#tab'+(index+1)+'"]'
							$(tab_index).tab('show')
			            }else{
			            	// console.log(respon);
			            	// console.log(typeof respon);
			            	var a = Object.keys(respon);
			            	// console.log(respon['nama_lengkap'][0]['message']);
			            	// console.log(a.length);
			            	for (var i = 0; i < a.length; i++){
			            		// console.log(a[i]);
			            		// console.log(respon[a[i]]);
			            		var field = a[i].replace("_", " ").capitalize();
			            		toastr["error"](field+", "+respon[a[i]][0]['message'])
			            		$("#"+a[i]+"").addClass("has-error");
			            		// console.log($("#"+a[i]+"").addClass("parsley-error"));
			            	}
			            	// $( ".tab-content #tab"+index ).unmask()
			            	$(".tab-content").mLoading('hide');
			            }
					},
					error: function(response){
						$( ".tab-content #tab"+index ).unmask()
						$(btn).removeAttr('disabled')
						toastr["error"]("Terjadi kesalahan pada koneksi server.")
					}
				});
			}
		}


		document.querySelector('#alert').onclick = function(){
	    // swal("Good job!", "You clicked the button!", "success");
		    var pengajuan_cookie = $.cookie('id_pengajuan'); 
		    var pemohon_cookie = $.cookie('id_pemohon'); 
		    var perusahaan_cookie = $.cookie('id_perusahaan'); 
		    if (pengajuan_cookie === ""){
		       	toastr["warning"]("Terjadi kesalahan, anda belum mengisi form pengajuan.")
		        tab_index = '#rootwizard a[href="#tab'+(1)+'"]';
		        $(tab_index).tab('show');
		   	}
	      	else if(pemohon_cookie === ""){
		        toastr["warning"]("Terjadi kesalahan, anda belum mengisi form pemohon.")
		        tab_index = '#rootwizard a[href="#tab'+(1)+'"]';
		        $(tab_index).tab('show');
	      	}
	      	else if(perusahaan_cookie === ""){
		        toastr["warning"]("Terjadi kesalahan, anda belum mengisi form perusahaan.")
		        tab_index = '#rootwizard a[href="#tab'+(2)+'"]';
		        $(tab_index).tab('show');
	      	}
	      	else{
		        swal({
		          showConfirmButton: false,
		          type: 'success',
		          title: 'Pendaftaran Berhasil Tersimpan',
		          timer: 2000
		        })
	        
		      	window.location.replace('{% url 'admin:izin_pengajuanizin_changelist' %}');
		      	$.removeCookie('id_pengajuan', { path: '/' });
		      	$.removeCookie('id_perusahaan', { path: '/' });
		      	$.removeCookie('id_pemohon', { path: '/' });
		      	$.removeCookie('nomor_ktp', { path: '/' });
		      	$.removeCookie('nomor_paspor', { path: '/' });
	      	}
    	};

  //   	$.ajaxSetup({
		// 	timeout: 1, // Microseconds, for the laughs. Guaranteed timeout.
		// 	error: function(request, status, maybe_an_exception_object) {
		// 	if(status == 'timeout')
		// 	alert("Internet connection is down!");
		// 	}
		// });
		      	

	</script>
	<script type="text/javascript">
		function load_provinsi1(id_negara){
			csrf_token = $("input[name='csrfmiddlewaretoken']").val();
			$( "#id_provinsi_chosen1" ).mask('loading')
			$( "#id_provinsi_chosen1.loadmask-msg" ).css('top', '2px')
			$.ajax({ // create an AJAX call...
		        data: { csrfmiddlewaretoken: csrf_token, negara: id_negara }, // get the form data
		        type: 'POST', // GET or POST
		        url: '{% url 'admin:option_provinsi' %}', // the file to call
		        success: function(response) { // on success..
		          elem = $( "#id_provinsi1" )
		          elem.html(response);
		          make_disabled(elem, false)
		          $( "#id_provinsi_chosen1" ).unmask()
		          $( "#id_provinsi1" ).change(function(){
		            $this = $(this)

		            id_provinsi1 = $(this).val()
		            if(id_provinsi1.length > 0){
		              load_kabupaten1(id_provinsi1)
		            }else{
		              elem = $( "#id_kabupaten1" )
		              make_disabled(elem, true)
		            }
		          })
		        },
		        error: function(data) {                
		          toast_server_error()
		        }
		    });
	    }

	    make_disabled($( "#id_provinsi1" ), true)
	    make_disabled($( "#id_kabupaten1" ), true)
	    make_disabled($( "#id_kecamatan1" ), true)
	    make_disabled($( "#id_desa1" ), true)

	    $( "#id_negara1" ).change(function(){
			$this = $(this)

			id_negara1 = $(this).val()
			if(id_negara1.length > 0){
			  	load_provinsi1(id_negara1)
			}else{
				elem = $( "#id_provinsi1" )
				make_disabled(elem, true)
				make_disabled($( "#id_provinsi1" ), true)
				make_disabled($( "#id_kabupaten1" ), true)
				make_disabled($( "#id_kecamatan1" ), true)
				make_disabled($( "#id_desa1" ), true)
			}
	    })

	    function load_kabupaten1(id_provinsi){
			csrf_token = $("input[name='csrfmiddlewaretoken']").val();
			$( "#id_kabupaten_chosen1" ).mask('loading')
			$( "#id_kabupaten_chosen1 .loadmask-msg" ).css('top', '2px')
			$.ajax({ // create an AJAX call...
		        data: { csrfmiddlewaretoken: csrf_token, provinsi: id_provinsi }, // get the form data
		        type: 'POST', // GET or POST
		        url: '{% url 'admin:option_kabupaten' %}', // the file to call
		        success: function(response) { // on success..
		          elem = $( "#id_kabupaten1" )
		          elem.html(response);
		          make_disabled(elem, false)
		          $( "#id_kabupaten_chosen1" ).unmask()
		          $( "#id_kabupaten1" ).change(function(){
		            $this = $(this)

		            id_kabupaten1 = $(this).val()
		            if(id_kabupaten1.length > 0){
		              load_kecamatan1(id_kabupaten1)
		            }else{
		              elem = $( "#id_kecamatan1" )
		              make_disabled(elem, true)
		            }
		          })
		        },
		        error: function(data) {                
		          toast_server_error()
		        }
		    });
	    }

	    function load_kecamatan1(id_kabupaten){
			csrf_token = $("input[name='csrfmiddlewaretoken']").val();
			$( "#id_kecamatan_chosen1" ).mask('loading')
			$( "#id_kecamatan_chosen1 .loadmask-msg" ).css('top', '2px')
			$.ajax({ // create an AJAX call...
		        data: { csrfmiddlewaretoken: csrf_token, kabupaten: id_kabupaten }, // get the form data
		        type: 'POST', // GET or POST
		        url: '{% url 'admin:option_kecamatan' %}', // the file to call
		        success: function(response) { // on success..
		          elem = $( "#id_kecamatan1" )
		          elem.html(response);
		          make_disabled(elem, false)
		          $( "#id_kecamatan_chosen1" ).unmask()
		          $( "#id_kecamatan1" ).change(function(){
		            $this = $(this)
		            
		            id_kecamatan1 = $(this).val()
		            if(id_kecamatan1.length > 0){
		              load_desa1(id_kecamatan1)
		            }else{
		              elem = $( "#id_desa1" )
		              make_disabled(elem, true)
		            }
		          })
		        },
		        error: function(data) {                
		          toast_server_error()
		        }
	        });
	    }

	    function load_desa1(id_kecamatan){
		    csrf_token = $("input[name='csrfmiddlewaretoken']").val();
		    $( "#id_desa_chosen1" ).mask('loading')
			$( "#id_desa_chosen1 .loadmask-msg" ).css('top', '2px')
			$.ajax({ // create an AJAX call...
		        data: { csrfmiddlewaretoken: csrf_token, kecamatan: id_kecamatan }, // get the form data
		        type: 'POST', // GET or POST
		        url: '{% url 'admin:option_desa' %}', // the file to call
		        success: function(response) { // on success..
		          elem = $( "#id_desa1" )
		          elem.html(response);
		          make_disabled(elem, false)
		          $( "#id_desa_chosen1" ).unmask()
		          $( "#id_desa1" ).change(function(){
		              $this = $(this)
		          })
		        },
		        error: function(data) {                
		          toast_server_error()
		        }
		    });
	    }
	    function load_alamat(){
	    	load_provinsi1($('#id_negara').val())
          	load_kabupaten1($('#id_provinsi').val())
          	load_kecamatan1($('#id_kabupaten').val())
          	load_desa1($('#id_kecamatan').val())
          	setTimeout(function(){
          		$('#id_negara1').val($('#id_negara').val()).prop('selected',true).trigger("chosen:updated");
              	$('#id_provinsi1').val($('#id_provinsi').val()).prop('selected',true).trigger("chosen:updated");
              	$('#id_kabupaten1').val($('#id_kabupaten').val()).prop('selected',true).trigger("chosen:updated");
              	$('#id_kecamatan1').val($('#id_kecamatan').val()).prop('selected',true).trigger("chosen:updated");
              	$('#id_desa1').val($('#id_desa').val()).prop('selected',true).trigger("chosen:updated");
          	}, 1000);
	    	var alamat = $('#alamat_pemohon_load').val();
			$('#alamat_perusahaan_load').val(alamat);
	    }

	    function load_no_telepon(){
	    	var no = $('#no_telepon_pemohon_load').val();
			$('#no_telepon_perusahaan_load').val(no);
	    }

	    function alert_kekayaan(){
	    	ke = $('#id_kekayaan_bersih').val()
	    	res = ke.replace(/\./g, "")
	    	alert(res)
	    }
	    $("#id_kekayaan_bersih").on("change", function(e) {
	    	kekayaan = $('#id_kekayaan_bersih').val()
	    	res = parseInt(kekayaan.replace(/\./g, ""))
	    	if (res <= 50000000){
	    		// alert("mikro")
	    		$('#id_bentuk_kegiatan_usaha').val(1).prop('selected',true).trigger("chosen:updated");
	    	}
	    	else if(res > 50000000 && res <= 500000000){
	    		// alert("kecil")
	    		$('#id_bentuk_kegiatan_usaha').val(3).prop('selected',true).trigger("chosen:updated");
	    	}
	    	else if(res > 500000000 && res <= 10000000000){
	    		// alert("menengah")
	    		$('#id_bentuk_kegiatan_usaha').val(4).prop('selected',true).trigger("chosen:updated");
	    	}
	    	else if(res > 10000000000){
	    		// alert("besar")
	    		$('#id_bentuk_kegiatan_usaha').val(5).prop('selected',true).trigger("chosen:updated");
	    	}
	    })
	</script>
	<script src="{% static 'scripts/js/vendor/jquery/jquery.form.js' %}"></script>
  	<script src="{% static 'scripts/js/vendor/jquery/jquery.cookie.js' %}"></script>
  	<script src="{% static 'scripts/js/formAjax/form_ajax_siup.js' %}"></script>
  	<script src="{% static 'scripts/js/jquery.maskMoney.min.js' %}"></script>
  	<script src="http://www.decorplanit.com/plugin/autoNumeric-1.9.27.js" type=text/javascript> </script>
	<script type="text/javascript">
	    $(document).ready(function() {
	    	// $("body").mLoading();
	    	window.onbeforeunload = function ref() {
	            var r = confirm( "Do you want to leave?" );
	            if (r == true) {
	                
	            }
	            else {
	                return false;
	            }
          	};

	    	$('.akta_pendirian_disable').prop('disabled', true).trigger("chosen:updated");
	          $("#switch_akta_pendirian_disabled").change(function() {
	            if ($(this).is(':checked')) {
	              $('.akta_pendirian_disable').prop('disabled', false).trigger("chosen:updated");
	            }
	            else {
	              $('.akta_pendirian_disable').prop('disabled', true).trigger("chosen:updated");
	            }
          	});

	        $('.akta_perubahan_disable').prop('disabled', true).trigger("chosen:updated");
	        $("#switch_akta_perubahan_disabled").change(function() {
	          if ($(this).is(':checked')) {
	            $('.akta_perubahan_disable').prop('disabled', false).trigger("chosen:updated");
	          }
	          else {
	            $('.akta_perubahan_disable').prop('disabled', true).trigger("chosen:updated");
	          }
	        });

	        $('.kuasa_disable').prop('disabled', true).trigger("chosen:updated");
	        $("#switch_pemohon_disabled").change(function() {
	          if ($(this).is(':checked')) {
	            $('.kuasa_disable').prop('disabled', false).trigger("chosen:updated");
	          }
	          else {
	            $('.kuasa_disable').prop('disabled', true).trigger("chosen:updated");
	          }
	        });

	        $('#percent_berkas_foto').hide()
	        $('#percent_berkas_ktp').hide()
	        $('#percent_berkas_npwp_pribadi').hide()
	        $('#percent_berkas_npwp_perusahaan').hide()
	        $('#percent_berkas_akta_pendirian').hide()
	        $('#percent_berkas_akta_perubahan').hide()
	        $('#percent_berkas_pendukung').hide()
	        $('#konfirmasi_legalitas_perubahan').hide();

	        if ($.cookie('id_pengajuan') === undefined){
	        	$.cookie('id_pengajuan', "0", {path:"/"});
	        }
	        if ($.cookie('id_pemohon') === undefined){
	        	$.cookie('id_pemohon', "0", {path:"/"});
	        }
	        if ($.cookie('id_perusahaan') === undefined){
	        	$.cookie('id_perusahaan', "0", {path:"/"});
	        }
	        if ($.cookie('id_legalitas') === undefined){
	        	$.cookie('id_legalitas', "0", {path:"/"});
	        }
	        if ($.cookie('id_legalitas_perubahan') === undefined){
	        	$.cookie('id_legalitas_perubahan', "0", {path:"/"});
	        }

	        $( "#alert" ).prop( "disabled", true );
	        $('#checkbox_siup_done').change(function() {
	            if ($(this).is(':checked')) {
	              $( "#alert" ).prop( "disabled", false );
	              window.onbeforeunload = null;
	            }
	            else{
	              $( "#alert" ).prop( "disabled", true );
	            }
          	});
	        if($('#switch_akta_perubahan_disabled').is(':checked')){
	        	$('#konfirmasi_legalitas_perubahan').show();
	        }
	        else{
	        	$('#konfirmasi_legalitas_perubahan').hide();
	        }
	    });

	    function load_pemohon(ktp_){
	      // $( "#rootwizard" ).mask('loading')
	      $(".tab-content").mLoading();
	      csrf_token = $("input[name='csrfmiddlewaretoken']").val();
	      $.ajax({
	        type: 'POST',
	        url: __base_url__+'/load-pemohon/'+ktp_,
	        data: { csrfmiddlewaretoken: csrf_token },
	        success: function (data) {
	          $(".tab-content").mLoading('hide');
	          respon = $.parseJSON(data)
	            if(respon.success){
	              	load_provinsi(respon.data.negara)
	              	load_kabupaten(respon.data.provinsi)
	              	load_kecamatan(respon.data.kabupaten)
	              	load_desa(respon.data.kecamatan)
	              	setTimeout(function(){
	              		$('#id_paspor').val(respon.data.paspor);
	              		$('#id_jabatan_pemohon').val(respon.data.jabatan_pemohon);
	              		$('#id_nama_lengkap').val(respon.data.nama_lengkap);
		              	$('#alamat_pemohon_load').val(respon.data.alamat);
		             	$('#no_telepon_pemohon_load').val(respon.data.telephone);
		              	$('#hp_load').val(respon.data.hp);
		              	$('#email_pemohon_load').val(respon.data.email);
		              	$('#kewarganegaraan_pemohon_load').val(respon.data.kewarganegaraan).prop('selected',true).trigger("chosen:updated");
		              	$('#pekerjaan_pemohon_load').val(respon.data.pekerjaan).prop('selected',true).trigger("chosen:updated");
		              	$('#id_negara').val(respon.data.negara).prop('selected',true).trigger("chosen:updated");
		              	$('#id_provinsi').val(respon.data.provinsi).prop('selected',true).trigger("chosen:updated");
		              	$('#id_kabupaten').val(respon.data.kabupaten).prop('selected',true).trigger("chosen:updated")
		              	$('#id_kecamatan').val(respon.data.kecamatan).prop('selected',true).trigger("chosen:updated");
		              	$('#id_desa').val(respon.data.desa).prop('selected',true).trigger("chosen:updated");
		              	if (respon.data.foto_url !== ''){
		              		$('#load_foto_pemohon').replaceWith("<span id='load_foto_pemohon' class='help-block' style='color:blue;'> file : <a target='_blank' href='"+respon.data.foto_url+"'>"+respon.data.foto_nama+"</a></span>")
		          		}
		              	if (respon.data.ktp_url !== ''){
		              		$('#load_ktp_pemohon').replaceWith("<span id='load_ktp_pemohon' class='help-block' style='color:blue;'> file : <a target='_blank' href='"+respon.data.ktp_url+"'>"+respon.data.ktp_nama+"</a></span>")
		          	  	}
		              	if (respon.data.npwp_pribadi_url !== ''){
		              		$('#load_npwp_pribadi').replaceWith("<span id='load_npwp_pribadi' class='help-block' style='color:blue;'> file : <a target='_blank' href='"+respon.data.npwp_pribadi_url+"'>"+respon.data.npwp_pribadi_nama+"</a></span>");
		              	}
	              	}, 1000);
	            }
	            else{
	             	$('#id_nama_lengkap').val("");
	              	$('#alamat_pemohon_load').val("");
	              	$('#no_telepon_pemohon_load').val("");
	              	$('#hp_load').val("");
	              	$('#email_pemohon_load').val("");
	              	$('#kewarganegaraan_pemohon_load').val("").prop('selected',true).trigger("chosen:updated");
	              	$('#pekerjaan_pemohon_load').val("").prop('selected',true).trigger("chosen:updated");
	              	$('#id_negara').val("").prop('selected',true).trigger("chosen:updated");
	              	$('#id_provinsi').val("").prop('selected',true).trigger("chosen:updated");
	              	$('#id_kabupaten').val("").prop('selected',true).trigger("chosen:updated")
	              	$('#id_kecamatan').val("").prop('selected',true).trigger("chosen:updated");
	              	$('#id_desa').val("").prop('selected',true).trigger("chosen:updated");
	              	$('#load_foto_pemohon').replaceWith("<span id='load_foto_pemohon'></span>")
	              	$('#load_ktp_pemohon').replaceWith("<span id='load_ktp_pemohon'></span>")
	              	$('#load_npwp_pribadi').replaceWith("<span id='load_npwp_pribadi'></span>")
	            }
	        },
	        error: function(data) {
	          toastr["error"]("Terjadi kesalahan pada koneksi server. Coba reload ulang browser Anda. ")
	          $(".tab-content").mLoading('hide');
	        }
	      });
	    }

	    function load_perusahaan_a(npwp_){
	      $(".tab-content").mLoading();
	      csrf_token = $("input[name='csrfmiddlewaretoken']").val();
	      $.ajax({
	        type: 'POST',
	        url: __base_url__+'/load-perusahaan/'+npwp_,
	        data: { csrfmiddlewaretoken: csrf_token },
	        success: function (data) {
	          $(".tab-content").mLoading('hide');
	          respon = $.parseJSON(data)
	            if(respon.success){
	              	load_provinsi1(respon.data.negara)
	              	load_kabupaten1(respon.data.provinsi)
	              	load_kecamatan1(respon.data.kabupaten)
	              	load_desa1(respon.data.kecamatan)
	              	setTimeout(function(){
		              	$('#id_nama_perusahaan').val(respon.data.nama_perusahaan);
		              	$('#alamat_perusahaan_load').val(respon.data.alamat_perusahaan);
		              	$('#kode_pos_perusahaan_load').val(respon.data.kode_pos);
		              	$('#no_telepon_perusahaan_load').val(respon.data.telepon);
		              	$('#id_email_perusahaan').val(respon.data.email);
		              	$('#id_fax_perusahaan').val(respon.data.fax)
		              	$('#id_negara1').val(respon.data.negara).prop('selected',true).trigger("chosen:updated");
		              	$('#id_provinsi1').val(respon.data.provinsi).prop('selected',true).trigger("chosen:updated");
		              	$('#id_kabupaten1').val(respon.data.kabupaten).prop('selected',true).trigger("chosen:updated");
		              	$('#id_kecamatan1').val(respon.data.kecamatan).prop('selected',true).trigger("chosen:updated");
		              	$('#id_desa1').val(respon.data.desa).prop('selected',true).trigger("chosen:updated");
		              	if (respon.data.npwp_perusahaan_url !== ''){
		              		$('#load_npwp_perusahaan').replaceWith("<span id='load_npwp_perusahaan' class='help-block' style='color:blue;'> file : <a target='_blank' href='"+respon.data.npwp_perusahaan_url+"'>"+respon.data.npwp_perusahaan_nama+"</a></span>")
		              	}
		              	if (respon.data.legalitas_pendirian_url !== ''){
		              		$('#load_akta_pendirian').replaceWith("<span id='load_akta_pendirian' class='help-block' style='color:blue;'> file : <a target='_blank' href='"+respon.data.legalitas_pendirian_url+"'>"+respon.data.legalitas_pendirian_nama+"</a></span>")
		              	}
		              	if (respon.data.legalitas_perubahan_url !== ''){
		              		$('#load_akta_perubahan').replaceWith("<span id='load_akta_perubahan' class='help-block' style='color:blue;'> file : <a target='_blank' href='"+respon.data.legalitas_perubahan_url+"'>"+respon.data.legalitas_perubahan_nama+"</a></span>")
		              	}
		            }, 1000);
	            }
	            else{
	              	$('#id_nama_perusahaan').val("");
	              	$('#alamat_perusahaan_load').val("");
	              	$('#kode_pos_perusahaan_load').val("");
	              	$('#no_telepon_perusahaan_load').val("");
	              	$('#id_email_perusahaan').val("");
	              	$('#id_fax_perusahaan').val("");
	              	$('#id_negara1').val("").prop('selected',true).trigger("chosen:updated");
	              	$('#id_provinsi1').val("").prop('selected',true).trigger("chosen:updated");
	              	$('#id_kabupaten1').val("").prop('selected',true).trigger("chosen:updated");
	              	$('#id_kecamatan1').val("").prop('selected',true).trigger("chosen:updated");
	              	$('#id_desa1').val("").prop('selected',true).trigger("chosen:updated");
	              	$('#load_npwp_perusahaan').replaceWith("<span id='load_npwp_perusahaan'></span>");
	              	$('#load_akta_pendirian').replaceWith("<span id='load_akta_pendirian'></span>");
	              	$('#load_akta_perubahan').replaceWith("<span id='load_akta_perubahan'></span>");
	            }
	          
	        },
	        error: function(data) {
	          toastr["error"]("Terjadi kesalahan pada koneksi server. Coba reload ulang browser Anda. ")
	          $(".tab-content").mLoading('hide');
	        }
	      });
	    }

	    function total_n_a(){
	    	var nasional = parseFloat($('#id_presentase_saham_nasional').val())
		    var asing = parseFloat($('#id_presentase_saham_asing').val())
		    var total_a_n = nasional+asing
		    // alert(nasional)
		    // alert(asing)
		    // alert(total_a_n.toFixed(2))
		    if (total_a_n.toFixed(2) > 100.00){
		    	$('.saham').addClass('has-error')
		    	$('.saham').append('<span class="help-block mb-0 error-saham"><font color="red">Jumlah persen saham nasional dan asing tidak boleh melebihi 100%.</font></span>')
		    }
		    else{
		    	$('.saham').removeClass('has-error')
		    	$('.error-saham').remove()
		    }
	    }
	    // +++++++++++++ jquery format money idr ++++++++++++++++
	    function FormatCurrency(objNum){
		   var num = objNum.value
		   var ent, dec;
		   if (num != '' && num != objNum.oldvalue)
		   {
		     num = HapusTitik(num);
		     if (isNaN(num))
		     {
		       objNum.value = (objNum.oldvalue)?objNum.oldvalue:'';
		     } else {
		       var ev = (navigator.appName.indexOf('Netscape') != -1)?Event:event;
		       if (ev.keyCode == 190 || !isNaN(num.split('.')[1]))
		       {
		         alert(num.split('.')[1]);
		         objNum.value = TambahTitik(num.split('.')[0])+'.'+num.split('.')[1];
		       }
		       else
		       {
		         objNum.value = TambahTitik(num.split('.')[0]);
		       }
		       objNum.oldvalue = objNum.value;
		     }
		   }
		}

		function HapusTitik(num){
		   return (num.replace(/\./g, ''));
		}

		function TambahTitik(num){
		   numArr=new String(num).split('').reverse();
		   for (i=3;i<numArr.length;i+=3)
		   {
		     numArr[i]+='.';
		   }
		   return numArr.reverse().join('');
		} 
			        
		function formatCurrency(num) {
		   num = num.toString().replace(/\$|\./g,'');
		   if(isNaN(num))
		   num = "0";
		   sign = (num == (num = Math.abs(num)));
		   num = Math.floor(num*100+0.50000000001);
		   cents = num0;
		   num = Math.floor(num/100).toString();
		   for (var i = 0; i < Math.floor((num.length-(1+i))/3); i++)
		   num = num.substring(0,num.length-(4*i+3))+'.'+
		   num.substring(num.length-(4*i+3));
		   return (((sign)?'':'-') + num);
		}
	    // +++++++++++++ end jquery format money idr ++++++++++++++++
	    
	    if ('{{pengajuan_}}'){
	    	// alert("{{ pengajuan_.jenis_pengajuan }}");
	    	// +++++++ pemohon +++++
	    	$('#id_ktp').val('{{ ktp.nomor }}')
	    	$('#id_paspor').val('{{ paspor.nomor }}')
	    	$('#id_jenis_pengajuan').val('{{ pengajuan_.jenis_permohonan.id }}').prop('selected',true).trigger("chosen:updated");
	    	$('#id_jenis_pemohon').val('{{ pengajuan_.pemohon.jenis_pemohon.id }}').prop('selected',true).trigger("chosen:updated");
	    	
  			load_pemohon('{{ ktp.nomor }}')
          	if ('{{pengajuan_.nama_kuasa}}'){
          		$('#switch_pemohon_disabled').prop( "checked", true );
          		setTimeout(function(){
          			$('.kuasa_disable').prop('disabled', false);
	          		$('#id_nama_kuasa').val('{{pengajuan_.nama_kuasa}}');
	          		$('#id_no_identitas_kuasa').val('{{pengajuan_.no_identitas_kuasa}}');
	          		$('#id_telephone_kuasa').val('{{pengajuan_.telephone_kuasa}}');
          		}, 1000);
          	}
          	//+++++++ end pemohon +++++

          	// +++++ perusahaan+++++++
          	$('#id_npwp_perusahaan').val('{{perusahaan_konfirmasi.npwp}}')
          	setTimeout(function(){
          		load_perusahaan_a('{{perusahaan_konfirmasi.npwp}}')
          	}, 3000);
          	// +++++ end perusahaan+++++++
          	
          	//+++ bentuk kegiatan usaha ++++
          	$('#id_bentuk_kegiatan_usaha').val('{{ pengajuan_.bentuk_kegiatan_usaha.id }}').prop('selected',true).trigger("chosen:updated");
          	$('#id_jenis_penanaman_modal').val('{{ pengajuan_.jenis_penanaman_modal.id }}').prop('selected',true).trigger("chosen:updated");
          	$('#id_kekayaan_bersih').val(parseInt("{{pengajuan_.kekayaan_bersih}}"))
      		$('#id_kekayaan_bersih').maskMoney({ thousands:'.', decimal:',', precision:0});
      		$('#id_total_nilai_saham').val(parseInt("{{pengajuan_.total_nilai_saham}}"))
      		$('#id_total_nilai_saham').maskMoney({ thousands:'.', decimal:',', precision:0});
      		$('#id_presentase_saham_nasional').val('{{ pengajuan_.presentase_saham_nasional }}')
      		$('#id_presentase_saham_asing').val('{{ pengajuan_.presentase_saham_asing }}')
      		$('#id_kelembagaan').val('{{ pengajuan_.kelembagaan.id }}').prop('selected',true).trigger("chosen:updated");
      		var valkbli = [{% for k in pengajuan_.kbli.all %}{{k.id}},{% endfor %}]
      		i = 0, size = valkbli.length;
      		for(i; i < size; i++){
      			$("#id_kbli option[value='" + valkbli[i] + "']").attr("selected", 1);
      		}
      		var valproduk = [{% for p in pengajuan_.produk_utama.all %}{{ p.id }},{% endfor %}]
      		i = 0, size = valproduk.length;
      		for(i; i < size; i++){
      			$("#id_produk_utama option[value='" + valproduk[i] + "']").attr("selected", 1);
      		}
          	//+++ end bentuk kegiatan usaha ++++
          	// alert('{{legalitas_pendirian}}')
          	//++++ legalitas pendirian +++
          	if ('{{legalitas_pendirian}}' !== "None"){
          		$('#switch_akta_pendirian_disabled').prop( "checked", true );
          		setTimeout(function(){
          			$('.akta_pendirian_disable').prop('disabled', false);
          			$('#id_jenis_legalitas').val('{{ legalitas_pendirian.jenis_legalitas.id }}').prop('selected',true).trigger("chosen:updated");
          			$('#id_nama_notaris_legalitas_pendirian').val('{{ legalitas_pendirian.nama_notaris }}');
          			$('#id_alamat_legalitas_pendirian').val('{{ legalitas_pendirian.alamat }}');
          			$('#id_telp_legalitas_pendirian').val('{{ legalitas_pendirian.telephone }}');
          			$('#id_nomor_pengesahan_legalitas_pendirian').val('{{ legalitas_pendirian.nomor_pengesahan }}');
          			$('#id_tanggal_pengesahan_legalitas_pendirian').val('{{ legalitas_pendirian.tanggal_pengesahan|date:"d-m-Y" }}')

          		}, 1000);
          	}
          	//++++ end legalitas pendirian +++
          	//++++ legalitas perubahan +++
          	if ('{{ legalitas_perubahan }}' !== "None"){
          		// alert("{{legalitas_perubahan.jenis_legalitas}}")
          		$('#switch_akta_perubahan_disabled').prop( "checked", true );
          		setTimeout(function(){
          			$(".akta_perubahan_disable").prop('disabled', false)
          			$('#id_nama_notaris_perubahan').val('{{ legalitas_perubahan.nama_notaris }}');
          			$('#id_alamat_notaris_perubahan').val('{{ legalitas_perubahan.alamat }}');
          			$('#id_telephone_notaris_perubahan').val('{{ legalitas_perubahan.telephone }}');
          			$('#id_nomor_pengesahan_perubahan').val('{{ legalitas_perubahan.nomor_pengesahan }}');
          			$('#id_tanggal_pengesahan_perubahan').val('{{ legalitas_perubahan.tanggal_pengesahan|date:"d-m-Y" }}')

          		}, 1000);
          	}
          	//++++ end legalitas pendirian +++
	    }
  	</script>
{% endblock %}

{% block extrastyle %}
	{{ block.super }}
	
	<link rel="stylesheet" href="{% static 'scripts/js/mloading/jquery.mloading.css' %}">
	<link rel="stylesheet" href="{% static 'scripts/js/vendor/chosen/chosen.css' %}">
	<link rel="stylesheet" href="{% static 'scripts/js/vendor/toastr/toastr.min.css' %}">
	<link rel="stylesheet" href="{% static 'scripts/js/vendor/loadmask/jquery.loadmask.css' %}">
	<link rel="stylesheet" href="{% static 'scripts/js/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css'  %}">
	<link rel="stylesheet" href="{% static 'scripts/js/vendor/alert/sweetalert.css' %}">
	<!-- blueimp Gallery styles -->
	<link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
	<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
	<link rel="stylesheet" href="{% static 'scripts/js/vendor/file-upload/css/jquery.fileupload.css' %}">
	<link rel="stylesheet" href="{% static 'scripts/js/vendor/file-upload/css/jquery.fileupload-ui.css' %}">
	<!-- CSS adjustments for browsers with JavaScript disabled -->
	<noscript><link rel="stylesheet" href="{% static 'scripts/js/vendor/file-upload/css/jquery.fileupload-noscript.css' %}"></noscript>
	<noscript><link rel="stylesheet" href="{% static 'scripts/js/vendor/file-upload/css/jquery.fileupload-ui-noscript.css' %}"></noscript>
	<link rel="stylesheet" href="{% static 'scripts/js/vendor/touchspin/jquery.bootstrap-touchspin.min.css' %}">
{% endblock %}

{% block custom_style %}
	<style type="text/css">
		@media only screen and (max-width: 1280px){
			.hidden_title{
			   display: none !important;
			}
			.tab-wizard .nav-tabs > li.active > a, .tab-wizard .nav-tabs > li.active > a:hover {
			  padding-bottom: 24px
			}
			.tab-wizard .nav-tabs > li.active ~ li > a, .tab-wizard .nav-tabs > li.active ~ li > a:hover {
			  padding-bottom: 24px;
			}
			
		}
		@media only screen and (max-width: 844px){
		  .hidden_title{
			display: block !important;
		  }
		}

		.chosen-container{
			min-width: 400px;
		}
		.tab-wizard .nav-tabs > li > a, .tab-wizard .nav-tabs > li > a:hover, .tab-wizard .nav-tabs > li > a:focus {
        	background-color: #22beef;
        	color: aliceblue;
		}
		.tab-wizard .nav-tabs > li.active ~ li > a, .tab-wizard .nav-tabs > li.active ~ li > a:hover {
			background-color: #616f77;
		}
		.tab-wizard .nav-tabs > li:before {
			background-color: #333;
		}
		.onoffswitch.labeled .onoffswitch-inner:before {
			content: "Ya";
		}
		.onoffswitch.labeled .onoffswitch-inner:after {
			content: "Tidak";
		}
		.onoffswitch.labeled {
			width: 59px;
		}
		.onoffswitch.labeled .onoffswitch-switch {
			right: 34px;
		}

	</style>
{% endblock %}

{% block content %}
<div id="rootwizard" class="tab-container tab-wizard">
  <ul class="nav nav-tabs nav-justified">
	<li><a disabled href="#tab1" data-toggle="tab"><i class="hidden_title">Identitas Pemohon</i> <span class="badge badge-default pull-right wizard-step">1</span></a></li>
	<li><a disabled href="#tab2" data-toggle="tab"><i class="hidden_title">Identitas Perusahaan</i><span class="badge badge-default pull-right wizard-step">2</span></a></li>
	<li><a disabled href="#tab3" data-toggle="tab"><i class="hidden_title">Data SIUP</i><span class="badge badge-default pull-right wizard-step">3</span></a></li>
	<li><a disabled href="#tab4" data-toggle="tab"><i class="hidden_title">Legalitas Perusahaan </i><span class="badge badge-default pull-right wizard-step">4</span></a></li>
	<li><a disabled href="#tab5" data-toggle="tab"><i class="hidden_title">Upload Dokumen</i><span class="badge badge-default pull-right wizard-step">5</span></a></li>
	<li><a disabled href="#tab6" data-toggle="tab"><i class="hidden_title">Konfirmasi</i><span class="badge badge-default pull-right wizard-step">6</span></a></li>
  </ul>
  <div class="tab-content">
	<div class="tab-pane" id="tab1"> 
	  <!-- Identitas pemohon --> 
	  {% include 'front-end/include/pemohon/identitas_pemohon.html' %}
	</div>

	<div class="tab-pane" id="tab2">
	  <!-- Identitas perusahaan -->
	  {% include 'front-end/include/formulir_siup/identitas_perusahaan.html' %}
	</div>

	<div class="tab-pane" id="tab3">
	  <!-- Legalitas perusahaan -->
	  {% include 'front-end/include/formulir_siup/data_siup.html' %}
	</div>

	<div class="tab-pane" id="tab4">
	  <!-- Kekayaan -->
	  {% include 'front-end/include/formulir_siup/legalitas_perusahaan.html' %}
	</div>

	<div class="tab-pane" id="tab5">
	  <!-- Dokumen upload -->
	  {% include 'front-end/include/formulir_siup/upload_dokumen.html' %}
	</div>

	<div class="tab-pane" id="tab6">
	  <!-- Konfirmasi -->
	  {% include 'front-end/include/formulir_siup/konfirmasi.html' %}
	</div>

	<ul class="pager wizard">
	  <li class="previous" id="previous"><a class="btn btn-default">Kembali</a></li>
	  <li class="next" id="next"><a onclick="next_tab(this)" class="btn btn-default">Selanjutnya</a></li>
	  <li class="next finish" style="display:none;">
		<button type="submit" class="btn btn-success pull-right" id="alert">
		  <i class="fa fa-arrow-right"></i>
		  <span>Selesai</span>
		</button>
		</form>
	  </li>
	</ul>
  </div>
  <br>
  <br>
  <br>
</div>
{% endblock %}