<form method="POST" name="step3" role="form" class="form-horizontal" %}">
  {% csrf_token %}
    <h3>DATA KEGIATAN GANGGUAN</h3>
    <hr class="style14">
    <!-- <h4>DATA KEGIATAN GANGGUAN</h4> -->
    <!-- <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Jenis Akta dan Pengesahan</label>
      <div class="col-sm-7">
        <select class="form-control chosen-select mb-10">
          <option>1</option>
        </select>
      </div>
    </div> -->

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Rencana Perkiraan Modal </label>
      <div class="col-sm-2">
        <div class="input-group">
          <span class="input-group-addon">
            <span>Rp</span>
          </span>
          <input type="text" class="form-control" required="" data-parsley-trigger="change">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Tujuan Gangguan</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" name="tujuan_gangguan" required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>

    <div class="row">
      <h4 class="custom-font col-sm-2"><strong>Lokasi</strong></h4> 
    </div>

     <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Alamat</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" name="alamat" placeholder="Isi alamat lengkap" required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Kota/Kabupaten</label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" required="" data-parsley-trigger="change">
          <option value>-- Pilih Kota/Kabupaten --</option>
          {% if kabupaten %}
          {% for k in kabupaten %}
          <option value="{{ k.id }}">{{ k.nama_kabupaten }}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Kecamatan</label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" required="" data-parsley-trigger="change">
          <option value>-- Pilih Kecamatan --</option>
          {% if kecamatan %}
          {% for k in kecamatan %}
          <option value="{{ k.id }}">{{ k.nama_kecamatan }}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Kelurahan/Desa</label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" required="" data-parsley-trigger="change">
          <option value>-- Pilih Kelurahan/Desa --</option>
          {% if desa %}
          {% for d in desa %}
          <option value="{{ d.id }}">{{ d.nama_desa }}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

    <div class="row">
      <h4 class="custom-font col-sm-2"><strong>Dalam Kegiatan Perusahaan</strong></h4> 
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Bahan Baku dan Penolong</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" name="bahan_baku" placeholder=" " required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Proses Produksi</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" name="proses_produksi" placeholder="" required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Jumlah Tenaga Kerja</label>
      <div class="col-sm-2">
        <div class="input-group">
          <input type="text" class="form-control" required="" data-parsley-trigger="change">
          <span class="input-group-addon">
            <span>Orang</span>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Jumlah Mesin</label>
      <div class="col-sm-2">
        <div class="input-group">
          <input type="text" class="form-control" required="" data-parsley-trigger="change">
          <span class="input-group-addon">
            <span>Unit</span>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Merk Mesin</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" name="merk_mesin" placeholder=" " required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Daya</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" name="daya" placeholder=" " required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>
    
    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Kekuatan</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" name="kekuatan" placeholder=" " required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>
    
    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Jenis Gangguan/Limbah</label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" required="" data-parsley-trigger="change">
          <option value>-- Pilih jenis limbah/gangguan --</option>
          {% if jgangguan %}
          {% for jgl in jenisgangguan %}
          <option value="{{ jgl.id }}">{{ jgl.jenis_gangguan_limbah }}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Jenis Lokasi Usaha</label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" required="" data-parsley-trigger="change">
          <option value>-- Pilih jenis lokasi usaha --</option>
          {% if jlokasi %}
          {% for jlu in jlokasi %}
          <option value="{{ jlu.id }}">{{ jlu.jenis_lokasi_usaha }}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Jenis Bangunan</label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" required="" data-parsley-trigger="change">
          <option value>-- Pilih jenis bangunan --</option>
          {% if jbangunan %}
          {% for jb in jbangunan %}
          <option value="{{ jb.id }}">{{ jb.jenis_bangunan }}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

</form>