{% extends "admin/base.html" %}

{% load i18n admin_static admin_tools_menu_tags widgets %}

{% block title %}
	{{ title }} | {{ site_title|default:_('Sistem Informasi Manajemen Pelayanan Perijinan Terpadu Satu Pintu Kabupaten Kediri') }}
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'styles/css/vendor/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/main_site.css' %}">
    <link rel="stylesheet" href="{% static 'scripts/js/vendor/toastr/toastr.min.css' %}">
    <style type="text/css">
        #header .list-group-item {
            display: inline-flex;
        }
        #sidebar .menu-item .badge{
            z-index: 2;
        }
        .nav-profile .littleFadeInRight{
            position: absolute;
        }
    </style>
{% endblock %}

{% block extrajs %}
	{{ block.super }}
    <audio id="sound_alert">
        <source src="{% static 'sound/alert.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <script src="{% static 'scripts/js/vendor/jquery/jquery.cookie.js' %}"></script>
    <script src="{% static 'scripts/js/vendor/toastr/toastr.min.js' %}"></script>
    <script type="text/javascript">
        $('#sidebarCharts').hide()
        $('.panel .charts .panel-default').hide()
        var pathname = window.location.pathname;
        
        function toast_server_error(msg_){
            toastr.options = {
              "closeButton": true,
              "debug": false,
              "newestOnTop": false,
              "progressBar": false,
              "positionClass": "toast-top-right",
              "preventDuplicates": false,
              "onclick": null,
              "showDuration": "300",
              "hideDuration": "1000",
              "timeOut": "5000",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
            }
            if(typeof msg_ == "undefined"){
                toastr["error"]("Terjadi kesalahan pada koneksi server.")
            }
            else{
                toastr["error"](msg_)
            }
        }
        function open_splash(btnEl){
            $("#splash .modal-title").html($(btnEl).attr('data-title'))
            $("#splash .modal-body").html($(btnEl).attr('data-body'))
        }
        
        $(document).ready(function() {

            if ($.cookie('id_notify') === undefined){
                $.cookie("id_notify", "0", {path:'/admin/'});
            }

            function total_izin(){
                $.ajax({
                    type: 'GET',
                    url: '{% url 'admin:total_izin' %}',
                    success: function(response) {
                        respon = $.parseJSON(response)
                        // console.log(respon)
                        len = respon.id_elemet.length
                        for (var i = 0; i < len; i++) {
                            // console.log(respon.id_elemet[i])
                            // console.log(respon.jumlah_izin[i])
                            var element = respon.id_elemet[i]
                            if (respon.jumlah_izin[i] > 0){
                                $('.'+respon.id_elemet[i]+' > a').append('<span class="badge bg-info">'+(respon.jumlah_izin[i])+'</span>')
                            }

                            var jumlah_izin = respon.jumlah_izin[i]
                        }
                        var pesan = respon.pesan
                        var url = respon.url
                        var total = respon.total
                        // console.log(total)
                        
                        // console.log(pesan)
                        // console.log(url)
                        // console.log(jumlah_izin)
                        if ($.cookie('id_notify') === total.toString() ){
                            // console.log("tidak ada perubahan")
                        }
                        else{
                            // console.log("masuk else")
                            // console.log(pathname.split('/')[1])
                            if (total > 0 ){
                                // total_izin()
                                $.cookie("id_notify", total, {path:'/admin/'});
                                if (pathname.split('/')[1] == 'admin'){
                                // if (jQuery.inArray('/admin/',pathname) !== -1){
                                    // console.log('a')
                                    document.addEventListener('DOMContentLoaded', function () {
                                      if (!Notification) {
                                        alert('Desktop notifications not available in your browser. Try Chromium.'); 
                                        return;
                                      }
                                      if (Notification.permission !== "granted"){
                                        Notification.requestPermission();
                                      } 
                                    });
                                    if (Notification.permission !== "granted"){
                                        Notification.requestPermission();
                                    }
                                    else {
                                        var dts = Math.floor(Date.now());

                                        var notification = new Notification('Notification SIMPATIK', {
                                            icon: '{% static 'images/SIMPATIK.ico' %}',
                                            body: pesan,
                                            vibrate: [200, 100, 200],
                                            timestamp: dts,
                                            // silent: true,
                                            data: 'I like peas.',
                                            // dir: 'rtl'
                                        });

                                        // setTimeout(notification.close, 100);
                                        // setTimeout(function() { notification.close() }, 1);

                                        notification.sound
                                        notification.timestamp
                                        notification.silent
                                        notification.data

                                        notification.onclick = function () {
                                          location.replace(url);      
                                        };
                                        
                                        setTimeout(notification.close.bind(notification), 10000);
                                    }
                                    $('#sound_alert')[0].play();
                                }
                            }
                        }
                    }
                })
            }
            total_izin()
            // if ( $.cookie('id_notify') > 0){
            setInterval(total_izin , 300000);
            // }
        })
    </script>
    {% block extrajs_site %}
        <script src="{% static "scripts/js/main.js" %}"></script>
    {% endblock %}
{% endblock %}


{% block header_content %}
    <section id="header">
        <header class="clearfix">
            <!-- Branding -->
            <div class="branding">
                {% block branding %}
                    <a class="brand" href="{% url 'admin:index' %}">
                        <span><strong>{{ request.META.HTTP_HOST|get_brand }}</strong></span>
                    </a>
                    <a href="{% url 'admin:index' %}" class="offcanvas-toggle visible-xs-inline"><i class="fa fa-bars"></i></a>
                {% endblock %}
            </div>

            {% block usertools %}
            <ul class="nav-right pull-right list-inline">
                {% if has_permission %}
                <li class="dropdown nav-profile">
                    <a href class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ user.get_foto }}" alt="" class="img-circle size-30x30">
                        <span>{% block welcome-msg %}{% firstof user.nama_lengkap user.get_username user.nama_lengkap %}{% endblock %}<i class="fa fa-angle-down"></i></span>
                    </a>
                    {% block userlinks %}
                    <ul class="dropdown-menu animated littleFadeInRight" role="menu">
                        {% if user.is_active and user.is_admin %}
                            {% url 'django-admindocs-docroot' as docsroot %}
                            {% if docsroot %}
                            <li>
                                <a href="{{ docsroot }}">
                                    <span class="badge bg-greensea pull-right">99%</span>
                                    <i class="fa fa-user"></i>{% trans 'Documentation' %}
                                </a>
                            </li>
                            {% endif %}
                        {% endif %}
                        <li>
                            <a href="{% url 'admin:profile_account' %}">
                                <i class="fa fa-user"></i>{% trans "Profil" %}
                            </a>
                        </li>
                        <!-- <li>
                            <a href="#">
                                <span class="label bg-lightred pull-right">new</span>
                                <i class="fa fa-check"></i>Tasks
                            </a>
                        </li> -->
                        {% if user.has_usable_password %}
                            <li>
                                <a href="{% url 'admin:password_change' %}">
                                    <i class="fa fa-cog"></i>{% trans 'Change password' %}
                                </a>
                            </li>
                        {% endif %}
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'logout_cas' %}?next={% url 'useradmin:index' %}">
                                <i class="fa fa-sign-out"></i>{% trans 'Log out' %}
                            </a>
                        </li>
                    </ul>
                    {% endblock %}
                </li>

                <li class="toggle-right-sidebar">
                </li>
                {% endif %}
            </ul>
            <!-- Right-side navigation end -->
            {% endblock %}
            {% block nav-global %}{% endblock %}
        </header>
    </section>
{% endblock %}

{% block control_content %}
    <div id="controls">
        {% block sidebar_content %}
            <aside id="sidebar">
                <div id="sidebar-wrap">
                    <div class="panel-group slim-scroll" role="tablist">
                        {% if user.is_active and user.is_staff %}
                            {% if not is_popup %}
                                {% admin_tools_render_menu %}
                            {% endif %}
                        {% endif %}
                        <div style="width: 100%; height: 200px;">
                            
                        </div>
                    </div>
                </div>
            </aside>
        {% endblock %}

        {% block rightbar_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block page_content %}
    <section id="content">
        <div class="page page-fullwidth-layout">
            <div class="pageheader">
                <h2>{% block icotitle %}<i class="fa fa-desktop"></i>&nbsp;{% endblock %}{% block content_title %}{% if title %}{{ title }}{% endif %}{% endblock %} <span>{% block pretitle %}{% endblock %}</span></h2>

                {% block breadcrumbs %}
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="{% url 'admin:index' %}" class="link-effect link-effect-21"><i class="fa fa-home"></i> {% trans 'Home' %}</a>
                        </li>
                        <li>
                            <a href="#" class="link-effect">
                            {% if title %}{{ title }}{% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
                {% endblock %}
            </div>
            <p class="lead">
                {% block messages %}
                    {% if messages %}
                    <div class="row">
                        <div class="col-sm-12">
                            {% for message in messages %}                    
                            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'success' %}alert-success{% else %}alert-info{% endif %} {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissable">
                                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ message|safe }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                {% endblock messages %}
            </p>
            {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}            
        </div>
        {% block footer %}{{ block.super }}{% endblock %}
    </section>
{% endblock %}

{% block extracontent %}
    {{ block.super }}
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="splash" class="modal splash fade" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title custom-font"></h3>
                </div>
                <div class="modal-body"></p>
                </div>
                <div class="modal-footer">
                    <button class="ya btn btn-default btn-border">Ya</button>
                    <button data-dismiss="modal" class="btn btn-default btn-border tidak">Tidak</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}