{% extends "admin/base.html" %}

{% load i18n admin_static admin_tools_menu_tags widgets %}

{% block title %}
	{{ title }} | {{ site_title|default:_('Sistem Informasi Manajemen Pelayanan Perijinan Terpadu Satu Pintu Kabupaten Kediri') }}
{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'styles/css/vendor/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'styles/css/main_site.css' %}">
    <link rel="stylesheet" href="{% static 'scripts/js/vendor/toastr/toastr.min.css' %}">
    <style type="text/css">
        #header .list-group-item {
            display: inline-flex;
        }
        #sidebar .menu-item .badge{
            z-index: 2;
        }
        .nav-profile .littleFadeInRight{
            position: absolute;
        }
    </style>
{% endblock %}

{% block extrajs %}
	{{ block.super }}
    <audio id="sound_alert">
        <source src="{% static 'sound/alert.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <script src="{% static 'scripts/js/vendor/jquery/jquery.cookie.js' %}"></script>
    <script src="{% static 'scripts/js/vendor/toastr/toastr.min.js' %}"></script>
    <script type="text/javascript">
        $('#sidebarCharts').hide()
        $('.panel .charts .panel-default').hide()
        var pathname = window.location.pathname;
        
        function toast_server_error(msg_){
            toastr.options = {
              "closeButton": true,
              "debug": false,
              "newestOnTop": false,
              "progressBar": false,
              "positionClass": "toast-top-right",
              "preventDuplicates": false,
              "onclick": null,
              "showDuration": "300",
              "hideDuration": "1000",
              "timeOut": "5000",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
            }
            if(typeof msg_ == "undefined"){
                toastr["error"]("Terjadi kesalahan pada koneksi server.")
            }
            else{
                toastr["error"](msg_)
            }
        }
        function open_splash(btnEl){
            $("#splash .modal-title").html($(btnEl).attr('data-title'))
            $("#splash .modal-body").html($(btnEl).attr('data-body'))
        }
        
        $(document).ready(function() {

            if ($.cookie('id_notify') === undefined){
                $.cookie("id_notify", "0", {path:'/admin/'});
            }

            function total_izin(){
                $.ajax({
                    type: 'GET',
                    url: '{% url 'admin:total_izin' %}',
                    success: function(response) {
                        respon = $.parseJSON(response)
                        // console.log(respon)
                        len = respon.id_elemet.length
                        for (var i = 0; i < len; i++) {
                            // console.log(respon.id_elemet[i])
                            // console.log(respon.jumlah_izin[i])
                            var element = respon.id_elemet[i]
                            if (respon.jumlah_izin[i] > 0){
                                $('.'+respon.id_elemet[i]+' a').append('<span class="badge bg-info">'+(respon.jumlah_izin[i])+'</span>')
                            }

                            var jumlah_izin = respon.jumlah_izin[i]
                        }
                        var pesan = respon.pesan
                        var url = respon.url
                        var total = respon.total
                        // console.log(total)
                        
                        // console.log(pesan)
                        // console.log(url)
                        // console.log(jumlah_izin)
                        if ($.cookie('id_notify') === total.toString() ){
                            // console.log("tidak ada perubahan")
                        }
                        else{
                            // console.log("masuk else")
                            // console.log(pathname.split('/')[1])
                            if (total > 0 ){
                                // total_izin()
                                $.cookie("id_notify", total, {path:'/admin/'});
                                if (pathname.split('/')[1] == 'admin'){
                                // if (jQuery.inArray('/admin/',pathname) !== -1){
                                    // console.log('a')
                                    document.addEventListener('DOMContentLoaded', function () {
                                      if (!Notification) {
                                        alert('Desktop notifications not available in your browser. Try Chromium.'); 
                                        return;
                                      }
                                      if (Notification.permission !== "granted"){
                                        Notification.requestPermission();
                                      } 
                                    });
                                    if (Notification.permission !== "granted"){
                                        Notification.requestPermission();
                                    }
                                    else {
                                        var dts = Math.floor(Date.now());

                                        var notification = new Notification('Notification SIMPATIK', {
                                            icon: '{% static 'images/SIMPATIK.ico' %}',
                                            body: pesan,
                                            vibrate: [200, 100, 200],
                                            timestamp: dts,
                                            // silent: true,
                                            data: 'I like peas.',
                                            // dir: 'rtl'
                                        });

                                        // setTimeout(notification.close, 100);
                                        // setTimeout(function() { notification.close() }, 1);

                                        notification.sound
                                        notification.timestamp
                                        notification.silent
                                        notification.data

                                        notification.onclick = function () {
                                          location.replace(url);      
                                        };
                                        
                                        setTimeout(notification.close.bind(notification), 10000);
                                    }
                                    $('#sound_alert')[0].play();
                                }
                            }
                        }
                    }
                })
            }
            total_izin()
            // if ( $.cookie('id_notify') > 0){
            setInterval(total_izin , 300000);
            // }
        })
    </script>
    {% block extrajs_site %}
    	<!-- ============================================
        ============== Custom JavaScripts ===============
        ============================================= -->
        <script src="{% static "scripts/js/main.js" %}"></script>
        <!--/ custom javascripts -->
    {% endblock %}
{% endblock %}


{% block header_content %}
    <!-- ===============================================
    ================= HEADER Content ===================
    ================================================ -->
    <section id="header">
        <header class="clearfix">
            <!-- Branding -->
            <div class="branding">
                {% block branding %}
                    <a class="brand" href="{% url 'admin:index' %}">
                        <span><strong>{{ request.META.HTTP_HOST|get_brand }}</strong></span>
                    </a>
                    <a href="{% url 'admin:index' %}" class="offcanvas-toggle visible-xs-inline"><i class="fa fa-bars"></i></a>
                {% endblock %}
            </div>
            <!-- Branding end -->
            <!-- Left-side navigation -->
            <ul class="nav-left pull-left list-unstyled list-inline">
                <li class="sidebar-collapse divided-right">
                    <a href="#" class="collapse-sidebar">
                        <i class="fa fa-outdent"></i>
                    </a>
                </li>
                <li class="dropdown divided-right settings">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-cog"></i>
                    </a>
                    <ul class="dropdown-menu with-arrow animated littleFadeInUp" role="menu">
                        <li>
                            <ul class="color-schemes list-inline">
                                <li class="title">Header Color:</li>
                                <li><a href="#" class="scheme-drank header-scheme" data-scheme="scheme-default"></a></li>
                                <li><a href="#" class="scheme-black header-scheme" data-scheme="scheme-black"></a></li>
                                <li><a href="#" class="scheme-greensea header-scheme" data-scheme="scheme-greensea"></a></li>
                                <li><a href="#" class="scheme-cyan header-scheme" data-scheme="scheme-cyan"></a></li>
                                <li><a href="#" class="scheme-lightred header-scheme" data-scheme="scheme-lightred"></a></li>
                                <li><a href="#" class="scheme-light header-scheme" data-scheme="scheme-light"></a></li>
                                <li class="title">Branding Color:</li>
                                <li><a href="#" class="scheme-drank branding-scheme" data-scheme="scheme-default"></a></li>
                                <li><a href="#" class="scheme-black branding-scheme" data-scheme="scheme-black"></a></li>
                                <li><a href="#" class="scheme-greensea branding-scheme" data-scheme="scheme-greensea"></a></li>
                                <li><a href="#" class="scheme-cyan branding-scheme" data-scheme="scheme-cyan"></a></li>
                                <li><a href="#" class="scheme-lightred branding-scheme" data-scheme="scheme-lightred"></a></li>
                                <li><a href="#" class="scheme-light branding-scheme" data-scheme="scheme-light"></a></li>
                                <li class="title">Sidebar Color:</li>
                                <li><a href="#" class="scheme-drank sidebar-scheme" data-scheme="scheme-default"></a></li>
                                <li><a href="#" class="scheme-black sidebar-scheme" data-scheme="scheme-black"></a></li>
                                <li><a href="#" class="scheme-greensea sidebar-scheme" data-scheme="scheme-greensea"></a></li>
                                <li><a href="#" class="scheme-cyan sidebar-scheme" data-scheme="scheme-cyan"></a></li>
                                <li><a href="#" class="scheme-lightred sidebar-scheme" data-scheme="scheme-lightred"></a></li>
                                <li><a href="#" class="scheme-light sidebar-scheme" data-scheme="scheme-light"></a></li>
                                <li class="title">Active Color:</li>
                                <li><a href="#" class="scheme-drank color-scheme" data-scheme="drank-scheme-color"></a></li>
                                <li><a href="#" class="scheme-black color-scheme" data-scheme="black-scheme-color"></a></li>
                                <li><a href="#" class="scheme-greensea color-scheme" data-scheme="greensea-scheme-color"></a></li>
                                <li><a href="#" class="scheme-cyan color-scheme" data-scheme="cyan-scheme-color"></a></li>
                                <li><a href="#" class="scheme-lightred color-scheme" data-scheme="lightred-scheme-color"></a></li>
                                <li><a href="#" class="scheme-light color-scheme" data-scheme="light-scheme-color"></a></li>
                            </ul>

                        </li>

                        <li>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-xs-8 control-label">Fixed header</label>
                                    <div class="col-xs-4 control-label">
                                        <div class="onoffswitch lightred small">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="fixed-header" checked="">
                                            <label class="onoffswitch-label" for="fixed-header">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="form-group">
                                <div class="row">
                                    <label class="col-xs-8 control-label">Fixed aside</label>
                                    <div class="col-xs-4 control-label">
                                        <div class="onoffswitch lightred small">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="fixed-aside" checked="">
                                            <label class="onoffswitch-label" for="fixed-aside">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Left-side navigation end -->
            <!-- Search -->
            <div class="search" id="main-search">
                <input type="text" class="form-control underline-input" placeholder="Search...">
            </div>
            <!-- Search end -->
            <!-- Right-side navigation -->
            {% block usertools %}
            <ul class="nav-right pull-right list-inline">
                {% if has_permission %}
                <li class="dropdown">
                    <!-- <a href="#" class="hasnotifications dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span class="icon-bg"><i class="fa fa-envelope"></i></span><span class="badge badge-info"></span><div class="ripple-container"></div></a> -->
                    <ul class="dropdown-menu animated littleFadeInRight" role="menu">
                        <li class="media notification-message">
                            <a href="#">
                                <div class="media-left">
                                    <!-- <img class="img-circle avatar" src="assets/demo/avatar/avatar_01.png" alt=""> -->
                                </div>
                                <div class="media-body">
                                    <h5 class="notification-heading"><strong></strong></h5>
                                    <p><span class="text-gray">‒ Integer vitae libero ac risus egestas placerat.</span></p>
                                    <span class="notification-time">2 mins ago</span>
                                </div>
                            <div class="ripple-container"></div></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown messages">
                    {% load logs %}
                    {% get_logs user 4 as admin_log %}
                    <a data-toggle="dropdown" class="dropdown-toggle" href="" aria-expanded="false">
                        <i class="fa fa-history"></i>
                    </a>
                    <div role="menu" class="dropdown-menu pull-right with-arrow panel panel-default animated littleFadeInDown">
                        <div class="panel-heading">
                            You have <strong>{{admin_log.1}}</strong> aktivitas
                        </div>
                        <ul class="list-group">                            
                            
                            {% for entry in admin_log.0 %}
                                <li class="list-group-item">
                                    <a class="media" href="{% if entry.is_deletion or not entry.get_admin_url %}{{ entry.get_admin_url }}{% else %}#{% endif %}">
                                        <span class="pull-left media-object" style="margin-top: 20px;">
                                            <div class="fa fa-{% if entry.is_addition %}plus-circle{% endif %}{% if entry.is_change %}edit{% endif %}{% if entry.is_deletion %}times{% endif %} fa-fw" style="color: #{% if entry.is_addition %}5cb85c{% endif %}{% if entry.is_change %}f0ad4e{% endif %}{% if entry.is_deletion %}d9534f{% endif %};">
                                            </div>
                                        </span>
                                        <div class="media-body">
                                            <span class="block">
                                                <span class="contacts-title">{{ entry.object_repr|truncatechars:18 }}</span>&nbsp;<span class="mini quiet">{% if entry.content_type %}{% filter capfirst %}({% trans entry.content_type.name %}){% endfilter %}{% else %}{% trans '(Konten Tidak diketahui)' %}{% endif %}</span>
                                            </span>
                                            {% if entry.change_message %}
                                                <small class="text-muted">{{ entry.change_message|truncatechars:40 }}</small>
                                                <br />
                                            {% endif %}
                                            <small class="text-muted text-success">{{ entry.action_time|timesince }} {% trans "ago" %}</small>
                                        </div>
                                    </a>
                                </li>
                                
                            {% endfor %}
                            
                        </ul>
                        <div class="panel-footer">
                            <a href="{% url 'admin:admin_logentry_changelist' %}">Lihat semua aktivitas <i class="pull-right fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </li>
                <li class="dropdown nav-profile">
                    <a href class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ user.get_foto }}" alt="" class="img-circle size-30x30">
                        <span>{% block welcome-msg %}{% firstof user.nama_lengkap user.get_username user.nama_lengkap %}{% endblock %}<i class="fa fa-angle-down"></i></span>
                    </a>
                    {% block userlinks %}
                    <ul class="dropdown-menu animated littleFadeInRight" role="menu">
                        {% if user.is_active and user.is_admin %}
                            {% url 'django-admindocs-docroot' as docsroot %}
                            {% if docsroot %}
                            <li>
                                <a href="{{ docsroot }}">
                                    <span class="badge bg-greensea pull-right">99%</span>
                                    <i class="fa fa-user"></i>{% trans 'Documentation' %}
                                </a>
                            </li>
                            {% endif %}
                        {% endif %}
                        <li>
                            <a href="{% url 'admin:profile_account' %}">
                                <i class="fa fa-user"></i>{% trans "Profil" %}
                            </a>
                        </li>
                        <!-- <li>
                            <a href="#">
                                <span class="label bg-lightred pull-right">new</span>
                                <i class="fa fa-check"></i>Tasks
                            </a>
                        </li> -->
                        {% if user.has_usable_password %}
                            <li>
                                <a href="{% url 'admin:password_change' %}">
                                    <i class="fa fa-cog"></i>{% trans 'Change password' %}
                                </a>
                            </li>
                        {% endif %}
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'logout_cas' %}?next={% url 'useradmin:index' %}">
                                <i class="fa fa-sign-out"></i>{% trans 'Log out' %}
                            </a>
                        </li>
                    </ul>
                    {% endblock %}
                </li>

                <li class="toggle-right-sidebar">
                </li>
                {% endif %}
            </ul>
            <!-- Right-side navigation end -->
            {% endblock %}
            {% block nav-global %}{% endblock %}
        </header>
    </section>
{% endblock %}

{% block control_content %}
    <!-- =================================================
    ================= CONTROLS Content ===================
    ================================================== -->
    <div id="controls">
        {% block sidebar_content %}
            <!-- ================================================
            ================= SIDEBAR Content ===================
            ================================================= -->
            <aside id="sidebar">
                <div id="sidebar-wrap">
                    <div class="panel-group slim-scroll" role="tablist">
                        {% if user.is_active and user.is_staff %}
                            {% if not is_popup %}
                                {% admin_tools_render_menu %}
                            {% endif %}
                        {% endif %}
                        <div class="panel charts panel-default">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#sidebarCharts">
                                        Ringkasan <i class="fa fa-angle-up"></i>
                                    </a>
                                </h4>
                            </div>
                            <div id="sidebarCharts" class="panel-collapse collapse in" role="tabpanel">
                                <div class="panel-body">
                                    <div class="summary">

                                        <div class="media">
                                            <a class="pull-right" href="#">
                                                <span class="sparklineChart"
                                                      values="5, 8, 3, 4, 6, 2, 1, 9, 7"
                                                      sparkType="bar"
                                                      sparkBarColor="#92424e"
                                                      sparkBarWidth="6px"
                                                      sparkHeight="36px">
                                                Loading...</span>
                                            </a>
                                            <div class="media-body">
                                                Ijin Masuk Minggu Ini
                                                <h4 class="media-heading">26, 149</h4>
                                            </div>
                                        </div>

                                        <div class="media">
                                            <a class="pull-right" href="#">
                                                <span class="sparklineChart"
                                                      values="2, 4, 5, 3, 8, 9, 7, 3, 5"
                                                      sparkType="bar"
                                                      sparkBarColor="#397193"
                                                      sparkBarWidth="6px"
                                                      sparkHeight="36px">
                                                Loading...</span>
                                            </a>
                                            <div class="media-body">
                                                Saldo Masuk Minggu Ini
                                                <h4 class="media-heading">318, 651</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <!--/ SIDEBAR Content -->
        {% endblock %}

        {% block rightbar_content %}
            <!-- =================================================
            ================= RIGHTBAR Content ===================
            ================================================== -->
            
            <!--/ RIGHTBAR Content -->
        {% endblock %}
    </div>
    <!--/ CONTROLS Content -->
{% endblock %}

{% block page_content %}
    <!-- ====================================================
    ================= CONTENT ===============================
    ===================================================== -->
    <section id="content">
        <div class="page page-fullwidth-layout">
            <div class="pageheader">
                <h2>{% block icotitle %}<i class="fa fa-desktop"></i>&nbsp;{% endblock %}{% block content_title %}{% if title %}{{ title }}{% endif %}{% endblock %} <span>{% block pretitle %}{% endblock %}</span></h2>

                {% block breadcrumbs %}
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <a href="{% url 'admin:index' %}" class="link-effect link-effect-21"><i class="fa fa-home"></i> {% trans 'Home' %}</a>
                        </li>
                        <li>
                            <a href="#" class="link-effect">
                            {% if title %}{{ title }}{% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
                {% endblock %}
            </div>
            <p class="lead">
                <!-- MESSAGE -->
                {% block messages %}
                    {% if messages %}
                    <div class="row">
                        <div class="col-sm-12">
                            {% for message in messages %}                    
                            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'success' %}alert-success{% else %}alert-info{% endif %} {% if message.tags %}{{ message.tags }}{% endif %} alert-dismissable">
                                <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
                                {{ message|safe }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                {% endblock messages %}
                <!-- END MESSAGE -->
            </p>
            {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
            {% endblock %}
            {% block sidebar %}{% endblock %}            
        </div>
        {% block footer %}{{ block.super }}{% endblock %}
    </section>
    <!--/ CONTENT -->
{% endblock %}

{% block extracontent %}
    {{ block.super }}
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="splash" class="modal splash fade" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title custom-font"></h3>
                </div>
                <div class="modal-body"></p>
                </div>
                <div class="modal-footer">
                    <button class="ya btn btn-default btn-border">Ya</button>
                    <button data-dismiss="modal" class="btn btn-default btn-border tidak">Tidak</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}