{% load suit_list i18n %}

<div class="pagination-block">

  {% if pagination_required %}
    <div class="pagination">
      <ul class="pagination">
        {% for i in page_range %}
          {% paginator_number cl i %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="pagination-info muted">
    <span class="badge bg-red">{% paginator_info cl %}</span>
    &nbsp; / &nbsp;
    <span class="badge bg-red">{{ cl.result_count }}</span>
    
    {% ifequal cl.result_count 1 %}
      <span class="label bg-hotpink">{{ cl.opts.verbose_name }}</span>
    {% else %}
      <span class="label bg-hotpink">{{ cl.opts.verbose_name_plural }}</span>
    {% endifequal %}
    {% if show_all_url %}&nbsp;&nbsp;
    <span class="label bg-greensea"><a href="{{ show_all_url }}" class="showall">{% trans 'Show all' %}</a></span>
    {% endif %}
  </div>
</div>