{% load i18n admin_static staticfiles widgets %}
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
    
      hr.style14 { 
          border: 0; 
          height: 1px; 
          background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
          background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
          background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
          background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
        }
      * {
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
      }
    body {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          background-color: #FAFAFA;
          font: 12pt "Open Sans";
          font-family: "Open Sans", Helvetica, Arial, sans-serif;
      }
      * {
          box-sizing: border-box;
          -moz-box-sizing: border-box;
      }
      .page {
          width: 21.5cm;
          min-height: 33cm;
          /*padding: 5mm;*/
          margin: 5mm auto;
          border: 1px #D3D3D3 solid;
          border-radius: 5px;
          background: white;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      }
      .subpage {
          /*padding: 5px 24px 24px 84px;*/
          /*border: 5px red solid;*/
          padding-top: 1.4cm;
          padding-left: 2.6cm;
          padding-right: 1.9cm;
          height: 257mm;
          line-height: 0.55cm;
          font-family:"Arial";
          /*outline: 2cm #FFEAEA solid;*/
      }
      @-moz-document url-prefix() {
          .subpage {
              height:  340mm;
          }
      }   
      @page {
          size: F4;
          margin: 0;
      }
      @media print {
          html, body {
              width: 21.5cm;
              height: 33cm;  
              font-family:"Arial";      
          }
          .page {
              margin: 0;
              border: initial;
              border-radius: initial;
              width: initial;
              min-height: initial;
              box-shadow: initial;
              background: initial;
              page-break-after: always;
          }
      }

      /*.title, .tabel{
      border-bottom: 1px solid #7d7d7d;
      }
      .title h3{
        margin-top: 0px;
      }
      .tabel{
        padding-top: 0px;
        padding-bottom: 10px;
      }

      table {
          border-collapse: collapse;
    }*/

    .ceklist {
        border: 1px solid black;
    }
      .font {
          font-size: 11px;
          font-family: "Open Sans", Helvetica, Arial, sans-serif;
      }
      #print-modal {
          margin: 0 0 0 -393px;
      }
      .style2 {
      border-top: 3px double #8c8b8b;
    }
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .button-close {
        background-color: #f32818; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 8px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    .sk-justify {
        text-align: justify;
        text-justify: inter-word;
    }
    @media print {
      .hidden-print {
        display: none !important;
      }
    }
/*    th, td {
        padding: 5px;
    }*/
  </style>
  {% if pengajuan.status == 1 or skizin_status == 2 or skizin_status == 1 %}
  <script type="text/javascript">
    
  </script>
  {% else %}
  <script>
    document.querySelector('style').textContent += "@media print { body { display: none !important; } }"
  </script>
  {% endif %}
</head>
  <body id="body">
  {% if pengajuan.status == 1 or skizin_status == 2 or skizin_status == 1 %}
    <div style="padding: 240px 0 0 30px; height: 140px; width: 150px;position:fixed;left:0;top:0">
      <a class="button hidden-print" onclick="window.print()" href="#" style="margin-bottom: 10px;">
        <img src="{% static 'images/icon-print.png' %}">
      </a>
      <br>
      <a class="button-close hidden-print" href="javascript:if(confirm('Close window?'))window.close()" onclick="setTimeout(function(){var ww = window.open(window.location, '_self'); ww.close(); }, 1000);">
        <img src="{% static 'images/icon-close.png' %}">
      </a>
    </div>
  {% endif %}
    <div class="book">
        <div class="page">
            <div class="subpage">
              <table width="100%" class="sk-justify" style="margin-top: -16px; margin-bottom: -18px;" border="0">
                <tr>
                  <td style="vertical-align: top;padding-top: 1px;"><img src="{% static 'images/kabkediri.png' %}" width="85px"></td>
                  <td>
                    <center>
                  <p style="text-align: center; margin-bottom: 10px; margin-top: 0;letter-spacing:  0.01cm;">
                    <b style="font-size: 19px;">PEMERINTAHAN KABUPATEN KEDIRI</b><br>
                    <b style="font-size: 20px;">DINAS PENANAMAN MODAL DAN PELAYANAN<br>TERPADU SATU PINTU</b>
                    <br/>
                    <span style="font-size: 14px;"><b>Jalan Soekarno - Hatta Nomor 14 Telp. 681227 & 681741 Fax. 0354 - 681227<br>Website : <u>www.kedirikab.go.id</u> Email : <u>bpmp2tsp@kedirikab.go.id</u></b></span><br>
                    <span style="font-size: 19px;"><b>KEDIRI</b></span>
                  </p>
                    </center>
                  </td>
                </tr>
              </table>
              <hr class="style2">
              <center>
                <font style="font-size: 15px;letter-spacing:  0.01cm;"><b>KEPUTUSAN KEPALA DINAS PENANAMAN MODAL DAN <br>
                PELAYANAN PERIZINAN TERPADU SATU PINTU KABUPATEN KEDIRI</b></font><br><br>
                <font style="font-size: 15px;font-family: Arial;">NOMOR : </font><font style="font-size: 15.4px;font-family: Arial;">{{ pengajuan.no_izin|default_if_none:"-" }}</font><br>
              </center>
              <center>
                <font style="font-size: 15px;font-family: Arial;letter-spacing:  0.01cm;">TENTANG<br>
              PEMBERIAN IZIN PERUBAHAN PENGGUNAAN TANAH (IPPT)
                </font><br><br>
                <font style="font-size: 15px;letter-spacing:  0.01cm;">
                  KEPALA DINAS PENANAMAN MODAL DAN<br>
                  PELAYANAN PERIZINAN TERPADU SATU PINTU,
                </font>
              </center><br>
              <table width="100%" border="0" class="sk-justify">
              <tr>
                <td style="vertical-align: top;padding-top: 1px;">Menimbang</td>
                <td style="vertical-align: top;padding-top: 1px;">:</td>
                <td style="vertical-align: top;padding-top: 1px;">a.</td>
                <td>bahwa pemohon sudah mengajukan Permohonan Izin Perubahan  Penggunaan  Tanah (IPPT) tanggal {{pengajuan.created_at|date:"d F Y"}} ;</td>
              </tr>
              <tr>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">b.</td>
                <td>bahwa perubahan penggunaan tanah harus sesuai dengan Peraturan Daerah Kabupaten Kediri Nomor 14 tahun 2011 tentang Rencana Tata Ruang Wilayah Kabupaten Kediri Tahun 2010 – 2030 ;</td>
              </tr>
              {% if sk_.sk_menimbang_c %}
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">c.</td>
                <td>{{sk_.sk_menimbang_c}}
                </td>
              </tr>
              {% endif %}
              {% if sk_.sk_menimbang_d %}
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">d.</td>
                <td>{{sk_.sk_menimbang_d}}
                </td>
              </tr>
              {% endif %}
              <tr>
                <td style="vertical-align: top;padding-top: 1px;">Mengingat</td>
                <td style="vertical-align: top;padding-top: 1px;">:</td>
                <td style="vertical-align: top;padding-top: 1px;">1.</td>
                <td>Undang-Undang Nomor 5 Tahun 1960 tentang Peraturan Dasar Pokok-Pokok Agraria;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">2.</td>
                <td>Undang-Undang Nomor 25 Tahun 2007 tentang Penanaman Modal;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">3.</td>
                <td>Undang-Undang Nomor 27 Tahun 2007 tentang Penataan Ruang;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">4. </td>
                <td>Peraturan Pemerintah Nomor 16 Tahun 2004 tentang Penatagunaan Tanah ;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">5.</td>
                <td>Peraturan Presiden Nomor 10 Tahun 2006 tantang Badan Pertanahan Nasional ;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">6. </td>
                <td>Peraturan Kepala Badan Pertanahan Nasional Republik Indonesia Nomor 1 Tahun 2010 tentang standar pelayanan dan pengaturan pertanahan ;  </td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">7.</td>
                <td>Peraturan Kepala Badan Pertanahan Nasional Republik Indonesia Nomor 2 Tahun 2011 tentang Pedoman Pertimbangan Teknis Pertanahan dalam Penerbitan Izin Lokasi, Penetapan Lokasi dan Izin Perubahan Penggunaan Tanah ;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">8.</td>
                <td>Peraturan Daerah Kabupaten Kediri Nomor 14 Tahun 2011 tentang Rencana Tata Ruang Wilayah Kabupaten Kediri Tahun 2010-2030 ;</td>
              </tr>
              <tr>
                <td></td>
                <td style="vertical-align: top;padding-top: 1px;"></td>
                <td style="vertical-align: top;padding-top: 1px;">9.</td>
                <td>Peraturan Bupati Kediri Nomor 42 Tahun 2015 tentang Penyelenggaraan Pelayanan Terpadu Satu Pintu pada Badan Penanaman Modal dan Pelayanan Perizinan Terpadu Satu Pintu Kabupaten Kediri sebagaimana telah diubah dengan Peraturan Bupati Kediri Nomor 17 Tahun 2016.</td>
              </tr>
            </table>
            </div>
        </div>
      <div class="page">
        <div class="subpage">
              <center>
                <font><b>MEMUTUSKAN :</b>
                </font>
              </center>
            <table width="100%" border="0" class="sk-justify">
                <tr>
                  <td width="30" style="vertical-align: top;padding-top: 1px;width: 105px;">Menetapkan</td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;" >:</td>
                  <td colspan="3">Pemberian Izin Perubahan Penggunaan Tanah (IPPT) dari tanah pertanian menjadi non pertanian untuk {{pengajuan.rencana_penggunaan|upper}} kepada:</td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="2" align="left" style="padding-left: 12px;width: 121px;">Nama</td>
                  <td width="10">:</td>
                  <td>{{pengajuan.pemohon.nama_lengkap}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="2" align="left" style="padding-left: 12px;width: 121px;">Alamat</td>
                  <td width="10">:</td>
                  <td>{{pengajuan.pemohon.alamat}} Desa, {{ pengajuan.pemohon.desa|title }} Kec. {{ pengajuan.pemohon.desa.kecamatan|title }} {{ pengajuan.pemohon.desa.kecamatan.kabupaten|title }}</td>
                </tr>
                <tr>
                  <td width="30" style="width: 105px;">KESATU</td>
                  <td width="10" >:</td>
                  <td colspan="3">Lokasi Izin Perubahan Penggunaan Tanah (IPPT) :</td>
                </tr>
              </table>
              <table width="100%" border="0" class="sk-justify">
                <tr>
                  <td style="padding-left: 12px;width: 105px;"></td>
                  <td align="left" style="padding-left: 12px;width: 260px;">1. Letak tanah yang dimohon :</td>
                  <td style="width: 10px;"></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td align="left" style="padding-left: 27px;width: 121px;">a. Desa/Kelurahan</td>
                  <td width="10">:</td>
                  <td>{{pengajuan.desa|title}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td align="left" style="padding-left: 27px;width: 121px;">b. Kecamatan</td>
                  <td width="10">:</td>
                  <td>{{pengajuan.desa.kecamatan|title}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td align="left" style="padding-left: 27px;width: 151px;">c. Kabupaten</td>
                  <td width="10">:</td>
                  <td>{{pengajuan.desa.kecamatan.kabupaten|title}}</td>
                </tr>
                <tr>
                  <td style="padding-left: 12px;width: 105px;"></td>
                  <td align="left" style="padding-left: 12px">2. Luas Tanah yang Diijinkan</td>
                  <td >:</td>
                  <td >{{pengajuan.luas_tanah_yang_disetujui|default_if_none:"-"}} dari {{pengajuan.luas|default_if_none:"-"}}</td>
                </tr>
                <tr>
                  <td style="padding-left: 12px;width: 105px;"></td>
                  <td align="left" style="padding-left: 12px">3. Pengunaan Tanah Sebelumnya</td>
                  <td >:</td>
                  <td >{{pengajuan.penggunaan_tanah_sebelumnya|default_if_none:"-"}}</td>
                </tr>
                <tr>
                  <td style="padding-left: 12px;width: 105px;"></td>
                  <td align="left" style="padding-left: 12px">4. Penggunaan Saat Ini</td>
                  <td >:</td>
                  <td >{{pengajuan.penggunaan_sekarang|default_if_none:"-"}}</td>
                </tr>
                <tr>
                  <td style="padding-left: 12px;width: 105px;"></td>
                  <td align="left" style="padding-left: 12px">5. Rencana Penggunaan Tanah</td>
                  <td >:</td>
                  <td >{{pengajuan.rencana_penggunaan|default_if_none:"-"}}</td>
                </tr>
                <tr>
                  <td style="padding-left: 12px;width: 105px;"></td>
                  <td align="left" style="padding-left: 12px">6. Arahan Fungsi Kawasan</td>
                  <td >:</td>
                  <td >{{pengajuan.arahan_fungsi_kawasan|default_if_none:"-"}}</td>
                </tr>
              </table>
              <table width="100%" border="0" class="sk-justify">
                <tr>
                  <td style="vertical-align: top;padding-top: 1px;width: 105px;">KEDUA</td>
                  <td style="vertical-align: top;padding-top: 1px;">:</td>
                  <td colspan="3">Ketentuan dan Syarat Penggunaan Tanah :</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td style="vertical-align: top;padding-top: 1px;" align="right">1.</td>
                  <td colspan="2">Izin Perubahan Penggunaan Tanah (IPPT) ini merupakan persyaratan dalam rangka penguasaan, penggunaan dan pemanfaatan tanah untuk penyelesaian administrasi pertanahan ;</td>
                </tr>
                <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">2.</td>
                  <td colspan="3">Perolehan tanah harus dilakukan secara langsung antara pihak-pihak yang berkepentingan melalui jual beli atau secara pelepasan hak yang dilaksanakan dengan pembuatan akta jual beli dihadapan PPAT atau akta pelepasan hak dihadapan Kepala Kantor Pertanahan Kabupaten Kediri atau Notaris dan atau Camat setempat dengn pemberian ganti kerugian yang bentuk dan besarnya ditentukan secara musyawarah ;</td>
                </tr>
                <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">3.</td>
                  <td colspan="3">Untuk tanah yang sudah diperoleh, penerima izin perubahan penggunaan tanah diwajibkan mengajukan permohonan hak atas tanah untuk diterbitkan sertipikat tanah sesuai dengan peruntukan dan statusnya ;</td>
                </tr>
                <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">4.</td>
                  <td colspan="3">Tanah yang sudah diperoleh, tidak boleh dipecah lebih dari 5 bidang.</td>
                </tr>
<!--                 <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">e.</td>
                  <td colspan="3">Apabila dalam batas waktu 3 (tiga) bulan sebagaimana dimaksud pada huruf <data></data> belum dilaksanakan pemegang izin wajib melaporkan secara tertulis disertai alasan yang jelas kepada Bupati;</td>
                </tr>
                <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">f.</td>
                  <td colspan="3">Mengadakan kegiatan usaha pada lokasi yang diizinkan dan apabilamengadakan perluasan lahan dan bangunan harus mengajukan izin kepada Bupati.</td>
                </tr> -->
                <tr>
                  <td style="vertical-align: top;padding-top: 1px;width: 105px;">KETIGA</td>
                  <td style="vertical-align: top;padding-top: 1px;">:</td>
                  <td colspan="3">Kewajiban :</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td style="vertical-align: top;padding-top: 1px;" align="right">1.</td>
                  <td colspan="2">Pemohon berkewajiban untuk membuat Saluran Air dan atau Menjaga Saluran Air yang sudah ada, agar kelancaran jalannya air buangan/air hujan tetap berfungsi dan penyediaan sumur-sumur resapan serta tidak mencemari lahan pertanian disekitarnya ;</td>
                </tr>
                <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">2.</td>
                  <td colspan="3">Pemohon berkewajiban menanam pohon/penghijauan dan atau tanaman hias guna penyegar lingkungan serta menyediakan tempat pembuangan sampah ; </td>
                </tr>
                <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">3.</td>
                  <td colspan="3">Pemohon diwajibkan memiliki Izin Mendirikan Bangunan (IMB) dan izin-izin lainnya yang berkaitan dengan kegiatan {{pengajuan.rencana_penggunaan|upper}} ;</td>
                </tr>
                <tr>
                  <td ></td>
                  <td ></td>
                  <td width="10" style="vertical-align: top;padding-top: 1px;">4.</td>
                  <td colspan="3">Pemohon tidak menelantarkan tanah dan mengoptimalkan penggunaan tanah.</td>
                </tr>
                <tr>
                  <td style="vertical-align: top;padding-top: 1px;width: 105px;">KEEMPAT</td>
                  <td style="vertical-align: top;padding-top: 1px;">:</td>
                  <td colspan="3">Segala bentuk perbuatan hukum yang dapat mengakibatkan terjadinya penelantaran tanah dan tidak digunakan/dimanfaatkan sesuai dengan ketentuan maka dapat dikenakan sanksi sesuai dengan ketentuan dan peraturan yang berlaku;</td>
                </tr>
              </table>
            </div>
        </div>
      <div class="page">
        <div class="subpage">
              <table width="100%" border="0" class="sk-justify">
               <tr>
                  <td style="vertical-align: top;padding-top: 1px;width: 105px;">KELIMA</td>
                  <td style="vertical-align: top;padding-top: 1px;">:</td>
                  <td colspan="3">Bahwa apabila ada perubahan penggunaan tanah selain untuk pendirian RUMAH TINGGAL harus memperoleh Izin/Persetujuan dari Bupati Kediri;</td>
                </tr>
               <tr>
                  <td style="vertical-align: top;padding-top: 1px;width: 105px;">KEENAM</td>
                  <td style="vertical-align: top;padding-top: 1px;">:</td>
                  <td colspan="3">Izin Perubahan Penggunaan Tanah (IPPT) tidak berlaku jika dalam waktu 36 (tiga puluh enam) bulan sejak ditandatangani, pemohon tidak melaksanakan pembangunan {{pengajuan.rencana_penggunaan|upper}} ;</td>
                </tr>
               <tr>
                  <td style="vertical-align: top;padding-top: 1px;width: 105px;">KETUJUH</td>
                  <td style="vertical-align: top;padding-top: 1px;">:</td>
                  <td colspan="3">Apabila dalam pemberian Izin Perubahan Penggunaan Tanah (IPPT) ini dikemudian hari terdapat kekeliruan, akan diadakan perbaikan serta perubahan seperlunya.</td>
                </tr>
                <tr>
                  <td colspan="5" style="padding-left: 35px;"></td>
                </tr>
                <tr>
                  <td colspan="5" style="padding-left: 35px;"></td>
                </tr>
               <tr>
                  <td colspan="5" style="padding-left: 35px;">Demikian untuk dipergunakan sebagaimana mestinya.</td>
                </tr>
              </table>
              <table width="100%" border="0" class="font">
                <tr>
                  <td colspan="3" style="width: 1000px;">
                    <table border="0" align="left">
                      <tr>
                        <td>
                        <br><br>
                          <div id="qrcodeTable" style="float: left; padding-left: : 7mm;"></div>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td width="45%" rowspan="2" style="vertical-align: top;padding-top: 50px;">
                    <p style="font-size:14px; padding-left: 20%;">
                      <font size="3pt">Ditetapkan di Kab. Kediri <br> pada tanggal</font><br></p>
                        <p style="font-size:15px;" align="center"> <font size="2pt">KEPALA DPMPTSP </font></p><br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <p align="center" style="font-size:15px;">{{ nama_kepala_dinas }}
                        </p>
                    </td>
                </tr>
                <tr>
                  <td><br><br><br><br>
                    <table border="0" align="left" style="font-size:15px;">
                      <tr>
                        <td colspan="3">Salinan keputusan ini disampaikan kepada :</td><br>
                      </tr>
                      <tr>
                        <td style="vertical-align: top;padding-top: 1px;">Yth. </td>
                        <td style="vertical-align: top;padding-top: 1px;">1.</td>
                        <td width="100%">Sdr. Kepala Kantor Pertanahan Kabupaten Kediri  ;</td>
                      </tr>    
                    </table>         
                  </td>
                </tr>
              </table>
            </div>    
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="{% static 'scripts/js/vendor/jquery/jquery-1.11.2.min.js' %}"><\/script>')</script>
    <script src="{% static 'scripts/js/QRCode/jquery.qrcode.js' %}"></script>
    <script src="{% static 'scripts/js/QRCode/qrcode.js' %}"></script>
    <script type="text/javascript">
      function Exit() {
          var x=confirm('Are You sure want to exit:');
          if(x) window.close();
        }
        jQuery('#qrcodeTable').qrcode({
        text  : "http://simpatik.kedirikab.go.id/{{ pengajuan.no_izin }}",
        width   : 80,
        height  : 80,
      }); 
    </script>
  </body>
</html>