<form method="POST" name="step7" role="form" class="form-horizontal" action="{% url 'ippt_usaha_kebutuhan_lainnya_save' %}">
  {% csrf_token %}
  <h3>SUSUNAN TENAGA KERJA</h3>
  <hr class="style14">

  <div class="form-group">
  	<label for="input01" class="col-sm-2 control-label">Tenaga Ahli</label>
  	<div class="col-sm-3">
  		<div class="input-group">
  			<input type="text" id="id_tenaga_ahli" name="tenaga_ahli" class="form-control no_ktp" required="" data-parsley-trigger="">
  			<span class="input-group-addon">
  				<span>orang</span>
  			</span>
  		</div>
  	</div>
  </div>

  <div class="form-group">
  	<label for="input01" class="col-sm-2 control-label">Pegawai Tetap</label>
  	<div class="col-sm-3">
  		<div class="input-group">
  			<input type="text" id="id_pegawai_tetap" name="pegawai_tetap" class="form-control no_ktp" required="" data-parsley-trigger="">
  			<span class="input-group-addon">
  				<span>orang</span>
  			</span>
  		</div>
  	</div>
  </div>

  <div class="form-group">
  	<label for="input01" class="col-sm-2 control-label">Pegawai harian Tetap</label>
  	<div class="col-sm-3">
  		<div class="input-group">
  			<input type="text" id="id_pegawai_harian_tetap" name="pegawai_harian_tetap" class="form-control no_ktp" required="" data-parsley-trigger="">
  			<span class="input-group-addon">
  				<span>orang</span>
  			</span>
  		</div>
  	</div>
  </div>

  <div class="form-group">
  	<label for="input01" class="col-sm-2 control-label">Pegawai Harian Tidak Tetap</label>
  	<div class="col-sm-3">
  		<div class="input-group">
  			<input type="text" id="id_pegawai_harian_tidak_tetap" name="pegawai_harian_tidak_tetap" class="form-control no_ktp" required="" data-parsley-trigger="">
  			<span class="input-group-addon">
  				<span>orang</span>
  			</span>
  		</div>
  	</div>
  </div>

  <h3>PRASARANA / UTILITAS</h3>
  <hr class="style14">

  <div class="row">
  	<label style="font-size:16px;" class="col-sm-2"><b>1. Listrik</b></label>
  </div>

  <div class="row">
  	<div style="padding-left:3%">
  		<label class="col-sm-2 control-label">Kebutuhan</label>
  		<div class="form-group">
		  	<div class="col-sm-3">
		  		<div class="input-group">
		  			<input type="text" id="id_kebutuhan_listrik" name="kebutuhan_listrik" class="form-control no_ktp" required="" data-parsley-trigger="">
		  			<span class="input-group-addon">
		  				<span>kVA</span>
		  			</span>
		  		</div>
		  	</div>
	  	</div>
  	</div>
  </div>

  <div class="row">
  	<div style="padding-left:3%">
  		<label class="col-sm-2 control-label">Jumlah yang dibutuhkan sehari - hari</label>
  		<div class="form-group">
		  	<div class="col-sm-3">
		  		<div class="input-group">
		  			<input type="text" id="id_kebutuhan_listrik_sehari_hari" name="kebutuhan_listrik_sehari_hari" class="form-control no_ktp" required="" data-parsley-trigger="">
		  			<span class="input-group-addon">
		  				<span>kVA</span>
		  			</span>
		  		</div>
		  	</div>
	  	</div>
  	</div>
  </div>

  <div class="row">
  	<div style="padding-left:3%">
  		<label class="col-sm-2 control-label">Jumlah daya yang dimiliki / genset</label>
  		<div class="form-group">
		  	<div class="col-sm-3">
		  		<div class="input-group">
		  			<input type="text" id="id_jumlah_daya_genset" name="jumlah_daya_genset" class="form-control no_ktp" required="" data-parsley-trigger="">
		  			<span class="input-group-addon">
		  				<span>kVA</span>
		  			</span>
		  		</div>
		  	</div>
	  	</div>
  	</div>
  </div>

  <div class="row">
  	<div style="padding-left:3%">
  		<label class="col-sm-2 control-label">Jumlah daya yang dibutuhkan dari PLN</label>
  		<div class="form-group">
		  	<div class="col-sm-3">
		  		<div class="input-group">
		  			<input type="text" id="id_jumlah_listrik_kebutuhan_dari_pln" name="jumlah_listrik_kebutuhan_dari_pln" class="form-control no_ktp" required="" data-parsley-trigger="">
		  			<span class="input-group-addon">
		  				<span>kVA</span>
		  			</span>
		  		</div>
		  	</div>
	  	</div>
  	</div>
  </div>

  <div class="row">
  	<label style="font-size:16px;" class="col-sm-2"><b>2. Air</b></label>
  </div>

  <div class="row">
  	<div style="padding-left:3%">
  		<label class="col-sm-2 control-label">a. Jumlah Kebutuhan Air</label>
  	</div>
  </div>

  <div class="row">
  	<div style="padding-left:8%">
  		<label class="col-sm-2 control-label">Untuk keperluan rumah tangga</label>
  	</div>
  	<div class="form-group">
	  	<div class="col-sm-2">
	  		<div class="input-group">
	  			<input type="number" id="id_air_untuk_rumah_tangga" name="air_untuk_rumah_tangga" class="form-control sum-jumlah-kebutuhan-air" required="" data-parsley-trigger="">
	  			<span class="input-group-addon">
	  				<span>Liter/hari</span>
	  			</span>
	  		</div>
	  	</div>
	</div>
  </div>

  <div class="row">
  	<div style="padding-left:8%">
  		<label class="col-sm-2 control-label">Untuk proses produksi</label>
  	</div>
  	<div class="form-group">
	  	<div class="col-sm-2">
	  		<div class="input-group">
	  			<input type="number" id="id_air_untuk_produksi" name="air_untuk_produksi" class="form-control sum-jumlah-kebutuhan-air" required="" data-parsley-trigger="">
	  			<span class="input-group-addon">
	  				<span>Liter/hari</span>
	  			</span>
	  		</div>
	  	</div>
	</div>
  </div>

  <div class="row">
  	<div style="padding-left:8%">
  		<label class="col-sm-2 control-label">Untuk lain - lain</label>
  	</div>
  	<div class="form-group">
	  	<div class="col-sm-2">
	  		<div class="input-group">
	  			<input type="number" id="id_air_lainnya" name="air_lainnya" class="form-control sum-jumlah-kebutuhan-air" required="" data-parsley-trigger="">
	  			<span class="input-group-addon">
	  				<span>Liter/hari</span>
	  			</span>
	  		</div>
	  	</div>
	</div>
  </div>

  <div class="row">
  	<div style="padding-left:8%">
  		<label class="col-sm-2 control-label">Jumlah kebutuhan air</label>
  	</div>
  	<div class="form-group">
	  	<div class="col-sm-2">
	  		<div class="input-group">
	  			<input type="text" id="id_jumlah_kebutuhan_air" class="form-control" required="" data-parsley-trigger="" disabled="">
	  			<span class="input-group-addon">
	  				<span>Liter/hari</span>
	  			</span>
	  		</div>
	  	</div>
	</div>
  </div>

  <div class="row">
  	<div style="padding-left:3%">
  		<label class="col-sm-2 control-label">b. Kebutuhan minimal tiap hari</label>
  	</div>
  </div>

  <div class="row">
  	<div style="padding-left:8%">
  		<label class="col-sm-2 control-label">PDAM</label>
  	</div>
  	<div class="form-group">
	  	<div class="col-sm-2">
	  		<div class="input-group">
	  			<input type="number" id="id_air_dari_pdam" name="air_dari_pdam" class="form-control sum-kebutuhan-minimal-air" data-parsley-trigger="">
	  			<span class="input-group-addon">
	  				<span>Liter/hari</span>
	  			</span>
	  		</div>
	  	</div>
	</div>
  </div>

  <div class="row">
  	<div style="padding-left:8%">
  		<label class="col-sm-2 control-label">Sumur / Sumber Air</label>
  	</div>
  	<div class="form-group">
	  	<div class="col-sm-2">
	  		<div class="input-group">
	  			<input type="number" id="id_air_dari_sumber" name="air_dari_sumber" class="form-control sum-kebutuhan-minimal-air" data-parsley-trigger="">
	  			<span class="input-group-addon">
	  				<span>Liter/hari</span>
	  			</span>
	  		</div>
	  	</div>
	</div>
  </div>

  <div class="row">
  	<div style="padding-left:8%">
  		<label class="col-sm-2 control-label">Sungai</label>
  	</div>
  	<div class="form-group">
	  	<div class="col-sm-2">
	  		<div class="input-group">
	  			<input type="number" id="id_air_dari_sungai" name="air_dari_sungai" class="form-control sum-kebutuhan-minimal-air" data-parsley-trigger="">
	  			<span class="input-group-addon">
	  				<span>Liter/hari</span>
	  			</span>
	  		</div>
	  	</div>
	</div>
  </div>

  <div class="row">
  	<div style="padding-left:8%">
  		<label class="col-sm-2 control-label">Jumlah Kebutuhan Air</label>
  	</div>
  	<div class="form-group">
	  	<div class="col-sm-2">
	  		<div class="input-group">
	  			<input type="text" id="id_jumlah_minimal_kebutuhan_air" class="form-control" data-parsley-trigger="" disabled="">
	  			<span class="input-group-addon">
	  				<span>Liter/hari</span>
	  			</span>
	  		</div>
	  	</div>
	</div>
  </div>

  <div class="row">
  	<div style="padding-left:3%">
  		<label class="col-sm-3 control-label">c. Kualitas air yang dibutuhkan (analisi air lampirkan)</label>
  	</div>
    <div>
      <label class="col-sm-1 control-label">: Terlampir</label>
    </div>
  </div>

  <h3>TENAGA KERJA</h3>
  <hr class="style14">

  <div class="row">
  	<label style="font-size:16px;" class="col-sm-2"><b>1. Asal Tenaga</b></label>
  </div>

  <div class="row">
  	<div style="padding-left:3%">
  		<label class="col-sm-2 control-label">Indonesia</label>
  		<div class="form-group">
		  	<div class="col-sm-3">
		  		<div class="input-group">
		  			<input type="text" id="id_tenaga_kerja_wni" name="tenaga_kerja_wni" class="form-control no_ktp" required="" data-parsley-trigger="">
		  			<span class="input-group-addon">
		  				<span>orang</span>
		  			</span>
		  		</div>
		  	</div>
	  	</div>
  	</div>
  </div>

  <div class="row">
  	<div style="padding-left:3%">
  		<label class="col-sm-2 control-label">Asing</label>
  		<div class="form-group">
		  	<div class="col-sm-3">
		  		<div class="input-group">
		  			<input type="text" id="id_tenaga_kerja_wna" name="tenaga_kerja_wna" class="form-control no_ktp" required="" data-parsley-trigger="">
		  			<span class="input-group-addon">
		  				<span>orang</span>
		  			</span>
		  		</div>
		  	</div>
	  	</div>
  	</div>
  </div>

  <div class="row">
  	<label style="font-size:16px;" class="col-sm-2"><b>2. Susunan Tenaga Kerja</b></label>
  </div>

  <div class="row">
  	<div style="padding-left:3%">
  		<label class="col-sm-2 control-label">Pegawai Tetap</label>
  		<div class="form-group">
		  	<div class="col-sm-3">
		  		<div class="input-group">
		  			<input type="text" id="id_tenaga_kerja_tetap" name="tenaga_kerja_tetap" class="form-control no_ktp sum-tenaga-kerja" required="" data-parsley-trigger="">
		  			<span class="input-group-addon">
		  				<span>orang</span>
		  			</span>
		  		</div>
		  	</div>
	  	</div>
  	</div>
  </div>

  <div class="row">
  	<div style="padding-left:3%">
  		<label class="col-sm-2 control-label">Pegawai Tidak Tetap</label>
  		<div class="form-group">
		  	<div class="col-sm-3">
		  		<div class="input-group">
		  			<input type="text" id="id_tenaga_kerja_tidak_tetap" name="tenaga_kerja_tidak_tetap" class="form-control no_ktp sum-tenaga-kerja" required="" data-parsley-trigger="">
		  			<span class="input-group-addon">
		  				<span>orang</span>
		  			</span>
		  		</div>
		  	</div>
	  	</div>
  	</div>
  </div>

  <div class="row">
  	<div style="padding-left:3%">
  		<label class="col-sm-2 control-label">Jumlah Tenaga Kerja</label>
  		<div class="form-group">
		  	<div class="col-sm-3">
		  		<div class="input-group">
		  			<input type="text" id="id_jumlah_tenaga_kerja" class="form-control no_ktp" required="" data-parsley-trigger="">
		  			<span class="input-group-addon">
		  				<span>orang</span>
		  			</span>
		  		</div>
		  	</div>
	  	</div>
  	</div>
  </div>

</form>