{% load i18n %}
<div class="modal fade" id="bangunan_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title custom-font">Bangunan Lab</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal form-bangunan-lab" method="POST" action="{% url 'izin_dinkes__save_bangunan_lab' %}">
					{% csrf_token %}
					<input type="hidden" name="id_bangunan_lab" id="id_bangunan_lab">
					<div class="form-group" >
						<label class="col-sm-2 control-label text-left"><strong>Jenis Kelengkapan Bangunan</strong></label>
						<div class="col-sm-8">
							<select class="form-control chosen-select mb-10" name="jenis_kelengkapan" id="jenis_kelengkapan" required="" data-parsley-trigger="change" required="">
							{% for i in jenis_kelengkapan_lab %}
								<option value="{{i.id}}">{{ i.nama_jenis_kelengkapan_bangunan }}</option>
							{% endfor %}
						</div>
					</div>

					<div class="form-group" >
						<label class="col-sm-2 control-label text-left"><strong>Nama Kelengkapan Bangunan</strong></label>
						<div class="col-sm-8">
							<input type="text" class="form-control data-bangunan" name="nama_kelengkapan" required="" data-parsley-trigger="change">
						</div>
					</div>

					<div class="form-group" id="alamat">
						<label class="col-sm-2 control-label text-left"><strong>Keterangan</strong> </label>
						<div class="col-sm-8">
						<textarea class="form-control data-bangunan" rows="5" name="keterangan" required="" data-parsley-trigger="change"></textarea>
						</div>
					</div>

					
				</form>
			</div>
			<div class="modal-footer">
				<button onclick="save_bangunan_lab()" type="button" class="btn btn-success btn-ef btn-ef-4 btn-ef-4c">Simpan</button>
				<button type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Cancel</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	function save_bangunan_lab(){
		frm = $('.form-bangunan-lab')
		frm.parsley().validate();
		if (frm.parsley().isValid()){
			frm.ajaxSubmit({
				method: 'POST',
				data: frm.serialize(),
				url: frm.attr('action'),
				beforeSend: function() {
					frm.mLoading();
				},
				success: function(response){
					respon = JSON.parse(response)
					if(respon.success == true){
						toastr["success"](respon.pesan)
						$('#bangunan_modal').modal('hide')
						// frm.find('.data-anggota').val('')
						// $('#id_form_data_kendaraan').find('input').val('');
						load_bangunan_lab($.cookie('id_pengajuan'))
					}
					else{
						toastr["error"](respon.pesan)
					}
					frm.mLoading('hide');
				},
				error: function(){
					frm.mLoading('hide');
					toast_server_error();
				}
			})
		}
	}

	function load_bangunan_lab(pengajuan_id){
		if (pengajuan_id !== ""){
			$('.table-bangunan-lab > tbody').html('')
			$('.table-bangunan-lab').mLoading();
			$.ajax({
				type: 'GET',
				url: __base_url__+'/izin-dinkes/laboratorium/load-bangunan-laboratorium/'+pengajuan_id,
				success: function (respon) {
					console.log(respon)
					respon = JSON.parse(respon)
					if(respon.success == true && respon.data.length > 0){
						$.each( respon.data, function( index ) {
							row = '<tr>'
							no = index+1
							row += '<td>'+no+'</td>'
							row += '<td>'+respon.data[index].jenis_kelengkapan_bangunan.nama_kelengkapan_bangunan+'</td>'
							row += '<td>'+respon.data[index].nama_kelengkapan_bangunan+'</td>'
							if(respon.data[index].keterangan){
								row += '<td>'+respon.data[index].keterangan+'</td>'
							}
							else{
								row += '<td>-</td>'
							}
							row += '<td><button class="btn btn-denger btn-rounded btn-ef btn-ef-5 btn-ef-5a mb-10" value="'+respon.data[index].id+'" type="button" onclick="tambah_bangunan_lab($(this).val())"><i class="fa fa-pencil"></i><span>Edit</span></button> | <button class="btn btn-denger btn-rounded btn-ef btn-ef-5 btn-ef-5a mb-10" value="'+respon.data[index].id+'" type="button" onclick="delete_pengurus_badan_usaha($(this).val())"><i class="fa fa-trash"></i><span>Delete</span></button></td>'
							row += '</tr>'
							$('.table-bangunan-lab > tbody').append(row)
						})
					}
					else{
						row = '<tr>'
						row += '<td colspan="9" align="center">Kosong</td>'
						row += '</tr>'
						$('.table-bangunan-lab > tbody').append(row)
					}
					// $('#table_daftar_kendaraan > tbody').html(row)
				},
				error: function(){
					toast_server_error();
				}
			})
			$('.table-bangunan-lab').mLoading('hide');
		}
	}

	function delete_pengurus_badan_usaha(val_){
		$.ajax({
			type: 'GET',
			url: __base_url__+'/izin-dinkes/laboratorium/delete-bangunan-laboratorium/'+val_,
			success: function (data) {
				resp = $.parseJSON(data)
				if (resp.success){
					toastr["success"](resp.pesan)
					load_bangunan_lab($.cookie('id_pengajuan'))
				}
				else{
					toastr["error"](resp.pesan)
				}
			},
			error: function(){
				toast_server_error();
			}
		})
	}

	function tambah_bangunan_lab(id_bangunan_lab){
		// console.log(id_bangunan_lab)
		$('#bangunan_modal').modal('show');
		frm = $('.form-bangunan-lab');
		frm.find('.data-bangunan').val('').trigger("chosen:updated");
		if(id_bangunan_lab && id_bangunan_lab > 0){
			$.ajax({
				url: __base_url__+'/izin-dinkes/laboratorium/load-edit-bangunan-laboratorium/'+id_bangunan_lab,
				type: 'GET',
				success: function(respon){
					// console.log(respon)
					respon = JSON.parse(respon)
					if(respon.success == true){
						frm.find('input[name="id_bangunan_lab"]').val(respon.data.id);
						frm.find('input[name="jenis_kelengkapan"]').val(respon.data.jenis_kelengkapan_bangunan.id);
						frm.find('input[name="jumlah"]').val(respon.data.nama_kelengkapan_bangunan);
						frm.find('textarea[name="keterangan"]').val(respon.data.keterangan);
					}
				},
				error: function(){
					toast_server_error();
				}
			})
		}
		else{
			frm.find('input[name="id_bangunan_lab"]').val('')
		}
	}
</script>