<form method="POST" name="step3" role="form" class="form-horizontal" action="{% url 'detilho_save' %}" data-parsley-validate novalidate>
  {% csrf_token %}
    <h3>DATA KEGIATAN GANGGUAN</h3>
    <hr class="style14">

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Rencana Perkiraan Modal </label>
      <div class="col-sm-4">
        <div class="input-group">
          <span class="input-group-addon">
            <span>Rp</span>
          </span>
          <input type="text" id="id_perkiraan_modal" name="perkiraan_modal" class="form-control" required="" data-parsley-trigger="change">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Tujuan Gangguan</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" id="id_tujuan_gangguan" name="tujuan_gangguan" required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>

    <div class="row">
      <h4 class="custom-font col-sm-2"><strong>Lokasi</strong></h4> 
    </div>

     <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Alamat</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" id="id_alamat" name="alamat" placeholder="Isi alamat lengkap" required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Kota/Kabupaten</label>
      <div class="col-sm-5">
        <select disabled="" class="form-control chosen-select mb-10" name="kabupaten">
          <option value="1">Kabupaten Kediri</option>
        </select>
      </div>
    </div>

    <div class="form-group" id="kecamatan3">
      <label for="input01" class="col-sm-2 control-label"><strong>Kecamatan</strong></label>
      <div class="col-sm-5">
        <select id="id_kecamatan_data_reklame" required="" data-parsley-trigger="change" class="form-control chosen-select mb-10">
          <option value>-- Pilih Kecamatan --</option>
          {% if kecamatan %}
          {% for k in kecamatan %}
          <option value="{{ k.id }}">{{ k.nama_kecamatan }}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

    <div class="form-group" id="desa3">
      <label class="col-sm-2 control-label"><strong>Kelurahan/Desa</strong></label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" name="desa" id="id_desa_data_reklame" required="" data-parsley-trigger="change">
        </select>
      </div>
    </div>

    <div class="row">
      <h4 class="custom-font col-sm-2"><strong>Dalam Kegiatan Perusahaan</strong></h4> 
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Bahan Baku dan Penolong</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" id="id_bahan_baku_dan_penolong" name="bahan_baku_dan_penolong" placeholder=" " required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Proses Produksi</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" id="id_proses_produksi" name="proses_produksi" placeholder="" required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Jenis Produksi</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" id="id_jenis_produksi" name="jenis_produksi" placeholder="" required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Kapasitas Produksi</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" id="id_kapasitas_produksi" name="kapasitas_produksi" placeholder="" required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Jumlah Tenaga Kerja</label>
      <div class="col-sm-2">
        <div class="input-group">
          <input type="text" class="form-control no_ktp" id="id_jumlah_tenaga_kerja" name="jumlah_tenaga_kerja" required="" data-parsley-trigger="change">
          <span class="input-group-addon">
            <span>Orang</span>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Jumlah Mesin</label>
      <div class="col-sm-2">
        <div class="input-group">
          <input type="text" class="form-control no_ktp" id="id_jumlah_mesin" name="jumlah_mesin" required="" data-parsley-trigger="change">
          <span class="input-group-addon">
            <span>Unit</span>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Merk Mesin</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" id="id_merk_mesin" name="merk_mesin" name="merk_mesin" placeholder=" " required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Daya</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" id="id_daya" name="daya" placeholder=" " required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>
    
    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Kekuatan</label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" id="id_kekuatan" name="kekuatan" placeholder=" " required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>
  
    <div class="form-group" id="kode_pos">
      <label class="col-sm-2 control-label">Luas Ruang Tempat Usaha/Bangunan</label>
      <div class="col-sm-5">
        <input id="id_luas_ruang_tempat_usaha" type="text" class="form-control no_ktp" name="luas_ruang_tempat_usaha" >
      </div>
    </div>

    <div class="form-group" id="kode_pos">
      <label class="col-sm-2 control-label">Luas Lahan Usaha</label>
      <div class="col-sm-5">
        <input id="id_luas_lahan_usaha" type="text" class="form-control no_ktp" name="luas_lahan_usaha" >
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Jenis Gangguan/Limbah</label>
      <div class="col-sm-5">
        <select id="id_jenis_gangguan" name="jenis_gangguan" class="form-control chosen-select mb-10" required="">
          <option value>-- Pilih Jenis Gangguan/Limbah --</option>
          {% for jb in jenis_gangguan_list %}
            <option value="{{jb.0}}">{{jb.1}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Jenis Lokasi Usaha</label>
      <div class="col-sm-5">
        <select id="id_jenis_lokasi_usaha" name="jenis_lokasi_usaha" class="form-control chosen-select mb-10" required="">
          <option value>-- Pilih Jenis Lokasi Usaha --</option>
          {% for jgl in jenis_lokasi_usaha_list %}
          <option value="{{jgl.0}}">{{jgl.1}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Jenis Bangunan</label>
      <div class="col-sm-5">
        <select id="id_jenis_bangunan" name="jenis_bangunan" class="form-control chosen-select mb-10" required="">
          <option value>-- Pilih Jenis Bangunan --</option>
          {% for jlu in jenis_bangunan_list %}
          <option value="{{jlu.0}}">{{jlu.1}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label"><u><b>Batas-batas</b></u></label>
    </div>

    <div class="form-group">
      <label for="batas_utara" class="col-sm-2 control-label">Sebelah Utara</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="batas_utara" id="id_batas_utara">
      </div>
    </div>
    <div class="form-group">
      <label for="batas_timur" class="col-sm-2 control-label">Sebelah Timur</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="batas_timur" id="id_batas_timur">
      </div>
    </div>
    <div class="form-group">
      <label for="batas_selatan" class="col-sm-2 control-label">Sebelah Selatan</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="batas_selatan" id="id_batas_selatan">
      </div>
    </div>
    <div class="form-group">
      <label for="batas_barat" class="col-sm-2 control-label">Sebelah Barat</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="batas_barat" id="id_batas_barat">
      </div>
    </div>
    
</form>