{% extends "admin/base_site.html" %}

{% load i18n admin_static %}
{% load admin_urls widgets %}

{% block icotitle %}<i class="fa fa-key"></i>&nbsp;{% endblock %}

{% block bodyclass %}{{ block.super }} {{ opts.app_label }}-{{ opts.model_name }} change-form{% endblock %}

{% block breadcrumbs %}
	{% if not is_popup %}
	<div class="page-bar">
	    <ul class="page-breadcrumb">
	        <li>
	            <a href="{% url 'admin:index' %}" class="link-effect link-effect-21"><i class="fa fa-home"></i> {% trans 'Home' %}</a>
	        </li>
	        <li>
	            <a href="{% url 'admin:app_list' app_label=opts.app_label %}" class="link-effect link-effect-21">{{ opts.app_label|capfirst|escape }}</a>
	        </li>
	        <li>
	            <a href="{% url opts|admin_urlname:'changelist' %}" class="link-effect link-effect-21">{{ opts.verbose_name_plural|capfirst }}</a>
	        </li>
	        <li>
	            <a href="{% url opts|admin_urlname:'changelist' %}{{ original.pk }}" class="link-effect link-effect-21">{{ original|truncatewords:"18" }}</a>
	        </li>
	        <li>
	        	<a href="#" class="link-effect">
	            {% trans 'Change password' %}
	            </a>
	        </li>
	    </ul>
	</div>
	{% endif %}
{% endblock %}

{% block custom_style %}
	<style type="text/css">
		.clickable {
		    display: inline-block;
		    border-radius: 4px;
		    cursor: pointer;
		}
	</style>
{% endblock %}

{% block extrajs %}
	{{ block.super }}
	<script type="text/javascript">
		var Suit = { $: $.noConflict() }; if (!$) $ = Suit.$; 

		$(function(){
			$('.clickable').on('click',function(){
			    var effect = $(this).data('effect');
			        $(this).closest('.panel')[effect]();
				})
			$('.parsley-errors-list').animate({
			    opacity: 0.95,
			    padding: "5px 0 0",
			}, 1000, function() {
			});
		})
	</script>
{% endblock %}

{% block extrajs_site %}
	<script src="{% static "scripts/js/vendor/screenfull/screenfull.min.js" %}"></script>
	<!-- ============================================
    ============== Custom JavaScripts ===============
    ============================================= -->
    <script src="{% static "scripts/js/main.js" %}"></script>
    <!--/ custom javascripts -->
{% endblock %}

{% block content %}
<div id="content-main">
	<div class="row">
        <div class="col-md-12">
        	<div class="panel panel-darkgray panel-filled">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    	Perhatian..
                    	<span class="pull-right clickable" data-effect="fadeOut"><i class="fa fa-times"></i></span>
                    </h3>
                </div>
                <div class="panel-body">
                	{% if form.errors %}
		              <div class="alert alert-danger">{% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %} Please correct the errors below.{% endblocktrans %}</div>
		            {% endif %}
		            <div class="alert alert-info">
		              {% blocktrans with username=original.username %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktrans %}
		            </div>	            
                </div>                           
            </div>
        	<section class="tile">
        		<form action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" class="form-horizontal">
        			{% csrf_token %}
        			{% block form_top %}{% endblock %}
        			<div class="tile-header dvd dvd-btm">
	        			<h1 class="custom-font page-breadcrumb">
	                    	<strong>{% trans 'Form' %}</strong> {% trans 'Change password' %}:
	                    	<a class="link-effect link-effect-2" href="{% url opts|admin_urlname:'changelist' %}{{ original.pk }}">
								<span data-hover="{{ original|truncatewords:"18" }}">{{ original.username|truncatewords:"18" }}</span>
							</a>
	                    </h1>
	                    {% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
	                    <ul class="controls">
	                        <li class="dropdown">
	                            <a data-toggle="dropdown" class="dropdown-toggle settings" tabindex="0" role="button" aria-expanded="false">
	                                <i class="fa fa-cog"></i>
	                                <i class="fa fa-spinner fa-spin"></i>
	                            </a>
	                            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
	                                <li>
	                                    <a class="tile-toggle" tabindex="0" role="button">
	                                        <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
	                                        <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
	                                    </a>
	                                </li>
	                                <li>
	                                    <a class="tile-refresh" tabindex="0" role="button">
	                                        <i class="fa fa-refresh"></i> Refresh
	                                    </a>
	                                </li>
	                                <li>
	                                    <a class="tile-fullscreen" tabindex="0" role="button">
	                                        <i class="fa fa-expand"></i> Fullscreen
	                                    </a>
	                                </li>
	                            </ul>
	                        </li>
	                    </ul>
                    </div>
                    <div class="tile-body">
                    	<fieldset class="module aligned wide">
	                    	<div class="form-row form-group  field-password1">
					            <div>
					                <label class="{% if form.password1.field.required %}required{% endif %} col-sm-3 control-label" for="{{ form.password1.auto_id }}">{{ form.password1.label }}</label>
					                <div class="col-sm-9">
					                	{% if form.password1.errors %}
					                		{{ form.password1|addcls:"form-control parsley-error" }}
					                		<span class="help-block mb-0">{{ form.password1.help_text }}</span>
					                		<ul id="parsley-id-password1" class="parsley-errors-list">
							                	{% for error in form.password1.errors %}
							                			<li><strong>{{ error|escape }}</strong></li>
							                	{% endfor %}
						                	</ul>
					                	{% else %}
					                		{{ form.password1|addcls:"form-control" }}
					                		<span class="help-block mb-0">{{ form.password1.help_text }}</span>
					                	{% endif %}					                	
					                </div>
					            </div>
					        </div>
	                    	<div class="form-row form-group  field-password2">
					            <div>
					                <label class="{% if form.password2.field.required %}required{% endif %} col-sm-3 control-label" for="{{ form.password2.auto_id }}">{{ form.password2.label }}</label>
					                <div class="col-sm-9">
					                	{% if form.password2.errors %}
					                		{{ form.password2|addcls:"form-control parsley-error" }}
					                		<span class="help-block mb-0">{{ form.password2.help_text }}</span>
					                		<ul id="parsley-id-password2" class="parsley-errors-list">
							                	{% for error in form.password2.errors %}
							                			<li><strong>{{ error|escape }}</strong></li>
							                	{% endfor %}
						                	</ul>
					                	{% else %}
					                		{{ form.password2|addcls:"form-control" }}
					                		<span class="help-block mb-0">{{ form.password2.help_text }}</span>
					                	{% endif %}	
					                </div>
					            </div>
					        </div>
					    </fieldset>
                    </div>
                    <div class="tile-footer text-right bg-tr-black lter dvd dvd-top">
                    	<input type="submit" value="{% trans 'Change password' %}" class="btn btn-primary" />
					</div>
        		</form>
        		<script type="text/javascript">document.getElementById("id_password1").focus();</script>
        	</section>
		</div>
	</div>
</div>
{% endblock %}