{% load i18n admin_static staticfiles widgets %}
<!DOCTYPE html>
<html>
<head>
	<title>Cetak Bukti Pendaftaran</title>
</head>
<!--[if ]>
<style>
.page{
    min-height: 309mm;
}
</style>
<![endif]-->
<style type="text/css">
    
    hr.style14 { 
        border: 0; 
        height: 1px; 
        background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
      }
    * {
      font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
	body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 12pt "Tahoma";
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        width: 210mm;
        min-height: 297mm;
        padding: 5mm;
        margin: 5mm auto;
        border: 1px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .subpage {
        padding: 0.5cm;
        /*border: 5px red solid;*/
        height: 257mm;
        /*outline: 2cm #FFEAEA solid;*/
    }
    
    @page {
        size: A4;
        margin: 0;
    }
    @media print {
        html, body {
            width: 210mm;
            height: 297mm;        
        }
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }

    .title, .tabel{
		border-bottom: 1px solid #7d7d7d;
    }
    .title h3{
    	margin-top: 0px;
    }
    .tabel{
    	padding-top: 0px;
    	padding-bottom: 10px;
    }

    table {
    border-collapse: collapse;
	}

	.ceklist {
	    border: 1px solid black;
	}
    .font {
        font-size: 12px;
        font-family: "Open Sans", Helvetica, Arial, sans-serif;
    }
</style>
<body>
    <div class="book">
        <div class="page">
            <div class="subpage">
            	<div class="title">
                    <div class="tabel">
                        <table>
                            <tr>
                                <td width="15%"><img src="{% static 'images/SIMPATIK.png' %}" width="50px"></td>
                                <td>
                                    <h3 style="font-size: 25px;line-height: 10px;padding-top: 10px;">SIMPATIK</h3><p style="line-height:1px">Sistem Informasi Perizinan Satu Pintu Kabupaten Kediri</p></td>
                            </tr>
                        </table>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <h5>No. Pengajuan Izin : TDP-Fir/1001/0802/2016<br>
                                <font color="red">Masa berlaku pengajuan s/d 10 September 2016</font></h5>
                            </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <h4 align="center"><u>FORMULIR PENDAFTARAN PERUSAHAAN FIRMA</u></h4>
                    <table width="100%" border="0">
                        <tr>
                            <td width="10%"></td>
                            <td width="40%">
                                
                            </td>
                            <td width="50%">
                                <p align="left" style="font-size:13px;padding-left:25%">
                                    Kepada
                                    <br>
                                    Yth. Bupati Kediri
                                    <b></b>
                                    Lewat
                                    <br>
                                    Yth. Kepala BPM-P2TSP Kab. Kediri
                                    <br>
                                    di
                                    <br>
                                    KEDIRI
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
                <p style="font-size:13px">Yang bertanda tangan di bawah ini mengajukan permintaan pendaftaran perusahaan sebagai dimaksud Undang-Undang Nomor 3 Tahun 1982 tentang Wajib Daftar Perusahaan :</p>
                <table width="100%" border="0" class="font">
                    <tr>
                        <td width="25%">Jenis Pengajuan</td>
                        <td width="5%">:</td>
                        <td width="70%">Baru</td>
                    </tr>
                </table>

                <h5>IDENTITAS PEMOHON</h5>
                <table width="100%" border="0" class="font">
                    <tr>
                        <td width="25%">Jenis Pemohon</td>
                        <td width="10%">:</td>
                        <td width="65%">Pemilik</td>
                    </tr>
                    <tr>
                        <td width="25%">Nomor KTP/Paspor</td>
                        <td width="10%">:</td>
                        <td width="65%">350001010010101001</td>
                    </tr>
                    <tr>
                        <td width="25%">Nama</td>
                        <td width="10%">:</td>
                        <td width="65%">Hartato</td>
                    </tr>
                    <tr>
                        <td width="25%">Alamat</td>
                        <td width="10%">:</td>
                        <td width="65%">Jl. Erlangga No.2, Kel. Sukorejo, Kec Ngasem, Kab.Kediri Jawa Timur</td>
                    </tr>
                    <tr>
                        <td width="25%">No. Telp</td>
                        <td width="10%">:</td>
                        <td width="65%">-</td>
                    </tr>
                    <tr>
                        <td width="25%">No. HP</td>
                        <td width="10%">:</td>
                        <td width="65%">085736662908</td>
                    </tr>
                    <tr>
                        <td width="25%">Email</td>
                        <td width="10%">:</td>
                        <td width="65%">-</td>
                    </tr>
                    <tr>
                        <td width="25%">Kewarganegaraan</td>
                        <td width="10%">:</td>
                        <td width="65%">Indonesia</td>
                    </tr>
                    <tr>
                        <td width="25%">Pekerjaan</td>
                        <td width="10%">:</td>
                        <td width="65%">Wiraswasta</td>
                    </tr>
                </table>

                <h5>IDENTITAS PERUSAHAAN</h5>
                <table class="font" width="100%">
                    <tr>
                        <td width="25%">NPWP</td>
                        <td width="10%">:</td>
                        <td width="65%">1234567890</td>
                    </tr>
                    <tr>
                        <td width="25%">Nama Perusahaan</td>
                        <td width="10%">:</td>
                        <td width="65%">UD. MAKMUR JAYA</td>
                    </tr>
                    <tr>
                        <td width="25%">Alamat Perusahaan</td>
                        <td width="10%">:</td>
                        <td width="65%">Jl. Erlangga No.2, Kel. Sukorejo, Kec Ngasem, Kab.Kediri Jawa Timur</td>
                    </tr>
                    <tr>
                        <td width="25%">Kode Pos</td>
                        <td width="10%">:</td>
                        <td width="65%"></td>
                    </tr>
                    <tr>
                        <td width="25%">No. Telp</td>
                        <td width="10%">:</td>
                        <td width="65%">087895172617</td>
                    </tr>
                    <tr>
                        <td width="25%">No. Fax</td>
                        <td width="10%">:</td>
                        <td width="65%">-</td>
                    </tr>
                    <tr>
                        <td width="25%">Email</td>
                        <td width="10%">:</td>
                        <td width="65%">-</td>
                    </tr>
                </table>

                <h5>DATA UMUM PERUSAHAAN</h5>
                <table width="100%" border="0" class="font">
                    <tr>
                        <td width="25%">Jenis Badan Usaha</td>
                        <td width="5%">:</td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="25%">Status Perusahaan</td>
                        <td width="5%">:</td>
                        <td width="70%">Kantor Tunggal</td>
                    </tr>
                    <tr>
                        <td width="25%">Jumlah Bank dimana Perusahaan ini menjadi nasabah</td>
                        <td width="5%">:</td>
                        <td width="70%">3</td>
                    </tr>
                    <tr>
                        <td width="25%">Nasabah Utama Bank 1.</td>
                        <td width="5%">:</td>
                        <td width="70%">BRI</td>
                    </tr>
                    <tr>
                        <td width="25%">Nasabah Utama Bank 2.</td>
                        <td width="5%">:</td>
                        <td width="70%">BCA</td>
                    </tr>
                </table>
                <br>
                <hr>
                <i class="font" align="right">
                    <font color="red">Masa berlaku pengajuan s/d 10 September 2016</font> 
                    <font style="padding-left: 43%;">simpatik.kedirikab.go.id</font>
                </i>
            </div>    
        </div>
        <div class="page">
            <div class="subpage">
                <table width="100%" class="font" border="0">
                    <tr>
                        <td width="25%">Status Penanaman Modal</td>
                        <td width="5%">:</td>
                        <td width="70%">Lain-lain</td>
                    </tr>
                    <tr>
                        <td width="25%">Tanggal Pendirian</td>
                        <td width="5%">:</td>
                        <td width="70%">07/09/2009</td>
                    </tr>
                    <tr>
                        <td width="25%">Tanggal Mulai Kegiatan</td>
                        <td width="5%">:</td>
                        <td width="70%">10/09/2009</td>
                    </tr>
                    <tr>
                        <td width="25%">Jangka Waktu Pendirian Perusahaan</td>
                        <td width="5%">:</td>
                        <td width="70%">7 Tahun</td>
                    </tr>
                    <tr>
                        <td width="25%">Bentuk Kerjasama</td>
                        <td width="5%">:</td>
                        <td width="70%">Tidak Ada</td>
                    </tr>
                    <tr>
                        <td width="25%">Merk Dagang(jika ada)</td>
                        <td width="5%">:</td>
                        <td width="70%">-</td>
                    </tr>
                    <tr>
                        <td width="25%">No. Merk Dagang</td>
                        <td width="5%">:</td>
                        <td width="70%">-</td>
                    </tr>
                    <tr>
                        <td width="25%">Pemegang Hak Cipta(jika ada)</td>
                        <td width="5%">:</td>
                        <td width="70%">-</td>
                    </tr>
                    <tr>
                        <td width="25%">No. Hak Cipta</td>
                        <td width="5%">:</td>
                        <td width="70%">-</td>
                    </tr>
                    <tr>
                        <td width="25%">Pemegang Hak Paten(jika ada)</td>
                        <td width="5%">:</td>
                        <td width="70%">-</td>
                    </tr>
                    <tr>
                        <td width="25%">No. Hak Paten</td>
                        <td width="5%">:</td>
                        <td width="70%">-</td>
                    </tr>
                </table>

                <h5>DATA KEGIATAN PERUSAHAAN</h5>
                <table width="100%" border="0" class="font">
                    <tr>
                        <td width="2%">A.</td>
                        <td width="23%">Jenis Kegiatan Usaha</td>
                        <td width="5%"></td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td width="23%">Kegiatan Usaha Pokok</td>
                        <td width="5%">:</td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td width="23%">Kegiatan Usaha Lain</td>
                        <td width="5%">:</td>
                        <td width="70%">a.</td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td width="23%">Kegiatan Usaha Lain</td>
                        <td width="5%">:</td>
                        <td width="70%">b.</td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td width="23%">Komoditi / Produk Pokok</td>
                        <td width="5%">:</td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td width="23%">Komoditi / Produk Lain</td>
                        <td width="5%">:</td>
                        <td width="70%">a.</td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td width="23%">Komoditi / Produk Lain</td>
                        <td width="5%">:</td>
                        <td width="70%">b.</td>
                    </tr>
                    <tr>
                        <td width="2%">B.</td>
                        <td width="23%">Omset Perusahaan Per Tahun(setelah perusahaan beroperasi)Rp.</td>
                        <td width="5%">:</td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="2%">C.</td>
                        <td width="23%">Modal dan Saham</td>
                        <td width="5%"></td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td width="23%">1.Modal Dasar Rp.</td>
                        <td width="5%">:</td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td width="23%">2.Modal ditempatkan Rp.</td>
                        <td width="5%">:</td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td width="23%">3.Modal disetor Rp.</td>
                        <td width="5%">:</td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td width="23%">4.Banyaknya Saham(lembar)</td>
                        <td width="5%">:</td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td width="23%">5.Nilai nominal per saham Rp.</td>
                        <td width="5%">:</td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="2%">D.</td>
                        <td width="23%">Total Asset(setelah perusahaan beroperasi)Rp.</td>
                        <td width="5%">:</td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="2%">E.</td>
                        <td width="23%">Jumlah Karyawan</td>
                        <td width="5%"></td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td width="23%">WNI</td>
                        <td width="5%">:</td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td width="23%">WNA</td>
                        <td width="5%">:</td>
                        <td width="70%"></td>
                    </tr>
                    <tr>
                        <td width="2%"></td>
                        <td width="23%">Total</td>
                        <td width="5%">:</td>
                        <td width="70%"></td>
                    </tr>
                </table>

                <p style="font-size:13px">Jenis Perusahaan</p>
                <h5>LEGILITAS PERUSAHAAN</h5>
                <table width="100%" border="1" class="font" style="border:2px">
                    <tr>
                        <td>Jenis Akta dan Pengesahan</td>
                        <td>Nama Notaris</td>
                        <td>Alamat Notaris</td>
                        <td>Telp. Notaris</td>
                        <td>No.Akta</td>
                        <td>Tgl. Akta</td>
                        <td>No. Pengesahan</td>
                        <td>Tgl. Pengesahan</td>
                    </tr>
                    <tr>
                        <td>Akta Pendirian</td>
                        <td>Hasanuddi,S.H.</td>
                        <td>Jl. Mekar Asri No.2 Kediri</td>
                        <td>0354567929</td>
                        <td>9</td>
                        <td>10/09/2009</td>
                        <td>123/ABS/2009</td>
                        <td>16/09/2009</td>
                    </tr>
                </table>

                <h5>IZIN-IZIN DAN LEGALITAS LAINNYA</h5>
                <p style="font-size:13px">-Tidak Ada-</p>

               
                <br>
                <br>
                <br>
                <br>
                <hr>
                <i class="font" align="right"><font color="red">Masa berlaku pengajuan s/d 10 September 2016</font> <font style="padding-left: 43%;">simpatik.kedirikab.go.id</font></i>
            </div>    
        </div>

        <div class="page">
            <div class="subpage">

                <h5>DATA LAIN PERUSAHAAN</h5>
                <h6>DATA PEMPINAN PERUSAHAAN</h6>
                <p style="font-size:13px">Jumlah Pimpinan Perusahaan: Dirut / Dir Cabang / Pananggung Jawab: 0 Direktur: 0 Komisaris: 0</p>
                <table width="100%" border="1" class="font" style="border:2px">
                    <tr>
                        <td>No.</td>
                        <td>Kedudukan dalam Perusahaan</td>
                        <td>Nama Lengkap</td>
                        <td>Tempat & Tgl. Lahir</td>
                        <td>Alamat Tetap</td>
                        <td>Kode Pos</td>
                        <td>No. Telepon</td>
                        <td>Kewarganegaraan</td>
                        <td>Tgl. Mulai Menduduki Jabatan</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Direktur</td>
                        <td>Hartato</td>
                        <td>Kediri, 01/01/1960</td>
                        <td>Jl. Erlangga No. 2 Kab. Kediri</td>
                        <td>64100</td>
                        <td>08123123123</td>
                        <td>Indonesia</td>
                        <td>09/09/2009</td>
                    </tr>
                </table>
                <br>
                <table width="100%" border="100%" class="font" style="border:2px">
                    <tr>
                        <td>(Khusus Komisaris / Direktur) Jumlah Saham yang dimiliki (lembar)</td>
                        <td>Kedudukan dalam Perusahaan</td>
                        <td>Kedudukan dalam perusahaan lain</td>
                        <td>Nama Perusahaan</td>
                        <td>Alamat Perusahaan</td>
                        <td>Kode Pos</td>
                        <td>No. Telepon</td>
                        <td>Tgl. Mulai Menduduki Jabatan</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>

                <h5>PEMEGANG SAHAM</h5>
                <table class="font" border="1" style="border:2px" width="100%">
                    <tr>
                      <td>No.</td>
                      <td>Nama Lengkap</td>
                      <td>Tempat & Tgl. Lahir</td>
                      <td>Alamat Tetap</td>
                      <td>Kode Pos</td>
                      <td>No. Telpon</td>
                      <td>Kewarganegaraan</td>
                      <td>NPWP</td>
                      <td>Jumlah Saham yang dimiliki (Lembar)</td>
                      <td>Jumlah modal disetor (Rp.)</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                </table>

                <h5>KATEGORI PERUSAHAAN(Kantor Tunggal tidak perlu mengisi)</h5>
                <p style="font-size:13px">Apabila pendaftaran ini dilakukan oleh Kantor Pusat/Induk, agar disebutkan setiap Kantor Cabang/Kantor Pembantu/Perwakilan</p>
                <table width="100%" class="font" border="1" style="border:2px solid #ddd">
                    <tr>
                        <td>No.</td>
                        <td>Nama Perusahaan</td>
                        <td>Alamat Perusahaan</td>
                        <td>Nomor TDP</td>
                        <td>Kabupaten/Kot</td>
                        <td>Propinsi</td>
                        <td>Kode Pos</td>
                        <td>No. Telpon</td>
                        <td>Status Perusahaan</td>
                        <td>Jenis Kegiatan Usaha</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
                <p style="font-size:13px">Demikian formulir pendaftaran perusahaan diisi dengan sebenarnya dan apabila di kemudian hari keteranga tersebut tidak benar, maka kami bersedia dituntut sesuai peraturan perudang-undangan yang berlaku.</p>
                <br>
                <hr class="style14">
                <h5>Syarat TDP FIRMA:</h5>
                <table class="font" width="100%" border="1" style="border:2px solid #ddd;">
                    <thead>
                        <tr>
                            <td width="5%">No</td>
                            <td width="80%">Syarat</td>
                            <td align="center" width="15%">Kelengkapan (diisi Petugas)</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% if syarat %}
                            {% for s in syarat %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ s.syarat }}</td>
                                <td align="center"><input type="checkbox"></td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                <table width="100%">
                    <tr>
                        <td width="25%"></td>
                        <td width="25%"></td>
                        <td width="25%">
                            <p align="center" style="font-size:13px;">
                                Kediri,.......................
                                <br>
                                Petugas 1
                                <br>
                                Cap BPM
                                <br>
                                <br>
                                <br>
                                (...........................................)
                            </p>
                        </td>
                        <td width="25%"><p align="center" style="font-size:13px;">
                                Kediri,.......................
                                <br>
                                Petugas 2
                                <br>
                                Cap BPM
                                <br>
                                <br>
                                <br>
                                (...........................................)
                            </p></td>
                    </tr>
                </table>
                <br>
                <br>
                <br>
                <br>
                <hr>
                <i class="font" align="right"><font color="red">Masa berlaku pengajuan s/d 10 September 2016</font> <font style="padding-left: 43%;">simpatik.kedirikab.go.id</font></i>
            </div>    
        </div>
    </div>
</body>
</html>