<form method="POST" name="step4" role="form" class="form-horizontal" action="{% url 'siup_upload_dokumen' %}">
  {% csrf_token %}
  <h3>UPLOAD DOKUMEN PERSYARATAN</h3>
  <hr class="style14">
</form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" data-parsley-validate novalidate id="form-ijazah_apoteker">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Akte Pendirian perusahaan optikal disahkan oleh Notarisuntuk penyelenggara yang berbentuk perusahaan bukan perorangan</strong></label>
      <span id="field-ktp">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Ijazah Apoteker">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-ijazah-apoteker" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-ktp" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-ijazah-apoteker"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'upload_berkas_save_izin_parkir' %}" data-parsley-validate novalidate id="form-stra_apoteker">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat Keterangan dari pejabat setempat yang berwenang menyatakan bahwa pemohon adalah penduduk yang bertempat tinggal tetap di daerah kewenangannya (minimal camat/fotocopy)</strong></label>
      <span id="field-stra_apoteker">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="STRA Apoteker">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-stra_apoteker" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-sketsa_lokasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-stra_apoteker"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'upload_berkas_save_izin_parkir' %}" data-parsley-validate novalidate id="form-izin_gangguan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Fotocopy IMB dan Izin gangguan</strong></label>
      <span id="field-izin_gangguan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="IMB dan Izin Gangguan">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-izin_gangguan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-sketsa_lokasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-izin_gangguan"></span>
    </div>
  </form>
  
  <!-- <div class="form-group">
    <label class="col-sm-3 control-label"><strong>Surat Pernyataan kesediaan rafraksionsis optisiten untuk menjadi penanggug jawab pada optikal / laboratorium optik yang akan didirikan, dengan kelengkapan :</strong></label>
  </div> -->

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'upload_berkas_save_izin_parkir' %}" data-parsley-validate novalidate id="form-ijazah_strttk">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat Perjanjian pemilik sarana dengan refreksionis optisen tersebut </strong></label>
      <span id="field-ijazah_strttk">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Ijazah STRTTK">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-ijazah_strttk" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-sketsa_lokasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-ijazah_strttk"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'upload_berkas_save_izin_parkir' %}" data-parsley-validate novalidate id="form-daftar_tenaga_teknis">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat Keterangan dari pejabat setempat yang berwenang menyatakan bahwa refreksionis optisen calon penanggung jawab bertempat tinggal / berdomisili di kabupaten/kota yang bersangkutan atau fotocopy KTP yang terlampir</strong></label>
      <span id="field-daftar_tenaga_teknis">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Daftar Tenaga Teknis">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-daftar_tenaga_teknis" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-sketsa_lokasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-daftar_tenaga_teknis"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'upload_berkas_save_izin_parkir' %}" data-parsley-validate novalidate id="form-alat_perlengkapan_apotek">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Fotocopy ijazah refreksionis optisan yang telah dilegalisir </strong></label>
      <span id="field-alat_perlengkapan_apotek">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Daftar Perlengkapan Apotek">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-alat_perlengkapan_apotek" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-sketsa_lokasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-alat_perlengkapan_apotek"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'upload_berkas_save_izin_parkir' %}" data-parsley-validate novalidate id="form-izin_atasan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat keterangan sehat dari dokter</strong></label>
      <span id="field-izin_atasan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Izin Atasan">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-izin_atasan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-sketsa_lokasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-izin_atasan"></span>
    </div>
  </form>

   <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'upload_berkas_save_izin_parkir' %}" data-parsley-validate novalidate id="form-perjanjian_apoteker">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Pas foto 3 (tiga) lembar ukuran 4 x 6 cm</strong></label>
      <span id="field-perjanjian_apoteker">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Akta Perjanjian Kerjasama Apoteker">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-perjanjian_apoteker" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-sketsa_lokasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-perjanjian_apoteker"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'upload_berkas_save_izin_parkir' %}" data-parsley-validate novalidate id="form-pernyataan_peraturan_apoteker">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat Pernyataan Kerjasama dair laboratorium tempat pemrosesan lensa-lensa pesanan, bila optical tidak memiliki laboratorium sendiri</strong></label>
      <span id="field-pernyataan_peraturan_apoteker">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Pernyataan Apoteker (Peraturan)">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-pernyataan_peraturan_apoteker" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-sketsa_lokasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-pernyataan_peraturan_apoteker"></span>
    </div>
  </form>
	<!-- Surat Permohonan -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'upload_berkas_save_izin_parkir' %}" id="form-pernyataan_peraturan_pemilik">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Daftar sarana dan peralatan yang akan digunakan </strong></label>
      <span id="field-pernyataan_peraturan_pemilik">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Pernyataan Pemilik (Peraturan)">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-pernyataan_peraturan_pemilik" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-surat_pernyataan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-pernyataan_peraturan_pemilik"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'upload_berkas_save_izin_parkir' %}" id="form-sia">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Daftar pegawai serta tugas fungsinya </strong></label>
      <span id="field-sia">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="SIA">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-sia" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-surat_pernyataan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-sia"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'upload_berkas_save_izin_parkir' %}" id="form-sipa">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Peta lokasi sebagai penunjuk wilayah tempat domisili optikal / laboratorium optik</strong></label>
      <span id="field-sipa">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="SIPA">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-sipa" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-surat_pernyataan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-sipa"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'upload_berkas_save_izin_parkir' %}" id="form-sipttk">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Denah ruangan dibuat dengan skala 1:100</strong></label>
      <span id="field-sipttk">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="SIPTTK(AA)">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-sipttk" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-surat_pernyataan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-sipttk"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'upload_berkas_save_izin_parkir' %}" id="form-pernyataan_pemilik">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat Keterangan dari organisasi profesi/asosiasi setempat yang menyatakan bahwa refreksionis optisen yang diajukan hanya menjadi penanggung jawab dari optikal yang mengajukan izin tersebut, dan diketahui oleh organisasi pengusaha optikal setempat</strong></label>
      <span id="field-pernyataan_pemilik">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Pernyataan Pemilik">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-pernyataan_pemilik" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-surat_pernyataan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-pernyataan_pemilik"></span>
    </div>
  </form>