<form method="POST" name="step3" enctype="multipart/form-data" id="myForm_upload" action="{% url 'izin_dinkes__validasi_berkas_toko_obat' %}" data-parsley-validate novalidate>
  {% csrf_token %}
  <h3>UPLOAD DOKUMEN PERSYARATAN</h3>
  <hr class="style14" style="height:2px">
</form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas_toko_obat' %}" data-parsley-validate novalidate id="form-ijazah_strttk">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Ijazah STRTTK</strong></label>
      <span id="field-ijazah_strttk">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Ijazah STRTTK">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-ijazah_strttk" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-ijazah_strttk" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-ijazah_strttk"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas_toko_obat' %}" data-parsley-validate novalidate id="form-denah_lokasi">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Denah Lokasi</strong></label>
      <span id="field-denah_lokasi">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Denah Lokasi">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-denah_lokasi" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-sketsa_lokasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-denah_lokasi"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas_toko_obat' %}" data-parsley-validate novalidate id="form-denah_bangunan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Denah Bangunan</strong></label>
      <span id="field-denah_bangunan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Denah Bangunan">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-denah_bangunan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-sketsa_lokasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-denah_bangunan"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas_toko_obat' %}" data-parsley-validate novalidate id="form-ktp">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>KTP</strong></label>
      <span id="field-ktp">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="KTP">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-ktp" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-sketsa_lokasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-ktp"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas_toko_obat' %}" data-parsley-validate novalidate id="form-status_bangunan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat yang mengatakan status bangunan dalam bentuk akta hak milik/sewa/kontrak</strong></label>
      <span id="field-status_bangunan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Status Bangunan">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-status_bangunan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-sketsa_lokasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-status_bangunan"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas_toko_obat' %}" data-parsley-validate novalidate id="form-izin_gangguan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>IMB dan Izin gangguan</strong></label>
      <span id="field-izin_gangguan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="IMB dan Izin Gangguan">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-izin_gangguan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <!-- <a id="percent-sketsa_lokasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a> -->
      </span>
      <span class="col-sm-6" id="load-izin_gangguan"></span>
    </div>
  </form>


  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas_toko_obat' %}" id="form-perjanjian_kerjasama">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label">Akte Perjanjian Kerjasama Tenaga Teknis Kefarmasian dengan Pemilik Sarana</label>
      <span id="field-perjanjian_kerjasama">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Akte Perjanjian Kerjasama">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-perjanjian_kerjasama" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-perjanjian_kerjasama" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-perjanjian_kerjasama"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas_toko_obat' %}" id="form-pernyataan_tenaga_teknis">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label">Surat Pernyataan dari Tenaga Teknis Kefarmasian sebagai Penanggung jawab teknis (bermaterai)</label>
      <span id="field-pernyataan_tenaga_teknis">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Pernyataan dari Tenaga Teknis">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-pernyataan_tenaga_teknis" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-pernyataan_tenaga_teknis" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-pernyataan_tenaga_teknis"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas_toko_obat' %}" id="form-surat_pernyataan_peraturan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label">Surat Tenaga Teknis Kefarmasian dan Pemilik Sarana bersedia mematuhi Peraturan Perundang undangan yang berlaku</label>
      <span id="field-surat_pernyataan_peraturan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Pernyataan Peraturan">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-surat_pernyataan_peraturan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_pernyataan_peraturan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_pernyataan_peraturan"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas_toko_obat' %}" id="form-pernyataan_pelanggaran">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label">Surat Tenaga Teknis Kefarmasian dan Pemilik Sarana tidak terlibat pelanggaran Peraturan Perundang undangan yang berlaku dibidang obat</label>
      <span id="field-pernyataan_pelanggaran">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Pernyataan Pelanggaran">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-pernyataan_pelanggaran" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-pernyataan_pelanggaran" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-pernyataan_pelanggaran"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas_toko_obat' %}" id="form-rekomendasi_organisasi">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label">Rekomendasi dari organisasi profesi PAFI untuk asisten Apoteker Penanggung jawab Toko Obat</label>
      <span id="field-rekomendasi_organisasi">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Rekomendasi Organisasi">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-rekomendasi_organisasi" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-rekomendasi_organisasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-rekomendasi_organisasi"></span>
    </div>
  </form>
