<form method="POST" name="step3" id="id_data_reklame" role="form" class="form-horizontal" action="{% url 'reklame_detilreklame_save' %}" data-parsley-validate novalidate>
  {% csrf_token %}   
    <div class="row">
      <div class="col-md-12">
        <h3>DATA REKLAME</h3>
        <hr class="style14">
      </div>
    </div>
    
    <div class="form-group">
      <label for="id_jenis_reklame" class="col-sm-2 control-label"><strong>Jenis Izin Reklame</strong></label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" name="jenis_reklame" data-parsley-trigger="change" id="id_jenis_reklame">
          <option value>-- Pilih Jenis Izin Reklame --</option>
          {% if reklame_jenis_list %}
          {% for k in reklame_jenis_list %}
          <option value="{{ k.id }}">{{ k.jenis_reklame }}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

    <div class="row">
      <div class="form-group">
        <label class="col-sm-2 control-label" style="width: 250px;padding-right: 32px;">Data Izin Reklame</label> 
        <table id="id_table_detail_izin_reklame" class="table table-bordered" style="width: 762px;">
          <thead>
            <tr>
              <td>Jenis Reklame</td>
              <td>Judul Reklame</td>
              <td>Jumlah</td>
              <td>Aksi</td>
            </tr>
          </thead>
          <tbody>
          {% if detail_izin_reklame_list %}
            {% for a in detail_izin_reklame_list %}
              <tr id="{{a.id}}">
                <td id="id_table_jenis_reklame">{{a.tipe_reklame}}</td>
                <td id="id_table_judul_reklame">{{a.judul_reklame}}</td>
                <td id="id_table_jumlah">{{a.jumlah}}</td>
                <td align='center'> <a href='#' id={{a.id}} onclick="editRow_detail_izin_reklame(this); return false;"" class='btn btn-primary btn-rounded btn-ef btn-ef-5 btn-ef-5b mb-10'  ><i class='fa fa-edit'></i><span>Edit</span></a> <a href='#' id={{a.id}} onclick="deleteRow_detail_izin_reklame(this); return false;" class='btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5b mb-10'><i class='fa fa-trash'></i><span>Delete</span></a></td>
            {% endfor %}
          {% endif %}
          </tbody>
        </table>
      </div>
      <div class="form-group" style="width: 580px;padding-left: 249px;">
        <a href="#" class="btn btn-warning btn-ef btn-ef-3 btn-ef-3a mb-10 btn-sm" onclick="Tambah_detail_izin_reklame(this);">Tambah Data Izin Reklame<i class="fa fa-plus"></i></a>
      </div>
    </div>
    <br>
</form>