<form method="POST" name="step4" role="form" class="form-horizontal" action="{% url 'reklame_upload_dokumen' %}">
  {% csrf_token %}
  <h3>UPLOAD DOKUMEN PERSYARATAN</h3>
  <hr class="style14">
</form>
  
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" id="form_upload_gambar_konstruksi_pemasangan_reklame" action="{% url 'reklame_upload_berkas_pendukung' %}" data-parsley-validate novalidate>
  {% csrf_token %}
    <input type="hidden" name="aksi" value="1">
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Gambar Kontruksi Pemasangan Reklame</strong> </label>
      <div class="col-sm-5">
        <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
      </div>
      <div class="col-sm-4">
        <button id="btn_gambar_konstruksi_pemasangan_reklame" type="submit" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</button>
        <a id="percent_gambar_konstruksi_pemasangan_reklame" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </div>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" id="form_upload_gambar_foto_lokasi_pemasangan_reklame" action="{% url 'reklame_upload_berkas_pendukung' %}" data-parsley-validate novalidate>
  {% csrf_token %}
    <input type="hidden" name="aksi" value="2">
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Gambar Foto Lokasi Pemasangan Reklame</strong> </label>
      <div class="col-sm-5">
        <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
      </div>
      <div class="col-sm-4">
        <button id="btn_gambar_foto_lokasi_pemasangan_reklame" type="submit" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</button>
        <a id="percent_gambar_foto_lokasi_pemasangan_reklame" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </div>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" id="form_upload_gambar_denah_lokasi_pemasangan_reklame" action="{% url 'reklame_upload_berkas_pendukung' %}" data-parsley-validate novalidate>
  {% csrf_token %}
    <input type="hidden" name="aksi" value="3">
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Gambar Denah Lokasi Pemasangan Rekalame</strong> </label>
      <div class="col-sm-5">
        <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
      </div>
      <div class="col-sm-4">
        <button id="btn_gambar_denah_lokasi_pemasangan_reklame" type="submit" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</button>
        <a id="percent_gambar_denah_lokasi_pemasangan_reklame" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </div>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" id="form_upload_surat_ketetapan_pajak_daerah" action="{% url 'reklame_upload_berkas_pendukung' %}" data-parsley-validate novalidate>
  {% csrf_token %}
    <input type="hidden" name="aksi" value="4">
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat Ketetapan Pajak Daerah (SKPD)</strong> </label>
      <div class="col-sm-5">
        <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
      </div>
      <div class="col-sm-4">
        <button id="btn_surat_ketetapan_pajak_daerah" type="submit" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</button>
        <a id="percent_surat_ketetapan_pajak_daerah" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </div>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" id="form_upload_surat_setoran_pajak_daerah" action="{% url 'reklame_upload_berkas_pendukung' %}" data-parsley-validate novalidate>
  {% csrf_token %}
    <input type="hidden" name="aksi" value="5">
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat Setoran Pajak Daerah (SSPD)</strong> </label>
      <div class="col-sm-5">
        <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
      </div>
      <div class="col-sm-4">
        <button id="btn_surat_setoran_pajak_daerah" type="submit" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</button>
        <a id="percent_surat_setoran_pajak_daerah" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </div>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" id="form_upload_rekomendasi_satpol_pp" action="{% url 'reklame_upload_berkas_pendukung' %}" data-parsley-validate novalidate>
  {% csrf_token %}
    <input type="hidden" name="aksi" value="6">
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Rekomendasi dari Kantor SATPOL PP</strong> </label>
      <div class="col-sm-5">
        <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
      </div>
      <div class="col-sm-4">
        <button id="btn_rekomendasi_satpol_pp" type="submit" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</button>
        <a id="percent_rekomendasi_satpol_pp" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </div>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" id="form_upload_berita_acara_perusahaan" action="{% url 'reklame_upload_berkas_pendukung' %}" data-parsley-validate novalidate>
  {% csrf_token %}
    <input type="hidden" name="aksi" value="7">
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Berita Acara Perusahaan(BAP) Tim Perizinan</strong> </label>
      <div class="col-sm-5">
        <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
      </div>
      <div class="col-sm-4">
        <button id="btn_berita_acara_perusahaan" type="submit" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</button>
        <a id="percent_berita_acara_perusahaan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </div>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" id="form_upload_surat_perjanjian" action="{% url 'reklame_upload_berkas_pendukung' %}" data-parsley-validate novalidate>
  {% csrf_token %}
    <input type="hidden" name="aksi" value="8">
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat Perjanjian Kesepakatan dengan pemilik rumah, tembok, pagar atau perkarangan bagi reklame tempel/melekat</strong> </label>
      <div class="col-sm-5">
        <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
      </div>
      <div class="col-sm-4">
        <button id="btn_surat_perjanjian" type="submit" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</button>
        <a id="percent_surat_perjanjian" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </div>
    </div>
  </form>