<div class="modal fade" id="create_cabang" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title custom-font">Tambah Kantor Cabang/Pembantu/Perwakilan</h3>
      </div>
      <div class="modal-body">
        <form role="form" class="form-horizontal">
          <input type="hidden" id="id_perusahaan_cabang">
          <div class="form-group">
            <label class="col-sm-3 control-label"><strong>Nama Perusahaan</strong></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="nama_perusahaan_cabang">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label"><strong>Alamat</strong></label>
            <div class="col-sm-8">
              <textarea class="form-control" rows="5" id="alamat_perusahaan_cabang"></textarea>
            </div>
          </div>

          <div class="form-group" id="provinsi-5">
            <label  class="col-sm-3 control-label"><strong>Provinsi</strong></label>
            <div class="col-sm-5">
              <select class="form-control chosen-select" id="id_provinsi-5">
                
              </select>
            </div>
          </div>

          <div class="form-group" id="kabupaten-5">
            <label  class="col-sm-3 control-label"><strong>Kota/Kabupaten</strong></label>
            <div class="col-sm-5">
              <select class="form-control chosen-select" id="id_kabupaten-5">
                
              </select>
            </div>
          </div>

          <div class="form-group" id="kecamatan-5">
            <label  class="col-sm-3 control-label"><strong>Kecamatan</strong></label>
            <div class="col-sm-5">
              <select class="form-control chosen-select" id="id_kecamatan-5">
                
              </select>
            </div>
          </div>

          <div class="form-group" id="desa-5">
            <label  class="col-sm-3 control-label"><strong>Kelurahan/Desa</strong></label>
            <div class="col-sm-5">
              <select class="form-control chosen-select mb-10" id="id_desa-5">

              </select>
            </div>
          </div>

          <div class="form-group">
            <label  class="col-sm-3 control-label"><strong>Kode Pos</strong></label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="kode_pos_perusahaan_cabang">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label"><strong>No. Telp / Fax</strong></label>
            <label  class="col-sm-1 control-label"><strong>Telp</strong></label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="telepon_perusahaan_cabang">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label"></label>
            <label  class="col-sm-1 control-label"><strong>Fax</strong></label>
            <div class="col-sm-4">
              <input type="text" class="form-control" id="fax_perusahaan_cabang">
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label"><strong>Status perusahaan</strong></label>
            <div class="col-sm-5">
              <select class="form-control chosen-select mb-10" id="status_perusahaan_cabang">
                <option>-- Pilih Status perusahaan --</option>
                {% if status_perusahaan %}
                {% for s in status_perusahaan %}
                <option value="{{ s.status_perusahaan }}">{{ s.status_perusahaan }}</option>
                {% endfor %}
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label"><strong>Kegiatan Usaha</strong></label>
            <div class="col-sm-5">
              <select class="form-control chosen-select mb-10" id="kegiatan_usaha_perusahaan_cabang">
                <option>-- Pilih Kegiatan Usaha --</option>
                {% if kegiatan_usaha %}
                {% for k in kegiatan_usaha %}
                <option value="{{k.kegiatan_usaha}}">{{k.kegiatan_usaha}}</option>
                {% endfor %}
                {% endif %}
              </select>
            </div>
          </div>
          <div class="form-group">
            <label  class="col-sm-3 control-label">No TDP</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="nomor_tdp_perusahaan_cabang">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button onclick="save_perusahaan_cabang()" type="button" class="btn btn-success btn-ef btn-ef-4 btn-ef-4c">Simpan</button>
        <button type="button" class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Cancel</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function save_perusahaan_cabang() {
    var id = $('#id_perusahaan_cabang').val()
    var nama = $('#nama_perusahaan_cabang').val()
    var alamat = $('#alamat_perusahaan_cabang').val()
    var desa = $('#id_desa-5').val()
    var kode_pos = $('#kode_pos_perusahaan_cabang').val()
    var telp = $('#telepon_perusahaan_cabang').val()
    var fax = $('#fax_perusahaan_cabang').val()
    var status = $('#status_perusahaan_cabang').val()
    var kegiatan = $('#kegiatan_usaha_perusahaan_cabang').val()
    var no_tdp = $('#nomor_tdp_perusahaan_cabang').val()

    $.ajax({
      method: 'POST',
      data: {id:id, nama_perusahaan:nama, alamat_perusahaan:alamat, desa:desa, kode_pos:kode_pos, telepon:telp, fax:fax, status_perusahaan:status, kegiatan_usaha:kegiatan, nomor_tdp:no_tdp, csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()},
      url: __base_url__+'/ajax-save-perusahaan-cabang/',
      success: function(response){
        resp = $.parseJSON(response)
        if (resp.success){ 
          toastr["success"](resp.pesan)
          $('#create_cabang').modal('hide')
          load_data_perusahaan_cabang($.cookie('id_pengajuan'))
        }
        else{
          var a = Object.keys(resp);
          for (var i = 0; i < a.length; i++){
            var field = a[i].replace("_", " ");
            console.log(a[i][0]['message'])
            toastr["error"](field+", "+resp[a[i]][0]['message'])
          //   $("#"+a[i]+"").addClass("has-error");
          }
        }
      } 
    });
  }

  function load_data_perusahaan_cabang(pengajuan_id){
    if (pengajuan_id !== ""){
      tablekosong = '<tr><td colspan="11">Kosong/Tidak ada ...!!!</td></tr>'
      $('#table_perusahaan_cabang > tbody').html(tablekosong)
      $('#table_perusahaan_cabang').mLoading();
      $.ajax({
        type: 'GET',
        url: __base_url__+'/ajax-load-data-perusahaan-cabang/'+pengajuan_id,
        success: function (data) {
          a = data.length
          if(a === 0){
            $('#table_perusahaan_cabang > tbody > tr:first').remove()
            table = '<tr><td colspan="19" align="center">Kosong/Tidak ada...!!!</td></tr>'
            $('#table_perusahaan_cabang > tbody').prepend(table)
          }
          else{
            b = data.reverse()
            $('#table_perusahaan_cabang > tbody > tr:first').remove()
            for (var i = 0; i < a; i++){
              id = b[i].id
              no = a
              if (a > 1){
                no = a-i
              }
              nama = b[i].nama_perusahaan
              alamat = b[i].alamat_perusahaan
              no_tdp = b[i].nomor_tdp
              nama_kabupaten = b[i].nama_kabupaten
              nama_provinsi = b[i].nama_provinsi
              kode_pos = b[i].kode_pos
              telepon = b[i].telepon
              status_perusahaan = b[i].status_perusahaan
              kegiatan_usaha = b[i].kegiatan_usaha
              row = '<tr>'
              row += '<td>'+no+'</td>'
              row += '<td>'+nama+'</td>'
              row += '<td>'+alamat+'</td>'
              row += '<td>'+no_tdp+'</td>'
              row += '<td>'+nama_kabupaten+'</td>'
              row += '<td>'+nama_provinsi+'</td>'
              row += '<td>'+kode_pos+'</td>'
              row += '<td>'+telepon+'</td>'
              row += '<td>'+status_perusahaan+'</td>'
              row += '<td>'+kegiatan_usaha+'</td>'
              row += '<td><button onclick="edit_perusahaan_cabang($(this).val())" type="button" class="btn btn-primary btn-rounded btn-ef btn-ef-5 btn-ef-5a mb-10" value="'+id+'"><i class="fa fa-edit"></i> <span>Edit</span></button>&nbsp;&nbsp;<button class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5a mb-10" value="'+id+'" type="button" onclick="delete_perusahaan_cabang($(this).val())"><i class="fa fa-trash"></i> <span>Delete</span></button></td>'
              row += '</tr>'
              $('#table_perusahaan_cabang > tbody').prepend(row)
            }
          }
        }
      });
      $('#table_perusahaan_cabang').mLoading('hide');
    }
  }

  function add_perusahaan_cabang(){
    $('#id_perusahaan_cabang').val("0")
    $('#nama_perusahaan_cabang').val("")
    $('#alamat_perusahaan_cabang').val("")
    $('#id_desa-5').val()
    $('#id_provinsi-5').val("").prop('disabled', false).trigger("chosen:updated");
    $('#id_kabupaten-5').val("").prop('disabled', false).trigger("chosen:updated");
    $('#id_kecamatan-5').val("").prop('disabled', false).trigger("chosen:updated");
    $('#id_desa-5').val("").prop('disabled', false).trigger("chosen:updated");
    $('#kode_pos_perusahaan_cabang').val("")
    $('#telepon_perusahaan_cabang').val("")
    $('#fax_perusahaan_cabang').val("")
    $('#status_perusahaan_cabang').val("").prop('disabled', false).trigger("chosen:updated");
    $('#kegiatan_usaha_perusahaan_cabang').val("").prop('disabled', false).trigger("chosen:updated");
    $('#nomor_tdp_perusahaan_cabang').val("")
  }

  function edit_perusahaan_cabang(val_){
    $('#create_cabang').modal('show')
    $.ajax({
      type: 'GET',
      url: __base_url__+'/ajax-edit-perusahaan-cabang/'+val_,
      success: function (data) {
        resp = $.parseJSON(data)
        $('#id_perusahaan_cabang').val(val_)
        $('#nama_perusahaan_cabang').val(resp.data.nama_perusahaan)
        $('#alamat_perusahaan_cabang').val(resp.data.alamat_perusahaan)
        $('#id_provinsi-5').val(resp.data.provinsi).prop('disabled', false).trigger("chosen:updated");
        load_kabupaten_(resp.data.provinsi, '#id_provinsi-5')
        setTimeout(function(){
          $('#id_kabupaten-5').val(resp.data.kabupaten).prop('disabled', false).trigger("chosen:updated");
        }, 500);
        load_kecamatan_(resp.data.kabupaten, '#id_provinsi-5')
        setTimeout(function(){
          $('#id_kecamatan-5').val(resp.data.kecamatan).prop('disabled', false).trigger("chosen:updated");
        }, 600);
        load_desa_(resp.data.kecamatan, '#id_provinsi-5')
        setTimeout(function(){
          $('#id_desa-5').val(resp.data.desa).prop('disabled', false).trigger("chosen:updated");
        }, 700);
        $('#kode_pos_perusahaan_cabang').val(resp.data.kode_pos)
        $('#telepon_perusahaan_cabang').val(resp.data.telepon)
        $('#fax_perusahaan_cabang').val(resp.data.fax)
        $('#status_perusahaan_cabang').val(resp.data.status_perusahaan).prop('disabled', false).trigger("chosen:updated");
        $('#kegiatan_usaha_perusahaan_cabang').val(resp.data.kegiatan_usaha).prop('disabled', false).trigger("chosen:updated");
        $('#nomor_tdp_perusahaan_cabang').val(resp.data.nomor_tdp)
      }
    })
  }

  function delete_perusahaan_cabang(val_){
    $.ajax({
      type: 'GET',
      url: __base_url__+'/ajax-delete-perusahaan-cabang/'+val_,
      success: function (data) {
        resp = $.parseJSON(data)
        if (resp.success){
          toastr["success"](resp.pesan)
          load_data_perusahaan_cabang($.cookie('id_pengajuan'))
        }
        else{
          toastr["error"](resp.pesan)
        }
      }
    });
  }
</script>