<form method="POST" name="step4" role="form" class="form-horizontal" action="{% url 'tdup_keterangan_usaha_save' %}" data-parsley-validate novalidate>
	{% csrf_token %}  
	<h3>KETERANGAN USAHA</h3>
	<hr class="style14">

	<div class="form-group" id="nama_usaha">
      <label class="col-sm-2 control-label text-left">Nama Usaha</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="nama_usaha" id="id_nama_usaha">
      </div>
    </div>

    <div class="form-group" id="lokasi_usaha_pariwisata">
      <label class="col-sm-2 control-label text-left">Lokasi Usaha Pariwista</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="lokasi_usaha_pariwisata" id="id_lokasi_usaha_pariwisata">
      </div>
    </div>

    <div class="form-group" id="provinsi-3">
	    <label class="col-sm-2 control-label text-left">Provinsi </label>
	    <div class="col-sm-5">
	      <select class="form-control chosen-select mb-10" name="provinsi" id="id_provinsi-3">
	      </select>
	    </div>
  	</div>

  	<div class="form-group" id="kabupaten-3">
	    <label class="col-sm-2 control-label text-left">Kota/Kabupaten </label>
	    <div class="col-sm-5">
	      <select class="form-control chosen-select mb-10" name="kabupaten" id="id_kabupaten-3"> 
	      </select>
	    </div>
  	</div>

  	<div class="form-group" id="kecamatan-3">
	    <label class="col-sm-2 control-label text-left">Kecamatan </label>
	    <div class="col-sm-5">
	      <select class="form-control chosen-select mb-10" name="kecamatan" id="id_kecamatan-3">
	      </select>
	    </div>
  	</div>

  	<div class="form-group" id="desa-3">
	    <label class="col-sm-2 control-label text-left">Kelurahan/Desa </label>
	    <div class="col-sm-5">
	      <select class="form-control chosen-select mb-10" name="desa_lokasi" id="id_desa-3">
	      </select>
	    </div>
  	</div>

  	<div class="form-group" id="telephone">
      <label class="col-sm-2 control-label text-left">Telepon</label>
      <div class="col-sm-5">
        <input type="text" class="form-control " name="telephone" id="id_telephone">
      </div>
    </div>

    <h4>Izin Gangguan</h4>

    <div class="row">
    	<div class="col-md-12">
    		<div class="table-responsive">
		    	<table class="table table-striped" id="table_data_lain">
		    		<thead>
		    			<tr>
		    				<th>No</th>
		    				<th>Nomor Izin</th>
		    				<th>Tanggal Izin</th>
		    				<th>Aksi</th>
		    			</tr>
		    		</thead>
		    		<tbody>
		    		</tbody>
		    	</table>
		    </div>
    	</div>
    </div>

	<a data-toggle="modal" data-target="#izin_lain" class="btn btn-warning btn-ef btn-ef-3 btn-ef-3a mb-10"><i class="icon-plus"></i> Tambah Izin Lain</a>
	<br>
    

	<h4>Dokumen Pengelolaan Lingkungan</h4>
    <div style="padding-left: 5%;">
	    <div class="form-group" id="nomor_dokumen_pengelolaan" >
	      <label class="col-sm-2 control-label text-left">Nomor Izin</label>
	      <div class="col-sm-5">
	        <input type="text" class="form-control" name="nomor_dokumen_pengelolaan" id="id_nomor_dokumen_pengelolaan">
	      </div>
	    </div>

	    <div class="form-group" id="tanggal_dokumen_pengelolaan">
		    <label class="col-sm-2 control-label text-left"">Tanggal</label>
		    <div class="col-sm-5">
		      <div class="input-group datepicker" data-format="L">
		        <input type="text" class="form-control" id="id_tanggal_dokumen_pengelolaan" name="tanggal_dokumen_pengelolaan" required="" data-parsley-trigger="change">
		        <span class="input-group-addon">
		          <span class="fa fa-calendar"></span>
		        </span>
		      </div>
		    </div>
	  	</div>
	</div>
</form>

<script type="text/javascript">
  function save_izin_lain(){
    var id = $('#id_izin_lain').val();
    var nomor_izin = $('#id_nomor_izin_gangguan').val()
    var tanggal_izin = $('#id_tanggal_izin_gangguan').val()
    var pengajuan_id = $.cookie('id_pengajuan')
    $.ajax({
      method: 'POST',
      data: {id:id, nomor_izin:nomor_izin, tanggal_izin: tanggal_izin, csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(), pengajuan_id: pengajuan_id},
      url: __base_url__+'/layanan/tdup/data-izin-lain/save',
      success: function(response){
        resp = $.parseJSON(response)
        if (resp.success){ 
          toastr["success"](resp.pesan)
          $('#izin_lain').modal('hide')
          load_data_izin_lain(pengajuan_id)
        }
      }
    })
  }

  function load_data_izin_lain(id_pengajuan){
    $.ajax({
      url: __base_url__+'/layanan/tdup/data-izin-lain/load/'+id_pengajuan,
      method: 'GET',
      success: function(response){
        respon = JSON.parse(response)
        // console.log(respon)
        izin_lain_json = respon.izin_lain_json
        $('#table_data_lain > tbody').html('')
        if(respon.success == true){
          if (izin_lain_json.length > 0){
            for (var i = 0; i < izin_lain_json.length; i++){
              no = 1
              if(izin_lain_json.length > 1){
                no = i+1
              }
              
              row = '<tr>'
              row += '<td>'+no+'</td>'
              row += '<td>'+izin_lain_json[i].no_izin+'</td>'
              row += '<td>'+izin_lain_json[i].tanggal_izin+'</td>'
              row += '<td><button class="btn btn-danger btn-rounded btn-ef btn-ef-5 btn-ef-5a mb-10" value="'+izin_lain_json[i].id+'" type="button" onclick="delete_data_izin_lain($(this).val())"><i class="fa fa-trash"></i> <span>Delete</span></button></td>'
              row += '</tr>'
              $('#table_data_lain > tbody').append(row)
            }
          }
          else{
            row = '<tr><td colspan="4" align="center">Kosong...!!!<td></tr>'
            $('#table_data_lain > tbody').html(row)
          }
          
        }
      }
    })
  }

  function delete_data_izin_lain(id_data_izin){
    // console.log(id_data_izin)
    $.ajax({
      url: __base_url__+'/layanan/tdup/data-izin-lain/delete/'+id_data_izin,
      method: 'GET',
      success: function(response){
        respon = JSON.parse(response)
        if (respon.success == true){
          toastr["success"](respon.pesan)
          load_data_izin_lain($.cookie('id_pengajuan'))
        }
        else{
          toastr["error"](respon.pesan)
        }
      },
      error: function(response){
        toastr["error"]('Terjadi Kesalahan Server !!!')
      }
    })
  }
</script>