<form method="POST" name="step7" role="form" action="{% url 'siup_done' %}">
  {% csrf_token %}
  <h3>KONFIRMASI DATA</h3>
  <hr class="style14">
  <table width="100%" border="0">
    <tr>
      <td width="25%">Jenis Pengajuan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='jenis_permohonan_konfirmasi'></span></td>
    </tr>
  </table>
  <br>
  <h4><u>#1. IDENTITAS PEMOHON</u></h4>
  <table width="100%" border="0" id="table_pemohon_konfirmasi">
    <tr>
      <td width="25%">Jenis Pemohon</td>
      <td width="5%">:</td>
      <td width="70%"><span id='jenis_pemohon_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Nomor KTP/Paspor</td>
      <td width="5%">:</td>
      <td width="70%"><span id='nomor_ktp_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Nama</td>
      <td width="5%">:</td>
      <td width="70%"><span id='nama_lengkap_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Alamat tempat tinggal</td>
      <td width="5%">:</td>
      <td width="70%"><span id='alamat_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">No.Telp</td>
      <td width="5%">:</td>
      <td width="70%"><span id='telephone_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">No.HP</td>
      <td width="5%">:</td>
      <td width="70%"><span id='hp_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">E-mail</td>
      <td width="5%">:</td>
      <td width="70%"><span id='email_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Kewarganegaraan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='kewarganegaraan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Pekerjaan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='pekerjaan_konfirmasi'></span></td>
    </tr>
  </table>
  <br>
  <h4><u>#2. IDENTITAS PERUSAHAAN</u></h4>
  <table width="100%" border="0">
    <tr>
      <td width="25%">NPWP</td>
      <td width="5%">:</td>
      <td width="70%"><span id='npwp_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Nama Perusahaan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='nama_perusahaan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Alamat Perusahaan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='alamat_perusahaan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Kode Pos</td>
      <td width="5%">:</td>
      <td width="70%"><span id='kode_pos_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">No.Telp</td>
      <td width="5%">:</td>
      <td width="70%"><span id='telepon_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">No.Fax</td>
      <td width="5%">:</td>
      <td width="70%"><span id='fax_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">E-mail</td>
      <td width="5%">:</td>
      <td width="70%"><span id='email_perusahaan_konfirmasi'></span></td>
    </tr>
  </table>
  <br>
  <h4><u>#3. DATA USAHA PARIWISATA</u></h4>
  <table width="100%" border="0">
    <tr id="tr-bidang_usaha_pariwisata">
      <td width="25%">Bidang Usaha Pariwisata</td>
      <td width="5%">:</td>
      <td width="70%"><span id='bidang_usaha_pariwisata_konfirmasi'></span></td>
    </tr>
    <tr id="tr-jenis_usaha_pariwisata">
      <td width="25%" style="padding-left: 2%;">Jenis Usaha Pariwisata</td>
      <td width="5%" style="padding-left: 2%;">:</td>
      <td width="70%" style="padding-left: 2%;"><span id='jenis_usaha_pariwisata_konfirmasi'></span></td>
    </tr>
    <tr id="tr-sub_jenis_usaha_pariwisata">
      <td width="25%" style="padding-left: 4%;">Sub Jenis Usaha Pariwisata</td>
      <td width="5%" style="padding-left: 4%;">:</td>
      <td width="70%" style="padding-left: 4%;"><span id='sub_jenis_usaha_pariwisata_konfirmasi'></span></td>
    </tr>
    <tr id="tr-sub_angkutan_sungai_dan_danau_wisata">
      <td width="25%" style="padding-left: 6%;">Angkutan Sungai dan Danau Wisata</td>
      <td width="5%" style="padding-left: 6%;">:</td>
      <td width="70%" style="padding-left: 6%;"><span id='sub_angkutan_sungai_dan_danau_wisata_konfirmasi'></span></td>
    </tr>
    <tr id="tr-sub_angkutan_kereta_api_wisata">
      <td width="25%" style="padding-left: 6%;">Angkutan Kereta Api Wisata</td>
      <td width="5%" style="padding-left: 6%;">:</td>
      <td width="70%" style="padding-left: 6%;"><span id='sub_angkutan_kereta_api_wisata_konfirmasi'></span></td>
    </tr>
    <tr id="tr-sub_angkutan_jalan_wisata">
      <td width="25%" style="padding-left: 6%;">Angkutan Jalan Wisata</td>
      <td width="5%" style="padding-left: 6%;">:</td>
      <td width="70%" style="padding-left: 6%;"><span id='sub_angkutan_jalan_wisata_konfirmasi'></span></td>
    </tr>
    <tr id="tr-sub_restoran">
      <td width="25%" style="padding-left: 6%;">Restoran</td>
      <td width="5%" style="padding-left: 6%;">:</td>
      <td width="70%" style="padding-left: 6%;"><span id='sub_restoran_konfirmasi'></span></td>
    </tr>
    <tr id="tr-sub_rumah_makan">
      <td width="25%" style="padding-left: 6%;">Rumah Makan</td>
      <td width="5%" style="padding-left: 6%;">:</td>
      <td width="70%" style="padding-left: 6%;"><span id='sub_rumah_makan_konfirmasi'></span></td>
    </tr>
    <tr id="tr-sub_bar">
      <td width="25%" style="padding-left: 6%;">Bar/Rumah Minum</td>
      <td width="5%" style="padding-left: 6%;">:</td>
      <td width="70%" style="padding-left: 6%;"><span id='sub_bar_konfirmasi'></span></td>
    </tr>
    <tr id="tr-sub_kafe">
      <td width="25%" style="padding-left: 6%;">Kafe</td>
      <td width="5%" style="padding-left: 6%;">:</td>
      <td width="70%" style="padding-left: 6%;"><span id='sub_kafe_konfirmasi'></span></td>
    </tr>
    <tr id="tr-sub_pusat_makanan">
      <td width="25%" style="padding-left: 6%;">Pusat Makanan</td>
      <td width="5%" style="padding-left: 6%;">:</td>
      <td width="70%" style="padding-left: 6%;"><span id='sub_pusat_makanan_konfirmasi'></span></td>
    </tr>
    <tr id="tr-sub_jasa_boga">
      <td width="25%" style="padding-left: 6%;">Jasa Boga</td>
      <td width="5%" style="padding-left: 6%;">:</td>
      <td width="70%" style="padding-left: 6%;"><span id='sub_jasa_boga_konfirmasi'></span></td>
    </tr>
  </table>
  <br>
  <h4><u>#4. KETERANGAN USAHA</u></h4>
  <table width="100%" border="0">
    <tr>
      <td width="25%">Nama Usaha</td>
      <td width="5%">:</td>
      <td width="70%"><span id='nama_usaha_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Lokasi Usaha Pariwisata</td>
      <td width="5%">:</td>
      <td width="70%"><span id='lokasi_usaha_pariwisata_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Telephone</td>
      <td width="5%">:</td>
      <td width="70%"><span id='telephone_usaha_konfirmasi'></span></td>
    </tr>
    <tr>
      <td colspan="3"><strong>Izin Gangguan</strong></td>
    </tr>
    <tr>
      <td width="25%" style="padding-left: 3%;">Nomor Izin</td>
      <td width="5%" style="padding-left: 3%;">:</td>
      <td width="70%" style="padding-left: 3%;"><span id='nomor_izin_gangguan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%" style="padding-left: 3%;">Tanggal Izin</td>
      <td width="5%" style="padding-left: 3%;">:</td>
      <td width="70%" style="padding-left: 3%;"><span id='tanggal_gangguan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td colspan="3"><strong>Dokumen Pengelolaan Lingkungan</strong></td>
    </tr>
    <tr>
      <td width="25%" style="padding-left: 3%;">Nomor Izin</td>
      <td width="5%" style="padding-left: 3%;">:</td>
      <td width="70%" style="padding-left: 3%;"><span id='nomor_dokumen_pengelolaan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%" style="padding-left: 3%;">Tanggal Izin</td>
      <td width="5%" style="padding-left: 3%;">:</td>
      <td width="70%" style="padding-left: 3%;"><span id='tanggal_dokumen_pengelolaan_konfirmasi'></span></td>
    </tr>
  </table>
  <br>
  <h4>#5. LEGILITAS PERUSAHAAN</h4>
  <table class="table table-striped" width="100%" id="table_legalitas_konfirmasi">
    <thead>
      <tr>
        <td>No.</td>
        <td>Jenis Akta dan Pengesahan</td>
        <td>Nama Notaris</td>
        <td>Alamat Notaris</td>
        <td>Telp. Notaris</td>
        <td>No. Akta</td>
        <td>Tgl. Akta</td>
        <td>No. Pengesahan</td>
        <td>Tgl. Pengesahan</td>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
  <br>
  <table class="table table-bordered">
      <thead>
        <tr >
          <th>Dokumen Persyaratan</th>
          <th>Telah Terupload</th>
        </tr>
      </thead>
      <tbody>
        <tr align="center">
          <td>
            Surat Permohonan
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-surat_keputusan"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            KTP yang masih berlaku
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-ktp"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            Izin Tempat Usaha Pariwisata yang masih berlaku berlaku
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-izin_tempat_usaha"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            Sertifikat Lahan / Surat Sewa
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-sertifikat_lahan"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            Izin Gangguan/HO
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-izin_gangguan"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            IMB
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-imb"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            File Akta Pendirian
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-akta_pendirian"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center" id="tr-akta_perubahan">
          <td>
            File Akta Pembaruan
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-akta_perubahan"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            File NPWP Perusahaan
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-npwp_perusahaan"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            SIUP
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-siup"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            Surat pernyataan tertulis dari pengusaha yang menjamin bahwa data dan dokumen yang diserahakan benar dan sah
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-surat_pernyataan"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            Dokumen lingkungan
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-dokumen_lingkungan"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            Izin Usaha Angkutan Khusus untuk bidang jasa transportasi wisata
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-izin_usaha_angkutan"><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            File Berkas Tambahan
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" disabled id="checkbox-berkas_tambahan"><i></i>
            </label>
          </td>
        </tr>
      </tbody>
  </table>
  <section class="tile bg-greensea">
    <div class="tile-body">
      <label class="checkbox checkbox-custom-alt">
        <input type="checkbox" id="checkbox_tdp_done"><i></i> Setuju, Saya telah mengisi formulir pengajuan izin ini dengan benar.
      </label>
    </div>
  </section>
</form>