<form method="POST" name="step5" role="form" class="form-horizontal" action="{% url 'siup_upload_dokumen' %}">
  {% csrf_token %}
  <h3>UPLOAD DOKUMEN PERSYARATAN</h3>
  <hr class="style14">
</form>
  
  <!-- Surat Permohonan -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'tdp_upload_surat_keputusan' %}" id="form-surat_keputusan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat Permohonan</strong></label>
      <span id="field-surat_keputusan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Keputusan">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-surat_keputusan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_keputusan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_keputusan"></span>
    </div>
  </form>

  <!-- KTP yang masih berlaku -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'tdp_upload_surat_keputusan' %}" id="form-surat_keputusan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>KTP yang masih berlaku</strong></label>
      <span id="field-surat_keputusan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Keputusan">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-surat_keputusan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_keputusan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_keputusan"></span>
    </div>
  </form>

  <!-- Izin Tempat Usaha Pariwisata yang masih berlaku -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'tdp_upload_surat_keputusan' %}" id="form-surat_keputusan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Izin Tempat Usaha Pariwisata yang masih berlaku berlaku (permohonan perubahan)</strong></label>
      <span id="field-surat_keputusan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Keputusan">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-surat_keputusan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_keputusan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_keputusan"></span>
    </div>
  </form>

  <!-- Sertifikat Lahan / Surat Sewa -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'tdp_upload_surat_keputusan' %}" id="form-surat_keputusan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Sertifikat Lahan / Surat Sewa</strong></label>
      <span id="field-surat_keputusan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Keputusan">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-surat_keputusan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_keputusan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_keputusan"></span>
    </div>
  </form>

  <!-- Izin gangguan/HO -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'tdp_upload_surat_keputusan' %}" id="form-surat_keputusan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Izin gangguan/HO</strong></label>
      <span id="field-surat_keputusan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Keputusan">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-surat_keputusan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_keputusan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_keputusan"></span>
    </div>
  </form>

  <!-- IMB -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'tdp_upload_surat_keputusan' %}" id="form-surat_keputusan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>IMB</strong></label>
      <span id="field-surat_keputusan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Keputusan">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-surat_keputusan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_keputusan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_keputusan"></span>
    </div>
  </form>

  <!-- Akta pendirian perusahaan kecuali bagi perorangan -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'tdp_upload_surat_keputusan' %}" id="form-surat_keputusan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Akta pendirian perusahaan kecuali bagi perorangan</strong></label>
      <span id="field-surat_keputusan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Keputusan">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-surat_keputusan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_keputusan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_keputusan"></span>
    </div>
  </form>

  <!-- Nomor Pokok Wajib Pajak (NPWP) -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'tdp_upload_surat_keputusan' %}" id="form-surat_keputusan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Nomor Pokok Wajib Pajak (NPWP)</strong></label>
      <span id="field-surat_keputusan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Keputusan">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-surat_keputusan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_keputusan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_keputusan"></span>
    </div>
  </form>

  <!-- SIUP -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'tdp_upload_surat_keputusan' %}" id="form-surat_keputusan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>SIUP</strong></label>
      <span id="field-surat_keputusan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Keputusan">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-surat_keputusan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_keputusan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_keputusan"></span>
    </div>
  </form>

  <!-- Surat pernyataan tertulis dari pengusaha yang menjamin bahwa data dan dokumen yang diserahakan benar dan sah -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'tdp_upload_surat_keputusan' %}" id="form-surat_keputusan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat pernyataan tertulis dari pengusaha yang menjamin bahwa data dan dokumen yang diserahakan benar dan sah</strong></label>
      <span id="field-surat_keputusan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Keputusan">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-surat_keputusan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_keputusan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_keputusan"></span>
    </div>
  </form>

  <!-- Dokumen lingkungan -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'tdp_upload_surat_keputusan' %}" id="form-surat_keputusan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Dokumen lingkungan</strong></label>
      <span id="field-surat_keputusan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Keputusan">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-surat_keputusan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_keputusan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_keputusan"></span>
    </div>
  </form>

  <!-- Izin Usaha Angkutan Khusus untuk bidang jasa transportasi wisata -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'tdp_upload_surat_keputusan' %}" id="form-surat_keputusan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Izin Usaha Angkutan Khusus untuk bidang jasa transportasi wisata</strong></label>
      <span id="field-surat_keputusan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Keputusan">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-surat_keputusan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_keputusan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_keputusan"></span>
    </div>
  </form>

  <!-- Berkas tambahan -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'tdp_upload_surat_keputusan' %}" id="form-surat_keputusan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Berkas Tambahan</strong></label>
      <span id="field-surat_keputusan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Keputusan">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-surat_keputusan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-surat_keputusan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-surat_keputusan"></span>
    </div>
  </form>