{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static parameters %}

{% block extrastyle %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'scripts/js/vendor/chosen/chosen.css' %}">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
{% endblock %}

{% block extrajs_site %}
	{{ block.super }}
	<script src="{% static 'scripts/js/vendor/daterangepicker/moment.js' %}"></script>
	<script src="{% static 'scripts/js/vendor/screenfull/screenfull.min.js' %}"></script>>
	<script src="{% static 'scripts/js/vendor/chosen/chosen.jquery.min.js' %}"></script>
	<script src="{% static 'scripts/js/vendor/parsley/parsley.js' %}"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<script type="text/javascript">
		$('.daterangepicker_').daterangepicker({
			locale: {
				format: 'DD/MM/YYYY'
			},
		});

		// var check_form = function(button){
		// 	frm = $('#form-export-izin');
		// 	frm.parsley().validate();
		// 	if (frm.parsley().isValid()){
		// 		button.button('loading');
		// 		$.ajax({
		// 			type: frm.attr('method'),
		// 			url: frm.attr('action'),
		// 			data: frm.serialize(),
		// 			success: function(respon){
		// 				console.log(respon)
		// 			},
		// 			error: function(){
		// 				console.log("error")
		// 				button.button('reset');
		// 			}
		// 		}).done(function(){
		// 			button.button('reset');
		// 		})
		// 	}
		// }
	</script>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<form class="form-horizontal" method="POST" id="form-export-izin" action="">
			{% csrf_token %}
			<section class="tile">
				<div class="tile-header dvd dvd-btm">
					<h1 class="custom-font"> </h1>
					<ul class="controls">
						<li class="dropdown">
							<a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
								<i class="fa fa-cog"></i>
								<i class="fa fa-spinner fa-spin"></i>
							</a>
							<ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
								<li>
									<a role="button" tabindex="0" class="tile-toggle">
										<span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
										<span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
									</a>
								</li>
								<li>
									<a role="button" tabindex="0" class="tile-refresh">
										<i class="fa fa-refresh"></i> Refresh
									</a>
								</li>
								<li>
									<a role="button" tabindex="0" class="tile-fullscreen">
										<i class="fa fa-expand"></i> Fullscreen
									</a>
								</li>
							</ul>
						</li>
						<li class="remove"><a role="button" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a></li>
					</ul>
				</div>
				<div class="tile-body">
					<div class="form-group">
						<label class="col-sm-2 control-label text-left" ><strong>Jenis Izin</strong></label>
						<div class="col-md-3">
							<select id="izin__exact" class="form-control chosen-select" name="jenis_izin">
								<option value>Pilih Jenis Izin</option>
								{% if kelompokjenisizin_list %}
									{% for k in kelompokjenisizin_list %}
										<option value="{{k.id}}">{{k.kelompok_jenis_izin}}</option>
									{% endfor %}
								{% endif %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label text-left"><strong>Tanggal Diterbitkan</strong></label>
						<div class="col-md-5"> 
							<div class="input-group">
								<input type="text" name="tanggal" class="form-control daterangepicker_">
							</div>
						</div>
					</div>
				</div>
				<div class="tile-footer text-right bg-tr-black lter dvd dvd-top" style="padding-bottom: 0px;">
					<div class="form-group">
						<div class="col-md-12" align="right">
							<button type="submit" class="btn btn-greensea mb-10">Export <i class="fa fa-filter"></i></button>
						</div>
					</div>
				</div>
			</section>
		</form>
	</div>
</div>
{% endblock %}