<form method="POST" name="step1" role="form" class="form-horizontal form-pemohon" action="{% url 'siup_pemohon_save' %}" data-parsley-validate novalidate>
  {% csrf_token %}
  <!-- <input type="hidden" name="path_name" class="path_name"> -->
  <div class="row">
    <div class="col-md-12">
      <h3>CEK IZIN USAHA ANGKUTAN</h3>
      <hr class="style14">
    </div>
  </div>
  <input type="hidden" id="id_status" name="status" value="2">

  <div class="form-group" id="nama_lengkap">
    <label for="input01" class="col-sm-2 control-label"><strong>No. Izin Angkutan</strong> </label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="id_no_izin_angkutan" name="no_izin_angkutan" required="" data-parsley-trigger="change">
    </div>
  </div>

</form>


