<form method="POST" action="{% url 'imb_save' %}" id="id_imb_data_umum" data-parsley-validate novalidate name="step2" role="form" class="form-horizontal">
  {% csrf_token %}
    <h3>DATA IMB</h3>
    <hr class="style14" >

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Bangunan</label>
      <div class="col-sm-10">
        <input type="text" required="" class="form-control" id="id_bangunan" name="bangunan">
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Luas bangunan</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" required="" class="form-control" id="id_luas_bangunan" name="luas_bangunan">
          <span class="input-group-addon">
            <span>M&sup2;</span>
          </span>
        </div>
      </div>

      <label for="input01" class="col-sm-2 control-label">Jumlah bangunan</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" class="form-control" id="id_jumlah_bangunan" name="jumlah_bangunan">
          <span class="input-group-addon">
            <span>Unit</span>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Lokasi pembangunan</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="5" id="id_lokasi" name="lokasi" ></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Kota/Kabupaten</label>
      <div class="col-sm-5">
        <select disabled="" class="form-control chosen-select mb-10" name="kabupaten">
          <option value="1">Kabupaten Kediri</option>
        </select>
      </div>
    </div>

    <div class="form-group" id="kecamatan3">
      <label for="input01" class="col-sm-2 control-label"><strong>Kecamatan</strong></label>
      <div class="col-sm-5">
        <select id="id_kecamatan_data_reklame" required="" data-parsley-trigger="change" class="form-control chosen-select mb-10">
          <option value>-- Pilih Kecamatan --</option>
          {% if kecamatan %}
          {% for k in kecamatan %}
          <option value="{{ k.id }}">{{ k.nama_kecamatan }}</option>
          {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

    <div class="form-group" id="desa3">
      <label class="col-sm-2 control-label"><strong>Kelurahan/Desa</strong></label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" name="desa" id="id_desa_data_reklame" required="" data-parsley-trigger="change">
        </select>
      </div>
    </div>

    <div class="form-group">
    <label for="input01" class="col-sm-2 control-label">Luas tanah</label>
    <div class="col-sm-3">
        <div class="input-group">
            <input type="text" required="" class="form-control" id="id_luas_tanah" name="luas_tanah">
            <span class="input-group-addon">
              <span>M&sup2;</span>
            </span>
          </div>
    </div>
  </div>

  <div class="form-group">
        <label for="input01" class="col-sm-2 control-label">Status hak tanah</label>
        <div class="col-sm-5">
          <select id="id_status_hak_tanah" name="status_hak_tanah" class="form-control chosen-select mb-10">
            <option>-- Pilih Status hak tanah --</option>
            {% for j in status_hak_tanah %}
             <option value="{{j.0}}">{{j.1}}</option>
            {% endfor %}
          </select>
        </div>
    </div>

    <div class="form-group">
    <label for="input01" class="col-sm-2 control-label">No. Surat Tanah</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" required="" id="id_no_surat_tanah" name="no_surat_tanah">
    </div>
  </div>

  <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Tanggal surat tanah</label>
      <div class="col-sm-5">
        <div class="input-group datepicker" data-format="L">
          <input type="text" class="form-control" required="" id="id_tanggal_surat_tanah" name="tanggal_surat_tanah">
          <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label"><u><b>Batas-batas</b></u></label>
    </div>

    <div class="form-group">
      <label for="batas_utara" class="col-sm-2 control-label">Sebelah Utara</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="batas_utara" id="id_batas_utara">
      </div>
    </div>
    <div class="form-group">
      <label for="batas_timur" class="col-sm-2 control-label">Sebelah Timur</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="batas_timur" id="id_batas_timur">
      </div>
    </div>
    <div class="form-group">
      <label for="batas_selatan" class="col-sm-2 control-label">Sebelah Selatan</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="batas_selatan" id="id_batas_selatan">
      </div>
    </div>
    <div class="form-group">
      <label for="batas_barat" class="col-sm-2 control-label">Sebelah Barat</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="batas_barat" id="id_batas_barat">
      </div>
    </div>

    <br>
    <h5><u><strong>Perluasan / Penambahan Bangunan</strong></u></h5>
    <h5>Isi jika perluasan / penambahan bangunan</h5>

    <div class="form-group">
    <label for="input01" class="col-sm-2 control-label">Luas bangunan yg sudah ada</label>
    <div class="col-sm-3">
      <div class="input-group">
            <input type="text" class="form-control" id="id_luas_bangunan_lama" name="luas_bangunan_lama">
            <span class="input-group-addon">
              <span>M&sup2;</span>
            </span>
          </div>
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label">No IMB</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="id_no_imb_lama" name="no_imb_lama">
    </div>
  </div>

  <div class="form-group">
      <label for="input01" class="col-sm-2 control-label">Tanggal IMB</label>
      <div class="col-sm-4">
        <div class="input-group datepicker" data-format="L">
          <input type="text" class="form-control" id="id_tanggal_imb_lama" name="tanggal_imb_lama">
          <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
      </div>
    </div>
</form>