<form method="POST" name="step5" role="form" class="form-horizontal" action="{% url 'siup_upload_dokumen' %}">
  {% csrf_token %}
  <h3>UPLOAD DOKUMEN PERSYARATAN</h3>
  <hr class="style14">
  <div class="form-group">
    <label class="col-sm-5 control-label">Izin Prinsip Penananaman Modal.</label>
    <div class="col-sm-3">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">Izin Perubahan Penggunaan Tanah(IPPT).</label>
    <div class="col-sm-3">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-5 control-label">Bukti pendaftaran perubahan/penghapusan hak atas Fasum/Fasos</label>
    <div class="col-sm-3">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Gambar Teknis Bangunan Gedung /Denah Banguna / Site Plan yang disahkan oleh Dinans PU.</label>
    <div class="col-sm-3">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Dokumen UKL-UPL</label>
    <div class="col-sm-3">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Surat Kepemilikan Tanah</label>
    <div class="col-sm-3">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">KTP / Paspor</label>
    <div class="col-sm-3">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">NPWP</label>
    <div class="col-sm-3">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-5 control-label">Perhitungan Kontruksi Beton (Untuk Bangunan lebih dari satu lantai)</label>
    <div class="col-sm-3">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>
</form>