{% extends "front-end/base.html" %}
{% load i18n admin_static staticfiles widgets %}
{% block extrastyle %}
  {{ block.super }}
  <style type="text/css">
    hr.style14 { 
      border: 0; 
      height: 1px; 
      background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
    }
  </style>
{% endblock %}

{% block section %}
<div class="row" style="padding-top: 2%;">
  <div class="col-md-12">
    <section class="tile">
      <div class="tile-body">
        <div class="row">
          <div class="col-md-12">
            <section class="tile bg-darkgray">
              <div class="tile-body">
                <div class="row">
                  <div class="col-md-2 text-center">
                    <i class="fa fa-info-circle" style="font-size: 9em;color: red;"></i>
                  </div>
                  <div class="col-md-10">
                    <p style="font-size: 21px;">Anda telah berhasil melakukan pengajuan izin secara online. Silahkan <font color="#5cb85c">mencetak formulir pengajuan</font> dengan menekan tombol cetak di bawah dan untuk selanjutnya melakukan konfirmasi pengajuan ke BPM-P2TSP Kab. Kediri dengan membawa berkas persyaratan asli sebagai tanda bukti, <font color="#ff1910">maksimal 7 hari</font> setelah pengajuan ini dibuat atau pengajuan ini dinyatakan hangus.</p>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-darkgray">
              <div class="panel-header">
                <div class="row">
                  <div class="col-sm-12">
                    <h2 class="text-center">No. Pengajuan Izin : {{pengajuan.no_pengajuan|default_if_none:"-"}}</h2>
                    <hr class="style14">
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table border="0">
                  <tr>
                    <td style="width: 24%;">Jenis Izin</td>
                    <td style="width: 5%;">:</td>
                    <td>{{ pengajuan.kelompok_jenis_izin|default_if_none:"-" }}</td>
                  </tr>
                  <tr>
                    <td>Nama Pemohon</td>
                    <td>:</td>
                    <td>{{pengajuan.pemohon.nama_lengkap|default_if_none:"-"}}</td>
                  </tr>
                  <tr>
                    <td>Alamat</td>
                    <td>:</td>
                    <td>{{alamat_pemohon|default_if_none:"-"}}</td>
                  </tr>
                  <tr>
                    <td>Perusahaan</td>
                    <td>:</td>
                    <td>{{pengajuan.perusahaan.nama_perusahaan|default_if_none:"-"}}</td>
                  </tr>
                  <tr>
                    <td>Alamat Perusahaan</td>
                    <td>:</td>
                    <td>{{alamat_perusahaan|default_if_none:"-"}}</td>
                  </tr>
                  <tr>
                    <td>Dibuat tanggal</td>
                    <td>:</td>
                    <td>{{ pengajuan.created_at|date:"d-m-Y" }} {{ pengajuan.created_at|time:"H:i" }}</td>
                  </tr>
                </table>
                <br>
                <h4><font color="red">Masa berlaku pengajuan s/d {{ pengajuan.created_at|add_date:3|date:"d-m-Y" }}</font></h4>
                <div class="row">
                  <div class="col-md-6 col-md-offset-3" align="center">
                    <a href="{% url 'cetak_bukti_pendaftaran_tdp_po' pengajuan.id %}" target="_blank" class="btn btn-primary btn-lg btn-rounded btn-ef btn-ef-5 btn-ef-5a mb-10"><i class="fa fa-print"></i> <span>Cetak Formulir Pengajuan</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
{% endblock %}
