{% extends "front-end/base.html" %}
{% load i18n admin_static staticfiles widgets %}
{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'scripts/js/vendor/chosen/chosen.min.css' %}">
  <link rel="stylesheet" href="{% static 'scripts/js/vendor/toastr/toastr.min.css' %}">
  <link rel="stylesheet" href="{% static 'scripts/js/vendor/loadmask/jquery.loadmask.css' %}">
  <link rel="stylesheet" href="{% static 'scripts/js/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css'  %}">
  <link rel="stylesheet" href="{% static 'scripts/js/vendor/alert/sweetalert.css' %}">
  {% block customstyle %}
    <style type="text/css">
      @media only screen and (max-width: 1280px){
        .hidden_title{
           /*display: none !important;*/
           font-size: 10px;
        }
      }
      @media only screen and (max-width: 844px){
        .hidden_title{
          /*display: block !important;*/
          font-size: 12px;
        }
      }
      @media only screen and (max-width: 986px){
        .hidden_title{
           display: none !important;
           /*font-size: 10px;*/
        }
        .tab-wizard .nav-tabs > li.active > a, .tab-wizard .nav-tabs > li.active > a:hover {
          padding-bottom: 24px
        }
        .tab-wizard .nav-tabs > li.active ~ li > a, .tab-wizard .nav-tabs > li.active ~ li > a:hover {
          padding-bottom: 24px;
        }
      }
      @media only screen and (max-width: 767px){
        .hidden_title{
          display: block !important;
          /*font-size: 12px;*/
        }
      }
      hr.style14 { 
        border: 0; 
        height: 1px; 
        background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
        background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
      }
    </style>
  {% endblock %}
{% endblock %}
{% block section %}
<div class="pageheader">
  {% block pageheader %}
      
  {% endblock %}
</div>

{% include 'front-end/perhatian.html' %}

{% block tambahan %}  
{% endblock %}

<div id="rootwizard" class="tab-container tab-wizard">
  {% block rootwizard %}

  {% endblock %}

  <div class="tab-content">
    {% block tab-content %}
      
    {% endblock %}

    <ul class="pager wizard">
      <li class="previous" id="previous"><a class="btn btn-default">Kembali</a></li>
      <li class="next" id="next"><a onclick="next_tab(this)" class="btn btn-default">Selanjutnya</a></li>
      <li class="next finish" style="display:none;">
        <button type="submit" class="btn btn-success pull-right" id="alert">
          <i class="fa fa-arrow-right"></i>
          <span>Selesai</span>
        </button>
      </li>
    </ul>
  </div>
  <br>
  <br>
  <br>
</div>
{% endblock %}

{% block extratools %}
{{ block.super }}
<script src="{% static 'scripts/js/vendor/chosen/chosen.jquery.js' %}"></script>
<script src="{% static 'scripts/js/vendor/parsley/parsley.js' %}"></script>
<script src="{% static 'scripts/js/vendor/form-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
<script src="{% static 'scripts/js/vendor/toastr/toastr.min.js' %}"></script>
<script src="{% static 'scripts/js/vendor/loadmask/jquery.loadmask.js' %}"></script>
<script src="{% static 'scripts/js/vendor/filestyle/bootstrap-filestyle.min.js' %}"></script>
<script src="{% static 'scripts/js/vendor/daterangepicker/moment.js' %}"></script>
<script src="{% static 'scripts/js/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'scripts/js/vendor/validation/jquery.maskedinput.js' %}"></script>
<script src="{% static 'scripts/js/vendor/jquery/jquery.cookie.js' %}"></script>
<script src="{% static 'scripts/js/vendor/alert/sweetalert-dev.js' %}"></script>
<script>
	

	// Function to capitalize for string
	// String.prototype.capitalize = function() {
	//   return this.replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
	// };

</script>


{% endblock %}