{% extends "front-end/formulir/formulir_izin.html" %}
{% load i18n admin_static staticfiles widgets %}
{% block customstyle %}
  {{ block.super }}
  <style type="text/css">
    .tab-wizard .nav-tabs > li > a, .tab-wizard .nav-tabs > li > a:hover, .tab-wizard .nav-tabs > li > a:focus {
        background-color: #22beef;
        color: aliceblue;
      }
      .tab-wizard .nav-tabs > li.active ~ li > a, .tab-wizard .nav-tabs > li.active ~ li > a:hover {
        background-color: #616f77;
      }
      .tab-wizard .nav-tabs > li:before {
        background-color: #333;
      }
      .onoffswitch.labeled .onoffswitch-inner:before {
        content: "Ya";
      }
      .onoffswitch.labeled .onoffswitch-inner:after {
        content: "Tidak";
      }
      .onoffswitch.labeled {
        width: 59px;
      }
      .onoffswitch.labeled .onoffswitch-switch {
        right: 34px;
      }
  </style>
{% endblock %}

{% block pageheader %}
  <h2>Izin Usaha Perusahaan Pengillingan Padi Huller
      <span>Berikut adalah info pendaftaran perizinan Huller Kabupaten Kediri.</span>
    </h2>
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a href="{% url 'frontindex' %}"><i class="fa fa-home"></i> Beranda</a>
        </li>
        <li>
          <a href="{% url 'layanan' %}"><i class="fa fa-sign-in"></i> Pendaftaran Perizinan Daerah</a>
        </li>
        <li>
          <a href="#"> Huller</a>
        </li>
        <li>
          <a href="#">Formulir Hller</a>
        </li>
      </ul>
    </div>
{% endblock %}

{% block rootwizard %}
  <ul class="nav nav-tabs nav-justified">
    <li><a disabled href="#tab1" data-toggle="tab"><i class="hidden_title">Identitas Pemohon</i> <span class="badge badge-default pull-right wizard-step">1</span></a></li>
    <li><a disabled href="#tab2" data-toggle="tab"><i class="hidden_title">Identitas Perusahaan</i><span class="badge badge-default pull-right wizard-step">2</span></a></li>
    <li><a disabled href="#tab3" data-toggle="tab"><i class="hidden_title">Pemilik dan Pengusaha</i><span class="badge badge-default pull-right wizard-step">3</span></a></li>
    <li><a disabled href="#tab4" data-toggle="tab"><i class="hidden_title">Data Mesin </i><span class="badge badge-default pull-right wizard-step">4</span></a></li>
    <li><a disabled href="#tab5" data-toggle="tab"><i class="hidden_title">Upload Dokumen</i><span class="badge badge-default pull-right wizard-step">5</span></a></li>
    <li><a disabled href="#tab6" data-toggle="tab"><i class="hidden_title">Konfirmasi</i><span class="badge badge-default pull-right wizard-step">6</span></a></li>
  </ul>
{% endblock %}

{% block tab-content %}
  <div class="tab-pane" id="tab1">
    <!-- Identitas perusahaan -->
    {% include 'front-end/include/pemohon/identitas_pemohon.html' %}
  </div>

  <div class="tab-pane" id="tab2">
    <!-- Identitas perusahaan -->
    {% include 'front-end/include/formulir_huller/identitas_perusahaan.html' %}
  </div>

  <div class="tab-pane" id="tab3">
    <!-- Pemilik dan Pengusaha -->
    {% include 'front-end/include/formulir_huller/pemilik_pengusaha.html' %}
  </div>

  <div class="tab-pane" id="tab4">
    <!-- Data Mesin -->
    {% include 'front-end/include/formulir_huller/data_mesin.html' %}
  </div>

  <div class="tab-pane" id="tab5">
    <!-- Dokumen upload -->
    {% include 'front-end/include/formulir_huller/upload_dokumen.html' %}
  </div>

  <div class="tab-pane" id="tab6">
    <!-- Konfirmasi -->
    {% include 'front-end/include/formulir_huller/konfirmasi.html' %}
  </div>
{% endblock %}

{% block extratools %}
  {{ block.super }}
  <script src="{% static 'scripts/js/vendor/alert/sweetalert-dev.js' %}"></script>
  <script src="{% static 'scripts/js/mloading/jquery.mloading.js' %}"></script>
  <script src="{% static 'scripts/js/vendor/jquery/jquery.form.js' %}"></script>
  <script src="{% static 'scripts/js/vendor/jquery/jquery.cookie.js' %}"></script>
  <script src="{% static 'scripts/js/formAjax/form_ajax_reklame.js' %}"></script>
  <script src="{% static 'scripts/js/formAjax/form_upload.js' %}"></script>
  <script src="{% static 'scripts/js/form/chossen_stuf.js' %}"></script>
  <script src="{% static 'scripts/js/form/pemohon_reklame.js' %}"></script>
  <script src="{% static 'scripts/js/form/perusahaan_reklame.js' %}"></script>
  <script src="{% static 'scripts/js/form/validasi.js' %}"></script>
  <script src="{% static 'scripts/js/vendor/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
  <script src="{% static 'scripts/js/jquery.mask.js' %}"></script>
  <script type="text/javascript">
      $(window).load(function(){
        $('#rootwizard').bootstrapWizard({
          onTabShow: function(tab, navigation, index) {
              var $total = navigation.find('li').length;
              var $current = index+1;
              if($current >= $total) {
                $('#rootwizard').find('.pager .next').hide();
                $('#rootwizard').find('.pager .finish').show();
                $('#rootwizard').find('.pager .finish').removeClass('disabled');
                id_pengajuan = parseInt($.cookie('id_pengajuan'))
                load_konfirmasi_izin_lokasi(id_pengajuan)
                if (id_pengajuan > 0){
                  $.ajax({
                    url: __base_url__+'/ajax-konfirmasi-kuasa/'+id_pengajuan,
                    success: function (response){
                        respon = $.parseJSON(response)
                        if (respon.success){
                          $("<br><br><table border='0' width='100%'><tr><td colspan='3'><h3 class='custom-font'>Data Kuasa</h3></td></tr><tr><td width='25%'>Nama Kuasa</td><td width='5%'>:</td><td width='70%'>"+respon.nama_kuasa+"</td></tr><tr><td>No Identitas Kuasa</td><td>:</td><td>"+respon.no_identitas_kuasa+"</td></tr><tr><td>Telpon Kuasa</td><td>:</td><td>"+respon.telephone_kuasa+"</td></tr></table>").insertAfter("#id_table_pemohon_komfirmasi");
                        }
                        else{
                          $('<br>').insertAfter("#id_table_pemohon_komfirmasi");
                                  }
                      }
                      // error: function(response){
                      //   $('<br>').insertAfter("#id_table_pemohon_komfirmasi");
                      // }
                  })
                }
              }else{
              if($current == 4){
                var frm = $('form[name="montor_penggerak"]');
                for (var i = 0; i < frm.length; i++){      
                  var obj = $('form[id="'+frm[i].id+'"]');
                  var bor = obj.serializeArray();
                    var display2 = {};
                  for (var a = 0; a < bor.length; a++){ 
                    display2[bor[a].name] = bor[a].value;
                  } 
                  var j = JSON.stringify(display2);
                  alert(j)
                }

                
              }

                $('#rootwizard').find('.pager .next').show();
                $('#rootwizard').find('.pager .finish').hide();
              }
          },

          onNext: function(tab, navigation, index) {
              // var form = $('form[name="step'+ index +'"]');
              // form.parsley().validate();
              // if (!form.parsley().isValid()) {
              //     return false;
              // }
              return true ;
          },

          onTabClick: function(tab, navigation, index) {
            // var form = $('form[name="step'+ (index+1) +'"]');
            // form.parsley().validate();
            // if (!form.parsley().isValid()) {
            //     return false;
            // }
            return true ;
          }
        });
      });
    function make_disabled(elem_, dis_){
      if (dis_ == true){
          elem_.empty();
      }
      elem_.prop( "disabled", dis_);
      elem_.trigger("chosen:updated");
    }
    function next_tab(btn){
      var index = $('#rootwizard').bootstrapWizard('currentIndex')+1;
      var frm = $('form[name="step'+ index +'"]');
      frm.parsley().validate();
        if (frm.parsley().isValid()) {
          // $(".tab-content #tab"+index).mask('loading')
          $(".tab-content").mLoading();
          $(btn).attr('disabled', 'disabled')
          $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (response){
              respon = $.parseJSON(response)
                $(btn).removeAttr('disabled')
                // alert(respon);
                // console.log(respon.success);
                if(respon.success){
                  toastr["success"](respon.pesan)
                  // console.log(respon.data)
                  // console.log(respon.data.length)
                  // $.cookie("keys", "value"); set cookie
                    
                  for (var i = 0; i < respon.data.length; i++){
                    var key = Object.keys(respon.data[i]); // Mencari key json
                    // console.log(key[0]);
                    // if (key[0]= "status_upload") {
                    //   $("#npwp_perusahaan").hide(1000)

                    // }else{
                    var val = respon.data[i][key[0]] // mencari value json
                      // console.log(key[0]+"_konfirmasi");
                    var id = "#"+key[0]+"_konfirmasi" // membuat variabel id untuk sett ke id masing2 komfirmasi

                    $(id).text(val);
                    // }
                    // untuk sementara
                    if(key[0] === "jenis_legalitas_perubahan"){
                      $('#konfirmasi_legalitas_perubahan').hide();
                    }
                    else{
                      $('#konfirmasi_legalitas_perubahan').show();
                    }
                  }
                  // $( ".tab-content #tab"+index ).unmask()
                  $(".tab-content").mLoading('hide');
                  tab_index = '#rootwizard a[href="#tab'+(index+1)+'"]'
                  $(tab_index).tab('show')
                }
                else{
                  // console.log("error")
                  // console.log(respon);
                  // console.log(typeof respon);
                  var a = Object.keys(respon);
                  // console.log(respon['nama_lengkap'][0]['message']);
                  // console.log(a.length);
                  for (var i = 0; i < a.length; i++){
                    // console.log(a[i]);
                    // console.log(respon[a[i]]);
                    // var field = a[i].replace("_", " ").capitalize();
                    // toastr["error"](field+", "+respon[a[i]][0]['message'])
                    $("#"+a[i]+"").addClass("has-error");
                    // console.log($("#"+a[i]+"").addClass("parsley-error"));
                  }
                  // $( ".tab-content #tab"+index ).unmask()
                  $(".tab-content").mLoading('hide');
                }
            },
            error: function(response){
              // alert(response)
              // $( ".tab-content #tab"+index ).unmask()
              $(".tab-content").mLoading('hide');
              $(btn).removeAttr('disabled')
              toastr["error"]("Terjadi kesalahan pada koneksi server.")
            }
        });
      }
    };

    document.querySelector('#alert').onclick = function(){
      // swal("Good job!", "You clicked the button!", "success");
      swal({
        showConfirmButton: false,
        type: 'success',
        title: 'Pendaftaran Berhasil Tersimpan',
        timer: 2000
      })
    };
  </script>

  <script>

    function form_pemohon_kuasa_make_disabled(){
      make_disabled($('#id_nama_kuasa'), true)
      make_disabled($('#id_no_identitas_kuasa'), true)
      make_disabled($('#id_telephone_kuasa'), true)
    }

    form_pemohon_kuasa_make_disabled();

    function form_pemohon_kuasa_make_enabled(){
      make_disabled($('#id_nama_kuasa'), false)
      make_disabled($('#id_no_identitas_kuasa'), false)
      make_disabled($('#id_telephone_kuasa'), false)
    }

    $("#switch_pemohon_disabled").change(function(){
      if($(this).is(':checked')){
        form_pemohon_kuasa_make_enabled();
      }else{
        form_pemohon_kuasa_make_disabled();
      }
    })

  make_disabled($('#nama_badan_hukum_pemilik'), true)
  make_disabled($('#nama_badan_hukum_pengusaha'), true)

    $("#id_perorangan_form").change(function(){
      if($(this).is(':checked')){
        make_disabled($('#id_pemilik_nama_perorangan'), false)
        make_disabled($('#id_pemilik_alamat'), false)
        make_disabled($('#id_negara_perorangan'), false)
        make_disabled($('#id_provinsi_perorangan'), false)
        make_disabled($('#id_kabupaten_perorangan'), false)
        make_disabled($('#id_kecamatan_perorangan'), false)
        make_disabled($('#id_desa_perorangan'), false) 
        make_disabled($('#id_pemilik_kewarganegaraan'), false) 
        make_disabled($('#nama_badan_hukum_pemilik'), true)
        load_negara_perorangan()
        load_provinsi_perorangan('1')
        load_kabupaten_perorangan('1')
        load_kecamatan_perorangan('1083')
        load_kwarganegaraan()
        setTimeout(function(){
          $('#id_negara_perorangan').val('1').prop('selected',true).trigger("chosen:updated");
          $('#id_provinsi_perorangan').val('1').prop('selected',true).trigger("chosen:updated");
          $('#id_kabupaten_perorangan').val('1083').prop('selected',true).trigger("chosen:updated")
        }, 1000);
      }
    })
    $("#id_badan_hukum_perorangan_form").change(function(){
      if($(this).is(':checked')){
        make_disabled($('#id_pemilik_nama_perorangan'), true)
        make_disabled($('#id_pemilik_alamat'), true)
        make_disabled($('#id_negara_perorangan'), true)
        make_disabled($('#id_provinsi_perorangan'), true)
        make_disabled($('#id_kabupaten_perorangan'), true)
        make_disabled($('#id_kecamatan_perorangan'), true)
        make_disabled($('#id_desa_perorangan'), true)
        make_disabled($('#id_pemilik_kewarganegaraan'), true) 
        make_disabled($('#nama_badan_hukum_pemilik'), false)
      }
    })

    $("#id_pengusaha_badan_usaha").change(function(){
      if($(this).is(':checked')){
        make_disabled($('#id_pengusaha_nama_perorangan'), false)
        make_disabled($('#id_pengusaha_alamat'), false)
        make_disabled($('#id_negara_pengusaha'), false)
        make_disabled($('#id_provinsi_pengusaha'), false)
        make_disabled($('#id_kabupaten_pengusaha'), false)
        make_disabled($('#id_kecamatan_pengusaha'), false)
        make_disabled($('#pengusaha_desa'), false) 
        make_disabled($('#pengusaha_kewarganegaraan'), false) 
        make_disabled($('#nama_badan_hukum_pengusaha'), true)
        load_negara_pengusaha()
        load_provinsi_pengusaha('1')
        load_kabupaten_pengusaha('1')
        load_kecamatan_pengusaha('1083')
        load_kwarganegaraan_pengusaha()
        setTimeout(function(){
          $('#id_negara_pengusaha').val('1').prop('selected',true).trigger("chosen:updated");
          $('#id_provinsi_pengusaha').val('1').prop('selected',true).trigger("chosen:updated");
          $('#id_kabupaten_pengusaha').val('1083').prop('selected',true).trigger("chosen:updated")
        }, 1000);
      }
    })
    $("#switch_badan_hukum_pengusaha").change(function(){
      if($(this).is(':checked')){
        make_disabled($('#id_pengusaha_nama_perorangan'), true)
        make_disabled($('#id_pengusaha_alamat'), true)
        make_disabled($('#id_negara_pengusaha'), true)
        make_disabled($('#id_provinsi_pengusaha'), true)
        make_disabled($('#id_kabupaten_pengusaha'), true)
        make_disabled($('#id_kecamatan_pengusaha'), true)
        make_disabled($('#pengusaha_desa'), true)
        make_disabled($('#pengusaha_kewarganegaraan'), true) 
        make_disabled($('#nama_badan_hukum_pengusaha'), false)
      }
    })
  


  </script>
  <!-- Script Js Perorangan -->
  <script type="text/javascript">
  function load_kwarganegaraan(){
    var response = '<option value>-- Pilih Kewarganegaraan --</option><option value="WNI">WNI</option><option value="WNA">WNA</option>'
    elem = $( "#id_pemilik_kewarganegaraan" )
    $(response).appendTo(elem);
    $("#id_pemilik_kewarganegaraan").prop('selected',true).trigger("chosen:updated");
  }

  function load_negara_perorangan(){
      csrf_token = $("input[name='csrfmiddlewaretoken']").val();
      $( "#id_negara_perorangan_chosen .loadmask-msg" ).css('top', '2px')
      $.ajax({ // create an AJAX call...
        data: { csrfmiddlewaretoken: csrf_token},
          type: 'POST', // GET or POST
          url: __base_url__+'/admin/master/negara/option/',
          success: function(response) { // on success..
              elem = $( "#id_negara_perorangan" )
              elem.html(response);
              make_disabled(elem, false)
              $( "#id_negara_perorangan_chosen" ).unmask()
              $( "#id_negara_perorangan" ).change(function(){
                  $this = $(this)
                  id_negara_perorangan = $(this).val()
                  if(id_negara_perorangan.length > 0){
                      load_provinsi_perorangan(id_negara_perorangan)
                  }else{
                      elem = $( "#id_provinsi_perorangan" )
                      make_disabled(elem, true)
                  }
              })
          },
          error: function(data) {                
              toast_server_error()
          }
      });
  }

  function load_provinsi_perorangan(id_negara_perorangan){
      csrf_token = $("input[name='csrfmiddlewaretoken']").val();
      // $( "#id_provinsi_reklame_chosen" ).mask('loading')
      $( "#id_provinsi_perorangan_chosen .loadmask-msg" ).css('top', '2px')
      $.ajax({ // create an AJAX call...
          data: { csrfmiddlewaretoken: csrf_token, negara: id_negara_perorangan }, // get the form data
          type: 'POST', // GET or POST
          // url: '{% url 'admin:option_provinsi' %}', // the file to call
          url: __base_url__+'/admin/master/provinsi/option/',
          success: function(response) { // on success..
              elem = $( "#id_provinsi_perorangan" )
              elem.html(response);
              make_disabled(elem, false)
              $( "#id_provinsi_reklame_chosen" ).unmask()
              $( "#id_provinsi_perorangan" ).change(function(){
                  $this = $(this)
                  id_provinsi_perorangan = $(this).val()
                  if(id_provinsi_perorangan.length > 0){
                      load_kabupaten_perorangan(id_provinsi_perorangan)
                  }else{
                      elem = $( "#id_kabupaten_perorangan" )
                      make_disabled(elem, true)
                  }
              })
          },
          error: function(data) {                
              toast_server_error()
          }
      });
  }
$( "#id_negara_perorangan" ).change(function(){
    $this = $(this)
    id_negara_perorangan = $(this).val()
    if(id_negara_perorangan.length > 0){
        load_provinsi_perorangan(id_negara_perorangan)
        make_disabled($( "#id_provinsi_perorangan" ), true)
        make_disabled($( "#id_kabupaten_perorangan" ), true)
        make_disabled($( "#id_kecamatan_perorangan" ), true)
        make_disabled($( "#id_desa_perorangan" ), true)
    }else{
        make_disabled($( "#id_provinsi_perorangan" ), true)
        make_disabled($( "#id_kabupaten_perorangan" ), true)
        make_disabled($( "#id_kecamatan_perorangan" ), true)
        make_disabled($( "#id_desa_perorangan" ), true)
    }
})
    make_disabled($( "#id_provinsi_perorangan" ), true)
    make_disabled($( "#id_kabupaten_perorangan" ), true)
    make_disabled($( "#id_kecamatan_perorangan" ), true)
    make_disabled($( "#id_desa_perorangan" ), true)


function load_kabupaten_perorangan(id_provinsi_perorangan){
    csrf_token = $("input[name='csrfmiddlewaretoken']").val();
    // $( "#id_kabupaten_chosen" ).mask('loading')
    $( "#id_kabupaten_perorangan_chosen .loadmask-msg" ).css('top', '2px')
    $.ajax({ // create an AJAX call...
        data: { csrfmiddlewaretoken: csrf_token, provinsi: id_provinsi_perorangan }, // get the form data
        type: 'POST', // GET or POST
        // url: '{% url 'admin:option_kabupaten' %}',
        url: __base_url__+'/admin/master/kabupaten/option/',
        success: function(response) { // on success..
            elem = $( "#id_kabupaten_perorangan" )
            elem.html(response);
            make_disabled(elem, false)
            // $( "#id_kabupaten_chosen" ).unmask()
            $( "#id_kabupaten_perorangan" ).change(function(){
                $this = $(this)
                id_kabupaten_perorangan = $(this).val()
                if(id_kabupaten_perorangan.length > 0){
                    load_kecamatan_perorangan(id_kabupaten_perorangan)
                }else{
                    elem = $( "#id_kecamatan_perorangan" )
                    make_disabled(elem, true)
                }
            })
        },
        error: function(data) {                
            toast_server_error()
        }
    });
}
function load_kecamatan_perorangan(id_kabupaten_perorangan){
    csrf_token = $("input[name='csrfmiddlewaretoken']").val();
    // $( "#id_kecamatan_chosen" ).mask('loading')
    $( "#id_kecamatan_perorangan_chosen .loadmask-msg" ).css('top', '2px')
    $.ajax({ // create an AJAX call...
        data: { csrfmiddlewaretoken: csrf_token, kabupaten: id_kabupaten_perorangan }, // get the form data
        type: 'POST', // GET or POST
        // url: '{% url 'admin:option_kecamatan' %}', // the file to call
        url: __base_url__+'/admin/master/kecamatan/option/',
        success: function(response) { // on success..
            elem = $( "#id_kecamatan_perorangan" )
            elem.html(response);
            make_disabled(elem, false)
            // $( "#id_kecamatan_chosen" ).unmask()
            $( "#id_kecamatan_perorangan" ).change(function(){
                $this = $(this)
                
                id_kecamatan_perorangan = $(this).val()
                if(id_kecamatan_perorangan.length > 0){
                    load_desa_perorangan(id_kecamatan_perorangan)
                }else{
                    elem = $( "#id_desa_perorangan" )
                    make_disabled(elem, true)
                }
            })
        },
        error: function(data) {                
            toast_server_error()
        }
    });
}

function load_desa_perorangan(id_kecamatan_perorangan){
    csrf_token = $("input[name='csrfmiddlewaretoken']").val();
    // $( "#id_desa_reklame_chosen" ).mask('loading')
    $( "#id_desa_perorangan_chosen .loadmask-msg" ).css('top', '2px')
    $.ajax({ // create an AJAX call...
        data: { csrfmiddlewaretoken: csrf_token, kecamatan: id_kecamatan_perorangan }, // get the form data
        type: 'POST', // GET or POST
        // url: '{% url 'admin:option_desa' %}', // the file to call
        url: __base_url__+'/admin/master/desa/option/',
        success: function(response) { // on success..
            elem = $( "#id_desa_perorangan" )
            elem.html(response);
            make_disabled(elem, false)
            // $( "#id_desa_reklame_chosen" ).unmask()
            $( "#id_desa_perorangan" ).change(function(){
                $this = $(this)
            })
        },
        error: function(data) {                
            toast_server_error()
        }
    });
}
  $('#id_negara_perorangan').val('1').prop('selected',true).trigger("chosen:updated");
  load_provinsi_perorangan('1')
  load_kabupaten_perorangan('1')
  load_kecamatan_perorangan('1083')
  setTimeout(function(){
    $('#id_provinsi_perorangan').val('1').prop('selected',true).trigger("chosen:updated");
    $('#id_kabupaten_perorangan').val('1083').prop('selected',true).trigger("chosen:updated")
  }, 1000);
  </script>
  <script type="text/javascript">

  function load_kwarganegaraan_pengusaha(){
    var response = '<option value>-- Pilih Kewarganegaraan --</option><option value="WNI">WNI</option><option value="WNA">WNA</option>'
    elem = $( "#pengusaha_kewarganegaraan" )
    $(response).appendTo(elem);
    $("#pengusaha_kewarganegaraan").prop('selected',true).trigger("chosen:updated");
  }

  function load_negara_pengusaha(){
      csrf_token = $("input[name='csrfmiddlewaretoken']").val();
      $( "#id_negara_pengusaha_chosen .loadmask-msg" ).css('top', '2px')
      $.ajax({ // create an AJAX call...
        data: { csrfmiddlewaretoken: csrf_token},
          type: 'POST', // GET or POST
          url: __base_url__+'/admin/master/negara/option/',
          success: function(response) { // on success..
              elem = $("#id_negara_pengusaha")
              elem.html(response);
              make_disabled(elem, false)
              $( "#id_negara_pengusaha" ).change(function(){
                  $this = $(this)
                  id_negara_pengusaha = $(this).val()
                  if(id_negara_pengusaha.length > 0){
                      load_provinsi_pengusaha(id_negara_pengusaha)
                  }else{
                      elem = $( "#id_provinsi_pengusaha" )
                      make_disabled(elem, true)
                  }
              })
          },
          error: function(data) {                
              toast_server_error()
          }
      });
  }

  function load_provinsi_pengusaha(id_negara_pengusaha){
      csrf_token = $("input[name='csrfmiddlewaretoken']").val();
      // $( "#id_provinsi_reklame_chosen" ).mask('loading')
      $( "#id_provinsi_pengusaha_chosen .loadmask-msg" ).css('top', '2px')
      $.ajax({ // create an AJAX call...
          data: { csrfmiddlewaretoken: csrf_token, negara: id_negara_pengusaha }, // get the form data
          type: 'POST', // GET or POST
          // url: '{% url 'admin:option_provinsi' %}', // the file to call
          url: __base_url__+'/admin/master/provinsi/option/',
          success: function(response) { // on success..
              elem = $( "#id_provinsi_pengusaha" )
              elem.html(response);
              make_disabled(elem, false)
              $( "#id_provinsi_pengusaha_chosen" ).unmask()
              $( "#id_provinsi_pengusaha" ).change(function(){
                  $this = $(this)
                  id_provinsi_pengusaha = $(this).val()
                  if(id_provinsi_pengusaha.length > 0){
                      load_kabupaten_pengusaha(id_provinsi_pengusaha)
                  }else{
                      elem = $( "#id_kabupaten_pengusaha" )
                      make_disabled(elem, true)
                  }
              })
          },
          error: function(data) {                
              toast_server_error()
          }
      });
  }
$( "#id_negara_pengusaha" ).change(function(){
    $this = $(this)
    id_negara_pengusaha = $(this).val()
    if(id_negara_pengusaha.length > 0){
        load_provinsi_pengusaha(id_negara_pengusaha)
        make_disabled($( "#id_provinsi_pengusaha" ), true)
        make_disabled($( "#id_kabupaten_pengusaha" ), true)
        make_disabled($( "#id_kecamatan_pengusaha" ), true)
        make_disabled($( "#pengusaha_desa" ), true)
    }else{
        make_disabled($( "#id_provinsi_pengusaha" ), true)
        make_disabled($( "#id_kabupaten_pengusaha" ), true)
        make_disabled($( "#id_kecamatan_pengusaha" ), true)
        make_disabled($( "#pengusaha_desa" ), true)
    }
})
    make_disabled($( "#id_provinsi_pengusaha" ), true)
    make_disabled($( "#id_kabupaten_pengusaha" ), true)
    make_disabled($( "#id_kecamatan_pengusaha" ), true)
    make_disabled($( "#pengusaha_desa" ), true)


function load_kabupaten_pengusaha(id_provinsi_pengusaha){
    csrf_token = $("input[name='csrfmiddlewaretoken']").val();
    // $( "#id_kabupaten_chosen" ).mask('loading')
    $( "#id_kabupaten_pengusaha_chosen .loadmask-msg" ).css('top', '2px')
    $.ajax({ // create an AJAX call...
        data: { csrfmiddlewaretoken: csrf_token, provinsi: id_provinsi_pengusaha }, // get the form data
        type: 'POST', // GET or POST
        // url: '{% url 'admin:option_kabupaten' %}',
        url: __base_url__+'/admin/master/kabupaten/option/',
        success: function(response) { // on success..
            elem = $( "#id_kabupaten_pengusaha" )
            elem.html(response);
            make_disabled(elem, false)
            // $( "#id_kabupaten_chosen" ).unmask()
            $( "#id_kabupaten_pengusaha" ).change(function(){
                $this = $(this)
                id_kabupaten_pengusaha = $(this).val()
                if(id_kabupaten_pengusaha.length > 0){
                    load_kecamatan_pengusaha(id_kabupaten_pengusaha)
                }else{
                    elem = $( "#id_kecamatan_pengusaha" )
                    make_disabled(elem, true)
                }
            })
        },
        error: function(data) {                
            toast_server_error()
        }
    });
}
function load_kecamatan_pengusaha(id_kabupaten_pengusaha){
    csrf_token = $("input[name='csrfmiddlewaretoken']").val();
    // $( "#id_kecamatan_chosen" ).mask('loading')
    $( "#id_kecamatan_pengusaha_chosen .loadmask-msg" ).css('top', '2px')
    $.ajax({ // create an AJAX call...
        data: { csrfmiddlewaretoken: csrf_token, kabupaten: id_kabupaten_pengusaha }, // get the form data
        type: 'POST', // GET or POST
        // url: '{% url 'admin:option_kecamatan' %}', // the file to call
        url: __base_url__+'/admin/master/kecamatan/option/',
        success: function(response) { // on success..
            elem = $( "#id_kecamatan_pengusaha" )
            elem.html(response);
            make_disabled(elem, false)
            // $( "#id_kecamatan_chosen" ).unmask()
            $( "#id_kecamatan_pengusaha" ).change(function(){
                $this = $(this)
                
                id_kecamatan_pengusaha = $(this).val()
                if(id_kecamatan_pengusaha.length > 0){
                    load_desa_pengusaha(id_kecamatan_pengusaha)
                }else{
                    elem = $( "#id_desa_pengusaha" )
                    make_disabled(elem, true)
                }
            })
        },
        error: function(data) {                
            toast_server_error()
        }
    });
}

function load_desa_pengusaha(id_kecamatan_pengusaha){
    csrf_token = $("input[name='csrfmiddlewaretoken']").val();
    // $( "#id_desa_reklame_chosen" ).mask('loading')
    $( "#pengusaha_desa_chosen .loadmask-msg" ).css('top', '2px')
    $.ajax({ // create an AJAX call...
        data: { csrfmiddlewaretoken: csrf_token, kecamatan: id_kecamatan_pengusaha }, // get the form data
        type: 'POST', // GET or POST
        // url: '{% url 'admin:option_desa' %}', // the file to call
        url: __base_url__+'/admin/master/desa/option/',
        success: function(response) { // on success..
            elem = $( "#pengusaha_desa" )
            elem.html(response);
            make_disabled(elem, false)
            // $( "#id_desa_reklame_chosen" ).unmask()
            $( "#pengusaha_desa" ).change(function(){
                $this = $(this)
            })
        },
        error: function(data) {                
            toast_server_error()
        }
    });
}
  $('#id_negara_pengusaha').val('1').prop('selected',true).trigger("chosen:updated");
  load_provinsi_pengusaha('1')
  load_kabupaten_pengusaha('1')
  load_kecamatan_pengusaha('1083')
  setTimeout(function(){
    $('#id_provinsi_pengusaha').val('1').prop('selected',true).trigger("chosen:updated");
    $('#id_kabupaten_pengusaha').val('1083').prop('selected',true).trigger("chosen:updated")
  }, 1000);
  </script>
{% endblock %}
