{% extends "front-end/base.html" %}
{% load i18n admin_static staticfiles widgets %}
{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'scripts/js/vendor/chosen/chosen.css' %}">
<link rel="stylesheet" href="{% static 'scripts/js/vendor/toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'scripts/js/mloading/jquery.mloading.css' %}">
<link rel="stylesheet" href="{% static 'scripts/js/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css'  %}">
<link rel="stylesheet" href="{% static 'scripts/js/vendor/alert/sweetalert.css' %}">
<style type="text/css">
  @media only screen and (max-width: 1280px){
    .hidden_title{
       display: none !important;
    }
    .tab-wizard .nav-tabs > li.active > a, .tab-wizard .nav-tabs > li.active > a:hover {
      padding-bottom: 24px
    }
    .tab-wizard .nav-tabs > li.active ~ li > a, .tab-wizard .nav-tabs > li.active ~ li > a:hover {
      padding-bottom: 24px;
    }
  }
  @media only screen and (max-width: 844px){
    .hidden_title{
      display: block !important;
    }
  }

  hr.style14 { 
    border: 0; 
    height: 2px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }
  .tab-wizard .nav-tabs > li > a, .tab-wizard .nav-tabs > li > a:hover, .tab-wizard .nav-tabs > li > a:focus {
    background-color: #22beef;
    color: aliceblue;
  }
  .tab-wizard .nav-tabs > li.active ~ li > a, .tab-wizard .nav-tabs > li.active ~ li > a:hover {
    background-color: #616f77;
  }
  .tab-wizard .nav-tabs > li:before {
    background-color: #333;
  }
  /*@media screen and (max-width: 767px)*/
  .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
  }
  .onoffswitch.labeled .onoffswitch-inner:before {
    content: "Ada";
  }
  .onoffswitch.labeled .onoffswitch-inner:after {
    content: "Tidak";
  }
  .onoffswitch.labeled {
    width: 59px;
  }
  .onoffswitch.labeled .onoffswitch-switch {
    right: 34px;
  }
  label, h4, h3 {
    color: black;
  }
</style>
{% endblock %}
{% block section %}
<div class="pageheader">
    <h2>TDP - Persero Terbatas
    <span>Berikut adalah info pendaftaran perizinan TDP Kabupaten Kediri.</span>
  </h2>
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <a href="{% url 'frontindex' %}"><i class="fa fa-home"></i> Beranda</a>
      </li>
      <li>
        <a href="{% url 'layanan' %}"><i class="fa fa-sign-in"></i> Pendaftaran Perizinan Daerah</a>
      </li>
      <li>
        <a href="#"> TDP - Persero Terbatas</a>
      </li>
      <li>
        <a href="#">Formulir TDP - Persero Terbatas</a>
      </li>
    </ul>
  </div>
</div>
  
<div id="rootwizard" class="tab-container tab-wizard">
  <ul class="nav nav-tabs nav-justified">
    <li><a disabled href="#tab1" data-toggle="tab"><i class="hidden_title">STEP #1</i> <span class="badge badge-default pull-right wizard-step">1</span></a></li>
    <li><a disabled href="#tab2" data-toggle="tab"><i class="hidden_title">STEP #2</i><span class="badge badge-default pull-right wizard-step">2</span></a></li>
    <li><a disabled href="#tab3" data-toggle="tab"><i class="hidden_title">STEP #3</i><span class="badge badge-default pull-right wizard-step">3</span></a></li>
    <li><a disabled href="#tab4" data-toggle="tab"><i class="hidden_title">STEP #4 </i><span class="badge badge-default pull-right wizard-step">4</span></a></li>
    <li><a disabled href="#tab5" data-toggle="tab"><i class="hidden_title">STEP #5</i><span class="badge badge-default pull-right wizard-step">5</span></a></li>
    <li><a disabled href="#tab6" data-toggle="tab"><i class="hidden_title">STEP #6</i><span class="badge badge-default pull-right wizard-step">6</span></a></li>
    <li><a disabled href="#tab7" data-toggle="tab"><i class="hidden_title">STEP #7</i><span class="badge badge-default pull-right wizard-step">7</span></a></li>
    <li><a disabled href="#tab8" data-toggle="tab"><i class="hidden_title">STEP #8</i><span class="badge badge-default pull-right wizard-step">8</span></a></li>
    <li><a disabled href="#tab9" data-toggle="tab"><i class="hidden_title">STEP #9</i><span class="badge badge-default pull-right wizard-step">9</span></a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane" id="tab1"> 
      <!-- Identitas pemohon --> 
      {% include 'front-end/include/pemohon/identitas_pemohon.html' %}
    </div>

    <div class="tab-pane" id="tab2">
      <!-- Identitas perusahaan -->
      {% include 'front-end/include/formulir_siup/identitas_perusahaan.html' %}
    </div>

    <div class="tab-pane" id="tab3">
      {% include 'front-end/include/formulir_tdp_pt/data_umum_perusahaan.html' %}
    </div>

    <div class="tab-pane" id="tab4">
      {% include 'front-end/include/formulir_tdp_pt/data_kegiatan_perusahaan.html' %}
    </div>

    <div class="tab-pane" id="tab5">
      {% include 'front-end/include/formulir_tdp_pt/legalitas_perusahaan.html' %}
    </div>

    <div class="tab-pane" id="tab6">
      {% include 'front-end/include/formulir_tdp_pt/izin_lain.html' %}
    </div>

    <div class="tab-pane" id="tab7">
      {% include 'front-end/include/formulir_tdp_pt/data_lain_perusahaan.html' %}
    </div>

    <div class="tab-pane" id="tab8">
      {% include 'front-end/include/formulir_tdp_pt/upload_dokumen_persyaratan.html' %}
    </div>

    <div class="tab-pane" id="tab9">
      {% include 'front-end/include/formulir_tdp_pt/konfirmasi.html' %}
    </div>

    <ul class="pager wizard">
      <li class="previous"><a class="btn btn-default">Kembali</a></li>
      <li class="next" id="next"><a onclick="next_tab(this)" class="btn btn-default">Selanjutnya</a></li>
      <li class="next finish" style="display:none;">
        <button id="alert" onclick="next_tab(this)"  value="Submit" type="submit" class="btn btn-success pull-right">
          <i class="fa fa-arrow-right"></i>
          <span>Selesai</span>
        </button>
      </li>
    </ul>
  </div>
  <br>
  <br>
  <br>
</div>
{% endblock %}

{% block extratools %}
  {{ block.super }}
  <script src="{% static 'scripts/js/vendor/chosen/chosen.jquery.min.js' %}"></script>
  <script src="{% static 'scripts/js/vendor/parsley/parsley.js' %}"></script>
  <script src="{% static 'scripts/js/vendor/form-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
  <script src="{% static 'scripts/js/vendor/toastr/toastr.min.js' %}"></script>
  <script src="{% static 'scripts/js/vendor/filestyle/bootstrap-filestyle.min.js' %}"></script>
  <script src="{% static 'scripts/js/vendor/daterangepicker/moment.js' %}"></script>
  <script src="{% static 'scripts/js/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
  <script src="{% static 'scripts/js/vendor/jquery/jquery.form.js' %}"></script>
  <script src="{% static 'scripts/js/vendor/validation/jquery.maskedinput.js' %}"></script>
  <script src="{% static 'scripts/js/vendor/jquery/jquery.cookie.js' %}"></script>
  <script src="{% static 'scripts/js/vendor/alert/sweetalert-dev.js' %}"></script>
  <script src="{% static 'scripts/js/mloading/jquery.mloading.js' %}"></script>
  <script src="{% static 'scripts/js/form/pemohon.js' %}"></script>
  <script src="{% static 'scripts/js/form/perusahaan.js' %}"></script>
  <script src="{% static 'scripts/js/form/validasi.js' %}"></script>
  <script src="{% static 'scripts/js/form/form_tdp_pt.js' %}"></script>
  <script>
      $(window).load(function(){
          $('#rootwizard').bootstrapWizard({
            onTabShow: function(tab, navigation, index) {
              var $total = navigation.find('li').length;
              var $current = index+1;
              if ($current == 2){
                load_kecamatan1(1083);
                if ($.cookie('npwp_perusahaan') !== '0'){
                  $('#id_npwp_perusahaan').val($.cookie('npwp_perusahaan'))
                  setTimeout(function(){
                    load_perusahaan_a($.cookie('npwp_perusahaan'))
                  }, 1000);
                } 
              }
              if ($current == 3){
                perusahaan_cabang = $.cookie('npwp_perusahaan_induk')
                if (perusahaan_cabang !== '0'){
                  load_provinsi_(1, '#id_provinsi-3')
                  load_perusahaan_induk($.cookie('npwp_perusahaan_induk'))
                }
              }
              if ($current == 7) {
                load_provinsi_(1, '#id_provinsi-5')
              }
              if($current >= $total) {
                $('#rootwizard').find('.pager .next').hide();
                $('#rootwizard').find('.pager .finish').show();
                $('#rootwizard').find('.pager .finish').removeClass('disabled');
              } else {
                $('#rootwizard').find('.pager .next').show();
                $('#rootwizard').find('.pager .finish').hide();
              }
            },

            onNext: function(tab, navigation, index) {
              return false;
            },

            onTabClick: function(tab, navigation, index) {
              return true;
            }
          });
      });

      function next_tab(btn){
        var index = $('#rootwizard').bootstrapWizard('currentIndex')+1;
        var frm = $('form[name="step'+ index +'"]');
        frm.parsley().validate();
        if (frm.parsley().isValid()) {
          $(".tab-content").mLoading();
          $(btn).attr('disabled', 'disabled')
          $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (response){
              respon = $.parseJSON(response)
              $(btn).removeAttr('disabled')
              if(respon.success){
                toastr["success"](respon.pesan)
                for (var i = 0; i < respon.data.length; i++){
                  var key = Object.keys(respon.data[i]); // Mencari key json
                  var val = respon.data[i][key[0]]
                  var id = "#"+key[0]+"_konfirmasi"
                  $(id).text(val);
                }
                $(".tab-content").mLoading('hide');
                tab_index = '#rootwizard a[href="#tab'+(index+1)+'"]'
                $(tab_index).tab('show')
              }else{
                var a = Object.keys(respon);
                for (var i = 0; i < a.length; i++){
                  var field = a[i].replace("_", " ").capitalize();
                  toastr["error"](field+", "+respon[a[i]][0]['message'])
                  $("#"+a[i]+"").addClass("has-error");
                }
                $(".tab-content").mLoading('hide');
              }
            },
            error: function(response){
              $(".tab-content").mLoading('hide');
              $(btn).removeAttr('disabled')
              toastr["error"]("Terjadi kesalahan pada koneksi server.")
            }
          });
        }
      }

      document.querySelector('#alert').onclick = function(){
        var pengajuan_cookie = $.cookie('id_pengajuan'); 
        var pemohon_cookie = $.cookie('id_pemohon'); 
        var perusahaan_cookie = $.cookie('id_perusahaan'); 
        if (pengajuan_cookie === ""){
          toastr["warning"]("Terjadi kesalahan, anda belum mengisi form pengajuan.")
          tab_index = '#rootwizard a[href="#tab'+(1)+'"]';
          $(tab_index).tab('show');
        }
        else if(pemohon_cookie === ""){
          toastr["warning"]("Terjadi kesalahan, anda belum mengisi form pemohon.")
          tab_index = '#rootwizard a[href="#tab'+(1)+'"]';
          $(tab_index).tab('show');
        }
        else if(perusahaan_cookie === ""){
          toastr["warning"]("Terjadi kesalahan, anda belum mengisi form perusahaan.")
          tab_index = '#rootwizard a[href="#tab'+(2)+'"]';
          $(tab_index).tab('show');
        }
        else{
          swal({
            showConfirmButton: false,
            type: 'success',
            title: 'Pendaftaran Berhasil Tersimpan',
            timer: 2000
          })
          $.ajax({
            url: '{% url 'siup_done' %}',
            success: function(response) {
              respon = $.parseJSON(response)
              if(respon.success){
                toastr["success"](respon.pesan)
              }
            }
          });
          window.location.replace('{% url 'admin:izin_pengajuanizin_changelist' %}');
          $.removeCookie('id_pengajuan', { path: '/' });
          $.removeCookie('id_perusahaan', { path: '/' });
          $.removeCookie('id_pemohon', { path: '/' });
          $.removeCookie('nomor_ktp', { path: '/' });
          $.removeCookie('nomor_paspor', { path: '/' });
          $.removeCookie('id_kelompok_izin', { path: '/' });
        }
      };

      $(document).ready(function() {
          window.onbeforeunload = function ref() {
            var r = confirm( "Do you want to leave?" );
            if (r == true) {
                
            }
            else {
                return false;
            }
          };

          if ($.cookie('id_pengajuan') === undefined){
            $.cookie('id_pengajuan', "0", {path:"/"});
          }
          if ($.cookie('id_pemohon') === undefined){
            $.cookie('id_pemohon', "0", {path:"/"});
          }
          if ($.cookie('id_perusahaan') === undefined){
            $.cookie('id_perusahaan', "0", {path:"/"});
          }

            
          pengajuan = $.cookie('id_pengajuan')
          if (pengajuan !== '0'){
            // alert($.cookie('nomor_ktp'))
            $('#id_ktp').val('{{ktp}}');
            $('#id_paspor').val('{{paspor}}');
            load_pemohon('{{ktp}}');

            $('#id_jenis_pengajuan').val('{{pengajuan_.jenis_permohonan.id}}').prop('selected',true).trigger("chosen:updated");
            $('#id_jenis_pemohon').val('{{pengajuan_.pemohon.jenis_pemohon.id}}').prop('selected',true).trigger("chosen:updated");

            $.cookie('nomor_ktp', '{{ktp}}' , { path: '/' })
            $.cookie('nomor_paspor', '{{paspor}}' , { path: '/' })
            $.cookie('id_pemohon', '{{ pengajuan_.pemohon.id }}' , { path: '/' })
            $.cookie('id_perusahaan', '{{ pengajuan_.perusahaan.id  }}' , { path: '/' })
            $.cookie('npwp_perusahaan', '{{ pengajuan_.perusahaan.npwp  }}' , { path: '/' })

            $('#no_tdp_induk').val('{{pengajuan_.nomor_tdp_kantor_pusat|default_if_none:""}}')
            
          }

      });

      function load_perusahaan_induk(npwp_){
        $(".tab-content").mLoading();
        // csrf_token = $("input[name='csrfmiddlewaretoken']").val();
        $.ajax({
          type: 'GET',
          url: __base_url__+'/load-perusahaan/'+npwp_,
          // data: { csrfmiddlewaretoken: csrf_token },
          success: function (data) {
              $(".tab-content").mLoading('hide');
              respon_induk = $.parseJSON(data)
              if(respon_induk.success){
                $('#switch_data_umum_kantor_cabang_disabled').attr('checked', 1)
                $('.data_umum_kantor_cabang').prop('disabled', false).trigger("chosen:updated");
                // load_provinsi_(1, '#id_provinsi-3')
                load_kabupaten_(respon_induk.data.provinsi, '#id_kabupaten-3')
                load_kecamatan_(respon_induk.data.kabupaten, '#id_kecamatan-3')
                load_desa_(respon_induk.data.kecamatan, '#id_desa-3')
                    
                $('#id_nama_perusahaan_induk').val(respon_induk.data.nama_perusahaan);
                $('#id_alamat_perusahaan_induk').val(respon_induk.data.alamat_perusahaan);
                setTimeout(function(){
                  $('#id_provinsi-3').val(respon_induk.data.provinsi).prop('selected',true).trigger("chosen:updated");
                  $('#id_kabupaten-3').val(respon_induk.data.kabupaten).prop('selected',true).trigger("chosen:updated");
                  $('#id_kecamatan-3').val(respon_induk.data.kecamatan).prop('selected',true).trigger("chosen:updated");
                  $('#id_desa-3').val(respon_induk.data.desa).prop('selected',true).trigger("chosen:updated");
                }, 1000);
              }
              else{
                $('#switch_data_umum_kantor_cabang_disabled').attr('checked', false);
                $('.data_umum_kantor_cabang').prop('disabled', true).trigger("chosen:updated");
                $('#id_nama_perusahaan_induk').val("");
                $('#id_alamat_perusahaan_induk').val("");
                $('#id_provinsi3').val("").prop('selected',true).trigger("chosen:updated");
                $('#id_kabupaten3').val("").prop('selected',true).trigger("chosen:updated");
                $('#id_kecamatan3').val("").prop('selected',true).trigger("chosen:updated");
                $('#id_desa3').val("").prop('selected',true).trigger("chosen:updated");
              }
            },
            error: function(data) {
              toastr["error"]("Terjadi kesalahan pada koneksi server. Coba reload ulang browser Anda. ")
              $(".tab-content").mLoading('hide');
            }
        });
      }

      function load_data_umum_perusahaan(pengajuan_id){
        $(".tab-content").mLoading();
        $.ajax({
          type: 'GET',
          url: __base_url__+'/load-perusahaan/'+pengajuan_id,
          success: function (data) {
              
              respon_induk = $.parseJSON(data)
              if(respon_induk.success){
                
              }
              else{
                
              }
            },
            error: function(data) {
              toastr["error"]("Terjadi kesalahan pada koneksi server. Coba reload ulang browser Anda. ")
            }
        });
        $(".tab-content").mLoading('hide');
      }
  </script>
  {% include 'front-end/include/formulir_tdp_pt/popup/tambah_pimpinan_perusahaan.html' %}
  {% include 'front-end/include/formulir_tdp_pt/popup/tambah_pemegang_saham.html' %}
  {% include 'front-end/include/formulir_tdp_pt/popup/tambah_cabang.html' %}
  {% include 'front-end/include/formulir_tdp_pt/popup/tambah_legalitas_lain.html' %}
{% endblock %}