{% extends "front-end/base.html" %}
{% load i18n admin_static staticfiles widgets %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'scripts/js/vendor/chosen/chosen.css' %}">
<link rel="stylesheet" href="{% static 'scripts/js/vendor/toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static 'scripts/js/mloading/jquery.mloading.css' %}">
<link rel="stylesheet" href="{% static 'scripts/js/vendor/datetimepicker/css/bootstrap-datetimepicker.min.css'  %}">
<link rel="stylesheet" href="{% static 'scripts/js/vendor/alert/sweetalert.css' %}">
<style type="text/css">
  @media only screen and (max-width: 1280px){
    .hidden_title{
       display: none !important;
    }
    .tab-wizard .nav-tabs > li.active > a, .tab-wizard .nav-tabs > li.active > a:hover {
      padding-bottom: 24px
    }
    .tab-wizard .nav-tabs > li.active ~ li > a, .tab-wizard .nav-tabs > li.active ~ li > a:hover {
      padding-bottom: 24px;
    }
  }
  @media only screen and (max-width: 844px){
    .hidden_title{
      display: block !important;
    }
  }

  hr.style14 { 
    border: 0; 
    height: 2px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }
  .tab-wizard .nav-tabs > li > a, .tab-wizard .nav-tabs > li > a:hover, .tab-wizard .nav-tabs > li > a:focus {
    background-color: #22beef;
    color: aliceblue;
  }
  .tab-wizard .nav-tabs > li.active ~ li > a, .tab-wizard .nav-tabs > li.active ~ li > a:hover {
    background-color: #616f77;
  }
  .tab-wizard .nav-tabs > li:before {
    background-color: #333;
  }
  /*@media screen and (max-width: 767px)*/
  .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
  }
  .onoffswitch.labeled .onoffswitch-inner:before {
    content: "Ada";
  }
  .onoffswitch.labeled .onoffswitch-inner:after {
    content: "Tidak";
  }
  .onoffswitch.labeled {
    width: 59px;
  }
  .onoffswitch.labeled .onoffswitch-switch {
    right: 34px;
  }
  label, h4, h3 {
    color: black;
  }
  tr, th{
    color: black;
  }
  #id_kegiatan_usaha_pokok_chosen .search-field input{
    min-width: 125px;
  }
</style>
{% endblock %}

{% block section %}
<div class="pageheader">
    <h2>Tanda Daftar Usaha Pariwisata (TDUP)
		<span>Berikut adalah info pendaftaran perizinan TDUP Kabupaten Kediri.</span>
	</h2>
  	<div class="page-bar">
	    <ul class="page-breadcrumb">
	      <li>
	        <a href="{% url 'frontindex' %}"><i class="fa fa-home"></i> Beranda</a>
	      </li>
	      <li>
	        <a href="{% url 'layanan' %}"><i class="fa fa-sign-in"></i> Pendaftaran Perizinan Daerah</a>
	      </li>
	      <li>
	        <a href="#"> TDUP - Tanda Daftar Usaha Pariwisata</a>
	      </li>
	      <li>
	        <a href="#">Formulir TDUP - Tanda Daftar Usaha Pariwisata</a>
	      </li>
	    </ul>
  	</div>
</div>

<div id="rootwizard" class="tab-container tab-wizard">
	<ul class="nav nav-tabs nav-justified">
	    <li><a disabled href="#tab1" data-toggle="tab"><i class="hidden_title">Step</i> <span class="badge badge-default pull-right wizard-step">1</span></a></li>
	    <li><a disabled href="#tab2" data-toggle="tab"><i class="hidden_title">Step</i><span class="badge badge-default pull-right wizard-step">2</span></a></li>
	    <li><a disabled href="#tab3" data-toggle="tab"><i class="hidden_title">Step</i><span class="badge badge-default pull-right wizard-step">3</span></a></li>
	    <li><a disabled href="#tab4" data-toggle="tab"><i class="hidden_title">Step</i><span class="badge badge-default pull-right wizard-step">4</span></a></li>
      <li><a disabled href="#tab5" data-toggle="tab"><i class="hidden_title">Step</i><span class="badge badge-default pull-right wizard-step">5</span></a></li>
	    <li><a disabled href="#tab6" data-toggle="tab"><i class="hidden_title">Step</i><span class="badge badge-default pull-right wizard-step">6</span></a></li>
	    <li><a disabled href="#tab7" data-toggle="tab"><i class="hidden_title">Step</i><span class="badge badge-default pull-right wizard-step">7</span></a></li>
  	</ul>
  	<div class="tab-content">
	    <div class="tab-pane" id="tab1"> 
	      <!-- Identitas pemohon --> 
	      {% include 'front-end/include/pemohon/identitas_pemohon.html' %}
	    </div>

	    <div class="tab-pane" id="tab2">
	      <!-- Identitas perusahaan -->
	      {% include 'front-end/include/formulir_siup/identitas_perusahaan.html' %}
	    </div>

	    <div class="tab-pane" id="tab3">
	      <!-- Identitas perusahaan -->
	      {% include 'front-end/include/formulir_tdup/data_usaha_pariwisata.html' %}
	    </div>

	    <div class="tab-pane" id="tab4">
        <!-- Identitas perusahaan -->
        {% include 'front-end/include/formulir_tdup/keterangan_usaha.html' %}
      </div>

      <div class="tab-pane" id="tab5">
	      <!-- Identitas perusahaan -->
	      {% include 'front-end/include/formulir_tdup/legalitas_perusahaan.html' %}
	    </div>

	    <div class="tab-pane" id="tab6">
	      <!-- Identitas perusahaan -->
	      {% include 'front-end/include/formulir_tdup/upload_dokument.html' %}
	    </div>

	    <div class="tab-pane" id="tab7">
	      <!-- Identitas perusahaan -->
        {% include 'front-end/include/formulir_tdup/konfirmasi.html' %}
	    </div>

	    <ul class="pager wizard">
	      <li class="previous"><a class="btn btn-default">Kembali</a></li>
	      <li class="next" id="next"><a onclick="next_tab(this)" class="btn btn-default">Selanjutnya</a></li>
	      <li class="next finish" style="display:none;">
	        <button id="alert" onclick="next_tab(this)"  value="Submit" type="submit" class="btn btn-success pull-right">
	          <i class="fa fa-arrow-right"></i>
	          <span>Selesai</span>
	        </button>
	      </li>
	    </ul>
  	</div>
</div>
{% endblock %}

{% block extratools %}
  	{{ block.super }}
  	<script src="{% static 'scripts/js/vendor/chosen/chosen.jquery.min.js' %}"></script>
  	<script src="{% static 'scripts/js/vendor/parsley/parsley.js' %}"></script>
  	<script src="{% static 'scripts/js/vendor/form-wizard/jquery.bootstrap.wizard.min.js' %}"></script>
  	<script src="{% static 'scripts/js/vendor/toastr/toastr.min.js' %}"></script>
  	<script src="{% static 'scripts/js/vendor/filestyle/bootstrap-filestyle.min.js' %}"></script>
  	<script src="{% static 'scripts/js/vendor/daterangepicker/moment.js' %}"></script>
  	<script src="{% static 'scripts/js/vendor/datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
  	<script src="{% static 'scripts/js/vendor/jquery/jquery.form.js' %}"></script>
  	<script src="{% static 'scripts/js/vendor/validation/jquery.maskedinput.js' %}"></script>
  	<script src="{% static 'scripts/js/jquery.mask.js' %}"></script>
  	<script src="{% static 'scripts/js/vendor/jquery/jquery.cookie.js' %}"></script>
  	<script src="{% static 'scripts/js/vendor/alert/sweetalert-dev.js' %}"></script>
  	<script src="{% static 'scripts/js/vendor/touchspin/jquery.bootstrap-touchspin.min.js' %}"></script>
  	<script src="{% static 'scripts/js/mloading/jquery.mloading.js' %}"></script>
    <script src="{% static 'scripts/js/form/pemohon.js' %}"></script>
    <script src="{% static 'scripts/js/form/perusahaan.js' %}"></script>
    <script src="{% static 'scripts/js/form/validasi.js' %}"></script>
    <script src="{% static 'scripts/js/formAjax/form_ajax_tdup.js' %}"></script>
  	<script>
      $(window).load(function(){
          $('#rootwizard').bootstrapWizard({
            onTabShow: function(tab, navigation, index) {
              var $total = navigation.find('li').length;
              var $current = index+1;
              if ($current == 2){
                load_kecamatan1(1083);
                if ($.cookie('npwp_perusahaan') !== '0'){
                  $('#id_npwp_perusahaan').val($.cookie('npwp_perusahaan'))
                  setTimeout(function(){
                    load_perusahaan_a($.cookie('npwp_perusahaan'))
                  }, 1000);
                }
              }
              if($current == 3){
                set_value_data_usaha_pariwisata($.cookie('id_pengajuan'))
              }
              if($current == 4){
                load_provinsi_(1, '#id_provinsi-3')
                if ($.cookie('id_pengajuan') !== '0'){
                  set_value_keterangan_usaha($.cookie('id_pengajuan'))
                }
              }
              if($current >= $total) {
                $('#rootwizard').find('.pager .next').hide();
                $('#rootwizard').find('.pager .finish').show();
                $('#rootwizard').find('.pager .finish').removeClass('disabled');
              } else {
                $('#rootwizard').find('.pager .next').show();
                $('#rootwizard').find('.pager .finish').hide();
              }
            },

            onNext: function(tab, navigation, index) {
              return false;
            },

            onTabClick: function(tab, navigation, index) {
              return true;
            }
          });
      });

      function bidang_usaha_pariwisata_fungsi() {
      
        console.log('asas')
        var kbli = $('#id_bidang_usaha_pariwisata').val()
        if(jQuery.inArray('1',kbli) !== -1){
          console.log('berhasil')
          console.log(kbli)
        }
        else{
          console.log('gagal')
        }
      }

      set_chosen_element($('select#id_kegiatan_usaha_pokok'))
      $('#id_kegiatan_usaha_pokok_chosen .search-field input').keyup(function(event) {

        var event = window.event ? window.event : event;
        value_ = $(this).val()
        if(value_.length > 1 && event.keyCode != 37 && event.keyCode != 38 && event.keyCode != 39 && event.keyCode != 40){
          csrf_token = $("input[name='csrfmiddlewaretoken']").val();
          $( "#id_kegiatan_usaha_pokok_chosen .chosen-results" ).mLoading();
          select = "["+$("#id_kegiatan_usaha_pokok option:selected").map(function(){ return this.value }).get().join(", ")+"]"
          $.ajax({ // create an AJAX call...
              data: { csrfmiddlewaretoken: csrf_token, kbli: value_, select: select }, // get the form data
              type: 'POST', // GET or POST
              url: __base_url__+'/option-kbli/', // the file to call
              success: function(response) { // on success..
                  selected = $("#id_kegiatan_usaha_pokok option:selected").map(function(){ elm=$(this).attr('selected', 'selected'); return elm.outerHTML() }).get().join("");
                  // console.log(selected+response)
                  elem = $( "select#id_kegiatan_usaha_pokok" )
                  elem.html(selected+response);
                  $( "#id_kegiatan_usaha_pokok_chosen .chosen-results" ).mLoading('hide');
                  $('select#id_kegiatan_usaha_pokok').trigger("chosen:updated");
                  $('#id_kegiatan_usaha_pokok_chosen .search-field input').val(value_); 
                  // $(this).css("width,"+value_.length+"00px")
                  set_chosen_element($('select#id_kegiatan_usaha_pokok'))
              },
              error: function(data) {                
                  toast_server_error()
              }
          });
        }
        event.preventDefault();
      });

      $.fn.outerHTML = function(){

        // IE, Chrome & Safari will comply with the non-standard outerHTML, all others (FF) will have a fall-back for cloning
        return (!this.length) ? this : (this[0].outerHTML || (
          function(el){
              var div = document.createElement('div');
              div.appendChild(el.cloneNode(true));
              var contents = div.innerHTML;
              div = null;
              return contents;
        })
        (this[0]));
      }

      function set_chosen_element(chosenEl){
        $chosenEl = $(chosenEl)
        if ($chosenEl.length > 0) {             
          $chosenEl.each(function() {
            var element = $(this);
            element.on('chosen:ready', function(e, chosen) {
              var width = element.css("width");
              element.next().find('.chosen-choices').addClass('form-control');
              element.next().css("width", width);
              element.next().find('.search-field input').css("width", "125px");
            }).chosen();                
          });
        }
      }

      function bidang(){
        var bidang = $('select#id_bidang_usaha_pariwisata')
        csrf_token = $("input[name='csrfmiddlewaretoken']").val();
        value_ = $('select#id_bidang_usaha_pariwisata').val()
        // console.log(value_)
        select = "["+$("#id_sub_jenis_bidang_usaha option:selected").map(function(){ return this.value }).get().join(", ")+"]"
        // $( "select#id_sub_jenis_bidang_usaha" ).html('<option></option>')
        $.ajax({ // create an AJAX call...
          data: { csrfmiddlewaretoken: csrf_token, bidang_usaha: value_, select: select }, // get the form data
          type: 'POST', // GET or POST
          url: __base_url__+'/admin/izin/detiltdup/option-sub-jenis-bidang-usaha', // the file to call
            success: function(response) { // on success..
              // console.log('berhasil')
              // console.log(response)
              selected = $("#id_sub_jenis_bidang_usaha option:selected").map(function(){ elm=$(this).attr('selected', 'selected'); return elm.outerHTML() }).get().join("");
              // $( "select#id_sub_jenis_bidang_usaha" ).html('<option></option>')
              // console.log(selected+response)
              elem = $( "select#id_sub_jenis_bidang_usaha" )
              elem.html(selected+response);
              $('select#id_sub_jenis_bidang_usaha').trigger("chosen:updated");
              // $('#id_sub_jenis_bidang_usaha_chosen .search-field input').val(value_); 
                  // $(this).css("width,"+value_.length+"00px")
              set_chosen_element($('select#id_sub_jenis_bidang_usaha'))
            }
        })
        $.ajax({
          data: { csrfmiddlewaretoken: csrf_token, bidang_usaha: value_, select: select }, // get the form data
          type: 'POST', // GET or POST
          url: __base_url__+'/admin/izin/detiltdup/option-sub-jenis-bidang-usaha', // the file to call
          success: function(response) {

          }
        })
      }

      function next_tab(btn){
        var pengajuan_id = $.cookie('id_pengajuan')
        $.ajax({
          type: 'GET',
          url: __base_url__+'/cek-detil-izin/'+pengajuan_id,
          success: function (response){
            respon = $.parseJSON(response)
            if (respon.success == true){
              console.log('berhasil')
              var index = $('#rootwizard').bootstrapWizard('currentIndex')+1;
              var frm = $('form[name="step'+ index +'"]');
              frm.parsley().validate();
              if (frm.parsley().isValid()) {
                $(".tab-content").mLoading();
                $(btn).attr('disabled', 'disabled')
                $.ajax({
                  type: frm.attr('method'),
                  url: frm.attr('action'),
                  data: frm.serialize(),
                  success: function (response){
                    console.log('masuk ajax')
                    respon = $.parseJSON(response)
                      $(btn).removeAttr('disabled')
                      if(respon.success){
                        toastr["success"](respon.pesan)
                        tab_index = '#rootwizard a[href="#tab'+(index+1)+'"]'
                        $(tab_index).tab('show')
                      }
                      else{
                        var a = Object.keys(respon);
                        for (var i = 0; i < a.length; i++){
                          var c = a[i].replace("_", " ").charAt(0).toUpperCase()
                          var field = c + a[i].replace("_", " ").slice(1)
                          toastr["error"](field+" "+respon[a[i]][0]['message'])
                          $("#"+a[i]+"").addClass("has-error");
                          $("#id_"+a[i]+"_").addClass("has-error");
                        }
                      }
                      $(".tab-content").mLoading('hide');
                  },
                  error: function(response){
                    $(".tab-content").mLoading('hide');
                    $(btn).removeAttr('disabled')
                    toastr["error"]("Terjadi kesalahan pada koneksi server.")
                  }
                });
              }
            }
            else{
              console.log('gagal')
              $.cookie('id_pengajuan', '0', {path:'/'})
              $.cookie('id_pemohon', '0', {path:'/'})
              $.cookie('id_perusahaan', '0', {path:'/'})
              $.cookie('nomor_ktp', '0', {path:'/'})
              $.cookie('nomor_paspor', '0', {path:'/'})
              $.cookie('npwp_perusahaan', '0', {path:'/'})
              $.cookie('id_perusahaan_induk', '0', {path:'/'})
              $.cookie('npwp_perusahaan_induk', '0', {path:'/'})
            }
          },
          error: function (response){
            console.log('terjadi kesalahan')
          }
        })
      };

      document.querySelector('#alert').onclick = function(){
        var pengajuan_cookie = $.cookie('id_pengajuan'); 
        var pemohon_cookie = $.cookie('id_pemohon'); 
        var perusahaan_cookie = $.cookie('id_perusahaan'); 
        if (pengajuan_cookie === ""){
          toastr["warning"]("Terjadi kesalahan, anda belum mengisi form pengajuan.")
          tab_index = '#rootwizard a[href="#tab'+(1)+'"]';
          $(tab_index).tab('show');
        }
        else if(pemohon_cookie === ""){
          toastr["warning"]("Terjadi kesalahan, anda belum mengisi form pemohon.")
          tab_index = '#rootwizard a[href="#tab'+(1)+'"]';
          $(tab_index).tab('show');
        }
        else if(perusahaan_cookie === ""){
          toastr["warning"]("Terjadi kesalahan, anda belum mengisi form perusahaan.")
          tab_index = '#rootwizard a[href="#tab'+(2)+'"]';
          $(tab_index).tab('show');
        }
        else{
          swal({
            showConfirmButton: false,
            type: 'success',
            title: 'Pendaftaran Berhasil Tersimpan',
            timer: 2000
          })
          pengajuan_id = $.cookie('id_pengajuan')
          if ($.cookie('id_pengajuan') === undefined){
            pengajuan_id = 0
          }
          // window.location.replace(__base_url__+'/layanan/tdp-pt/formulir/cetak/'+pengajuan_id);
          $.ajax({
            url: '{% url 'tdup_done' %}',
            success: function(response) {
              respon = $.parseJSON(response)
              if(respon.success){
                toastr["success"](respon.pesan)
                
              }
            }
          });
        }
      };

      $(document).ready(function() {
        window.onbeforeunload = function ref() {
          var r = confirm( "Do you want to leave?" );
          if (r == true) {
              
          }
          else {
              return false;
          }
        };

        var pathname = "/";

        if ($.cookie('id_pengajuan') === undefined){
          $.cookie('id_pengajuan', "0", {path:pathname});
        }
        if ($.cookie('id_pemohon') === undefined){
          $.cookie('id_pemohon', "0", {path:pathname});
        }
        if ($.cookie('id_perusahaan') === undefined){
          $.cookie('id_perusahaan', "0", {path:pathname});
        }

        $( "#alert" ).prop( "disabled", true );
        $('#checkbox_tdp_done').change(function() {
          if ($(this).is(':checked')) {
            $( "#alert" ).prop( "disabled", false );
            window.onbeforeunload = null;
          }
          else{
            $( "#alert" ).prop( "disabled", true );
          }
        });

        pengajuan = $.cookie('id_pengajuan')
          if (pengajuan !== '0'){
            $('#id_ktp').val('{{ktp}}');
            $('#id_paspor').val('{{paspor}}');
            load_pemohon('{{ktp}}');

            $('#id_jenis_pengajuan').val('{{pengajuan_.jenis_permohonan.id}}').prop('selected',true).trigger("chosen:updated");
            $('#id_jenis_pemohon').val('{{pengajuan_.pemohon.jenis_pemohon.id}}').prop('selected',true).trigger("chosen:updated");
            $('#id_npwp_perusahaan_induk').val('{{pengajuan_.perusahaan.perusahaan_induk.npwp}}');

            $.cookie('id_pengajuan', '{{pengajuan_id}}' , { path: pathname })
            if ('{{ pengajuan_.pemohon }}' !== 'None'){
              $.cookie('nomor_ktp', '{{ktp}}' , { path: pathname })
              $.cookie('nomor_paspor', '{{paspor}}' , { path: pathname})
              $.cookie('id_pemohon', '{{ pengajuan_.pemohon.id }}' , { path: pathname})
            }
            else{
              $.cookie('nomor_ktp', '0' , { path: pathname })
              $.cookie('nomor_paspor', '0' , { path: pathname})
              $.cookie('id_pemohon', '0' , { path: pathname})
            }
            
            if ('{{ pengajuan_.perusahaan }}' !== 'None'){
              $.cookie('id_perusahaan', '{{ pengajuan_.perusahaan.id  }}' , { path: pathname})
              $.cookie('npwp_perusahaan', '{{ pengajuan_.perusahaan.npwp  }}' , { path: pathname })
              // alert('{{ pengajuan_.perusahaan.npwp  }}')
            }
            else{
              $.cookie('id_perusahaan', '0' , { path: pathname})
              $.cookie('npwp_perusahaan', '0' , { path: pathname })
            }
          }
      })

      $('#sub_angkutan_jalan_wisata').hide()
      $('#sub_angkutan_kereta_api_wisata').hide()
      $('#sub_angkutan_sungai_dan_danau_wisata').hide()
      $('#sub_angkutan_laut_domestik_wisata').hide()
      $('#sub_angkutan_laut_internasional_wisata').hide()
      $('#sub_restoran').hide()
      $('#sub_rumah_makan').hide()
      $('#sub_bar').hide()
      $('#sub_kafe').hide()
      $('#sub_pusat_makanan').hide()
      $('#sub_jasa_boga').hide()
      function subjenis(){
        var subjenis = $('#id_sub_jenis_bidang_usaha').val()
        if(jQuery.inArray('39',subjenis) !== -1){
          $('#sub_angkutan_jalan_wisata').fadeIn().show();
        }
        else{
          $('#sub_angkutan_jalan_wisata').fadeOut().hide();
        }
        if(jQuery.inArray('40',subjenis) !== -1){
          $('#sub_angkutan_kereta_api_wisata').fadeIn().show();
        }
        else{
          $('#sub_angkutan_kereta_api_wisata').fadeOut().hide();
        }
        if(jQuery.inArray('41',subjenis) !== -1){
          $('#sub_angkutan_sungai_dan_danau_wisata').fadeIn().show();
        }
        else{
          $('#sub_angkutan_sungai_dan_danau_wisata').fadeOut().hide();
        }
        if(jQuery.inArray('42',subjenis) !== -1){
          $('#sub_angkutan_laut_domestik_wisata').fadeIn().show();
        }
        else{
          $('#sub_angkutan_laut_domestik_wisata').fadeOut().hide();
        }
        if(jQuery.inArray('43',subjenis) !== -1){
          $('#sub_angkutan_laut_internasional_wisata').fadeIn().show();
        }
        else{
          $('#sub_angkutan_laut_internasional_wisata').fadeOut().hide();
        }
        if(jQuery.inArray('44',subjenis) !== -1){
          $('#sub_restoran').fadeIn().show();
        }
        else{
          $('#sub_restoran').fadeOut().hide();
        }
        if(jQuery.inArray('45',subjenis) !== -1){
          $('#sub_rumah_makan').fadeIn().show();
        }
        else{
          $('#sub_rumah_makan').fadeOut().hide();
        }
        if(jQuery.inArray('46',subjenis) !== -1){
          $('#sub_bar').fadeIn().show();
        }
        else{
          $('#sub_bar').fadeOut().hide();
        }
        if(jQuery.inArray('47',subjenis) !== -1){
          $('#sub_kafe').fadeIn().show();
        }
        else{
          $('#sub_kafe').fadeOut().hide();
        }
        if(jQuery.inArray('48',subjenis) !== -1){
          $('#sub_pusat_makanan').fadeIn().show();
        }
        else{
          $('#sub_pusat_makanan').fadeOut().hide();
        }
        if(jQuery.inArray('49',subjenis) !== -1){
          $('#sub_jasa_boga').fadeIn().show();
        }
        else{
          $('#sub_jasa_boga').fadeOut().hide();
        }
      }

      function set_value_data_usaha_pariwisata(pengajuan_id){
        if (pengajuan_id !== ""){
          $(".tab-content").mLoading();
          $.ajax({
            type: 'GET',
            url: __base_url__+'/layanan/tdup/data-usaha-pariwisata/ajax/'+pengajuan_id,
              success: function (data) {
                respon_data_usaha = $.parseJSON(data)
                // console.log(respon_data_usaha)
                
                if (respon_data_usaha.success){
                  a = respon_data_usaha.data.bidang_usaha_json.length
                  if(a !== 0){
                    $("#id_bidang_usaha_pariwisata").html('')
                    for (var i = 0; i < a; i++){
                      $("#id_bidang_usaha_pariwisata").append('<option selected="selected" value="'+respon_data_usaha.data.bidang_usaha_json[i].id+'" >'+respon_data_usaha.data.bidang_usaha_json[i].bidang_usaha_pariwisata+'</option>');
                      console.log(respon_data_usaha.data.bidang_usaha_json[i])
                    }
                    $('select#id_bidang_usaha_pariwisata').trigger("chosen:updated");
                  }

                  
                  b = respon_data_usaha.data.sub_jenis_json.length
                  if (b !== 0){
                    $("#id_sub_jenis_bidang_usaha").html('')
                    for (var i = 0; i < b; i++){
                      $("#id_sub_jenis_bidang_usaha").append('<option selected="selected" value="'+respon_data_usaha.data.sub_jenis_json[i].id+'" >'+respon_data_usaha.data.sub_jenis_json[i].nama_subjenis+'</option>');
                      console.log(respon_data_usaha.data.sub_jenis_json[i])
                    }
                    $('select#id_sub_jenis_bidang_usaha').trigger("chosen:updated");
                  }
                  
                  
                  setTimeout(function(){
                    subjenis()
                    bidang()

                    // transportasi wisata
                    $('#id_jumlah_unit_angkutan_jalan').val(respon_data_usaha.data.jumlah_unit_angkutan_jalan_wisata)
                    $('#id_kapasitas_angkutan_jalan_wisata').val(respon_data_usaha.data.kapasitas_angkutan_jalan_wisata)
                    $('#id_jumlah_unit_angkutan_kereta_api_wisata').val(respon_data_usaha.data.jumlah_unit_angkutan_kereta_api_wisata)
                    $('#id_kapasitas_angkutan_kereta_api_wisata').val(respon_data_usaha.data.kapasitas_angkutan_kereta_api_wisata)
                    $('#id_jumlah_unit_angkutan_sungai_dan_danau_wisata').val(respon_data_usaha.data.jumlah_unit_angkutan_sungai_dan_danau_wisata)
                    $('#id_kapasitas_angkutan_sungai_dan_danau_wisata').val(respon_data_usaha.data.kapasitas_angkutan_sungai_dan_danau_wisata)
                    $('#id_jumlah_unit_angkutan_laut_domestik_wisata').val(respon_data_usaha.data.jumlah_unit_angkutan_laut_domestik_wisata)
                    $('#id_kapasitas_angkutan_laut_domestik_wisata').val(respon_data_usaha.data.kapasitas_angkutan_laut_domestik_wisata)
                    $('#id_jumlah_unit_angkutan_laut_internasional_wisata').val(respon_data_usaha.data.jumlah_unit_angkutan_laut_internasional_wisata)
                    $('#id_kapasitas_angkutan_laut_internasional_wisata').val(respon_data_usaha.data.kapasitas_angkutan_laut_internasional_wisata)
                    // makanan dan minuman
                    $('#id_jumlah_kursi_restoran').val(respon_data_usaha.data.jumlah_kursi_restoran)
                    $('#id_jumlah_kursi_rumah_makan').val(respon_data_usaha.data.jumlah_kursi_rumah_makan)
                    $('#id_jumlah_kursi_bar').val(respon_data_usaha.data.jumlah_kursi_bar_atau_rumah_minum)
                    $('#id_jumlah_kursi_kafe').val(respon_data_usaha.data.jumlah_kursi_kafe)
                    $('#id_jumlah_stand_pusat_makanan').val(respon_data_usaha.data.jumlah_stand_pusat_makanan)
                    $('#id_kapasitas_produksi_jasa_boga').val(respon_data_usaha.data.kapasitas_produksi_jasa_boga)
                  }, 1000);
                }

                $(".tab-content").mLoading('hide');
              }
          });
        }
      }

      function set_value_keterangan_usaha(pengajuan_id){
        if (pengajuan_id !== ""){
          $(".tab-content").mLoading();
          $.ajax({
            type: 'GET',
            url: __base_url__+'/layanan/tdup/keterangan-usaha/ajax/'+pengajuan_id,
            success: function (data) {
              respon_keterangan_usaha = $.parseJSON(data)
              if (respon_keterangan_usaha.success){
                $('#id_nama_usaha').val(respon_keterangan_usaha.data.nama_usaha);
                $('#id_lokasi_usaha_pariwisata').val(respon_keterangan_usaha.data.lokasi_usaha_pariwisata);
                $('#id_telephone').val(respon_keterangan_usaha.data.telephone);
                $('#id_nomor_izin_gangguan').val(respon_keterangan_usaha.data.nomor_izin_gangguan);
                $('#id_tanggal_izin_gangguan').val(respon_keterangan_usaha.data.tanggal_izin_gangguan);
                $('#id_nomor_dokumen_pengelolaan').val(respon_keterangan_usaha.data.nomor_dokumen_pengelolaan);
                $('#id_tanggal_dokumen_pengelolaan').val(respon_keterangan_usaha.data.tanggal_dokumen_pengelolaan);
                $('#id_provinsi-3').val(respon.data.provinsi).prop('selected',true).trigger("chosen:updated");
                load_kabupaten_(respon.data.provinsi, '#id_kabupaten-3')
                setTimeout(function(){
                  $('#id_kabupaten-3').val(respon.data.kabupaten).prop('selected',true).trigger("chosen:updated");
                }, 1000);
                load_kecamatan_(respon.data.kabupaten, '#id_kecamatan-3')
                setTimeout(function(){
                  $('#id_kecamatan-3').val(respon.data.kecamatan).prop('selected',true).trigger("chosen:updated");
                }, 1000);
                load_desa_(respon.data.kecamatan, '#id_desa-3')
                setTimeout(function(){
                  $('#id_desa-3').val(respon.data.desa).prop('selected',true).trigger("chosen:updated");
                }, 1000);
              }
              $(".tab-content").mLoading('hide');
            }
          })
        }
      }

      $(window).load(function() {
        var p = 'percent-'
        $('#'+p+'surat_keputusan').hide()
        $('#'+p+'ktp').hide()
        $('#'+p+'izin_tempat_usaha').hide()
        $('#'+p+'sertifikat_lahan').hide()
        $('#'+p+'izin_gangguan').hide()
        $('#'+p+'imb').hide()
        $('#'+p+'akta_pendirian').hide()
        $('#'+p+'akta_perubahan').hide()
        $('#'+p+'npwp').hide()
        $('#'+p+'siup').hide()
        $('#'+p+'surat_pernyataan').hide()
        $('#'+p+'dokumen_lingkungan').hide()
        $('#'+p+'Izin_usaha_angkutan').hide()
        $('#'+p+'berkas_tambahan').hide()
      });
    </script>
{% endblock %}