<form method="POST" name="step2" role="form" class="form-horizontal" action="{% url 'izin_dinkes__save_izin_apotek' %}" data-parsley-validate novalidate>
{% csrf_token %}
	<div class="row">
		<div class="col-md-12">
			<h3>IZIN APOTEK</h3>
			<hr class="style14">
		</div>
	</div>

	<div class="form-group">
		<label for="nama_apotek" class="col-sm-2 control-label"><strong>Nama Apotek</strong></label>
		<div class="col-sm-6">
			<input type="text" id="id_nama_apotek" name="nama_apotek" class="form-control" required="">
		</div>
	</div>

	<div class="form-group" id="alamat">
		<label for="alamat" class="col-sm-2 control-label"><strong>Alamat</strong> </label>
		<div class="col-sm-6">
			<textarea class="form-control" id="id_alamat_izin_parkir" rows="5" name="alamat" required=""></textarea>
		</div>
	</div>

	<div class="form-group">
		<label for="no_telpon" class="col-sm-2 control-label"><strong>Nomor Telepon</strong></label>
		<div class="col-sm-6">
			<input type="text" id="id_no_telpon" name="no_telpon" class="form-control" required="">
		</div>
	</div>

	<div class="form-group" id="kecamatan1">
		<label for="kecamatan" class="col-sm-2 control-label"><strong>Kecamatan</strong> </label>
		<div class="col-sm-6">
			<select class="form-control chosen-select mb-10" name="kecamatan" id="id_kecamatan1" required="">
			</select>
		</div>
	</div>

	<div class="form-group" id="desa">
		<label for="desa" class="col-sm-2 control-label"><strong>Kelurahan/Desa</strong></label>
		<div class="col-sm-6">
			<select class="form-control chosen-select mb-10" name="desa" id="id_desa1" required="">
			</select>
		</div>
	</div>

	<div class="form-group" id="desa">
		<label for="sarana" class="col-sm-2 control-label"><strong>Sarana</strong></label>
		<div class="col-sm-6">
			<select class="form-control chosen-select mb-10" name="sarana" id="id_sarana">
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="nama_pemilik_sarana" class="col-sm-2 control-label"><strong>Nama Pemilik Sarana</strong></label>
		<div class="col-sm-6">
			<input type="text" id="id_nama_pemilik_sarana" name="nama_pemilik_sarana" class="form-control" required="">
		</div>
	</div>

	<div class="form-group" id="alamat">
		<label for="alamat_pemilik_sarana" class="col-sm-2 control-label"><strong>Alamat Pemilik Sarana</strong></label>
		<div class="col-sm-6">
			<textarea class="form-control" id="id_alamat_pemilik_sarana" rows="5" name="alamat_pemilik_sarana" required=""></textarea>
		</div>
	</div>

	<div class="form-group">
		<label for="npwp" class="col-sm-2 control-label"><strong>NPWP</strong></label>
		<div class="col-sm-6">
			<input type="text" id="id_npwp" name="npwp" class="form-control" required="">
		</div>
	</div>
	

	

</form>