<form method="POST" name="step4" role="form" class="form-horizontal" action="{% url 'izin_dinkes__validasi_berkas_apotek' %}">
  {% csrf_token %}
  <h3>UPLOAD DOKUMEN PERSYARATAN</h3>
  <hr class="style14">
</form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" data-parsley-validate novalidate id="form-ijazah_apoteker">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Salinan/Fotocopy Ijazah Apoteker yang dilegalisir</strong></label>
      <span id="field-ijazah_apoteker">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Ijazah Apoteker">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-ijazah_apoteker" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-ijazah_apoteker" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-ijazah_apoteker"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" data-parsley-validate novalidate id="form-stra_apoteker">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Salinan/Fotocopy STRA Apoteker</strong></label>
      <span id="field-stra_apoteker">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="STRA Apoteker">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-stra_apoteker" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-stra_apoteker" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-stra_apoteker"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" data-parsley-validate novalidate id="form-rekom_iai">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Salinan/Fotocopy Surat Rekomendasi dari IAI</strong></label>
      <span id="field-rekom_iai">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Rekomendasi IAI">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-rekom_iai" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-rekom_iai" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-rekom_iai"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" data-parsley-validate novalidate id="form-ktp">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Salinan/Fotocopy KTP</strong></label>
      <span id="field-ktp">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="KTP">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-ktp" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-ktp" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-ktp"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" data-parsley-validate novalidate id="form-denah_lokasi">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Salinan/Fotocopy Denah Lokasi</strong></label>
      <span id="field-denah_lokasi">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Denah Lokasi">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-denah_lokasi" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-denah_lokasi" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-denah_lokasi"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" data-parsley-validate novalidate id="form-denah_bangunan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Salinan/Fotocopy Denah Bangunan</strong></label>
      <span id="field-denah_bangunan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Denah Bangunan">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-denah_bangunan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-denah_bangunan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-denah_bangunan"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" data-parsley-validate novalidate id="form-status_bangunan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat yang mengatakan status bangunan dalam bentuk akta hak milik/sewa/kontrak</strong></label>
      <span id="field-status_bangunan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Status Bangunan">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-status_bangunan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-status_bangunan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-status_bangunan"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" data-parsley-validate novalidate id="form-izin_gangguan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Fotocopy IMB dan Izin gangguan</strong></label>
      <span id="field-izin_gangguan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="IMB dan Izin Gangguan">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-izin_gangguan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-izin_gangguan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-izin_gangguan"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" data-parsley-validate novalidate id="form-ijazah_strttk">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Salinan/Fotocopy Ijazah yang dilegalisir, Surat Tanda Registrasi Tenaga Teknis Kefarmasian </strong></label>
      <span id="field-ijazah_strttk">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Ijazah STRTTK">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-ijazah_strttk" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-ijazah_strttk" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-ijazah_strttk"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" data-parsley-validate novalidate id="form-daftar_tenaga_teknis">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Daftar Tenaga Teknis Kefarmasian dengan mencantumkan nama,alamat,tanggal lulus, dan nomor STRTKR  </strong></label>
      <span id="field-daftar_tenaga_teknis">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Daftar Tenaga Teknis">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-daftar_tenaga_teknis" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-daftar_tenaga_teknis" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-daftar_tenaga_teknis"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" data-parsley-validate novalidate id="form-alat_perlengkapan_apotek">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Asli dan Salinan/Fotocopy daftar terperinci alat perlengapan Apotek </strong></label>
      <span id="field-alat_perlengkapan_apotek">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Daftar Perlengkapan Apotek">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-alat_perlengkapan_apotek" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-alat_perlengkapan_apotek" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-alat_perlengkapan_apotek"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" data-parsley-validate novalidate id="form-izin_atasan">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Asli dan Salinan/Fotocopy Surat Izin atasan (Bagi pemohon PNS/ABRI/Pegawai pemerintahan lainnya)</strong></label>
      <span id="field-izin_atasan">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Izin Atasan">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-izin_atasan" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-izin_atasan" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-izin_atasan"></span>
    </div>
  </form>

   <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" data-parsley-validate novalidate id="form-perjanjian_apoteker">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Akta Perjanjian Kerjasama Apoteker pengelola Apotek bahwa tidak bekerja tetap pada perusahaan farmasi lain dan tidak menjadi apoteker pengelola apotek di apotek lain</strong></label>
      <span id="field-perjanjian_apoteker">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Akta Perjanjian Kerjasama Apoteker">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-perjanjian_apoteker" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-perjanjian_apoteker" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-perjanjian_apoteker"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" data-parsley-validate novalidate id="form-pernyataan_peraturan_apoteker">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat Pernyataan Apoteker Pengelola Apotek Bersedia Mematuhi peraturan perundang udangan yang berlaku dan tidak terlibat pelanggaran peraturan dibidang obat</strong></label>
      <span id="field-pernyataan_peraturan_apoteker">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Pernyataan Apoteker (Peraturan)">
          <input name="berkas" type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox" required="">
        </div>
        <a href="#" id="btn-pernyataan_peraturan_apoteker" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this))"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-pernyataan_peraturan_apoteker" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-pernyataan_peraturan_apoteker"></span>
    </div>
  </form>
	<!-- Surat Permohonan -->
  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" id="form-pernyataan_peraturan_pemilik">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat Pernyataan Pemilik Sarana bersedia mematuhi peraturan perundang udangan yang berlaku dan tidak terlibat pelanggaran peraturan dibidang obat</strong></label>
      <span id="field-pernyataan_peraturan_pemilik">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Pernyataan Pemilik (Peraturan)">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-pernyataan_peraturan_pemilik" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-pernyataan_peraturan_pemilik" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-pernyataan_peraturan_pemilik"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" id="form-sia">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>SIA Asli (Untuk perpanjangan)</strong></label>
      <span id="field-sia">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="SIA">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-sia" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-sia" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-sia"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" id="form-sipa">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Fotocopy SIPA</strong></label>
      <span id="field-sipa">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="SIPA">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-sipa" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-sipa" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-sipa"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" id="form-sipttk">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Fotocopy SIPTTK(AA)</strong></label>
      <span id="field-sipttk">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="SIPTTK(AA)">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-sipttk" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-sipttk" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-sipttk"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" id="form-pernyataan_pemilik">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat Pernyataan Pemilik Apotik</strong></label>
      <span id="field-pernyataan_pemilik">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Pernyataan Pemilik">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-pernyataan_pemilik" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-pernyataan_pemilik" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-pernyataan_pemilik"></span>
    </div>
  </form>

  <form role="form" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{% url 'izin_dinkes__upload_berkas' %}" id="form-pernyataan_apoteker">
  {% csrf_token %}
    <div class="form-group">
      <label class="col-sm-3 control-label"><strong>Surat Pernyataan Apoteker</strong></label>
      <span id="field-pernyataan_apoteker">
        <div class="col-sm-5">
          <input type="hidden" name="kode" value="Surat Pernyataan Apoteker">
          <input type="file" class="filestyle berkas_kosong" data-buttonText="Browse" data-iconName="fa fa-inbox" required="True" name="berkas">
        </div>
        <a href="#" id="btn-pernyataan_apoteker" class="btn btn-success mb-10" onclick="form_upload_dokumen($(this)); return false;"><i class="fa fa-upload"></i> Upload</a>
        <a id="percent-pernyataan_apoteker" type="button" class="btn btn-success btn-border mb-10 animated littleFadeInUp">0%</a>
      </span>
      <span class="col-sm-6" id="load-pernyataan_apoteker"></span>
    </div>
  </form>