<form method="POST" name="step3" role="form" class="form-horizontal" action="{% url 'siup_detilsiup_save' %}" data-parsley-validate novalidate>
  {% csrf_token %}   
	<h3>DATA SIUP</h3>
    <hr class="style14" style="height:2px">

    <div class="form-group" id="bentuk_kegiatan_usaha">
      <label class="col-sm-2 control-label text-left"><strong>Bentuk kegiatan usaha</strong></label>
      <div class="col-sm-4">
        <select id="id_bentuk_kegiatan_usaha" class="form-control chosen-select" required="" data-parsley-trigger="change" name="bentuk_kegiatan_usaha">
          <option value>-- Pilih Bentuk Kegiatan Usaha --</option>
          {% for val in bentuk_kegiatan_usaha_list %}
            <option value="{{ val.id }}">{{ val.kegiatan_usaha}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    
    <div class="form-group" id="jenis_penanaman_modal">
      <label class="col-sm-2 control-label text-left"><strong>Status penanaman modal</strong></label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" name="jenis_penanaman_modal" required="" data-parsley-trigger="change" id="id_jenis_penanaman_modal">
          <option>-- Pilih Status penanaman modal --</option>
          {% for val in jenis_penanaman_modal_list%}
            <option value="{{val.id}}">{{val.jenis_penanaman_modal}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <h4><u><strong>Kekayaan Bersih Dan Saham</strong></u></h4>

    <div class="form-group" id="kekayaan_bersih">
	    <label class="col-sm-2 control-label text-left"><strong>Kekayaan bersih perusahaan</strong></label>
	    <div class="col-sm-5">
        <div class="input-group">
          <span class="input-group-addon">Rp</span>
          <input id="id_kekayaan_bersih" type="text" class="form-control no_ktp rupiah" name="kekayaan_bersih" required="" data-parsley-trigger="change" value="0">
        </div>
	      <span class="help-block mb-0">(tidak termasuk tanah dan bangunan tempat usaha)</span>
	    </div>
    </div>

  	<h4>Saham (Khusus Untuk Penanaman Modal Asing)</h4>
  	<div class="form-group" id="total_nilai_saham">
  	    <label class="col-sm-2 control-label">a. Total Nilai Saham</label>
  	    <div class="col-sm-5">
          <div class="input-group">
            <span class="input-group-addon">Rp</span>
            <input type="text" class="form-control no_ktp rupiah" name="total_nilai_saham" id="id_total_nilai_saham" value="0">
          </div>
  	    </div>
  	</div>

  	<div class="form-group saham">
  	    <label class="col-sm-2 control-label">b. Komposisi Kepemilikan Saham</label>
  	    <div class="col-sm-5">
  	      <div class="input-group " style="padding-top: 6px;padding-bottom: 10px;" id="presentase_saham_nasional">
  	        <span class="input-group-addon">Nasional</span>
            <input max="100" min="0" type="text" class="form-control touchspin" data-min='0' data-max="100" data-step="0.1" data-decimals="2" data-boostat="5" data-maxboostedstep="10" data-postfix="%" id="id_presentase_saham_nasional" onchange="total_n_a();" name="presentase_saham_nasional" value="0">
  	        <!-- <input max="100" min="0" type="text" class="form-control no_ktp" name="presentase_saham_nasional" id="id_presentase_saham_nasional" onchange="total_n_a();"> -->
  	        <!-- <span class="input-group-addon">%</span> -->
  	      </div>
  	      <div class="input-group " id="presentase_saham_asing">
  	        <span class="input-group-addon text-center" style="padding-left: 31px;">Asing</span>
            <input max="100" min="0" type="text" class="form-control touchspin" data-min='0' data-max="100" data-step="0.1" data-decimals="2" data-boostat="5" data-maxboostedstep="10" data-postfix="%" id="id_presentase_saham_asing" onchange="total_n_a();" name="presentase_saham_asing" value="0">
  	        <!-- <input max="100" min="0" type="text" class="form-control no_ktp" name="presentase_saham_asing" id="id_presentase_saham_asing" onchange="total_n_a();"> -->
  	        <!-- <span class="input-group-addon">%</span> -->
  	      </div>
  	    </div>
  	</div>
  	<h4><u><strong>Kegiatan Usaha</strong></u></h4>

    <div class="form-group" id="kelembagaan">
      <label class="col-sm-2 control-label text-left"><strong>Kelembagaan</strong></label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" name="kelembagaan" required="" data-parsley-trigger="change" id="id_kelembagaan">
          <option>-- Pilih Kelembagaan --</option>
          {% for val in kelembagaan_list %}
            <option value="{{val.id}}">{{val.kelembagaan}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <!-- <div class="form-group" id="kbli">
      <label class="col-sm-2 control-label text-left">Kegiatan usaha (KBLI)</label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" name="kbli">
          <option>-- Pilih Kegiatan usaha --</option>
          {% for val in kbli_list %}
            <option value="{{val.id}}">{{val.kode_kbli}} - {{val.nama_kbli}}</option>
          {% endfor %}
        </select>
      </div>
    </div> -->

    <div class="form-group" id="kbli">
        <label class="col-sm-2 control-label text-left"><strong>Kegiatan usaha (KBLI)</strong></label>
        <div class="col-sm-10">
            <select multiple="" tabindex="3" class="chosen-select" style="width: 340px;" name="kbli" required="" data-parsley-trigger="change" id="id_kbli">
            </select>
        </div>
    </div>

    <!-- <div class="form-group" id="produk_utama">
      <label class="col-sm-2 control-label text-left">Barang / jasa dagangan utama</label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" name="produk_utama">
          <option value="">-- Pilih Produk --</option>
          {% for val in produk_utama_list %}
            <option value="{{val.id}}">{{val.barang_jasa_utama}}</option>
          {% endfor %}
        </select>
      </div>
    </div> -->

    <!-- <div class="form-group" id="produk_utama">
        <label  class="col-sm-2 control-label text-left"><strong>Barang / jasa dagangan utama</strong></label>
        <div class="col-sm-10">
            <select multiple="" tabindex="3" class="chosen-select" style="width: 340px;" name="produk_utama" required="" data-parsley-trigger="change" id="id_produk_utama">
              {% for val in produk_utama_list %}
                <option value="{{val.id}}">{{val.barang_jasa_utama}}</option>
              {% endfor %}
            </select>
        </div>
    </div> -->
    <!-- <input type="text" value="ashdasidi" oninput="alert_kekayaan();" name=""> -->
</form>