<form method="POST" name="step2" role="form" class="form-horizontal" {% if user.is_authenticated %} action="{% url 'siup_identitas_perusahan_save' %}" {% else %} action="#" {% endif %} data-parsley-validate novalidate>
  {% csrf_token %}   
    <div class="row">
      <div class="col-md-12">
        <h3>IDENTITAS PERUSAHAAN</h3>
        <hr class="style14">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>NPWP</strong></label>
      <div class="col-sm-5">
        <input type="text" name="npwp" class="form-control npwp" required="" data-parsley-trigger="change">
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label"><strong>Nama Perusahaan</strong></label>
      <div class="col-sm-7">
        <input type="text"  name="nama_perusahaan" class="form-control" required="" data-parsley-trigger="change">
      </div>
    </div>

    <div class="form-group">
      <label for="input01" class="col-sm-2 control-label"><strong>Alamat</strong></label>
      <div class="col-sm-7">
        <textarea class="form-control" rows="5" name="alamat_perusahaan" required="" data-parsley-trigger="change"></textarea>
      </div>
    </div>

    <div class="form-group" id="negara1">
      <label for="input01" class="col-sm-2 control-label"><strong>Negara</strong> </label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" name="negara1" id="id_negara1" required="" data-parsley-trigger="change">
          <option value>-- Pilih Negara --</option>
          {% if negara %}
            {% for p in negara %}
            <option value="{{ p.id }}">{{ p.nama_negara }}</option>
            {% endfor %}
          {% endif %}
        </select>
      </div>
    </div>

    <div class="form-group" id="provinsi1">
      <label for="input01" class="col-sm-2 control-label"><strong>Provinsi</strong> </label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" name="provinsi1" id="id_provinsi1" required="" data-parsley-trigger="change">
        </select>
      </div>
    </div>

    <div class="form-group" id="kabupaten1">
      <label for="input01" class="col-sm-2 control-label"><strong>Kota/Kabupaten</strong> </label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" name="kabupaten1" id="id_kabupaten1" required="" data-parsley-trigger="change">
        </select>
      </div>
    </div>

    <div class="form-group" id="kecamatan1">
      <label for="input01" class="col-sm-2 control-label"><strong>Kecamatan</strong> </label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" name="kecamatan1" id="id_kecamatan1" required="" data-parsley-trigger="change">
        </select>
      </div>
    </div>

    <div class="form-group" id="desa1">
      <label for="input01" class="col-sm-2 control-label"><strong>Kelurahan/Desa</strong> </label>
      <div class="col-sm-5">
        <select class="form-control chosen-select mb-10" name="desa" id="id_desa1" required="" data-parsley-trigger="change">
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Kode Pos</label>
      <div class="col-sm-5">
        <input type="text" class="form-control kodepos" name="kode_pos" >
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">No. Telp</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="telepon">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">No. Fax</label>
      <div class="col-sm-5">
        <input type="text" class="form-control fax" name="fax" data-inputmask="'mask': '99-9999999'">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">E-mail</label>
      <div class="col-sm-5">
        <input type="email" class="form-control " data-parsley-trigger="change" id="email" name="email">
      </div>
    </div>
</form>