
<form method="POST" name="step6" role="form" {% if user.is_authenticated %} action="{% url 'cetak_permohonan' %}" {% else %} action="#" {% endif %} data-parsley-validate novalidate>
  {% csrf_token %}
  
  <h3>KONFIRMASI DATA</h3>
  <hr class="style14">
  
  <table width="100%" border="0">
    <tr>
      <td width="25%">Jenis Pengajuan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='jenis_permohonan_konfirmasi'></span></td>
    </tr>
  </table>
  <br>
  <h4><u>#1. IDENTITAS PEMOHON</u></h4>
  <table width="100%" border="0">
    <tr>
      <td width="25%">Jenis Pemohon</td>
      <td width="5%">:</td>
      <td width="70%"><span id='jenis_pemohon_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Nomor KTP/Paspor</td>
      <td width="5%">:</td>
      <td width="70%"><span id='nomor_ktp_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Nama</td>
      <td width="5%">:</td>
      <td width="70%"><span id='nama_lengkap_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Alamat tempat tinggal</td>
      <td width="5%">:</td>
      <td width="70%"><span id='alamat_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">No.Telp</td>
      <td width="5%">:</td>
      <td width="70%"><span id='telephone_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">No.HP</td>
      <td width="5%">:</td>
      <td width="70%"><span id='hp_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">E-mail</td>
      <td width="5%">:</td>
      <td width="70%"><span id='email_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Kewarganegaraan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='kewarganegaraan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Pekerjaan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='pekerjaan_konfirmasi'></span></td>
    </tr>
  </table>
  <br>
  <h4><u>#2. IDENTITAS PERUSAHAAN</u></h4>
  <table width="100%" border="0">
    <tr>
      <td width="25%">NPWP</td>
      <td width="5%">:</td>
      <td width="70%"><span id='npwp_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Nama Perusahaan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='nama_perusahaan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Alamat Perusahaan</td>
      <td width="5%">:</td>
      <td width="70%"><span id='alamat_perusahaan_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">Kode Pos</td>
      <td width="5%">:</td>
      <td width="70%"><span id='kode_pos_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">No.Telp</td>
      <td width="5%">:</td>
      <td width="70%"><span id='telepon_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">No.Fax</td>
      <td width="5%">:</td>
      <td width="70%"><span id='fax_konfirmasi'></span></td>
    </tr>
    <tr>
      <td width="25%">E-mail</td>
      <td width="5%">:</td>
      <td width="70%"><span id='email_konfirmasi'></span></td>
    </tr>
  </table>
  <br>
  <h4><u>#3. DATA SIUP</u></h4>
  <table width="100%" border="0">
    <tr>
      <td width="25%">Bentuk Kegiatan Usaha</td>
      <td width="5%">:</td>
      <td width="70%"></td>
    </tr>
    <tr>
      <td>Status Penanaman Modal</td>
      <td>:</td>
      <td></td>
    </tr>
  </table>
  <h5><u>Kekayaan Bersih dan Saham</u></h5>
  <table width="100%" border="0">
    <tr>
      <td width="40%">Kekayaan Bersih Perusahaan</td>
      <td width="5%">:</td>
      <td width="55%"></td>
    </tr>
    <tr>
      <td colspan="3">(tidak termasuk tanah dan bengunan temoat usaha)</td>
    </tr>
    <tr>
      <td colspan="3">Saham (Khusus Untuk Penanaman Modal Asing):</td>
    </tr>
    <tr>
      <td><p style="text-indent: 30px;">a. Total Nilai Saham</p></td>
      <td>:</td>
      <td></td>
    </tr>
    <tr>
      <td colspan="3"><p style="text-indent: 30px;">b. Komposisi Kepemilikan Saham:</p></td>
    </tr>
    <tr>
      <td><p style="text-indent: 60px;">Dalam Negeri</p></td>
      <td>:</td>
      <td></td>
    </tr>
    <tr>
      <td><p style="text-indent: 60px;">Asing</p></td>
      <td>:</td>
      <td></td>
    </tr>
  </table>
  <h5><u>Kegiatan Usaha</u></h5>
  <table class="font" width="100%">
      <tr>
          <td width="25%">Kelembagaan</td>
          <td width="5%">:</td>
          <td width="70%">Perdagangan Kecil</td>
      </tr>
      <tr>
          <td width="25%">KBLI</td>
          <td width="5%">:</td>
          <td width="70%">12345</td>
      </tr>
      <tr>
          <td width="25%">Barang/jasa dagang utama</td>
          <td width="5%">:</td>
          <td width="70%">Peralatan pertanian, Bibit</td>
      </tr>
  </table>
  <br>
  <h4><u>#4. LEGALITAS PERUSAHAAN</u></h4>
  <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Jenis Akta dan Pengesahan</th>
            <th>Nama Notaris</th>
            <th>Alamat Notaris</th>
            <th>Telp. Notaris</th>
            <th>No. Akta</th>
            <th>Tgl Akta</th>
            <th>No. Pengesahan</th>
            <th>Tgl Pengesahan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span id='jenis_legalitas_konfirmasi'></span></td>
            <td><span id='nama_notaris_konfirmasi'></span></td>
            <td><span id='alamat_konfirmasi'></span></td>
            <td><span id='telephone_konfirmasi'></span></td>
            <td><span id=''></span></td>
            <td><span id=''></span></td>
            <td><span id='nomor_pengesahan_konfirmasi'></span></td>
            <td><span id='tanggal_pengesahan_konfirmasi'></span></td>
          </tr>
        </tbody>
    </table>
  </div>
  <br>
  <h4><u>#5. UPLOAD DOKUMEN PERSYARATAN</u></h4>
  <table class="table table-bordered">
      <thead>
        <tr >
          <th>Dokumen Persyaratan</th>
          <th>Telah Terupload</th>
        </tr>
      </thead>
      <tbody>
        <tr align="center">
          <td>
            File Foto
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" id="checkbox_berkas_foto" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            File KTP/Paspor
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" id="checkbox_berkas_ktp" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            File NPWP Pribadi
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" id="checkbox_berkas_npwp_pribadi" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            File NPWP Perusahaan
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" id="checkbox_berkas_npwp_perusahaan" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            File Akta Pendirian
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" id="checkbox_berkas_akta_pendirian" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            File Akta Pembaruan (jika ada)
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" id="checkbox_berkas_akta_pembaruan" disabled><i></i>
            </label>
          </td>
        </tr>
        <tr align="center">
          <td>
            File Pendukung lainnya (jika ada)
          </td>
          <td>
            <label class="checkbox checkbox-custom-alt">
              <input type="checkbox" id="checkbox_berkas_pendukung" disabled><i></i>
            </label>
          </td>
        </tr>
      </tbody>
  </table>
  <br>
  <div class="form-group">
    <section class="tile bg-greensea">
      <div class="tile-body">
        <label class="checkbox checkbox-custom-alt">
          <input required="" data-parsley-trigger="change" type="checkbox" ><i></i> Setuju, Saya telah mengisi formulir pengajuan izin ini dengan benar.
        </label>
      </div>
    </section>
  </div>
</form>