<form method="POST" name="step5" role="form" class="form-horizontal" {% if user.is_authenticated %} action="{% url 'siup_upload_dokumen' %}" {% else %} action="#" {% endif %}>
  {% csrf_token %}
  <h3>UPLOAD DOKUMEN PERSYARATAN</h3>
  <hr class="style14" style="height:2px">
  <div class="form-group">
    <label class="col-sm-3 control-label text-left">File Foto</label>
    <div class="col-sm-5">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label text-left">File KTP/Paspor (Dirut/pemilik/pengurus/penanggungjawab)</label>
    <div class="col-sm-5">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label text-left">File NPWP Pribadi</label>
    <div class="col-sm-5">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label text-left">File NPWP Perusahaan</label>
    <div class="col-sm-5">
      <input type="file" id="npwp_perusahaan" name="file_npwp_perusahaan" class="filestyle npwp_perusahaan" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10 start_upload_npwp_perusahaan"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label text-left">File Akta Pendirian</label>
    <div class="col-sm-5">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label text-left">File Akta Perubahan (jika ada)</label>
    <div class="col-sm-5">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label text-left">File Pendukung lainnya (jika ada)</label>
    <div class="col-sm-5">
      <input type="file" class="filestyle" data-buttonText="Browse" data-iconName="fa fa-inbox">
    </div>
    <div class="col-sm-1">
      <a type="button" class="btn btn-success mb-10"><i class="fa fa-upload"></i>Upload</a>
    </div>
  </div>
</form>