{% extends "admin/base_site.html" %}
{% load i18n admin_urls widgets access admin_static %}

{% block title %}Cek Kelengkapan{% endblock %}


{% block icotitle %}<i class="fa fa-file-text"></i>&nbsp;{% endblock %}

{% block content_title %}
	Cek Kelengkapan
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'scripts/js/vendor/chosen/chosen.css' %}">
<style type="text/css">
  .table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
      padding: 5px;
  }
  thead th, tfoot td {
      background: url("{% static 'images/nav-bg.gif' %}") repeat-x scroll left top #e1e1e1 !important;
      border-top: 0 none !important;
      color: #666 !important;
      font-size: 11px !important;
      line-height: 1.42857 !important;
      padding: 8px !important;
      font-weight: bold !important;
      border-bottom-width: 1px !important;
      text-align: center !important;
      vertical-align: middle !important;
  }
  table thead th.sorted .sortoptions {
      float: none;
      padding: 0;
      text-align: center;
      display: block;
  }
  table thead th.sorted .sortoptions a {
      display: inline-block;
      height: 12px;
      width: 14px;
  }
  thead th.sorted a.sortremove {
      visibility: visible;
  }
  thead th a:link, thead th a:visited {
      color: #666;
  }
  table thead th.sorted .sortpriority {
      font-size: 0.8em;
      min-width: 12px;
      text-align: center;
      vertical-align: top;
  }
  .table > tbody > tr.inactive > td, .table > tbody > tr.inactive > th, .table > tbody > tr > td.inactive, .table > tbody > tr > th.inactive, .table > tfoot > tr.inactive > td, .table > tfoot > tr.inactive > th, .table > tfoot > tr > td.inactive, .table > tfoot > tr > th.inactive, .table > thead > tr.inactive > td, .table > thead > tr.inactive > th, .table > thead > tr > td.inactive, .table > thead > tr > th.inactive {
          background-color: #aaaaaa;
          color: #fff;
      }
      .table-hover tbody tr:hover td.inactive, .table-hover tbody tr:hover th.inactive {
          background-color: #ebcccc;
          color: #000;
      }
      .table > tbody > tr.danger > td, .table > tbody > tr.danger > th, .table > tbody > tr > td.danger, .table > tbody > tr > th.danger, .table > tfoot > tr.danger > td, .table > tfoot > tr.danger > th, .table > tfoot > tr > td.danger, .table > tfoot > tr > th.danger, .table > thead > tr.danger > td, .table > thead > tr.danger > th, .table > thead > tr > td.danger, .table > thead > tr > th.danger {
          background-color: #f2dede;
      }
      .table > thead > tr > th.danger, .table > tbody > tr > th.danger, .table > tfoot > tr > th, .table > thead > tr > td.danger, .table > tbody > tr > td.danger, .table > tfoot > tr > td.danger {
      border-color: #f5f5f5;
      border-width: 1px;
      color: #666;
  }
      .table>tbody>tr.warning>td, .table>tbody>tr.warning>th, .table>tbody>tr>td.warning, .table>tbody>tr>th.warning, .table>tfoot>tr.warning>td, .table>tfoot>tr.warning>th, .table>tfoot>tr>td.warning, .table>tfoot>tr>th.warning, .table>thead>tr.warning>td, .table>thead>tr.warning>th, .table>thead>tr>td.warning, .table>thead>tr>th.warning {
          background-color: #fcf8e3;
      }
      .table > tbody > tr.info > td, .table > tbody > tr.info > th, .table > tbody > tr > td.info, .table > tbody > tr > th.info, .table > tfoot > tr.info > td, .table > tfoot > tr.info > th, .table > tfoot > tr > td.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > thead > tr.info > th, .table > thead > tr > td.info, .table > thead > tr > th.info {
              background-color: #d9edf7;
      }
      .table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > thead > tr > td.success, .table > thead > tr > th.success {
          background-color: #dff0d8;
      }
      .table > tbody > tr.libur > td, .table > tbody > tr.libur > th, .table > tbody > tr > td.libur, .table > tbody > tr > th.libur, .table > tfoot > tr.libur > td, .table > tfoot > tr.libur > th, .table > tfoot > tr > td.libur, .table > tfoot > tr > th.libur, .table > thead > tr.libur > td, .table > thead > tr.libur > th, .table > thead > tr > td.libur, .table > thead > tr > th.libur {
          background-color: silver;
      }
</style>
{% endblock %}

{% block breadcrumbs %}
	{% if not is_popup %}
	<div class="page-bar">
	    <ul class="page-breadcrumb">
	        <li>
	            <a href="" class="link-effect link-effect-21"><i class="fa fa-home"></i> {% trans 'Home' %}</a>
	        </li>
	        <li>
	        	<a href="{% url 'admin:izin_survey_changelist' %}" class="link-effect link-effect-21">Daftar Survey</a>
	        </li>
	        <li>
	        	<a href="#" class="link-effect">Proses
	            </a>
	        </li>
	    </ul>
	</div>
	{% endif %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <!-- tile -->
    <section class="tile">

        <!-- tile header -->
        <div class="tile-header bg-slategray dvd dvd-btm">
            <h1 class="custom-font"><strong>Keterangan</strong> Survey</h1>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <p>Tanggal Permintaan Survey : {{ qs_survey.tanggal_survey }} </p>
            <p>Deadline Survey : {{ qs_survey.deadline_survey }} </p>
          </div>
          <div class="col-md-6 col-xs-12">
            <p>No. Survey : {{ qs_survey.no_survey }} </p>
            <p>Tanggal Perubahan : {{ qs_survey.updated_at }} </p>
          </div>
        </div>
        
        </div>
        <!-- /tile body -->

    </section>
    <!-- /tile -->
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- tile -->
    <section class="tile">

        <!-- tile header -->
        <div class="tile-header bg-slategray dvd dvd-btm">
            <h1 class="custom-font"><strong>Detil</strong> Ringkas Pengajuan</h1>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="">
                            Pengajuan (klik untuk melihat)
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                    <div class="panel-body">
                        <p>Jenis Pengajuan : {{pengajuan.jenis_permohonan}}</p>
                        <p>Kelompok Izin : {{pengajuan.kelompok_jenis_izin}}</p>
                        <p>No. Pengajuan : {{pengajuan.no_pengajuan}}</p>      
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Pemohon (klik untuk melihat)
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                        <p>Jenis Pemohon : {{pemohon.jenis_pemohon}}</p>
                        <p>Nomor KTP/Passpor : {% for n in pemohon.nomoridentitaspengguna_set.all %} {{n.jenis_identitas}} {{n.nomor}} {% endfor %}</p>
                        <p>Nama : {{pemohon.nama_lengkap}}</p>
                        <p>Alamat : {{pemohon|get_alamat_lengkap:"pemohon"}}</p>
                        <p>No. Telp : {{pemohon.telephone}}</p>
                        <p>HP : {{pemohon.pemohon.hp}}</p>
                        <p>Email : {{pemohon.email|default_if_none:""}}</p>
                        <p>Kewarganegaraan : {{pemohon.kewarganegaraan}}</p>
                        <p>pekerjaan : {{pemohon.pekerjaan}}</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Perusahaan (klik untuk melihat)
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                    <div class="panel-body">
                        <p>NPWP Perusahaan : {{perusahaan.npwp}}</p>
                        <p>Nama Perusahaan : {{perusahaan.nama_perusahaan}}</p>
                        <p>Alamat Perusahaan : {{perusahaan|get_alamat_lengkap:"perusahaan"}}</p>
                        <p>Kode POS : {{perusahaan.kode_pos}}</p>
                        <p>No. Telp : {{perusahaan.telepon}}</p>
                        <p>No. Fax : {{perusahaan.fax}}</p>
                        <p>Email : {{perusahaan.email|default_if_none:""}}</p>
                        <br>
                        <p>Lokasi Survey : {{perusahaan|get_alamat_lengkap:"perusahaan"}}</p>      
                    </div>
                </div>
            </div>

            {% if pengajuan.legalitas.all %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Legalitas Perusahaan (klik untuk melihat)
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                    <div class="panel-body">
                      <table id="" class="table table-striped table-bordered table-hover table-condensed">
                        <thead>
                          <tr>
                            <th scope="col" class="">Jenis Akta</th>
                            <th scope="col" class="">Nama Notaris</th>
                            <th scope="col" class="">Alamat Notaris</th>
                            <th scope="col" class="">Telp Notaris</th>
                            <th scope="col" class="">No Akta</th>
                            <th scope="col" class="">Tgl Akta</th>
                            <th scope="col" class="">No. Pengesahan</th>
                            <th scope="col" class="">Tgl. Pengesahan</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for p in pengajuan.legalitas.all %}
                            <tr>
                              <td>{{p.jenis_legalitas}}</td>
                              <td>{{p.nama_notaris}}</td>
                              <td>{{p.alamat}}</td>
                              <td>{{p.nomor_akta}}</td>
                              <td>{{p.tanggal_akta}}</td>
                              <td>{{p.nomor_pengesahan}}</td>
                              <td>{{p.tanggal_pengesahan}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
          </div>
          {% endif %}
        <!-- /tile body -->

    </section>
    <!-- /tile -->
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- tile -->
    <section class="tile">

        <!-- tile header -->
        <div class="tile-header bg-slategray dvd dvd-btm">
            <h1 class="custom-font"><strong>Dokumen</strong> Upload</h1>
        </div>
        <!-- /tile header -->

        <!-- tile body -->
        <div class="tile-body">
          <table id="" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th scope="col" class="">Dokumen Persyaratan</th>
                <th scope="col" class="">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
              <tr class="">
                  <td class="">{{perusahaan.berkas_npwp}}</td>
                  <td class=""> <a class="btn btn-rounded btn-info btn-xs" href="http://simpatik.kedirikab.go.id{{perusahaan.berkas_npwp.berkas.url}}"> <i class="fa fa-eye" ></i> Lihat</a></td>
              </tr>
              {% for k in pemohon.berkas.all %}
                <tr class="">
                    <td class="">{{k.jenis_identitas}}</td>
                    <td class=""> <a class="btn btn-rounded btn-info btn-xs" href="http://simpatik.kedirikab.go.id{{k.berkas.berkas.url}}"> <i class="fa fa-eye" ></i> Lihat </a></td>
                </tr>
              {% endfor %}
              {% for d in pengajuan.berkas_tambahan.all %}
              <tr class="">
                  <td class="">{{d.nama_berkas}}</td>
                  <td class=""> <a class="btn btn-rounded btn-info btn-xs" href="http://simpatik.kedirikab.go.id{{d.berkas.url}}"> <i class="fa fa-eye" ></i> Lihat </a></td>
              </tr>
              {% endfor %}

              {% for d in pengajuan.legalitas.all %}
                {% for b in d.berkas_tambahan.all %}
                <tr class="">
                    <td class="">{{b.nama_berkas}}</td>
                    <td class=""> <a class="btn btn-rounded btn-info btn-xs" href="http://simpatik.kedirikab.go.id{{b.berkas.url}}"> <i class="fa fa-eye" ></i> Lihat </a></td>
                </tr>
                {% endfor %}
              {% endfor %}

              {% for d in pengajuan.anggota_badan_iujk.all %}
                {% for b in d.berkas_tambahan.all %}
                <tr class="">
                    <td class="">{{b.nama_berkas}}</td>
                    <td class=""> <a class="btn btn-rounded btn-info btn-xs" href="http://simpatik.kedirikab.go.id{{b.berkas.url}}"> <i class="fa fa-eye" ></i> Lihat </a></td>
                </tr>
                {% endfor %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /tile body -->

    </section>
    <!-- /tile -->
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- tile -->
    <section class="tile">
        <!-- tile header -->
        <div class="tile-header bg-slategray dvd dvd-btm">
            <h1 class="custom-font"><strong>Anggota </strong> Tim</h1>
        </div>
        <!-- /tile header -->
        <!-- tile body -->
        <div class="tile-body ">
          <table id="" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
              <tr>
                  <th scope="col" class="">NIP</th>
                  <th scope="col" class="">NAMA</th>
                  <th scope="col" class="">KOORDINATOR</th>
                  {% if qs_survey.status == 4 %}
                  <th scope="col" class="">Aksi</th>
                  {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for q in qs_survey.survey_iujk.all %}
                <tr>
                  <td>{{q.pegawai.username}}</td>
                  <td>[{{q.pegawai.unit_kerja}}] {{q.pegawai}}</td>
                  <td>{{q.koordinator|true_or_false|safe}}</td>
                {% if qs_survey.status == 4 %}
                    {% if not q.koordinator %}
                    <td><a class="hapus_anggota" href="{% url 'admin:hapus_ajax' qs_survey.pengajuan.id qs_survey.id q.id %}" title="Hapus {{q.pegawai}}"><i class="fa fa-trash"></i> </a></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          {% if qs_survey.status == 4 and status_user %}
          <button class="btn btn-rounded btn-warning btn-sm" onclick="tambah_tim(this); return false;"><i class="fa fa-plus"></i> Tambah Anggota Tim</button>
          <button class="btn btn-rounded btn-success btn-sm" onclick="lakukan_survey(this); return false;"><i class="fa fa-paper-plane"></i> Lakukan Survey {{request.id_survey}}</button>
          {% endif %}
         <!--  <p class="text-center"><button type="submit" class="btn btn-rounded btn-warning btn-sm tugaskan"><i class="fa fa-play"></i> Tugaskan Survey</button> </p> -->
          
        </div>
        <!-- /tile body -->

    </section>
    <!-- /tile -->
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!-- tile -->
    <section class="tile">
        <!-- tile header -->
        <div class="tile-header bg-slategray dvd dvd-btm">
            <h1 class="custom-font"><strong>Pertimbangan </strong> dan <strong>Saran</strong></h1>
        </div>
        <!-- /tile header -->
        <!-- tile body -->
        <div class="tile-body ">
          <table id="" class="table table-striped table-bordered table-hover table-condensed">
            <thead>
              <tr>
                  <th scope="col" class="">SKPD</th>
                  <th scope="col" class="">NAMA</th>
                  <th scope="col" class="">Rekomendasi/Saran</th>
                  <th scope="col" class="">Lampiran</th>
              </tr>
            </thead>
            <tbody>
            {% for q in qs_survey.survey_iujk.all %}
              <tr>
                <td>{{q.pegawai.unit_kerja}}</td>
                <td>{{q.pegawai}} ({{q.pegawai.username}})</td>
                <td>{{qs_survey|get_rekomendasi:q.pegawai.id|safe}}</td>
                <td>{{qs_survey|get_berkas:q.pegawai.id|safe}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /tile body -->

    </section>
    <!-- /tile -->
  </div>
</div>

{% if qs_survey.status != 1 and status_user and rekom.status != 1 %}
<div class="row">
  <div class="col-md-12">
    <!-- tile -->
    <section class="tile">
        <!-- tile body -->
        <div class="tile-body">
          <h3>Laporan Survey</h3>
           <form class="form_rekomendasi form-horizontal" role="form" action="" method="POST" enctype="multipart/form-data">
           {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group {% if form_detil.kondisi_lahan_usaha.errors %} has-error {% endif %}">
                    <label class="col-sm-3 control-label" for="id_kondisi_lahan_usaha">Kondisi Lahan Usaha</label>
                    <div class="col-sm-9">
                        {{ form_detil.kondisi_lahan_usaha|addcls:"form-control" }}
                        <span class="help-block mb-0 has-error" >{{ form_detil.kondisi_lahan_usaha.errors.as_text }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="id_luas_tempat_usaha">Luas Tempat Usaha</label>
                    <div class="col-sm-9">
                        {{ form_detil.luas_tempat_usaha|addcls:"form-control" }}
                        <span class="help-block mb-0 has-error" >{{ form_detil.luas_tempat_usaha.errors.as_text }}</span>
                    </div>
                </div>
                <div class="form-group {% if form_detil.jumlah_mesin.errors %} has-error {% endif %}">
                    <label class="col-sm-3 control-label" for="id_jumlah_mesin">Jumlah Mesin</label>
                    <div class="col-sm-9">
                        {{ form_detil.jumlah_mesin|addcls:"form-control" }}
                        <span class="help-block mb-0 has-error" >{{ form_detil.jumlah_mesin.errors.as_text }}</span>
                    </div>
                </div>
                <div class="form-group {% if form_detil.daya_kekuatan_mesin.errors %} has-error {% endif %}">
                    <label class="col-sm-3 control-label" for="id_daya_kekuatan_mesin">Daya Kekuatan Mesin</label>
                    <div class="col-sm-9">
                        {{ form_detil.daya_kekuatan_mesin|addcls:"form-control" }}
                        <span class="help-block mb-0 has-error" >{{ form_detil.daya_kekuatan_mesin.errors.as_text }}</span>
                    </div>
                </div>
                <div class="form-group {% if form_detil.jenis_bangunan.errors %} has-error {% endif %}">
                    <label class="col-sm-3 control-label" for="id_jenis_bangunan">Jenis Bangunan </label>
                    <div class="col-sm-9">
                        {{ form_detil.jenis_bangunan|addcls:"form-control" }}
                        <span class="help-block mb-0 has-error" >{{ form_detil.jenis_bangunan.errors.as_text }}</span>
                    </div>
                </div>
                <div class="form-group {% if form_detil.klasifikasi_jalan.errors %} has-error {% endif %}">
                    <label class="col-sm-3 control-label" for="id_klasifikasi_jalan">Klasifikasi Jalan</label>
                    <div class="col-sm-9">
                      {{ form_detil.klasifikasi_jalan|addcls:"form-control" }}
                      <span class="help-block mb-0 has-error" >{{ form_detil.klasifikasi_jalan.errors.as_text }}</span>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title custom-font">Batas Lokasi Usaha</h3>
                  </div>
                  <div class="panel-body">
                      <div class="form-group {% if form_detil.sebelah_utara.errors %} has-error {% endif %}">
                        <label class="col-sm-3 control-label" for="id_sebelah_utara">Sebelah Utara</label>
                        <div class="col-sm-9">
                          {{ form_detil.sebelah_utara|addcls:"form-control" }}
                          <span class="help-block mb-0 has-error" >{{ form_detil.sebelah_utara.errors.as_text }}</span>
                        </div>
                      </div>
                      <div class="form-group {% if form_detil.sebelah_timur.errors %} has-error {% endif %}">
                          <label class="col-sm-3 control-label" for="id_sebelah_timur">Sebelah Timur</label>
                          <div class="col-sm-9">
                            {{ form_detil.sebelah_timur|addcls:"form-control" }}
                            <span class="help-block mb-0 has-error" >{{ form_detil.sebelah_timur.errors.as_text }}</span>
                          </div>
                      </div>
                      <div class="form-group {% if form_detil.sebelah_selatan.errors %} has-error {% endif %}">
                          <label class="col-sm-3 control-label" for="id_sebelah_selatan">Sebelah Selatan</label>
                          <div class="col-sm-9">
                            {{ form_detil.sebelah_selatan|addcls:"form-control" }}
                            <span class="help-block mb-0 has-error" >{{ form_detil.sebelah_selatan.errors.as_text }}</span>
                          </div>
                      </div>
                      <div class="form-group {% if form_detil.sebelah_barat.errors %} has-error {% endif %}">
                          <label class="col-sm-3 control-label" for="id_sebelah_barat">Sebelah Barat</label>
                          <div class="col-sm-9">
                            {{ form_detil.sebelah_barat|addcls:"form-control" }}
                            <span class="help-block mb-0 has-error" >{{ form_detil.sebelah_barat.errors.as_text }}</span>                            
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <h3>REKOMENDASI</h3>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group {% if form_rekomendasi.rekomendasi.errors %} has-error {% endif %}">
                  <div class="col-sm-12">
                    {{form_rekomendasi.rekomendasi}}
                    <span class="help-block mb-0 has-error">{{form_rekomendasi.rekomendasi.errors.as_text}}</span> 
                  </div>
                </div>
              </div>
            </div>
            
            {% if rekom.berkas %}
              <p><a data-toggle="popover" data-trigger="hover" title="Preview Berkas" data-html="true" data-content="<img src='{{rekom.berkas.get_file_url }}' width='200' />" class="btn btn-rounded btn-success btn-sm" href="{{rekom.berkas.get_file_url }}" target="_blank"> <i class="fa fa-paperclip" ></i> {{rekom.berkas }}</a>
            </p>
            {% else %}
              {{form_berkas.as_p}}
            {% endif %}
           
              <hr>
              <button name="simpan" value="draft" class="btn btn-rounded btn-info btn-sm"><i class="glyphicon glyphicon-floppy-disk"></i> Simpan & Draft</button>
              <button name="simpan" value="submit" class="btn btn-rounded btn-success btn-sm simpan"><i class="fa  fa-paper-plane"></i> Simpan & Kirim </button>
              
            </form>
        </div>
        <!-- /tile body -->

    </section>
    <!-- /tile -->
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-md-12">
    <!-- tile -->
    <section class="tile">
        <!-- tile body -->
        <div class="tile-body">
          
           <h3>Laporan Survey</h3>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-sm-12 control-label" for="id_kondisi_lahan_usaha">Kondisi Lahan Usaha : {{detilbap.get_kondisi_lahan_usaha_display}}</label>

              </div>
              <div class="form-group">
                <label class="col-sm-12 control-label" for="id_luas_tempat_usaha">Luas Tempat Usaha : {{detilbap.luas_tempat_usaha}}</label>
              </div>
              <div class="form-group">
                <label class="col-sm-12 control-label" for="id_jumlah_mesin">Jumlah Mesin : {{detilbap.jumlah_mesin}}</label>
              </div>
              <div class="form-group">
                <label class="col-sm-12 control-label" for="id_daya_kekuatan_mesin">Daya Kekuatan Mesin : {{detilbap.daya_kekuatan_mesin}}</label>
              </div>
              <div class="form-group">
                <label class="col-sm-12 control-label" for="id_jenis_bangunan">Jenis Bangunan : {{detilbap.get_jenis_bangunan_display}}</label>
              </div>
              <div class="form-group">
                <label class="col-sm-12 control-label" for="id_jenis_bangunan">Klasifikasi Jalan : {{detilbap.get_klasifikasi_jalan_display}}</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-sm-12 control-label" for="id_sebelah_utara">Sebelah Utara : {{detilbap.sebelah_utara}}</label>
              </div>
              <div class="form-group">
                <label class="col-sm-12 control-label" for="id_sebelah_timur">Sebelah Timur : {{ detilbap.sebelah_timur}}</label>
              </div>
              <div class="form-group">
                <label class="col-sm-12 control-label" for="id_sebelah_selatan">Sebelah Selatan : {{detilbap.sebelah_selatan}}</label>
              </div>
              <div class="form-group">
                <label class="col-sm-12 control-label" for="id_sebelah_barat">Sebelah Barat : {{detilbap.sebelah_barat}}</label>
              </div>
            </div>
          </div>
          <h3>REKOMENDASI</h3>
            {% if user|has_group:"Tim Teknis" %}
              {% if rekom.status != 1 %}
                <form class="form_rekomendasi" role="form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{form_rekomendasi.as_p}}
                {% if rekom.berkas %}
                  <p><a data-toggle="popover" data-trigger="hover" title="Preview Berkas" data-html="true" data-content="<img src='{{rekom.berkas.get_file_url }}' width='200' />" data-placement="top" class="btn btn-rounded btn-success btn-sm" href="{{rekom.berkas.get_file_url }}" target="_blank"> <i class="fa fa-paperclip" ></i> {{rekom.berkas }}</a>
                </p>
                {% else %}
                  {{form_berkas.as_p}}
                {% endif %}
                  <hr>
                  <button name="simpan" value="draft" class="btn btn-rounded btn-info btn-sm"><i class="glyphicon glyphicon-floppy-disk"></i> Simpan & Draft</button>
                  <button name="simpan" value="submit" class="btn btn-rounded btn-success btn-sm simpan"><i class="fa fa-paper-plane"></i> Simpan & Kirim </button>
                  
                </form>
              {% else %}
                {{rekom.rekomendasi|safe}}
                {% if rekom.berkas %}
                  <a data-toggle="popover" data-trigger="hover" title="Preview Berkas" data-html="true" data-content="<img src='{{rekom.berkas.get_file_url }}' width='200' />" class="btn btn-rounded btn-success btn-sm" href="{{rekom.berkas.get_file_url }}" target="_blank"> <i class="fa fa-paperclip" ></i> {{rekom.berkas }}</a>
                {% endif %}
              {% endif %}
            {% else %}
              {{rekom.rekomendasi|safe}}
              {% if rekom.berkas %}
                <a data-toggle="popover" data-trigger="hover" title="Preview Berkas" data-html="true" data-content="<img src='{{rekom.berkas.get_file_url }}' width='200' />" class="btn btn-rounded btn-success btn-sm" href="{{rekom.berkas.get_file_url }}" target="_blank"> <i class="fa fa-paperclip" ></i> {{rekom.berkas }}</a>
              {% endif %}
            {% endif %}
        </div>
        <!-- /tile body -->

    </section>
    <!-- /tile -->
  </div>
</div>
{% endif %}
{% endblock %}


{% block extrajs %}
{{ block.super }}
  <script src="{% static "scripts/js/vendor/chosen/chosen.jquery.min.js" %}"></script>
  <script src="{% static 'scripts/js/vendor/filestyle/bootstrap-filestyle.min.js' %} " ></script>
  <script src="{% static "scripts/js/vendor/jquery/jquery.form.js" %}"></script>
  <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
  <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
{% endblock %}
