<form method="POST" name="step3" id="id_jenis" role="form" class="form-horizontal" action="{% url 'jenis_bangunan_save' %}">
  {% csrf_token %}
    <h3>IDENTIFIKASI BANGUNAN</h3>
    <hr class="style14">
    <div class="form-group">
        <label f class="col-sm-3 control-label text-left">Jenis Kontruksi</label>
        <div class="col-sm-5">
          <select required="" id="id_kontruksi" class="form-control chosen-select">
            <option value="0" >-- Pilih Jenis Kontruksi --</option>
            {% for j in jenis_kontruksi_list %}
             <option value="{{ j.id }}">{{ j.nama_jenis_kontruksi }}</option>
            {% endfor %}
          </select>
        </div>
    </div>
    <div class="form-group field-jenis_bangunan" style="display: none">
        <label f class="col-sm-3 control-label text-left">Jenis Bangunan</label>
        <div class="col-sm-5">
          <select required="" id="id_jenis_bangunan" name="jenis_bangunan" class="form-control chosen-select">
          </select>
        </div>
    </div>
    <div class="form-group field-panjang_bangunan" style="display: none">
      <label for="input01" class="col-sm-2 control-label">Panjang</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" class="form-control no_ktp" id="id_panjang" name="panjang">
          <span class="input-group-addon">
            <span>M&sup2;</span>
          </span>
        </div>
      </div>
    </div>
</form>
<form method="POST" id="id_parameter_bangunan" name="step3" action="{% url 'parameter_bangunan_save' %}" role="form" class="form-horizontal" style="display:none">
  {% csrf_token %}
  	<div class="form-group">
        <label f class="col-sm-3 control-label text-left">A. Kegiatan Pembangunan Gedung</label>
        <div class="col-sm-5">
          <select required="" id="id_kegiatan_pembangunan" name="parameter_bangunan" class="form-control chosen-select">
            <option value="0" >-- Pilih Kegiatan Pembangunan Gedung --</option>
            {% for j in kegiatan_pembangunan %}
             <option value="{{ j.id }}">{{ j.detil_parameter }}({{j.nilai}})</option>
            {% endfor %}
          </select>
        </div>
        <label class="col-sm-1 control-label" style="width:47px;">Bobot</label>
	    <div class="col-sm-1">
	        <input type="text" disabled="" id="id_bobot_kegiatan_pembangunan" class="form-control">
	    </div>
    </div>

    <h5>B. Parameter Bangunan Gedung</h5>
    <div class="form-group">
        <label f class="col-sm-3 control-label">Fungsi Bangunan</label>
        <div class="col-sm-5">
          <select required="" id="id_fungsi_bangunan"  name="parameter_bangunan" class="form-control chosen-select">
            <option value="0">-- Pilih Fungsi Bangunan --</option>
            {% for j in fungsi_bangunan %}
             <option value="{{ j.id }}">{{ j.detil_parameter }}({{j.nilai}})</option>
            {% endfor %}
          </select>
        </div>
        <label class="col-sm-1 control-label" style="width:47px;">Bobot</label>
	    <div class="col-sm-1">
	        <input type="text" disabled="" id="id_bobot_fungsi_bangunan" class="form-control" >
	    </div>
    </div>

    <div class="form-group">
        <label f class="col-sm-3 control-label">Tingkat Kompleksitas (0,25)</label>
        <div class="col-sm-5">
            <select required="" id="id_tingkat_kompleksitas" name="parameter_bangunan" class="form-control chosen-select">
                <option value="0">-- Pilih Tingkat Kompleksitas --</option>
                {% for j in kompleksitas_bangunan %}
                 <option value="{{ j.id }}">{{ j.detil_parameter }}({{j.nilai}})</option>
                {% endfor %}
            </select>
        </div>
        <label class="col-sm-1 control-label" style="width:47px;">Bobot</label>
	    <div class="col-sm-1">
	        <input type="text" disabled="" id="id_bobot_tingkat_kompleksitas" class="form-control" >
	    </div>
    </div>

	<div class="form-group">
        <label f class="col-sm-3 control-label">Tingkat Permanensi (0,20)</label>
        <div class="col-sm-5">
          <select required="" id="id_tingkat_permanensi" name="parameter_bangunan" class="form-control chosen-select">
            <option value="0">-- Pilih Tingkat Permanensi --</option>
                {% for j in permanensi_bangunan %}
                 <option value="{{ j.id }}">{{ j.detil_parameter }}({{j.nilai}})</option>
                {% endfor %}
          </select>
        </div>
        <label class="col-sm-1 control-label" style="width:47px;">Bobot</label>
	    <div class="col-sm-1">
	        <input type="text" disabled="" id="id_bobot_tingkat_permanensi" class="form-control" >
	    </div>
    </div>

    <div class="form-group">
        <label f class="col-sm-3 control-label">Ketinggian Bangunan (0,10)</label>
        <div class="col-sm-5">
          <select required="" id="id_ketinggian_bangunan" name="parameter_bangunan" class="form-control chosen-select">
            <option value="0">-- Pilih Ketinggian Bangunan --</option>
                {% for j in ketinggian_bangunan %}
                 <option value="{{ j.id }}">{{ j.detil_parameter }}({{j.nilai}})</option>
                {% endfor %}
          </select>
        </div>
        <label class="col-sm-1 control-label" style="width:47px;">Bobot</label>
	    <div class="col-sm-1">
	        <input type="text" disabled="" id="id_bobot_ketinggian_bangunan" class="form-control" >
	    </div>
    </div>

    <div class="form-group">
        <label f class="col-sm-3 control-label">Lokasi Bangunan (0,15)</label>
        <div class="col-sm-5">
          <select required="" id="id_lokasi_bangunan" name="parameter_bangunan" class="form-control chosen-select">
            <option value="0">-- Pilih Lokasi Bangunan --</option>
                {% for j in lokasi_bangunan %}
                 <option value="{{ j.id }}">{{ j.detil_parameter }}({{j.nilai}})</option>
                {% endfor %}
          </select>
        </div>
        <label class="col-sm-1 control-label" style="width:47px;">Bobot</label>
	    <div class="col-sm-1">
	        <input type="text" disabled="" id="id_bobot_lokasi_bangunan" class="form-control" >
	    </div>
    </div>

    <div class="form-group">
        <label f class="col-sm-3 control-label">Kepemilikan Bangunan (0,05)</label>
        <div class="col-sm-5">
          <select required="" id="id_kepemilikan_bangunan" name="parameter_bangunan" class="form-control chosen-select">
            <option value="0">-- Pilih Kepemilikan Bangunan --</option>
                {% for j in kepemilikan_bangunan %}
                 <option value="{{ j.id }}">{{ j.detil_parameter }}({{j.nilai}})</option>
                {% endfor %}
          </select>
        </div>
        <label class="col-sm-1 control-label" style="width:47px;">Bobot</label>
	    <div class="col-sm-1">
	        <input type="text" disabled="" id="id_bobot_kepemilikan_bangunan" class="form-control" >
	    </div>
    </div>

    <div class="form-group">
        <label f class="col-sm-3 control-label">Lama Penggunaan Bangunan</label>
        <div class="col-sm-5">
          <select required="" id="id_lama_penggunaan_bangunan" name="parameter_bangunan" class="form-control chosen-select">
            <option value="0">-- Pilih Lama Penggunaan Bangunan --</option>
                {% for j in lama_penggunaan_bangunan %}
                 <option value="{{ j.id }}">{{ j.detil_parameter }}({{j.nilai}})</option>
                {% endfor %}
          </select>
        </div>
        <label class="col-sm-1 control-label" style="width:47px;">Bobot</label>
	    <div class="col-sm-1">
	        <input type="text" disabled="" id="id_bobot_lama_penggunaan_bangunan" class="form-control" >
	    </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Perkiraan Biaya<br><i>//Biaya bisa berubah setelah survey</i></label>
        <div class="col-sm-4">

        </div>
        <label class="col-sm-1 control-label" style="width:47px;"></label>
      <div class="col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">
                <span>Rp</span>
            </span> 
             <input type="text" disabled="" class="form-control" style="width:150px;" id="total">
        </div>
      </div>
    </div>    
    <input type="text" hidden="" id="id_total_biaya" name="total_biaya">
</form>

