{% load i18n admin_static %}
{% trans "Sistem Informasi Perizinan Teknologi Informasi Kediri - Kab. Kediri" as title_1 %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->



    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}SIMPATIK {% endblock %} | {{ title_1 }} </title>
        <link rel="icon" type="image/ico" href="{{ STATIC_URL }}images/kabkediri.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">


        <!-- ============================================
        ================= Stylesheets ===================
        ============================================= -->
        <!-- vendor css files -->
        <link rel="stylesheet" href="{% static "front-end/css/vendor/bootstrap.min.css"%}">
        <link rel="stylesheet" href="{% static "front-end/css/vendor/animate.css"%}">
        <link rel="stylesheet" href="{% static "front-end/css/vendor/font-awesome.min.css"%}">
        <link rel="stylesheet" href="{% static "front-end/js/vendor/animsition/css/animsition.min.css"%}">

        <!-- project main css files -->
        <link rel="stylesheet" href="{% static "front-end/css/main.css"%}">
        <!--/ stylesheets -->



        <!-- ==========================================
        ================= Modernizr ===================
        =========================================== -->
        <script src="{% static "front-end/js/vendor/modernizr/modernizr-2.8.3-respond-1.4.2.min.js"%}"></script>
        <!--/ modernizr -->




    </head>





    <body id="minovate" class="appWrapper">






        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->












        <!-- ====================================================
        ================= Application Content ===================
        ===================================================== -->


                                                <div class="modal-header">
                                                    <h3 class="modal-title custom-font">Persyaratan Izin Lokasi</h3>
                                                        <button onclick="myFunction()"  class="btn btn-danger">Print this page</button>
                                                            <script>
                                                            function myFunction() {
                                                            window.print();
                                                            }
                                                            </script>
                                                </div>
                                            <div class="modal-body">
                                                 <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">Dokumen Persyaratan Perijinan Baru</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <ul>
                                                             &raquo;&nbsp;Scan KTP Pemohon<br>&raquo;&nbsp;Scan NPWP<br>&raquo;&nbsp;Scan Akta Notaris Pendirian Perusahaan Lengkap<br>&raquo;&nbsp;Surat Izin Usaha (HO/SIUP/TDP)<br>&raquo;&nbsp;Pengesahan Badan Hukum Perseroan dan Menteri Hukum dan HAM RI<br>&raquo;&nbsp;Scan Surat Keputusan Rekomendasi dan Peta Pemanfaatan Ruang / SPPR<br>&raquo;&nbsp;Pertimbangan Teknis Pertanahan dari BPN<br>&raquo;&nbsp;Lampiran Peta Pertimbangan Teknis Pertanahan dari BPN<br>&raquo;&nbsp;Uraian Rencana Proyek yang akan dibangun<br>&raquo;&nbsp;Surat Pernyataan Mengenai Luas Tanah Yang Sudah Dikuasai/dimiliki oleh Perusahaan Pemohon dan Perusahaan-perusahaan Lain yang Merupakan Satu Group Dengannya<br>&raquo;&nbsp;Peta lokasi<br>&raquo;&nbsp;Foto Lokasi<br>&raquo;&nbsp;Peta Site Plan/Blok Plan/Master Plan lokasi yang dimohon<br>
                                                        </ul>
                                                    </div>
                                                 </div>
                                                 <div class="panel panel-primary">
                                                    <div class="panel-heading">
                                                        <h3 class="panel-title">Dokumen Persyaratan Perpanjangan Perijinan</h3>
                                                    </div>
                                                    <div class="panel-body">
                                                        <ul>
                                                            &raquo;&nbsp;Scan KTP Pemohon<br>&raquo;&nbsp;Scan NPWP<br>&raquo;&nbsp;Scan Akta Notaris Pendirian Perusahaan Lengkap<br>&raquo;&nbsp;Hasil Monitoring Perolehan, Penggunaan dan Pemanfaatan Tanah (dari BPN)<br>&raquo;&nbsp;Scan Tabel Laporan Pelaksanaan Perolehan, Penggunaan dan Pemanfaatan Tanah Dalam Rangka Pelaksanaan Pemberian Izin Lokasi (dari BPN)<br>&raquo;&nbsp;Scan Lampiran Peta Laporan Monitoring Perolehan, Penggunaan dan Pemanfaatan Tanah (dari BPN)<br>&raquo;&nbsp;Foto Lokasi<br>&raquo;&nbsp;Scan Izin Lama<br>&raquo;&nbsp;Scan Surat Keputusan Rekomendasi dan Peta Pemanfaatan Ruang / SPPR<br> 
                                                        </ul>
                                                    </div>
                                                 </div>
                                            </div>
