<table width="100%" class="skizin" border="2">
	<tr>
		<td><strong>NOMOR TDP</strong></td>
		<td><strong>BERLAKU S/D TGL</strong></td>
		<td class="tdnone"><strong>PENDAFTARAN</strong></td>
		<td class="tdnone">:</td>
		<td class="tdnone"><strong>{{skizin.status_pendaftaran.upper}}</strong></td>
	</tr>
	<tr>
		<td><strong>{{pengajuan.get_no_skizin}}</strong></td>
		<td><strong>{{skizin.masa_berlaku_izin|date:'d-m-Y'}}</strong></td>
		<td class="tdnone"><strong>PEMBAHARUAN KE</strong></td>
		<td class="tdnone">:</td>
		<td class="tdnone"><strong>{{skizin.status_pembaharuan_ke}}</strong></td>
	</tr>
</table>
<br>
<table width="100%" border="2" class="skizin" >
	<tr>
		<td class="tdnone" rowspan="2" ><strong>NAMA PERUSAHAAN</strong></td>
		<td class="tdnone" rowspan="2" >:</td>
		<td class="tdnone" rowspan="2" style="border: 1;"><b>{{pengajuan.perusahaan.nama_perusahaan.upper}} </b></td>
		<td width="18%"><strong>STATUS: {{skizin.status_perusahaan.upper}}</strong></td>
	</tr>
	<tr>
		<td><span style="color: red;">{{pengajuan.status_waralaba.upper}}</span></td>
	</tr>
	<tr>
		<td class="tdnone"><strong>NAMA PENGURUS / PENANGGUNGJAWAB</strong></td>
		<td class="tdnone" style="border: none;">:</td>
		<td class="tdnone" colspan="2">{{pengajuan.pemohon.nama_lengkap.upper}} ({{pengajuan.pemohon.jenis_pemohon.jenis_pemohon.upper}})</td>
	</tr>
	<tr>
		<td class="tdnone"><strong>ALAMAT PERUSAHAAN</strong></td>
		<td class="tdnone">:</td>
		<td class="tdnone" colspan="2">{{pengajuan.perusahaan.alamat_perusahaan.upper}}, {{pengajuan.perusahaan.desa.lokasi_lengkap.upper}}</td>
	</tr>
	<tr>
		<td class="tdnone"><strong>NPWP</strong></td>
		<td class="tdnone">:</td>
		<td class="tdnone" colspan="2"><strong>{{pengajuan.perusahaan.npwp}}</strong></td>
	</tr>
	<tr>
		<td class="tdnone"><strong>NOMOR TELEPON</strong></td>
		<td class="tdnone">:</td>
		<td class="tdnone">{{pengajuan.perusahaan.telepon}}</td>
		<td><strong>FAX :</strong> {% if pengajuan.perusahaan.fax %}{{pengajuan.perusahaan.fax}}{% else %}-{% endif %}</td>
	</tr>
	<tr>
		<td class="tdnone" rowspan="2" valign="top"><strong>KEGIATAN USAHA POKOK</strong></td>
		<td class="tdnone" rowspan="2" valign="top">:</td>
		<td class="tdnone" rowspan="2" valign="top">{% if pengajuan.produk_utama %}{{pengajuan.produk_utama.upper }}{% else %}{% for kbli in pengajuan.kegiatan_usaha_pokok.all %} {{ kbli.nama_kbli.upper }} {% if not forloop.last %}, {% endif %}  {% endfor %}{% endif %} </td>
		<td valign="top" align="center"><strong>KBLI :</strong></td>
	</tr>
	<tr>
		<td>{% for kbli in pengajuan.kegiatan_usaha_pokok.all %} ({{ kbli.kode_kbli }}) {% endfor %}</td>
	</tr>
</table>