{% extends "front-end/layanan/layanan.html" %}

{% block extratools %}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
	    	$.ajax({
	    		type: 'GET',
	    		url: '{% url 'admin:tr_dasar_hukum_jenis_izin' id_jenis_izin %}',
	    		success: function(response){
	    			$('#id_table_dasar_hukum tbody').html(response)
	    		}
	    	})
	    });
    </script>

    <script type="text/javascript">
		$(document).ready(function() {
	    	$.ajax({
	    		type: 'GET',
	    		url: '{% url 'admin:li_syarat_kelompok_jenis_izin' id_kelompok_jenis_izin %}',
	    		success: function(response){
	    			$('#id_list_syarat').html(response)
	    		}
	    	})
	    });
    </script>

    <script type="text/javascript">
		$(document).ready(function() {
	    	$.ajax({
	    		type: 'GET',
	    		url: '{% url 'admin:li_prosedur_kelompok_jenis_izin' id_kelompok_jenis_izin %}',
	    		success: function(response){
	    			$('#id_list_prosedur').html(response)
	    		}
	    	})
	    });
    </script>
{% endblock %}