<form method="POST" name="step1" role="form" class="form-horizontal" action="{% url 'siup_pemohon_save' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label"><strong>Jenis Pengajuan</strong> </label>
    <div class="col-sm-5">
      <select class="form-control chosen-select mb-10" name="jenis_pengajuan" id="id_jenis_pengajuan">
        <option></option>
        {% if jenispermohonanizin_list %}
          {% for jenis in jenispermohonanizin_list %}
            <option value="{{ jenis.id }}">{{ jenis.jenis_permohonan_izin }}</option>
          {% endfor %}
        {% endif %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>IDENTITAS PEMOHON</h3>
      <hr class="style14">
    </div>
  </div>

  <div class="form-group" id="jenis_pemohon">
    <label for="input01" class="col-sm-2 control-label"><strong>Jenis Pemohon</strong> </label>
    <div class="col-sm-5">
      <select class="form-control chosen-select mb-10" name="jenis_pemohon" id="id_jenis_pemohon">
        <option value>-- Pilih Jenis Pemohon --</option>
        {% if jenis_pemohon %}
        {% for j in jenis_pemohon %}
        <option value="{{ j.id }}">{{ j.jenis_pemohon }}</option>
        {% endfor %}
        {% endif %}
      </select>
    </div>
  </div>

  <div class="form-group" id="ktp">
    <label for="input01" class="col-sm-2 control-label"><strong>No. KTP</strong> </label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="id_ktp" name="ktp">
    </div>
  </div>
  <div class="form-group" id="paspor">
    <label for="input01" class="col-sm-2 control-label"><strong>Paspor</strong> </label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="id_passpor" name="paspor" data-msg="Data tidak boleh kosong">
    </div>
  </div>

  <div class="form-group" id="nama_lengkap">
    <label for="input01" class="col-sm-2 control-label"><strong>Nama Lengkap</strong> </label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="id_nama_lengkap" name="nama_lengkap">
    </div>
  </div>

  <div class="form-group" id="alamat">
    <label for="input01" class="col-sm-2 control-label"><strong>Alamat</strong> </label>
    <div class="col-sm-7">
      <textarea class="form-control" rows="5" name="alamat" placeholder="Isi alamat lengkap rumah anda"></textarea>
    </div>
  </div>
  <div class="form-group" id="negara">
    <label for="input01" class="col-sm-2 control-label"><strong>Negara</strong> </label>
    <div class="col-sm-5">
      <select class="form-control chosen-select mb-10" name="negara" id="id_negara">
        <option value>-- Pilih Negara --</option>
        {% if negara %}
          {% for p in negara %}
          <option value="{{ p.id }}">{{ p.nama_negara }}</option>
          {% endfor %}
        {% endif %}
      </select>
    </div>
  </div>

  <div class="form-group" id="provinsi">
    <label for="input01" class="col-sm-2 control-label"><strong>Provinsi</strong> </label>
    <div class="col-sm-5">
      <select class="form-control chosen-select mb-10" name="provinsi" id="id_provinsi">
        
    </div>
  </div>

  <div class="form-group" id="kabupaten">
    <label for="input01" class="col-sm-2 control-label"><strong>Kota/Kabupaten</strong> </label>
    <div class="col-sm-5">
      <select class="form-control chosen-select mb-10" name="kabupaten" id="id_kabupaten">
        
      </select>
    </div>
  </div>

  <div class="form-group" id="kecamatan">
    <label for="input01" class="col-sm-2 control-label"><strong>Kecamatan</strong> </label>
    <div class="col-sm-5">
      <select class="form-control chosen-select mb-10" name="kecamatan" id="id_kecamatan">
        
      </select>
    </div>
  </div>

  <div class="form-group" id="desa">
    <label for="input01" class="col-sm-2 control-label"><strong>Kelurahan/Desa</strong> </label>
    <div class="col-sm-5">
      <select class="form-control chosen-select mb-10" name="desa" id="id_desa">
      </select>
    </div>
  </div>

  <div class="form-group" id="telephone">
    <label for="input01" class="col-sm-2 control-label">Telepon</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="input01" name="telephone">
    </div>
  </div>

  <div class="form-group" id="hp">
    <label for="input01" class="col-sm-2 control-label"><strong>No. HP</strong></label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="input01" name="hp">
    </div>
  </div>

  <div class="form-group" id="email">
    <label for="input01" class="col-sm-2 control-label">E-mail</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="email" name="email">
    </div>
  </div>

  <div class="form-group" id="kewarganegaraan">
    <label for="input01" class="col-sm-2 control-label"><strong>Kewarganegraan</strong></label>
    <div class="col-sm-4">
      <input class="form-control" id="id_kewarganegaraan" maxlength="100" name="kewarganegaraan" type="text">
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label"><strong>Pekerjaan</strong></label>
    <div class="col-sm-4">
      <select class="form-control chosen-select mb-10" name="pekerjaan">
        <option>PNS</option>
        <option>Swasta</option>
        <option>Wiraswasta</option>
      </select>
    </div>
  </div>
</form>