<form method="POST" name="step1" role="form" class="form-horizontal" action="{% url 'siup_pemohon_save' %}">
  {% csrf_token %}
  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label"><strong>Jenis Pengajuan</strong> </label>
    <div class="col-sm-5">
      <select class="form-control chosen-select mb-10" name="jenis_pengajuan">
        <option></option>
        {% if jenispermohonanizin_list %}
          {% for jenis in jenispermohonanizin_list %}
            <option value="{{ jenis.id }}">{{ jenis.jenis_permohonan_izin }}</option>
          {% endfor %}
        {% endif %}
      </select>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h3>IDENTITAS PEMOHON</h3>
      <hr class="style14">
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label"><strong>Jenis Pemohon</strong> </label>
    <div class="col-sm-5">
      <select class="form-control chosen-select mb-10" name="jenis_pemohon">
        <option value>-- Pilih Jenis Pemohon --</option>
        {% if jenis_pemohon %}
        {% for j in jenis_pemohon %}
        <option value="{{ j.id }}">{{ j.jenis_pemohon }}</option>
        {% endfor %}
        {% endif %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label"><strong>No. KTP/Paspor</strong> </label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="input01" name="ktp">
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label"><strong>Nama Lengkap</strong> </label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="input01" name="nama_lengkap">
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label"><strong>Alamat</strong> </label>
    <div class="col-sm-7">
      <textarea class="form-control" rows="5" name="alamat" placeholder="Isi alamat lengkap rumah anda"></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label"><strong>Provinsi</strong> </label>
    <div class="col-sm-5">
      <select class="form-control chosen-select mb-10" name="provinsi">
        <option value>-- Pilih Provinsi --</option>
        {% if provinsi %}
        {% for p in provinsi %}
        <option value="{{ p.id }}">{{ p.nama_provinsi }}</option>
        {% endfor %}
        {% endif %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label"><strong>Kota/Kabupaten</strong> </label>
    <div class="col-sm-5">
      <select class="form-control chosen-select mb-10" name="kabupaten">
        <option value>-- Pilih Kota/Kabupaten --</option>
        {% if kabupaten %}
        {% for k in kabupaten %}
        <option value="{{ k.id }}">{{ k.nama_kabupaten }}</option>
        {% endfor %}
        {% endif %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label"><strong>Kecamatan</strong> </label>
    <div class="col-sm-5">
      <select class="form-control chosen-select mb-10" name="kecamatan">
        <option value>-- Pilih Kecamatan --</option>
        {% if kecamatan %}
        {% for k in kecamatan %}
        <option value="{{ k.id }}">{{ k.nama_kecamatan }}</option>
        {% endfor %}
        {% endif %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label"><strong>Kelurahan/Desa</strong> </label>
    <div class="col-sm-5">
      <select class="form-control chosen-select mb-10" name="desa">
        <option value>-- Pilih Kelurahan/Desa --</option>
        {% if desa %}
        {% for d in desa %}
        <option value="{{ d.id }}">{{ d.nama_desa }}</option>
        {% endfor %}
        {% endif %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label">Telepon</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="input01" name="telephone">
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label"><strong>No. HP</strong></label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="input01" name="no_hp">
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label">E-mail</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="input01" name="email">
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label"><strong>Kewarganegraan</strong></label>
    <div class="col-sm-4">
      <input class="form-control" id="id_kewarganegaraan" maxlength="100" name="kewarganegaraan" type="text">
    </div>
  </div>

  <div class="form-group">
    <label for="input01" class="col-sm-2 control-label"><strong>Pekerjaan</strong></label>
    <div class="col-sm-4">
      <select class="form-control chosen-select mb-10" name="pekerjaan">
        <option>PNS</option>
        <option>Swasta</option>
        <option>Wiraswasta</option>
      </select>
    </div>
  </div>
</form>